<style>
.tr_odd {
	background-color: white;
	color: #000000;
}

.tr_even {
	background-color: #f2f2f2;
	color: #000000;
}
</style>




<body class="hold-transition sidebar-mini layout-fixed">
	<!-- Site wrapper -->
	<div class="wrapper" ng-controller="accessmanagementController">

		<div class="content-wrapper">

			<!-- Main content -->
			<section class="content">
				<!-- /.col -->
				<div class="container-fluid">
					<div class="row" id="idMenuOrg" style="padding-top: 10px">


						<div class="col-md-6">
							<!-- general form elements -->
							<div class="card card-info">
							<!-- 	<div class="card-body">
									<div class="card"> -->
										<div class="card-header" style="background-color: #007bff">

											<h3 class="card-title">UserList</h3>

											<div class="card-tools">
												<form class="form-inline ml-3">
													<div class="input-group input-group-sm">
														<input class="form-control form-control-navbar"
															type="search" ng-change="fnUserSearchOption()" ng-model="searchText" placeholder="Search"
															aria-label="Search"/>
													</div>
												</form>
											</div>
										</div>
										<div class="table-container table-responsive tableFixHead">
										<table id="idUserTable"
											class="table table-bordered table-hover dataTable dtr-inline">
											<thead>
												<tr class="thcss">
													<th>S.No</th>
													<th>Name</th>
													<th>Mail ID</th>
													<th>User Type</th>
												</tr>

											</thead>
											<tbody>
												<tr
													ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
													ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
													ng-repeat="user in userViewData | filter:searchText"
													data-ng-click="rowHighilighted($index)">
													<td>{{$index + serial}}</td>
													<td>{{user.displayName}}</td>
													<td>{{user.emailID}}</td>
													<td>{{user.userType}}</td>
												</tr>

												<tr ng-show="userNoData">
													<td colspan="7" style="text-align: center; color: red;">No
														Records found.</td>
												</tr>
											</tbody>
										</table>
										</div>
										<div ng-show="userTab" class="card-footer clearfix">

											<div class="input-bar pull-right">
												<div class="input-bar">

													<div class="row" class="input-bar-item width100"
														style="float: right; margin-right: 0px;">
														<label for="totalPage"
															style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
															Pages {{totalPages}}</label>
														<form>
															<div class="input-group"
																style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																<span class="input-group-btn">
																	<button class="btn btn-primary" id="idFirstPage"
																		ng-click="goFirstPage()" ng-disabled="isFirstPage">&lt;&lt;</button>
																	<button class="btn btn-primary" id="idPreviousPage"
																		ng-click="goPreviousPage()" ng-disabled="hasPrevious">&lt;</button>
																</span> <input class="form-control width100" type="text"
																	ng-model="currentPage"> <span
																	class="input-group-btn">
																	<button class="btn btn-primary" id="idNextPage"
																		ng-click="goNextPage()" ng-disabled="hasNext">&gt;</button>
																	<button class="btn btn-primary" id="idLastPage"
																		ng-click="goLastPage()" ng-disabled="isLastPage">&gt;&gt;</button>
																</span>
															</div>
														</form>
													</div>
												</div>

											</div>
										</div>
									<!-- </div>
								</div> -->
							</div>

						</div>
						<div class="col-md-6">
							<div class="card">
								<div class="card-body">

									<div class="col-md-12">
										<div class=" form-group row">
											<div class="col-sm-6">
												<div class="card">
													<div class="card-header"
														style="background-color: rgb(0, 123, 255); color: white;">
														<h3 class="card-title" id="idStandardMenu">Standard Menu</h3>
													</div>
													<div ng-click="editMenu()" 
														class="clStandardMenu" style="height :500px ;padding-top: 10px; overflow-y:scroll"></div>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="card">
													<div class="card-header"
														style="background-color: rgb(0, 123, 255); color: white;">
														<h3 class="card-title" id="idPreferredMenu">My Menu</h3>
													</div>
													<div>
														<div ng-click="editPreffered()" 
															class="clPreferredMenu" style="height :500px ; padding-top: 10px; overflow-y:scroll"></div>
													</div>
												</div>
											</div>
										</div>


									</div>
								</div>
							</div>
							<div  class="card-footer" >
								<button type="submit" ng-show="bShowUpdateBtn"
									style="background-color: rgb(0, 123, 255);"
									ng-click="fnUpdateAccess()" class="btn btn-info">Update</button> 

								<button type="reset" ng-show="bShowUpdateBtn" ng-click="cancelAccess()"
									class="btn btn-default float-right">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>




</body>

