<style>
.tr_odd {
	background-color: white;
	color: #000000;
}

.tr_even {
	background-color: #f2f2f2;
	color: #000000;
}
</style>




<body class="hold-transition sidebar-mini layout-fixed">
	<!-- Site wrapper -->
	<section id="hero" class="d-flex align-items-center"
		ng-controller="accountCreateController" style="padding: 60px 0;"> 
		
<div class="register-box" style="margin-inline-start: 40%;">
  <!-- <div class="register-logo">
    <a href="../../index2.html"><b>EI</b>4.0</a>
  </div> -->

  <div class="card">
    <div class="card-body register-card-body">
      
												      
      <form  id ="registerPageForm" name ="registerPageForm">
        <div class="input-group mb-3">
          <input type="text" class="form-control"  placeholder="Full name" name="fullName" id ="fullName" ng-model="authen.fullName" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
          
        </div>
        <em style="color: red" ng-show="accCreateNameError"
			id="id_accCreateNameError">{{accCreateName_error_msg}}</em>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Email ID" name="mailId" id="mailId" ng-model="authen.mailId" / >
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <em style="color: red" ng-show="accCreateEmailError"
			id="id_accCreateEmailError">{{accCreateEmail_error_msg}}</em>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" ng-model="authen.password" name="password" id ="id_password" maxlength="25" />
          <span class="input-group-btn">
            	<button class="btn btn-default" id="id_passwordToggle" ng-click="pwdEyeButtonClick();" type="button">
            			<i class="far fa-eye-slash"></i>
            	</button>
          </span>           
 
          <!--  <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>-->
        </div> 
        <em style="color: red" ng-show="accCreatePasswordError"
			id="id_accCreatePasswordError">{{accCreatePassword_error_msg}}</em>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Retype password" ng-model="authen.retypePassword" name="retypePassword" id="id_retypePassword"  maxlength="25" />
          <span class="input-group-btn">
            	<button class="btn btn-default" id="id_RetypePwdToggle" ng-click="retypePwdEyeButtonClick();" type="button">
            			<i class="far fa-eye-slash"></i>
            	</button>
          </span>           
           </div> 
          <em style="color: red" ng-show="accCreateRetypePWDError"
			id="id_accCreateRetypePWDError">{{accCreateRetypePWD_error_msg}}</em>
          <div class="input-group mb-3">
          <select  class="form-control" name ="userType"  id="userType" ng-model="authen.userType"
         ng-options="item for item in systemUserType" >
        
       
      </select>
          <div class="input-group-append">
            <div class="input-group-text">
             <!--  <span class="fas fa-user"></span> -->
            </div>
          </div>
        </div>
          
          <div class="form-group">
  <div class="input-group mb-1">
    <div class="input-group-addon">
      <select  class="form-control" ng-model="authen.countryCode" name =countryCode  id="countryCode"
      ng-dropdown id="countryCode"
      ng-options="item for item in countryCodes">
        
      </select>
    </div>
    
    <input type="text" class="form-control input-group mb-0" placeholder="Enter Phone Number" maxlength="10" 
    ng-model="authen.phoneNumber"  name =phoneNumber  id="phoneNumber" / >
    <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-phone"></span>
            </div>
          </div>
  </div>
  <em style="color: red" ng-show="accCreatePhNoError"
			id="id_accCreatePhNoError">{{accCreatePhNo_error_msg}}</em>
</div>
        
        <div class="row">
         <!--  <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="agreeTerms" name="terms" value="agree">
              <label for="agreeTerms">
               Show Password
              </label>
            </div>
          </div> -->
          <!-- /.col -->
         <div class="col-lg-12 form-group" style="text-align: center;">

            <button type="submit" class="btnValue btn-primary float-center" ng-click="authenticate()">Create</button>         
            <button type="button" class="btnValue btn-secondary float-center" ng-click= "cancel()">Clear</button>
        
        </div>
      </form>
	  
    </div> 
  </div>
</div>

 </section> 



</body>
