<style>
.tr_odd {
	background-color: white;
	color: #000000;
}

.tr_even {
	background-color: #f2f2f2;
	color: #000000;
}

.table th, .table td {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
   
}
.content-header {
  padding: 3px 0.5rem;
}
</style>
<body class="hold-transition sidebar-mini layout-fixed">
	<!-- Site wrapper -->
	<div class="wrapper" ng-controller="alertInfoController">

		<div class="content-wrapper">

			<!-- Main content -->
			<section class="content">

				<!-- /.col -->
				<div class="container-fluid">
					<div class="row" style="padding-top: 10px">
						<div class="col-md-8">
							<!-- general form elements -->
							<div class="card card-info">
								<!-- <div class="card-body"> -->
									<!-- <div class="card"> -->
									
										<div class="card-header" style="background-color: #007bff">
											<h3 class="card-title">User List</h3>

										<div class="card-tools">
												
												<form class="form-inline ml-auto">
				<div class="input-group input-group-sm" >
					<input class="form-control form-control-navbar" type="search" ng-change="searchOption()"
						ng-model="searchText" placeholder="Search" aria-label="Search">
	
					
				</div>
			</form>
											</div> 
										</div>
										<div   layout="column"
					style="overflow-x: hidden; width: 100%; padding-left: 0.1%; margin-left: 1%; margin-right: 0.5%; padding-right: 2%;">
										<div style="width: 100%;"
											style="margin-left: 10px;">
											<div class="panel panel-default">
												<ul class="list-group">
													<!-- <li class="list-group-item">
 -->
														<div class="table-container table-responsive tableFixHead">
										<table 
										
											class="table table-bordered table-hover ">
											<thead
												style="background-color: rgb(0, 123, 255); color: white;">
												<tr>
													<th>S.No</th>
													<th class="thcss ">Name</th>
													<th class="thcss ">Mail ID</th>
													<th class="thcss ">Phone No</th>
													<th class="thcss ">User Type</th>


												</tr>
											</thead>
											<tbody>
												<tr 
														ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
														ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
														data-ng-click="rowHighilited($index)"
														ng-repeat="orgalertsList in alertViewData">
														<td>{{$index+serial}}</td>
														<td style="white-space: nowrap;">{{orgalertsList.displayName}}</td>
														<td style="white-space: nowrap;">{{orgalertsList.emailID}}</td>
														<td style="white-space: nowrap;">{{orgalertsList.mobileNumber}}</td>
														<td style="white-space: nowrap;">{{orgalertsList.userType}}</td>

												</tr>

												<tr ng-show="alertNoData">
														<td colspan="5">User List Empty</td>
													</tr>
											</tbody>
										</table>
										
							</div>
							</ul>
								<div  layout="row" style="height: 50px">											
													
														<div ng-show="PaginationTab" class="input-bar pull-right">
															<div class="input-bar">

																<div class="row" class="input-bar-item width100"
																	style="float: right; margin-right: 0px;">
																	<label for="totalPage"
																		style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
																		Pages {{totalPages}}</label>
																	<form>
																		<div class="input-group"
																			style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																			<span class="input-group-btn">
																				<button class="btn btn-primary" id="firstPageEditTag"
																					ng-click="goFirstPage()" ng-disabled="isFirstPage">&lt;&lt;</button>
																				<button class="btn btn-primary" id="previousPageEditTag"
																					ng-click="goPreviousPage()"
																					ng-disabled="hasPrevious">&lt;</button>
																			</span> <input class="form-control width100" type="text"
																				ng-model="currentPage"> <span
																				class="input-group-btn">
																				<button class="btn btn-primary" id="nextPageEditTag"
																					ng-click="goNextPage()" ng-disabled="hasNext">&gt;</button>
																				<button class="btn btn-primary" id="lastPageEditTag"
																					ng-click="goLastPage()" ng-disabled="isLastPage">&gt;&gt;</button>
																			</span>
																		</div>
																	</form>
																</div>
															</div>

														</div>
												</div>
							</div>
							</div>
							</div>
									<!-- </div> -->
								<!-- </div> -->
							</div>

							<!-- /.card -->
						</div>

						<!-- Horizontal Form -->
						<div class="col-md-4">

							<div class="card card-info">
								<div class="card-header" style="background-color: #007bff">
											<h3 class="card-title">{{authen.displayName}}</h3>
								</div>
								<!-- /.card-header -->
								<!-- form start -->
									<div  style="margin: 0px 10px;">
						
						<div class="panel panel-default">
							<ul class="list-group">
								<!-- <li class="list-group-item"
									style="overflow: hidden; max-height: none; min-height: none;"> -->
									
									<div id="main" class="table-container table-responsive tableFixHead"
										style="overflow: hidden; max-height: none; min-height: none;">

										<table class="table  table-bordered">
											<thead>
												<tr>
													<th class="thcss">Event</th>
													<th class="thcss">SMS</th>
													<th class="thcss">Mail</th>
													<th class="thcss">Notification</th>
												</tr>

											</thead>
											<tbody ng-if="selectedRow !=-1">
												<tr ng-class-odd="tr_odd" ng-class-even="tr_even"
													ng-repeat="orgAlert in orgAlertDisplayNamesList">
													<td style="white-space: nowrap;">{{orgAlert.displayName}}</td>
													<td><input
														ng-disabled="!isEdit  || authen.mobileNumber==''"
														type="checkbox" style="display: block;"
														name="blockedtagsms" ng-true-value="1" ng-false-value="0"
														ng-checked="orgAlert.sms" ng-click="changedPhone()"
														ng-model="orgAlert.sms" />&nbsp;</td>
													<td><input ng-disabled="!isEdit"
														style="display: block;" type="checkbox"
														name="blockedtagmail" ng-true-value="1"
														ng-click="changedMail()" ng-false-value="0"
														ng-checked="orgAlert.mail" ng-model="orgAlert.mail" />&nbsp;</td>
													<td><input ng-disabled="!isEdit"
														style="display: block;" type="checkbox"
														name="blockedtagNotification" ng-true-value="1"
														ng-click="changedNotification()" ng-false-value="0"
														ng-checked="orgAlert.notification" ng-model="orgAlert.notification" />&nbsp;</td>

												</tr>
								
											</tbody>
										</table>
									</div>
									<div class="clearfix"></div>
								<!-- </li> -->

							</ul>
							<div layout="row" style="width: 100%; text-align: left;">

								<!-- <button style="position: relative; float: right; margin: 10px;"
									type="submit" class="btnValue btn-primary " ng-click="editalertvalue()"
									ng-if="isEditbtn && !isEdit">Edit</button> -->
								<button
									style="position: relative; margin: 10px; float: left; margin-left: 10px;"
									type="submit" class="btnValue btn-primary" ng-click="saveEditalert()"
									ng-if="isEdit">Update</button>
								<button style="position: relative; float: left; margin: 10px;"
									type="button" class="btnValue btn-secondary" ng-click="cancelEdit()"
									ng-if="isEdit">Cancel</button>

							</div>
						</div>
					</div>
						</div>
					</div>
				</div>
		</div>
		</section>
	</div>
	</div>


</body>

