<style>
.table th, .table td {
	padding: 0.5rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.content-header {
	padding: 3px 0.5rem;
}

#daterange-btn {
	border-color: #ddd;
	color: #444;
}

#idMultiSearchCard {
	width: 850Px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	box-shadow: 0 0 2px rgb(0 0 0/ 13%), 0 1px 3px rgb(23, 29, 215);
}
#idCompareDateSection {
	width: 550Px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	box-shadow: 0 0 2px rgb(0 0 0/ 13%), 0 1px 3px rgb(23, 29, 215);
}
</style>
<div ng-controller="assetChronoController">
	<!DOCTYPE html>
	<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<!-- Site wrapper -->
	<div class="wrapper">
		<!-- Navbar -->
		<nav
			class="main-header navbar navbar-expand navbar-white navbar-light"
			style="position: unset;">
			<!-- Left navbar links -->

			<ul class="nav nav-pills">

				<li ng-show="showViewAllBtn"
					
					class="nav-item d-none d-sm-inline-block"><a id="idChronoView"
					href="" ng-click="displayChronoViewScreen()"
					class="nav-link active" data-toggle="tab"> </i>
						<p>View All</p>
				</a></li>
				<li ng-show="showAddBtn"
					
					class="nav-item d-none d-sm-inline-block"><a id="idChronoAdd"
					href="" ng-click="displayChronoAddScreen()" class="nav-link ">
						</i>
						<p>Add Asset</p>
				</a></li>
				<li ng-show="showEditBtn"
					
					class="nav-item d-none d-sm-inline-block"><a id="idChronoEdit"
					href="" ng-click="displayChronoEditScreen()" class="nav-link ">
						</i>
						<p>Edit Asset</p>
				</a></li>
				<li ng-show="showAssignReturnBtn"
				
					class="nav-item d-none d-sm-inline-block"><a
					id="idChronoAssign" href="" ng-click="displayChronoAssignScreen()"
					class="nav-link "> </i>
						<p>Assign / Return Asset</p>
				</a></li>

			</ul>
			
			
			
			<div class="card" ng-show="showMultipleSearch" id="idMultiSearchCard">
				<form class="form-inline" id="idMultiSearchForm">
					<select id="idFirstDropDownMultiSearch"
						style="width: 20%; height: 35px; font-size: 80%; margin-left: 0.5rem; margin-left: 0.5rem"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="firstMultiSearchDropDown"
						ng-change="multiSearchChanged()" ng-dropdown>
						<option value="All">All</option>
						<option value="assetId">Asset ID</option>
						<option value="type">Type</option>
						<option value="subType">Sub Type</option>
						<option value="range">Range</option>
						<option value="assetType">Asset Type</option>
						<option value="manufacturer">Manufacturer</option>
						<option value="validityDate">Expiry Date</option>
						<option value="assignedTo">Assigned To</option>
						<option value="fromTime">From Time</option>
						<option value="toTime">To Time</option>
					</select> <input type="search" class="form-control"
						placeholder="Search Text" name="firstSearchText"
						id="idFirstSearchText" ng-model="firstSearchText" required
						style="margin-left: 0.3rem; height: 35px; width: 170Px;"
						ng-change="multiSearchChanged()">
					<!--  <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch>
                <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch data-off-color="danger" data-on-color="success"> -->
					<select
						style="width: 10%; height: 35px; font-size: 80%; margin-left: 0.3rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="varANDORDropDown" ng-change="multiSearchChanged()"
						ng-dropdown>
						<option value="AND">AND</option>
						<option value="OR">OR</option>

					</select> <select id="idSecondDropDownMultiSearch"
						style="width: 20%; height: 35px; font-size: 80%; margin-left: 0.3rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="secondMultiSearchDropDown"
						ng-change="multiSearchChanged()"
						ng-disabled="disableSecondFilterDropDown" ng-dropdown>
						<option value="All">All</option>
						<option value="assetId">Asset ID</option>
						<option value="assetType">Asset Type</option>
						<option value="subType">Sub Type</option>
						<option value="range">Range</option>
						<option value="type">Type</option>
						<option value="manufacturer">Manufacturer</option>
						<option value="validityDate">Expiry Date</option>
						<option value="assignedTo">Assigned To</option>
						<option value="fromTime">From Time</option>
						<option value="toTime">To Time</option>
					</select> <input type="search" class="form-control"
						placeholder="search Text" name="secondSearchText"
						id="idSecondSearchText" ng-model="secondSearchText" required
						style="margin-left: 0.3rem; height: 35px; width: 170Px;"
						ng-change="multiSearchChanged()"
						ng-disabled="disableSecondFilterText">

					<button type="button" ng-click="closeMultiSearchView()"
						style="margin-top: 10px; width: 25px;" class="close pull-right">&times;</button>
				</form>
			</div>
			<!-- Compare date-->	
			<div class="card" ng-show="showCompareDateSelection" id="idCompareDateSection"
				style="margin-left: 50px; width: 30%;">
				<form class="form-inline" id="idDateFilterForm">
					 <select
						style="width: 20%; height: 35px; font-size: 80%; margin-left: 0.3rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="varCompareDate" ng-change="fnCompareDateChange()" ng-disabled="disableCompareDate"
						ng-dropdown>
						<option value="Greater">&gt;</option>
						<option value="Less">&lt;</option>
						<option value="Equal">Equal</option>
					</select>
					<label  style="font-size: 80%;">Expiry Dat
					e :</label>
					<button type="button" class="btn btn-default float-right"
								id="idDaterange-btn">
								<i class="far fa-calendar-alt"></i> {{dateRange}} <i
									class="fas fa-caret-down"></i>
					</button>
					<button type="button" ng-click="fnCloseCompareDateView()"
						style="margin-top: 10px; width: 25px;" class="close pull-right">&times;</button>
				</form>
			</div>					
			<!-- SEARCH FORM -->
			<form class="form-inline ml-auto">
				<div class="btn-group">
				<button class="btn-leftslide" data-toggle="dropdown" 
					ng-show="showDownloadIcon">
					<i class="fas fa-download"></i>
				</button>
				<div class="dropdown-menu" role="menu">
				<a class="dropdown-item" ng-click="exportPDFData()"> <i id="idBtnExportPDF"
							data-toggle="tooltip" title="DownLoadPDF"
							style="font-size: 23px; color: blue" class="fas fa-file-pdf"></i>Export PDF</a>
                      <div class="dropdown-divider"></div>
				<a class="dropdown-item" ng-click="exportExcelData()"> <i id="idBtnExportXLS"
							data-toggle="tooltip" title="XLS"
							style="font-size: 23px; color: blue" class="fas fa-file-excel"></i>Export Excel</a>
                    </div>
				</div>
				<div ng-show="assetChronoViewAllScreen && showLocateBtn" class="img-bordered-sm img-rounded"
					style="margin: 10px;">
					<a ng-click="trackTag()"> <i id="idTrackIcon" data-toggle="tooltip" title="Locate All"
						style="font-size: 20px; color: blue" class="fas fa-binoculars"></i></a>
				</div>
				<div ng-show="assetChronoViewAllScreen" class="img-bordered-sm img-rounded"
					style="margin: 10px;">
					<a ng-click="fnExpiryDateFilter()"> <i id="idDateFilterButton" data-toggle="tooltip" title="Expiry Date Filter"
						style="font-size: 20px; color: blue" class="fas fa-calendar"></i></a>
				</div>
				

				<div class="input-group input-group-sm" ng-show="searchButton">
					<input class="form-control form-control-navbar" type="search"
						placeholder="Search" ng-change="searchOption()"
						aria-label="Search" ng-model="searchText">
					<div class="input-group-append">
						<button class="btn btn-navbar">
							<!--  <i class="fas fa-search"></i> -->
						</button>
					</div>
				</div>
				<button class="btn-leftslide" ng-click="multipleSearch()"
					ng-show="showSearchIcon">
					<i class="fas fa-search"></i>
				</button>
				
			</form>


		</nav>
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header"></section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<!-- Default box -->
							<div class="card">
								<div class="card-body">
									<div ng-show="assetChronoViewAllScreen" style="width: 100%;"
										id="idAssetChronoView" style="margin-left: 10px;">
										<div class="panel panel-default">
											<ul class="list-group" id="idContact-listEdit">
												<!-- <li class="list-group-item"> -->
												<div id="main" class="table-container">
													<table class="table table-bordered"  id="idViewAllTable">
														<thead>
															<tr>
																<th class="thcss">S.No</th>
																<th class="thcss">Asset ID</th>
																<th class="thcss">Type</th>
																<th class="thcss">Sub Type</th>
																<th class="thcss">Range</th>
																<th class="thcss">Asset Type</th>
																<th class="thcss">Manufacturer</th>
																<th class="thcss">Expiry Date</th>
																<th class="thcss">Assigned To</th>
																<!-- <th class="thcss">Assigned Date</th> -->
																<!-- <th class="thcss">Assigned Dept</th> -->
																<th class="thcss">From Time</th>
																<th class="thcss">To Time</th>

															</tr>
														</thead>
														<tbody>
															<tr
																ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
																ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
																ng-repeat="chrono in assetChronoViewData | filter:searchText"
																data-ng-click="rowHighilited($index)">
																<td>{{$index + serial}}</td>
																<td>{{chrono.assetId}}</td>
																<td>{{chrono.assetType}}</td>
																<td>{{chrono.subType}}</td>
																<td>{{chrono.rangeValue}}</td>
																<td>{{chrono.type}}</td>
																<td>{{chrono.manufacturer}}</td>
																<td>{{chrono.validityDate}}</td>
																<td>{{chrono.assignedPerson+chrono.deptName}}</td>
																<!-- <td>{{chrono.date}}</td> -->
																<!-- <td>{{chrono.department.deptName}}</td> -->
																<td>{{chrono.fromTime}}</td>
																<td>{{chrono.toTime}}</td>

															</tr>

															<tr ng-show="assetChronoNoData">
																<td colspan="12" style="text-align: center; color: red;">No
																	data found.</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="clearfix"></div>
												<!-- </li> -->
											</ul>

											<div class="row" style="height: 50px">
												<div class="col-6">
													<button style="position: relative; left: 10px; top: 10px;"
														type="submit" class="btnValue btn-primary"
														ng-click="trackSingleTag()"
														ng-show="showLocateBtn && selectedRow>=0&&trackMacId!=''">Locate</button>

													<button
														style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
														type="submit" class="btnValue btn-secondary"
														ng-click="cancelEdit()"
														ng-show="showLocateBtn && selectedRow>=0&&trackMacId!=''">Cancel</button>
												</div>
												<div class="col-6">
													<div ng-show="PaginationTab" layout="row"
														style="height: 50px">

														<div class="input-bar pull-right">
															<div class="input-bar">

																<div class="row" class="input-bar-item width100"
																	style="float: right; margin-right: 0px;">
																	<label for="totalPage"
																		style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
																		Pages {{totalPages}}</label>
																	<form>
																		<div class="input-group"
																			style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																			<span class="input-group-btn">
																				<button class="btn btn-primary"
																					id="id_firstPageViewAsset" ng-click="goFirstPage()"
																					ng-disabled="isFirstPage">&lt;&lt;</button>
																				<button class="btn btn-primary"
																					id="id_previousPageViewAsset"
																					ng-click="goPreviousPage()"
																					ng-disabled="hasPrevious">&lt;</button>
																			</span> <input class="form-control width100" type="text"
																				ng-model="currentPage"> <span
																				class="input-group-btn">
																				<button class="btn btn-primary"
																					id="id_nextPageViewAsset" ng-click="goNextPage()"
																					ng-disabled="hasNext">&gt;</button>
																				<button class="btn btn-primary"
																					id="id_lastPageViewAsset" ng-click="goLastPage()"
																					ng-disabled="isLastPage">&gt;&gt;</button>
																			</span>
																		</div>
																	</form>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>
										</div>

									</div>

									<div ng-show="assetChronoAddScreen">
										<form name="assetChronoForm" autocomplete="disabled"
											id="assetChronoForm" class="form-horizontal emp-form"
											role="form" style="position: relative;">

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="assetId">Asset ID</label>
														<!-- <div class="col-sm-5"> -->
														<input type="text" class="form-control" id="assetId"
															placeholder="Enter Asset ID" maxlength="12"
															ng-model="authen.assetId" name="id_assetIdAddAsset"
															/>
															<em style="color: red"
															ng-show="addAssetIdError" 
															id="id_addAssetIdError">{{addAssetId_error_msg}}</em>
														<!-- </div> -->
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label class="" for="assetType">Type</label>
														<!-- <div class="col-sm-5" > -->

														<input type="text" class="form-control"
															id="id_assetTypeAddAsset" placeholder="Enter Asset Type"
															maxlength="20" ng-model="authen.assetType"
															name="assetType" />
															<em style="color: red"
															ng-show="addTypeError" 
															id="id_addTypeError">{{addType_error_msg}}</em>
														<!-- </div> -->
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label class="" for="subType">Sub Type</label> <input
															type="text" class="form-control" id="id_subTypeAddAsset"
															placeholder="Enter Asset Sub Type" maxlength="20"
															ng-model="authen.subType" name="subType" />
															<em style="color: red"
															ng-show="addSubTypeError" 
															id="id_addSubTypeError">{{addSubType_error_msg}}</em>
														<!-- </div> -->
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="range">Range</label> <input type="text"
															class="form-control" name="range" id="id_rangeAddAsset"
															placeholder="Enter Range" maxlength="20"
															ng-model="authen.range" />
															<em style="color: red"
															ng-show="addRangeError" 
															id="id_addRangeError">{{addRange_error_msg}}</em>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="employeeID">Manufacturer</label> <input
															type="text" class="form-control" name="manufacturer"
															id="id_manufacturerAddAsset"
															placeholder="Enter Manufacturer" maxlength="30"
															ng-model="authen.manufacturer" />
															<em style="color: red"
															ng-show="addManufacturerError" 
															id="id_addManufacturerError">{{addManufacturer_error_msg}}</em>
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">

														<label class="" for="validityDate"> Expiry Date
														</label>
														<div class="input-group date" id="datetimepicker4"
															data-target-input="nearest">
															<input type="text"
																class="form-control datetimepicker-input"
																data-target="#datetimepicker4"
																id="id_validityDateAddAsset" name="validityDate"
																ng-model="authen.validityDate"  />
															<div class="input-group-append"
																data-target="#datetimepicker4"
																data-toggle="datetimepicker">
																<div class="input-group-text">
																	<i class="fa fa-calendar"></i>
																</div>
															</div>
														</div>
														<em style="color: red" ng-show="expiryDateError"
																id="id_expiryDateError">{{expiryDate_error_msg}}</em>
													</div>
												</div>
											</div>
											<!-- Kumar 28-Aug-21 -->
											<div class="row">
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="tagType">Asset Type</label>
														<div>
															<select class="form-control"
																style="-webkit-appearance: menulist-button; width: 100%;"
																ng-model="authen.type" ng-dropdown
																ng-options="item for item in chronoAssetType">
																
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-12 form-group" style="text-align: center;">
												<button type="submit"
													class="btnValue btn-primary float-center"
													style="position: relative; left: 10px; top: 10px;"
													ng-click="addAssetChrono()">Add</button>
												<button type="button"
													class="btnValue btn-secondary float-center"
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													ng-click="cancelAssetChrono()">Cancel</button>
											</div>
										</form>
									</div>

									<div ng-show="assetChronoEditSelectScreen" style="width: 100%;"
										id="idAssetChronoEditSelect" style="margin-left: 10px;">
										<div class="panel panel-default">
											<ul class="list-group" id="idContact-listViewAll">
												<!-- <li class="list-group-item"> -->
												<div id="main" class="table-container">
													<table class="table table-bordered">
														<thead>
															<tr>
																<th class="thcss">S.No</th>
																<th class="thcss">Asset ID</th>
																<th class="thcss">Type</th>
																<th class="thcss">Sub Type</th>
																<th class="thcss">Range</th>
																<th class="thcss">Asset Type</th>
																<th class="thcss">Manufacturer</th>
																<th class="thcss">Expiry Date</th>
																<th class="thcss">Assigned To</th>
																<!-- <th class="thcss">Assigned Date</th> -->
																<!-- <th class="thcss">Assigned Dept</th> -->
																<th class="thcss">From Time</th>
																<th class="thcss">To Time</th>
															</tr>
														</thead>
														<tbody>
															<tr
																ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
																ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
																ng-repeat="chrono in assetChronoViewData | filter:searchText"
																data-ng-click="rowHighilited($index)">
																<td>{{$index + serial}}</td>
																<td>{{chrono.assetId}}</td>
																<td>{{chrono.assetType}}</td>
																<td>{{chrono.subType}}</td>
																<td>{{chrono.rangeValue}}</td>
																<td>{{chrono.type}}</td>
																<td>{{chrono.manufacturer}}</td>
																<td>{{chrono.validityDate}}</td>
																<td>{{chrono.assignedPerson+chrono.deptName}}</td>
																<!-- <td>{{chrono.date}}</td> -->
																<!-- <td>{{chrono.department.deptName}}</td> -->
																<td>{{chrono.fromTime}}</td>
																<td>{{chrono.toTime}}</td>

															</tr>

															<tr ng-show="assetChronoNoData">
																<td colspan="12" style="text-align: center; color: red;">No
																	data found.</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="clearfix"></div>
											</ul>
											<div layout="row" style="height: 50px">
												<button style="position: relative; left: 10px; top: 10px;"
													type="submit" class="btnValue btn-primary"
													ng-click="editAssetValue()" ng-show="selectedRow>=0">Edit</button>

												<button
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													type="submit" class="btnValue btn-primary"
													ng-click="deleteAssetValue()" ng-show="selectedRow>=0">Delete</button>

												<button
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													type="submit" class="btnValue btn-secondary"
													ng-click="cancelEdit()" ng-show="selectedRow>=0">Cancel</button>

												<div ng-show="PaginationTab" class="input-bar pull-right">
													<div class="input-bar">

														<div class="row" class="input-bar-item width100"
															style="float: right; margin-right: 0px;">
															<label for="totalPage"
																style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
																Pages {{totalPages}}</label>
															<form>
																<div class="input-group"
																	style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																	<span class="input-group-btn">
																		<button class="btn btn-primary"
																			id="id_firstPageEditAsset" ng-click="goFirstPage()"
																			ng-disabled="isFirstPage">&lt;&lt;</button>
																		<button class="btn btn-primary"
																			id="id_previousPageEditAsset"
																			ng-click="goPreviousPage()" ng-disabled="hasPrevious">&lt;</button>
																	</span> <input class="form-control width100" type="text"
																		ng-model="currentPage"> <span
																		class="input-group-btn">
																		<button class="btn btn-primary"
																			id="id_nextPageEditAsset" ng-click="goNextPage()"
																			ng-disabled="hasNext">&gt;</button>
																		<button class="btn btn-primary"
																			id="id_lastPageEditAsset" ng-click="goLastPage()"
																			ng-disabled="isLastPage">&gt;&gt;</button>
																	</span>
																</div>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>
									<div ng-show="assetChronoEditUpdateScreen" style="width: 100%;"
										id="idAssetChronoEditUpdate" style="margin-left: 10px;">

										<form name="editAssetChronoForm" autocomplete="disabled"
											id="editAssetChronoForm" class="form-horizontal emp-form"
											role="form" style="position: relative;">

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="assetId">Asset ID</label> <input type="text"
															class="form-control" id="id_assetIdEditAsset"
															placeholder="Enter Asset ID" maxlength="12"
															ng-model="authen.assetId" name="assetId" />
															<em style="color: red"
															ng-show="editAssetIdError" 
															id="id_editAssetIdError">{{editAssetId_error_msg}}</em>
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label class="" for="assetType">Type</label> <input
															type="text" class="form-control"
															id="id_assetTypeEditAsset" placeholder="Enter Type"
															maxlength="20" ng-model="authen.assetType"
															name="assetType" />
															<em style="color: red"
															ng-show="editTypeError" 
															id="id_editTypeError">{{editType_error_msg}}</em>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label class="" for="subType">Sub Type</label> <input
															type="text" class="form-control" id="id_subTypeEditAsset"
															placeholder="Enter Asset Sub Type" maxlength="20"
															ng-model="authen.subType" name="subType" />
															<em style="color: red"
															ng-show="editSubTypeError" 
															id="id_editSubTypeError">{{editSubType_error_msg}}</em>
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="range">Range</label> <input type="text"
															class="form-control" name="range" id="id_rangeEditAsset"
															placeholder="Enter Range" maxlength="20"
															ng-model="authen.rangeValue" />
															<em style="color: red"
															ng-show="editRangeError" 
															id="id_editRangeError">{{editRange_error_msg}}</em>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="employeeID">Manufacturer</label> <input
															type="text" class="form-control" name="manufacturer"
															id="id_manufacturerEditAsset"
															placeholder="Enter Manufacturer" maxlength="30"
															ng-model="authen.manufacturer" />
															<em style="color: red"
															ng-show="editManufacturerError" 
															id="id_editManufacturerError">{{editManufacturer_error_msg}}</em>
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">

														<label class="" for="validityDate"> Expiry Date
														</label>
														<div class="input-group date" id="dateTimeEditPicker"
															data-target-input="nearest">
															<input type="text"
																class="form-control datetimepicker-input"
																data-target="#dateTimeEditPicker"
																id="id_validityDateEditAsset" name="validityDate"
																ng-model="authen.validityDate"  />
															<div class="input-group-append"
																data-target="#dateTimeEditPicker"
																data-toggle="datetimepicker">
																<div class="input-group-text">
																	<i class="fa fa-calendar"></i>
																</div>
															</div>
														</div>
														<em style="color: red" ng-show="editExpiryDateError"
																id="id_editExpiryDateError">{{editExpiryDate_error_msg}}</em>
													</div>
												</div>
											</div>
											<!-- Kumar 28-Aug-21 -->
											<div class="row">
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="assetType">Asset Type</label>
														<div>
															<select class="form-control"
																style="-webkit-appearance: menulist-button; width: 100%;"
																ng-model="authen.type" ng-dropdown 
																ng-options="item for item in chronoAssetType">
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-12 form-group" style="text-align: center;">
												<button type="submit"
													class="btnValue btn-primary float-center"
													style="position: relative; left: 10px; top: 10px;"
													ng-click="updateAssetChrono()">Update</button>
												<button type="button"
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													class="btnValue btn-secondary float-center"
													ng-click="cancelEditAssetChrono()">Cancel</button>
											</div>
										</form>
									</div>

									<div ng-show="assetChronoAssignReturnFetchScreen" style="width: 100%;"
										id="idAssetChronoAssignReturnFetch" style="margin-left: 20px;">
										<div class="form-group row">
											<label class="col-sm-1 col-form-label" for="checktagIdSelect">Asset
												ID </label>
											<div class="col-sm-5">
												<!-- <input class="form-control" type="text"
													ng-pattern="/^[a-zA-Z0-9 ]*$/" name="fetchAssetId"
													id="idInputfetchAssetId" maxlength="16"
													ng-model="fetchAssetId" required />
													<em style="color: red"
													ng-show="fetchAssetError" id="id_fetchAssetError">{{fetchAsset_error_msg}}</em> -->
												<select
													style="-webkit-appearance: menulist-button; width: 100%;"
													class="form-control select2" ng-model="fetchAssetId"
													name="fetchAssetId" id="idInputfetchAssetId" ng-dropdown
													required ng-options="item for item in assetIdTable">
												</select>
											</div>
											<div class="col-sm-2">
												<a>
													<button class="btnValue btn-primary float-center" style=""
														ng-click="fetchAsset()">Fetch</button>
												</a>
											</div>
										</div>

									</div>
									<div ng-show="assetChronoAssignScreen" style="width: 100%;"
										id="idAssetChronoAssignScreen" style="margin-left: 20px;">

										<form name="assignAssetChronoForm" autocomplete="disabled"
											id="assignAssetChronoForm" class="form-horizontal emp-form"
											role="form" style="position: relative;">

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="assetId">Asset ID</label> <input type="text"
															class="form-control" id="id_assetIdAssignAsset"
															placeholder="Enter Asset ID" maxlength="12"
															ng-model="authen.assetId" name="assetId" ng-readonly=true
															required>
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label class="" for="assetType">Type</label> <input
															type="text" class="form-control"
															id="id_assetTypeAssignAsset"
															placeholder="Enter Asset Type" maxlength="20"
															ng-model="authen.assetType" name="assetType"
															ng-readonly=true required>

													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-5">
													<div class="form-group ">
														<label class="" for="subType">Sub Type</label> <input
															type="text" class="form-control"
															id="id_subTypeAssignAsset" placeholder="Enter Asset Type"
															maxlength="20" ng-model="authen.subType" name="subType"
															ng-readonly=true required>

													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="range">Range</label> <input type="text"
															class="form-control" name="range"
															id="id_rangeAssignAsset" placeholder="Enter Range"
															maxlength="20" ng-model="authen.rangeValue"
															ng-readonly=true >

													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="employeeID">Manufacturer</label> <input
															type="text" class="form-control" name="manufacturer"
															id="id_manufacturerAssignAsset"
															placeholder="Enter Manufacturer" maxlength="30"
															ng-model="authen.manufacturer" ng-readonly=true required>

													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">

														<label class="" for="validityDate"> Expiry Date
														</label>

														<div class="input-group date" id="datetimepicker4"
															data-target-input="nearest">
															<input type="text"
																class="form-control datetimepicker-input"
																data-target="#datetimepicker4"
																id="id_validityDateAssignAsset" name="validityDate"
																ng-model="authen.validityDate" ng-readonly=true required />
															<div class="input-group-append"
																data-target="#datetimepicker4"
																data-toggle="datetimepicker">
																<div class="input-group-text">
																	<i class="fa fa-calendar"></i>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- Kumar 28-Aug-21 -->
											<div class="row">
												<div class="col-sm-5">
													<div class="form-group ">

														<label class="" for="assetTypes">Asset Type</label> <input
															type="text" class="form-control" id="idAssignAssetTypes"
															ng-model="authen.type" name="type" ng-readonly=true
															required>


													</div>
												</div>
												<div class="col-sm-5">

													<div class="form-group ">

														<label class="" for="assignmentStatus">Assign To</label> <select
															class="form-control" name="assignmentStatus"
															id="id_assignmentStatusAssignAsset"
															ng-model="authen.assignmentStatus" ng-dropdown
															ng-change="assignmentStatusValue()" required>

															<option ng-option value="PERSON">Employee</option>
															<option ng-option value="DEPT">Department</option>

														</select>
													</div>
												</div>
											</div>

											<div class="row">

												<div class="col-sm-5">

													<div class="form-group " ng-show="showAssignedPerson">
														<label for="assignedPerson">Assigned Person</label> 
														<select
															style="-webkit-appearance: menulist-button; width: 100%;"
															class="form-control select2" id="id_assignedPersonAssignAsset"
															name="assignedPerson" ng-model="authen.assignedPerson"
															ng-dropdown ng-options="item for item in empViewData"
															ng-disabled="assignedPersonReadonly">

														</select>

													</div>
													<div class="form-group " ng-show="showAssignmentDepartment">

														<label class="" for="assignmentDepartment">Assignment
															Department</label> 
															<select style="-webkit-appearance: menulist-button; width: 100%;"
															class="form-control select2"
															id="id_assignmentDepartmentAssignAsset"
															name="assignmentDepartment"
															ng-model="authen.assignmentDepartment" ng-dropdown
															ng-options="item for item in departmentList"
															ng-disabled="assignmentDepartmentReadonly">

														</select>
													</div>
												</div>
												<div class="col-sm-5">
													<!-- <div class="form-group ">

														<label class="" for="Date"> Date </label>
														<div class="input-group date" id="datetimepicker5"
															data-target-input="nearest" required>
															<input type="text" id="idAssignDatePicker"
																class="form-control datetimepicker-input"
																data-target="#datetimepicker5" ng-model="authen.date"
																id="id_dateAssignAsset" name="date" required />
															<div class="input-group-append"
																data-target="#datetimepicker5"
																data-toggle="datetimepicker">
																<div class="input-group-text">
																	<i class="fa fa-calendar"></i>
																</div>
															</div>
														</div>

													</div> -->
													<div class="form-group ">

														<label class="">Start Time</label>
														<div class="input-group date" id="stimepicker"
															data-target-input="nearest">
															<input required name="stime" id="stime" type="text"
																class="form-control datetimepicker-input"
																data-target="#stimepicker" ng-model="authen.stime"
																required disabled />
															<div class="input-group-append"
																data-target="#stimepicker" data-toggle="datetimepicker">
																<div class="input-group-text">
																	<i class="far fa-clock"></i>
																</div>
															</div>
														</div>

													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-5">
													<div class="form-group ">

														<label class="">End Time</label>
														<div class="input-group date" id="etimepicker"
															data-target-input="nearest">
															<input required name="etime" id="etime" type="text"
																class="form-control datetimepicker-input"
																data-target="#etimepicker" ng-model="authen.etime"
																required />
															<div class="input-group-append"
																data-target="#etimepicker" data-toggle="datetimepicker">
																<div class="input-group-text">
																	<i class="far fa-clock"></i>
																</div>
															</div>
														</div>
													</div>

												</div>
												<!-- <div class="col-sm-5">
													
												</div> -->
											</div>
											<div class="col-lg-12 form-group" style="text-align: center;">
												<button type="submit"
													style="position: relative; left: 10px; top: 10px;"
													class="btnValue btn-primary float-center"
													ng-click="assignAssetChrono()">Assign</button>
												<button type="reset"
													class="btnValue btn-secondary float-center"
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													ng-click="cancelAssignAssetChrono()">Clear</button>
											</div>
										</form>
									</div>

									<!-- <div ng-show="returnChronoFetchScreen" style="width: 100%;"
										id="idChronoReturnFetch" style="margin-left: 20px;">
										<div class="form-group row">
											<label class="col-sm-1 col-form-label"
												for="checktagIdSelectReturn">Asset ID </label>
											<div class="col-sm-5">
												<input class="form-control" type="text"
													ng-pattern="/^[a-zA-Z0-9 ]*$/" name="fetchAssetIdReturn"
													id="id_fetchAssetIdReturn" maxlength="16"
													ng-model="fetchAssetIdReturn" required /> <em
													style="color: red" ng-show="fetchTagError"
													id="id_fetchTagError">{{fetchTag_error_msg}}</em>

											</div>
											<div class="col-sm-2">
												<a>
													<button class="btnValue btn-primary float-center" style=""
														ng-click="fetchAssetReturn()">Fetch</button>
												</a>
											</div>
										</div>

									</div> -->
									<div ng-show="assetChronoReturnScreen" style="width: 100%;"
										id="idAssetChronoReturnScreen" style="margin-left: 20px;">

										<form name="returnChronoForm" autocomplete="disabled"
											id="idChronoReturn" class="form-horizontal emp-form"
											role="form" style="position: relative;">


											<div class="form-group row">
												<label class="col-sm-2 col-form-label" for="assetId">Asset
													ID</label>
												<div class="col-sm-5">
													<input type="text" class="form-control"
														id="id_assetIdReturnAsset" placeholder="Enter Asset ID"
														maxlength="12" ng-model="authen.assetId" name="assetId"
														ng-readonly=true required>
												</div>
											</div>

											<div class="form-group row ">
												<label class="col-sm-2 col-form-label"
													for="assignmentStatus">Assignment Status</label>
												<div class="col-sm-5">
													<input type="text" class="form-control"
														id="id_assignmentStatusReturnAsset"
														placeholder="Enter Assignment Status" maxlength="20"
														ng-model="authen.assignmentStatus" name="assignmentStatus"
														ng-readonly=true required>
												</div>
											</div>
											<!-- text input -->
											<div class="form-group row">
												<label class="col-sm-2 col-form-label" for="assignedTo">Assigned
													To</label>
												<div class="col-sm-5">

													<input type="text" class="form-control"
														id="id_assignedToReturnAsset" maxlength="20"
														ng-model="authen.assignedTo" name="assignedTo"
														ng-readonly=true required>
												</div>
											</div>


											<div class="col-lg-12 form-group" style="text-align: center;">
												<button type="submit"
													class="btnValue btn-primary float-center"
													style="position: relative; left: 10px; top: 10px;"
													ng-click="returnAssetChrono()">Return</button>
												<button type="reset"
													class="btnValue btn-secondary float-center"
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													ng-click="cancelreturnAssetChrono()">Clear</button>
											</div>
										</form>
									</div>
								</div>
							</div>
							<!-- /.card -->
						</div>
					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</div>
	<!-- ./wrapper -->
</body>
	</html>
</div>
