<style>
.table th, .table td {
	padding: 0.3rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.content-header {
	padding: 3px 0.5rem;
}

#idMultiSearchCard {
	width: 900Px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	box-shadow: 0 0 2px rgb(0 0 0/ 13%), 0 1px 3px rgb(23, 29, 215);
}
</style>
<div ng-controller="assetNonChronoController">
	<!DOCTYPE html>
	<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<!-- Site wrapper -->
	<div class="wrapper">
		<!-- Navbar -->
		<nav
			class="main-header navbar navbar-expand navbar-white navbar-light"
			style="position: unset;">
			<!-- Left navbar links -->

			<ul class="nav nav-pills">
				<li ng-show="showViewAllBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idNonChronoView" href=""
					ng-click="displayNonChronoViewScreen()" class="nav-link active"
					data-toggle="tab"> </i>
						<p>View All</p>
				</a></li>
				<li ng-show="showAddBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idNonChronoAdd" href="" ng-click="displayNonChronoAddScreen()"
					class="nav-link "> </i>
						<p>Add Asset</p>
				</a></li>

				<li ng-show="showEditBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idNonChronoEdit" href=""
					ng-click="displayNonChronoEditScreen()" class="nav-link "> </i>
						<p>Edit Asset</p>
				</a></li>
				<li ng-show="showAssignReturnBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idNonChronoAssign" href=""
					ng-click="displayNonChronoAssignScreen()" class="nav-link "> </i>
						<p>Assign / Return Asset</p>
				</a></li>
			</ul>

			<div class="card" ng-show="showMultipleSearch" id="idMultiSearchCard">
				<form class="form-inline" id="idMultiSearchForm">
					<select id="idFirstDropDownMultiSearch"
						style="width: 20%; height: 35px; font-size: 80%; margin-left: 0.5rem; margin-left: 0.5rem"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="firstMultiSearchDropDown"
						ng-change="multiSearchChanged()" ng-dropdown>
						<option value="All">All</option>
						<option value="assetId">Asset ID</option>
						<option value="type">Type</option>
						<option value="subType">Sub Type</option>
						<option value="range">Range</option>
						<option value="assetType">Asset Type</option>
						<option value="manufacturer">Manufacturer</option>
						<option value="assignedTo">Assigned To</option>
						<option value="fromTime">From Time</option>
						<option value="toTime">To Time</option>
					</select> <input type="search" class="form-control"
						placeholder="Search Text" name="firstSearchText"
						id="idFirstSearchText" ng-model="firstSearchText" required
						style="margin-left: 0.3rem; height: 35px; width: 170Px;"
						ng-change="multiSearchChanged()">
					<!--  <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch>
                <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch data-off-color="danger" data-on-color="success"> -->
					<select
						style="width: 10%; height: 35px; font-size: 80%; margin-left: 0.3rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="varANDORDropDown" ng-change="multiSearchChanged()"
						ng-dropdown>
						<option value="AND">AND</option>
						<option value="OR">OR</option>

					</select> <select id="idSecondDropDownMultiSearch"
						style="width: 20%; height: 35px; font-size: 80%; margin-left: 0.3rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="secondMultiSearchDropDown"
						ng-change="multiSearchChanged()"
						ng-disabled="disableSecondFilterDropDown" ng-dropdown>
						<option value="All">All</option>
						<option value="assetId">Asset ID</option>
						<option value="assetType">Asset Type</option>
						<option value="subType">Sub Type</option>
						<option value="range">Range</option>
						<option value="type">Type</option>
						<option value="manufacturer">Manufacturer</option>
						<option value="assignedTo">Assigned To</option>
						<option value="fromTime">From Time</option>
						<option value="toTime">To Time</option>
					</select> <input type="search" class="form-control"
						placeholder="search Text" name="secondSearchText"
						id="idSecondSearchText" ng-model="secondSearchText" required
						style="margin-left: 0.3rem; height: 35px; width: 170Px;"
						ng-change="multiSearchChanged()"
						ng-disabled="disableSecondFilterText">

					<button type="button" ng-click="closeMultiSearchView()"
						style="margin-top: 10px; width: 25px;" class="close pull-right">&times;</button>
				</form>
			</div>

			<!-- SEARCH FORM -->
			<form class="form-inline ml-auto">

				<div ng-show="NonchronoViewScreen && showLocateBtn"
					class="img-bordered-sm img-rounded" style="margin: 10px;">
					<a ng-click="trackTag()"> <i id="trackIcon" data-toggle="tooltip" title="Locate All"
						style="font-size: 20px; color: blue" class="fas fa-binoculars"></i></a>
				</div>


				<div class="input-group input-group-sm" ng-show="searchButton">
					<input class="form-control form-control-navbar" type="search"
						ng-change="searchOption()" placeholder="Search"
						aria-label="Search" ng-model="searchText">
					<div class="input-group-append">
						<button class="btn btn-navbar">
							<!-- <i class="fas fa-search"></i> -->
						</button>
					</div>
				</div>
				<button class="btn-leftslide" ng-click="multipleSearch()"
					ng-show="showSearchIcon">
					<i class="fas fa-search"></i>
				</button>
			</form>

		</nav>
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header"></section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<!-- Default box -->
							<div class="card">
								<div class="card-body">
									<div ng-show="NonchronoViewScreen" style="width: 100%;"
										id="assetNonChronoView" style="margin-left: 10px;">
										<div class="panel panel-default">
											<ul class="list-group" id="contact-list">
												<!-- <li class="list-group-item"> -->
												<div id="main" class="table-container">
													<table class="table table-bordered">
														<thead>
															<tr>
																<th class="thcss">S.No</th>
																<th class="thcss">Asset ID</th>
																<th class="thcss">Type</th>
																<th class="thcss">Asset Type</th>
																<th class="thcss">Sub Type</th>
																<th class="thcss">Range</th>
																<th class="thcss">Manufacturer</th>
																<!-- <th class="thcss">Calibration ID</th>
																<th class="thcss">Calibration Expiry Date</th> -->
																<!-- <th class="thcss">Assignment Status</th> -->
																<th class="thcss">Assigned To</th>
																<!-- <th class="thcss">Assigned Date</th> -->
																<th class="thcss">From Time</th>
																<th class="thcss">To Time</th>

															</tr>
														</thead>
														<tbody>
															<tr
																ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
																ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
																ng-repeat="nonChrono in assetNonChronoViewData | filter:searchText"
																data-ng-click="rowHighilited($index)">
																<td>{{$index + serial}}</td>
																<td>{{nonChrono.assetId}}</td>
																<td>{{nonChrono.assetType}}</td>
																<td>{{nonChrono.type}}</td>
																<td>{{nonChrono.subType}}</td>
																<td>{{nonChrono.rangeValue}}</td>
																<td>{{nonChrono.manufacturer}}</td>
																<!-- <td>{{nonChrono.calibrationId}}</td>
																<td>{{nonChrono.calibrationExpiryDate}}</td> -->
																<!-- <td>{{nonChrono.assignmentStatus}}</td> -->
																<td>{{nonChrono.assignedPerson +
																	nonChrono.deptName}}</td>
																<!-- <td>{{nonChrono.date}}</td> -->
																<td>{{nonChrono.fromTime}}</td>
																<td>{{nonChrono.toTime}}</td>

															</tr>
															<tr ng-show="assetNonChronoNoData">
																<td colspan="12" style="text-align: center; color: red;">No
																	data found.</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="clearfix"></div>
												<!-- </li> -->

											</ul>
											<div class="row" style="height: 50px">
												<div class="col-6">
													<button style="position: relative; left: 10px; top: 10px;"
														type="submit" class="btnValue btn-primary"
														ng-click="trackSingleTag()"
														ng-show="showLocateBtn && selectedRow>=0&&trackMacId!=''">Locate</button>

													<button
														style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
														type="submit" class="btnValue btn-secondary"
														ng-click="cancelEdit()"
														ng-show="showLocateBtn && selectedRow>=0 && trackMacId!=''">Cancel</button>
												</div>
												<div class="col-6">
													<div ng-show="PaginationTab" class="input-bar pull-right">
														<div class="input-bar">

															<div class="row" class="input-bar-item width100"
																style="float: right; margin-right: 0px;">
																<label for="totalPage"
																	style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
																	Pages {{totalPages}}</label>
																<form>
																	<div class="input-group"
																		style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																		<span class="input-group-btn">
																			<button class="btn btn-primary"
																				id="id_firstPageViewAsset" ng-click="goFirstPage()"
																				ng-disabled="isFirstPage">&lt;&lt;</button>
																			<button class="btn btn-primary"
																				id="id_previousPageViewAsset"
																				ng-click="goPreviousPage()"
																				ng-disabled="hasPrevious">&lt;</button>
																		</span> <input class="form-control width100" type="text"
																			ng-model="currentPage"> <span
																			class="input-group-btn">
																			<button class="btn btn-primary"
																				id="id_nextPageViewAsset" ng-click="goNextPage()"
																				ng-disabled="hasNext">&gt;</button>
																			<button class="btn btn-primary"
																				id="id_lastPageViewAsset" ng-click="goLastPage()"
																				ng-disabled="isLastPage">&gt;&gt;</button>
																		</span>
																	</div>
																</form>
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>

									</div>

									<div ng-show="NonchronoAddScreen">
										<form name="assetNonChronoForm" autocomplete="disabled"
											id="idAddassetNonChronoForm" class="form-horizontal emp-form"
											role="form" style="position: relative;">


											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="assetId">Asset ID</label>
														<!-- <div class="col-sm-5"> -->
														<input type="text" class="form-control"
															id="id_assetIdAddAsset" placeholder="Enter Asset ID"
															maxlength="12" ng-model="authen.assetId" name="assetId"
															/><em style="color: red"
															ng-show="addAssetIdError" 
															id="id_addAssetIdError">{{addAssetId_error_msg}}</em>
														<!-- </div> -->
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label class="" for="assetType">Type</label>
														<!-- <div class="col-sm-5" > -->
														<input type="text" class="form-control"
															id="id_assetTypeAddAsset" placeholder="Enter Type"
															maxlength="20" ng-model="authen.assetType"
															name="assetType" />
															<em style="color: red"
															ng-show="addTypeError" 
															id="id_addTypeError">{{addType_error_msg}}</em>
														<!-- </div> -->
													</div>
												</div>
											</div>


											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label class="" for="subType">Sub Type</label>
														<!-- <div class="col-sm-5" > -->
														<input type="text" class="form-control"
															id="id_subTypeAddAsset" placeholder="Enter Sub Type"
															maxlength="20" ng-model="authen.subType" name="subType"
															/><em style="color: red"
															ng-show="addSubTypeError" 
															id="id_addSubTypeError">{{addSubType_error_msg}}</em>
														<!-- </div> -->
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="range">Range</label>
														<!-- <div class="col-sm-5"> -->
														<input type="text" class="form-control" name="range"
															id="id_rangeAddAsset" placeholder="Enter Range"
															maxlength="20" ng-model="authen.range" />
															<em style="color: red"
															ng-show="addRangeError" 
															id="id_addRangeError">{{addRange_error_msg}}</em>
														<!--  </div> -->
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="manufacturer">Manufacturer</label>
														<!-- <div class="col-sm-5"> -->
														<input type="text" class="form-control"
															name="manufacturer" id="id_manufacturerAddAsset"
															placeholder="Enter Manufacturer" maxlength="30"
															ng-model="authen.manufacturer" />
															<em style="color: red"
															ng-show="addManufacturerError" 
															id="id_addManufacturerError">{{addManufacturer_error_msg}}</em>
														<!-- </div> -->
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="assetType">Asset Type</label>
														<div>
															<select class="form-control"
																style="-webkit-appearance: menulist-button; width: 100%;"
																ng-model="authen.type" ng-dropdown name="assetType" id="id_assetTypeAddAsset"
																ng-options="item for item in nonChronoAssetType">
																
															</select>
														</div>
													</div>
													<!-- <div class="form-group ">
														<label for="calibrationId">Calibration Id</label>
														
														<select
															class="form-control" id="id_calibrationIdEditAsset"
															name="calibrationId" ng-model="authen.calibrationId"
															ng-dropdown required ng-options="item for item in calibrationData"
															>

														</select>
														
													</div> -->

												</div>

											</div>
											<!-- <div class="row">
												<div class="col-sm-5">
													<div class="form-group ">
														<label  for="tagType">Asset Type</label>
														<div >
															<select class="form-control"
																style="-webkit-appearance: menulist-button; width: 100%;"
																ng-model="authen.type" ng-dropdown>
																<option ng-option selected="Tools" value="Tools">Tools</option>
																<option ng-option value="Gages">Gages</option>
																<option ng-option value="Fixtures">Fixtures</option>
															</select>
														</div>
													</div>
												</div>
											</div> -->
											<div class="col-lg-12 form-group" style="text-align: center;">

												<button type="submit"
													class="btnValue btn-primary float-center"
													style="position: relative; left: 10px; top: 10px;"
													ng-click="addAssetNonChrono()">Add</button>
												<button type="reset"
													class="btnValue btn-secondary float-center"
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													ng-click="clearAddAssetNonChrono()">Clear</button>

											</div>
										</form>

									</div>

									<div ng-show="NonchronoEditSelectScreen" style="width: 100%;"
										id="idNonchronoEditSelectScreen" style="margin-left: 10px;">
										<div class="panel panel-default">
											<ul class="list-group" id="contact-list">
												<!-- <li class="list-group-item"> -->
												<div id="main" class="table-container">
													<table class="table table-bordered">
														<thead>
															<tr>
																<th class="thcss">S.No</th>
																<th class="thcss">Asset ID</th>
																<th class="thcss">Type</th>
																<th class="thcss">Asset Type</th>
																<th class="thcss">Sub Type</th>
																<th class="thcss">Range</th>
																<th class="thcss">Manufacturer</th>
																<!-- <th class="thcss ">Calibration ID</th> -->
																<!-- <th class="thcss" style="width: 5%">Calibration ID</th> -->
																<!-- <th class="thcss">Calibration Expiry Date</th> -->
																<!-- <th class="thcss" style="width: 3px">Assignment Status</th> -->
																<th class="thcss">Assigned To</th>
																<!-- <th class="thcss">Assigned Date</th> -->
																<th class="thcss">From Time</th>
																<th class="thcss">To Time</th>

															</tr>
														</thead>
														<tbody>
															<tr
																ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
																ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
																ng-repeat="nonChrono in assetNonChronoViewData | filter:searchText"
																data-ng-click="rowHighilited($index)">
																<td>{{$index + serial}}</td>
																<td>{{nonChrono.assetId}}</td>
																<td>{{nonChrono.assetType}}</td>
																<td>{{nonChrono.type}}</td>
																<td>{{nonChrono.subType}}</td>
																<td>{{nonChrono.rangeValue}}</td>
																<td>{{nonChrono.manufacturer}}</td>
																<!-- <td>{{nonChrono.calibrationId}}</td>
																<td>{{nonChrono.calibrationExpiryDate}}</td> -->
																<!-- <td>{{nonChrono.assignmentStatus}}</td> -->
																<td>{{nonChrono.assignedPerson +
																	nonChrono.deptName}}</td>
																<!-- <td>{{nonChrono.date}}</td> -->
																<td>{{nonChrono.fromTime}}</td>
																<td>{{nonChrono.toTime}}</td>

															</tr>
															<tr ng-show="assetNonChronoNoData">
																<td colspan="12" style="text-align: center; color: red;">No
																	data found.</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="clearfix"></div>
												<!-- </li> -->

											</ul>
											<div layout="row" style="height: 50px">
												<button style="position: relative; left: 10px; top: 10px;"
													type="submit" class="btnValue btn-primary"
													ng-click="editAssetValue()" ng-show="selectedRow>=0">Edit</button>

												<button
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													type="submit" class="btnValue btn-primary"
													ng-click="deleteAssetValue()" ng-show="selectedRow>=0">Delete</button>

												<button
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													type="submit" class="btnValue btn-secondary"
													ng-click="cancelEdit()" ng-show="selectedRow>=0">Cancel</button>

												<div ng-show="PaginationTab" class="input-bar pull-right">
													<div class="input-bar">

														<div class="row" class="input-bar-item width100"
															style="float: right; margin-right: 0px;">
															<label for="totalPage"
																style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
																Pages {{totalPages}}</label>
															<form>
																<div class="input-group"
																	style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																	<span class="input-group-btn">
																		<button class="btn btn-primary"
																			id="id_firstPageEditAsset" ng-click="goFirstPage()"
																			ng-disabled="isFirstPage">&lt;&lt;</button>
																		<button class="btn btn-primary"
																			id="id_previousPageEditAsset"
																			ng-click="goPreviousPage()" ng-disabled="hasPrevious">&lt;</button>
																	</span> <input class="form-control width100" type="text"
																		ng-model="currentPage"> <span
																		class="input-group-btn">
																		<button class="btn btn-primary"
																			id="id_nextPageEditAsset" ng-click="goNextPage()"
																			ng-disabled="hasNext">&gt;</button>
																		<button class="btn btn-primary"
																			id="id_lastPageEditAsset" ng-click="goLastPage()"
																			ng-disabled="isLastPage">&gt;&gt;</button>
																	</span>
																</div>
															</form>
														</div>
													</div>

												</div>
											</div>
										</div>

									</div>
									<div ng-show="NonchronoEditUpdateScreen" style="width: 100%;"
										id="idNonchronoEditUpdateScreen" style="margin-left: 10px;">
										<form name="editAssetNonChronoForm" autocomplete="disabled"
											id="editAssetNonChronoForm" class="form-horizontal emp-form"
											role="form" style="position: relative;">

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="assetIdEdit">Asset ID</label>
														<!-- <div class="col-sm-5"> -->
														<input type="text" class="form-control"
															id="id_assetIdEditAsset" placeholder="Enter Asset ID"
															maxlength="12" ng-model="authen.assetId" name="assetIdEdit"
															/><em style="color: red"
															ng-show="editAssetIdError" 
															id="id_editAssetIdError">{{editAssetId_error_msg}}</em>
														<!-- </div> -->
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label class="" for="assetTypeEdit">Type</label>
														<!-- <div class="col-sm-5" > -->
														<input type="text" class="form-control"
															id="id_assetTypeEditAsset" placeholder="Enter Type"
															maxlength="20" ng-model="authen.assetType"
															name="assetTypeEdit" />
															<em style="color: red"
															ng-show="editTypeError" 
															id="id_editTypeError">{{editType_error_msg}}</em>
														<!-- </div> -->
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label class="" for="subTypeEdit">Sub Type</label>
														<!-- <div class="col-sm-5" > -->
														<input type="text" class="form-control"
															id="id_subTypeEditAsset" placeholder="Enter Sub Type"
															maxlength="20" ng-model="authen.subType" name="subTypeEdit"
															/>
															<em style="color: red"
															ng-show="editSubTypeError" 
															id="id_editSubTypeError">{{editSubType_error_msg}}</em>
														<!-- </div> -->
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="rangeEdit">Range</label>
														<!-- <div class="col-sm-5"> -->
														<input type="text" class="form-control" name="rangeEdit"
															id="id_rangeEditAsset" placeholder="Enter Range"
															maxlength="20" ng-model="authen.rangeValue" />
															<em style="color: red"
															ng-show="editRangeError" 
															id="id_editRangeError">{{editRange_error_msg}}</em>
														<!--  </div> -->
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="manufacturerEdit">Manufacturer</label>
														<!-- <div class="col-sm-5"> -->
														<input type="text" class="form-control"
															name="manufacturerEdit" id="id_manufacturerEditAsset"
															placeholder="Enter Manufacturer" maxlength="30"
															ng-model="authen.manufacturer" />
															<em style="color: red"
															ng-show="editManufacturerError" 
															id="id_editManufacturerError">{{editManufacturer_error_msg}}</em>
														<!-- </div> -->
													</div>
												</div>

												<div class="col-sm-5">

													<div class="form-group ">
														<label for="assetTypeEdit">Asset Type</label>
														<div>
															<select class="form-control"
																style="-webkit-appearance: menulist-button; width: 100%;"
																ng-model="authen.type" ng-dropdown name ="assetTypeEdit"
																ng-options="item for item in nonChronoAssetType">
															</select>
														</div>
													</div>
													<!-- <div class="form-group ">
														<label for="calibrationId">Calibration Id</label>
														
														<select
															class="form-control" id="id_calibrationIdEditAsset"
															name="calibrationId" ng-model="authen.calibrationId"
															ng-dropdown required ng-options="item for item in calibrationData"
															> 
														</select>
														
													</div> -->
												</div>

											</div>
											<!-- <div class="row">
												<div class="col-sm-5">
													<div class="form-group ">
														<label  for="tagType">Asset Type</label>
														<div >
															<select class="form-control"
																style="-webkit-appearance: menulist-button; width: 100%;"
																ng-model="authen.type" ng-dropdown>
																<option ng-option selected="Tools" value="Tools">Tools</option>
																<option ng-option value="Gages">Gages</option>
																<option ng-option value="Fixtures">Fixtures</option>
															</select>
														</div>
													</div>
												</div>
											</div> -->

											<div class="col-lg-12 form-group" style="text-align: center;">

												<button type="submit"
													class="btnValue btn-primary float-center"
													style="position: relative; left: 10px; top: 10px;"
													ng-click="updateAssetNonChrono()">Update</button>
												<button type="reset"
													class="btnValue btn-secondary float-center"
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													ng-click="cancelEditAssetNonChrono()">Cancel</button>

											</div>
										</form>
									</div>
									<div ng-show="assetNonChronoAssignReturnFetchScreen" style="width: 100%;"
										id="idAssetNonChronoAssignReturn" style="margin-left: 20px;">
										<!-- <form name="FetchAssetChronoForm" autocomplete="disabled" id="FetchAssetChronoForm"
										
										role="form" style="position: relative;"> -->

										<div class="form-group row">
											<label class="col-sm-1 col-form-label" for="checktagIdSelect">Asset
												ID </label>
											<div class="col-sm-5">
												<!-- <input class="form-control" type="text"
													ng-pattern="/^[a-zA-Z0-9 ]*$/" name="fetchAssetId"
													id="id_fetchAssetId"  maxlength="16"
													ng-model="fetchAssetId" required />
													<em style="color: red"
													ng-show="fetchAssetError" id="id_fetchAssetError">{{fetchAsset_error_msg}}</em> -->
												<select
													style="-webkit-appearance: menulist-button; width: 100%;"
													class="form-control select2" ng-model="fetchAssetId"
													name="fetchAssetId" id="id_fetchAssetId" ng-dropdown
													required ng-options="item for item in assetIdTable">
												</select>
											</div>
											<div class="col-sm-2">
												<a>
													<button class="btnValue btn-primary float-center" style=""
														ng-click="fetchAsset()">Fetch</button>
												</a>
											</div>
										</div>
										<!-- </form> -->
									</div>
									<div ng-show="assetNonChronoAssignScreen" style="width: 100%;"
										id="idAssetNonChronoAssign" style="margin-left: 20px;">

										<form name="assignAssetNonChronoForm" autocomplete="disabled"
											id="idAssignAssetNonChronoForm"
											class="form-horizontal emp-form" role="form"
											style="position: relative;">


											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="assetId">Asset ID</label>
														<!-- <div class="col-sm-5"> -->
														<input type="text" class="form-control"
															id="id_assetIdAssignAsset" placeholder="Enter Asset ID"
															maxlength="12" ng-model="authen.assetId" name="assetId"
															ng-readonly=true required>
														<!-- </div> -->
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label class="" for="assetType">Type</label>
														<!-- <div class="col-sm-5" > -->

														<input type="text" class="form-control"
															id="id_assetTypeAssignAsset" placeholder="Enter Type"
															maxlength="20" ng-model="authen.assetType"
															name="assetType" ng-readonly=true required>
														<!-- </div> -->
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label class="" for="subType">Sub Type</label>
														<!-- <div class="col-sm-5" > -->

														<input type="text" class="form-control"
															id="id_subTypeAssignAsset" placeholder="Enter Sub Type"
															maxlength="20" ng-model="authen.subType" name="subType"
															ng-readonly=true required>
														<!-- </div> -->
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="range">Range</label>
														<!-- <div class="col-sm-5"> -->
														<input type="text" class="form-control" name="range"
															id="id_rangeAssignAsset" placeholder="Enter Range"
															maxlength="20" ng-model="authen.rangeValue"
															ng-readonly=true required>
														<!--  </div> -->
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="employeeID">Manufacturer</label>
														<!-- <div class="col-sm-5"> -->
														<input type="text" class="form-control"
															name="manufacturer" id="id_manufacturerAssignAsset"
															placeholder="Enter Manufacturer" maxlength="30"
															ng-model="authen.manufacturer" ng-readonly=true required>
														<!-- </div> -->
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="tagType">Asset Type</label>
														<div>
															<select class="form-control"
																style="-webkit-appearance: menulist-button; width: 100%;"
																ng-model="authen.type" ng-dropdown ng-disabled=true
																ng-options="item for item in nonChronoAssetType">
															</select>
														</div>
													</div>
													<!-- <div class="form-group ">

														<label class="" for="calibrationId"> Calibration
															ID </label>
														<div class="col-sm-5">


														<input type="text" class="form-control "
															id="id_calibrationIdAssignAsset" name="calibrationId"
															ng-model="authen.calibrationId" ng-readonly=true required />


														</div>
													</div> -->
												</div>
											</div>
											<div class="row">
												<div class="col-sm-5">
													<div class="form-group ">

														<label class="" for="assignmentStatus">Assignment
															Status</label>
														<!-- 	<div class="col-sm-5"> -->
														<select class="form-control" name="assignmentStatus"
															id="id_assignmentStatusAssignAsset"
															ng-model="authen.assignmentStatus" ng-dropdown
															ng-change="assignmentStatusValue()" required>


															<option ng-option value="PERSON">Employee</option>
															<option ng-option value="DEPT">Department</option>


														</select>
														<!-- </div> -->
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group" ng-show="showAssignedPerson">
														<label for="assignedPerson">Assigned Person</label> 
														<select
															style="-webkit-appearance: menulist-button; width: 100%;"
															class="form-control select2" id="assignedPerson"
															name="assignedPerson" ng-model="authen.assignedPerson"
															ng-dropdown ng-options="item for item in empViewData"
															ng-disabled="assignedPersonReadonly">

														</select>

														<!-- </div> -->
													</div>
													<div class="form-group " ng-show="showAssignmentDepartment">

														<label class="" for="assignmentDepartment">Assignment
															Department</label>
														<!-- <div class="col-sm-5"> -->
														<select style="-webkit-appearance: menulist-button; width: 100%;"
															class="form-control select2" id="assignmentDepartment"
															name="assignmentDepartment"
															ng-model="authen.assignmentDepartment" ng-dropdown
															ng-options="item for item in departmentList"
															ng-disabled="assignmentDepartmentReadonly">

														</select>
														<!-- </div> -->
													</div>

												</div>
											</div>

											<div class="row">

												<div class="col-sm-5">
													<div class="form-group ">

														<label class="">Start Time</label>
														<!-- <div class="col-sm-5"> -->
														<div class="input-group date" id="stimepicker"
															data-target-input="nearest">
															<input required name="stime" id="stime" type="text"
																class="form-control datetimepicker-input"
																data-target="#stimepicker" ng-model="authen.stime"
																required disabled />
															<div class="input-group-append"
																data-target="#stimepicker" data-toggle="datetimepicker">
																<div class="input-group-text">
																	<i class="far fa-clock"></i>
																</div>
															</div>
														</div>
														<!-- </div> -->
													</div>
													<!-- <div class="form-group ">

														<label class="" for="Date"> Date </label>
														<div class="col-sm-5">

														<div class="input-group date" 
															id="id_nonChronoAssignedDate" data-target-input="nearest" required>
															<input type="text"
																class="form-control datetimepicker-input"
																data-target="#id_nonChronoAssignedDate" ng-model="authen.date"
																id="date" name="date" required />
															<div class="input-group-append"
																data-target="#id_nonChronoAssignedDate"
																data-toggle="datetimepicker">
																<div class="input-group-text">
																	<i class="fa fa-calendar"></i>
																</div>
															</div>
														</div>
															</div>
													</div> -->

												</div>
												<div class="col-sm-5">
													<div class="form-group ">

														<label class="">End Time</label>
														<!-- <div class="col-sm-5"> -->
														<div class="input-group date" id="etimepicker"
															data-target-input="nearest">
															<input required name="etime" id="etime" type="text"
																class="form-control datetimepicker-input"
																data-target="#etimepicker" ng-model="authen.etime"
																required />
															<div class="input-group-append"
																data-target="#etimepicker" data-toggle="datetimepicker">
																<div class="input-group-text">
																	<i class="far fa-clock"></i>
																</div>
															</div>
														</div>
														<!-- </div> -->
													</div>

												</div>
											</div>

											<div class="row">
												<div class="col-sm-5"></div>
												<!-- <div class="col-sm-5">
													
												</div> -->
											</div>

											<div class="col-lg-12 form-group" style="text-align: center;">

												<button type="submit"
													class="btnValue btn-primary float-center"
													style="position: relative; left: 10px; top: 10px;"
													ng-click="assignAssetNonChrono()">Assign</button>
												<button type="reset"
													class="btnValue btn-secondary float-center"
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													ng-click="cancelAssignAssetNonChrono()">Cancel</button>

											</div>
										</form>
									</div>
									<div ng-show="assetNonChronoReturnScreen" style="width: 100%;"
										id="id_returnNonChronoScreen" style="margin-left: 20px;">

										<form name="returnNonChronoForm" autocomplete="disabled"
											id="idNonChronoReturn" class="form-horizontal emp-form"
											role="form" style="position: relative;">

											<div class="form-group row">

												<label class="col-sm-2 col-form-label" for="assetId">Asset
													ID</label>
												<div class="col-sm-5">
													<input type="text" class="form-control"
														id="id_assetIdReturnAsset" placeholder="Enter Asset ID"
														maxlength="12" ng-model="authen.assetId" name="assetId"
														ng-readonly=true required>
												</div>
											</div>

											<div class="form-group row ">
												<label class="col-sm-2 col-form-label"
													for="assignmentStatus">Assignment Status</label>
												<div class="col-sm-5">
													<input type="text" class="form-control"
														id="id_assignmentStatusReturnAsset"
														placeholder="Enter Assignment Status" maxlength="20"
														ng-model="authen.assignmentStatus" name="assignmentStatus"
														ng-readonly=true required>
												</div>
											</div>

											<!-- text input -->
											<div class="form-group row">
												<label class="col-sm-2 col-form-label" for="assignedTo">Assigned
													To</label>
												<div class="col-sm-5">

													<input type="text" class="form-control"
														id="id_assignedToReturnAsset"
														placeholder="Enter Asset Type" maxlength="20"
														ng-model="authen.assignedTo" name="assignedTo"
														ng-readonly=true required>
												</div>
											</div>

											<div class="col-lg-12 form-group" style="text-align: center;">
												<button type="submit"
													class="btnValue btn-primary float-center"
													style="position: relative; left: 10px; top: 10px;"
													ng-click="returnAssetNonChrono()">Return</button>
												<button type="reset"
													class="btnValue btn-secondary float-center"
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													ng-click="cancelreturnAssetNonChrono()">Clear</button>

											</div>
										</form>
									</div>
								</div>
								<!-- /.card-body -->

							</div>
							<!-- /.card -->
						</div>
					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</div>
	<!-- ./wrapper -->
</body>
	</html>
</div>
