<style>
.tr_odd {
	background-color: white;
	color: #000000;
}

.tr_even {
	background-color: #f2f2f2;
	color: #000000;
}
.table th, .table td {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.content-header {
  padding: 3px 0.5rem;
}
</style>
<body class="hold-transition sidebar-mini layout-fixed">
	<!-- Site wrapper -->
	<div class="wrapper" ng-controller="classificationController">

		<div class="content-wrapper">

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">
					<div class="row" style="padding-top: 10px">
						<div class="col-md-6">
							<!-- general form elements -->
							<div class="card card-info">

								<!-- <div class="card-body">
									<div class="card"> -->
										<div class="card-header" style="background-color: #007bff">
											<h3 class="card-title">View/Edit</h3>

											<div class="card-tools">
												<form class="form-inline ml-3">
													<div class="input-group input-group-sm">
														<input class="form-control form-control-navbar" ng-change="searchOption()"
															type="search" ng-model="searchText" placeholder="Search"
															aria-label="Search">
														<div class="input-group-append">
															<!-- <button class="btn btn-default" type="submit">
																<i class="fas fa-search"></i>
															</button> -->
														</div>
													</div>
												</form>
											</div>
										</div>
										<div   layout="column"
					style="overflow-x: hidden; width: 100%; padding-left: 0.1%; margin-left: 0%; margin-right: 0.5%; padding-right: 0%;">
										<div style="width: 100%;"
											style="margin-left: 10px;">
											<div class="panel panel-default">
												<ul class="list-group">
													<!-- <li class="list-group-item">
 -->
														<div class="table-container table-responsive tableFixHead">
										<table id="classficTable"
											class="table table-bordered table-hover dtr-inline">
											<thead
												style="background-color: rgb(0, 123, 255); color: white;">
												<tr>
													<th>S.No</th>
													<th>Zone Type</th>
													<th>Color</th>
													<th ng-show="clsThid" class="sorting sorting_asc">ID</th>

												</tr>
											</thead>
											<tbody>
												<tr
													ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
													ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
													ng-repeat="addclassific in classificViewData | filter:searchText"
													data-ng-click="rowHighilited($index)">
													<td>{{$index + serial}}</td>
													<td>{{addclassific.className}}</td>
													<td style="padding-left: 8%"><input
														style="padding: 0px; border: none;" type="color"
														id="clsColorId" value={{addclassific.color}} disabled></td>
													</td>
													<td ng-show="clstdID">{{addclassific.id}}</td>


												</tr>

												<tr ng-show="classificNoData">
													<td colspan="3" style="text-align: center; color: red;">No
														data found.</td>
												</tr>
											</tbody>
										</table>
										</div>
							</ul>
							</div>
							</div>
							</div>
										<div ng-show="clsTab" class="card-footer clearfix">

											<div class="input-bar pull-right">
												<div class="input-bar">

													<div class="row" class="input-bar-item width100"
														style="float: right; margin-right: 0px;">
														<label for="totalPage"
															style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
															Pages {{totalPages}}</label>
														<form>
															<div class="input-group"
																style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																<span class="input-group-btn">
																	<button class="btn btn-primary" id="firstPage"
																		ng-click="goFirstPage()" ng-disabled="isFirstPage">&lt;&lt;</button>
																	<button class="btn btn-primary" id="previousPage"
																		ng-click="goPreviousPage()" ng-disabled="hasPrevious">&lt;</button>
																</span> <input class="form-control width100" type="text"
																	ng-model="currentPage"> <span
																	class="input-group-btn">
																	<button class="btn btn-primary" id="nextPage"
																		ng-click="goNextPage()" ng-disabled="hasNext">&gt;</button>
																	<button class="btn btn-primary" id="lastPage"
																		ng-click="goLastPage()" ng-disabled="isLastPage">&gt;&gt;</button>
																</span>
															</div>
														</form>
													</div>
												</div>

											</div>
										</div>
									<!-- </div>
								</div> -->
							</div>

							<!-- /.card -->
						</div>

						<!-- Horizontal Form -->
						<div class="col-md-6">

							<div class="card card-info">
								<div class="card-header"
									style="background-color: rgb(0, 123, 255); color: white;">
									<h3 class="card-title">Add Zone Type</h3>
								</div>
								<!-- /.card-header -->
								<!-- form start -->
								<form name="addclassificForm" id="addclassificForm"
									class="form-horizontal">
									<div class="card-body" style="padding-left: 10%;">
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Name</label>
											<div class="col-sm-6">
												<input class="form-control" type="text" name="clsname" maxlength="15"
													id="id_classificationName" ng-model="addclassific.className" /> <em
													style="color: red" ng-show="nameError" id="nameError">{{name_error_msg}}</em>
											</div>
										</div>

										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Color</label>
											<div class="col-sm-6">
												<input style="width: 30%; border: 0" class="form-control"
													type="color" name="clscolor" id="clscolor"
													ng-model="addclassific.clscolor" />



											</div>
										</div>
										<div ng-show="clsID" class="form-group row">
											<label class="col-sm-4 col-form-label">ID</label>
											<div class="col-sm-6">
												<input class="form-control" type="number" name="clsid"
													id="clsid" ng-model="addclassific.id" />


											</div>
										</div>

									</div>
							</div>
							<!-- /.card-body -->
							<div class="card-footer">
								<button ng-show="add" type="submit"
									style="background-color: rgb(0, 123, 255);"
									ng-click="addClassific()" class="btn btn-info">Add</button>
								<button ng-show="update" type="submit"
									style="background-color: rgb(0, 123, 255);"
									ng-click="updateClassific()" class="btn btn-info">Update</button>
								<button ng-show="delete" type="submit"
									style="background-color: rgb(0, 123, 255);"
									ng-click="deleteClassific()" class="btn btn-info">Delete</button>
								<button type="reset" ng-click="cancelClassific()"
									class="btn btn-default float-right">Cancel</button>
							</div>
							<!-- /.card-footer -->
							</form>
						</div>
					</div>
				</div>
		</div>
		</section>
	</div>
	</div>




</body>

