<style>
.table th, .table td {
	padding: 0.5rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.content-header {
	padding: 3px 0.5rem;
}
</style>
<div ng-controller="configurationTagController">
	<!DOCTYPE html>
	<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<!-- Site wrapper -->
	<div class="wrapper">
		<!-- Navbar -->
		<nav
			class="main-header navbar navbar-expand navbar-white navbar-light"
			style="position: unset;">
			<!-- Left navbar links -->
			<ul class="nav nav-pills">

				<li ng-show="showViewAllBtn"
					id="idConfigurationTagViewAll" href=""
					ng-click="displayTagViewAllScreen()" class="nav-link active"
					data-toggle="tab"> </i>
						<p>View All</p>
				</a></li>

				<li ng-show="showRenameBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idConfigurationTagRename" href=""
					ng-click="displayTagRenameScreen()" class="nav-link"> </i>
						<p>Rename Tag</p></a></li>

				<li ng-show="showBatteryInfo"
					class="nav-item d-none d-sm-inline-block"><a
					id="idBatteryInfo" href="" ng-click="displayBatteryInfo()"
					class="nav-link"> </i>
						<p>Battery Info</p></a></li>

			</ul>
			
			<div class="card" ng-show="showBatteryInfoSearchCard" id="idBatteryInfoSearchCard"
				style="margin-left: 50px;width: 45%;">
				<form class="form-inline" id="idBatteryInfoSearchForm">
				<label style=" margin-left: 0.5rem;">Battery Voltage : </label>
				 <select id="idlessThanGreaterthanDropDown"
						style="width: 35%; height: 35px; font-size: 100%; margin-left: 0.3rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="varCompareVoltagedropdown"
						ng-change="multiSearchChanged()"
						 ng-dropdown>
						<option value="equalTo">Equal</option>
						<option value="lessThan">&lt;</option>	
						<option value="greaterThan">&gt;</option>					
					</select>
					<input type="search" class="form-control"
						placeholder="Search Text" name="firstSearchTextBattery"
						id="idFirstSearchTextBattery" ng-model="firstSearchTextBattery" required
						style="margin-left: 0.3rem; height: 35px; width: 120Px;"
						ng-change="multiSearchChanged()">
					
					<button type="button" ng-click="fnCloseBatteryInfoSearch()"
						style="margin-top: 10px; width: 25px;" class="close pull-right">&times;</button>
				</form>
			</div>
			
			
			
			<div class="card" ng-show="showTagDetailMultipleSearchCard"
				id="idTagDetailMultipleSearchCard" style="margin-left: 50px;width: 45%;">
				<form class="form-inline" id="idTagDetailMultipleSearchForm">
				
					<select id="idTagTypeDropDownMultiSearch"
						style="width: 32%; height: 35px; font-size: 80%; margin-left: 0.5rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="tagTypeMultiSearchDropDown"
						ng-change="multiSearchChanged()" ng-dropdown>
						<option value="All">All</option>
						<option value="employee">Employee</option>
						<option value="gages">Gages</option>
						<option value="tools">Tools</option>
						<option value="fixtures">Fixtures</option>
						<option value="Supplies">Supplies</option>
						<option value="Vehicles">Vehicles</option>
						<option value="parts">Parts</option>
						<option value="material">Material</option>
						<option value="RMA">RMA</option>
						<option value="LSLM">LSLM</option>
						<option value="inventory">Inventory</option>
						<option value="warehouseMaterials">Warehouse Materials</option>
							
					</select> 
					<label for="lastSeen"style=" margin-left: 0.5rem;">Last Seen</label>
					<select id="idDayRangeDropDownMultiSearch"
						
						style="width: 22%; height: 35px; font-size: 80%; margin-left: 0.6rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="tagTypeDayRange"
						ng-change="multiSearchChanged()"
						 ng-dropdown>
						<option value="today">Today</option>
						<option value="2Days">&gt; 2 Days</option>
						<option value="3Days">&gt; 3 Days</option>
						<option value="7Days">&gt; 7 Days</option>
						<option value="14Days">&gt; 14 Days</option>
						
					</select> 
					 <select ng-show="assetTimeRangeDropDown"
						style="width: 22%; height: 35px; font-size: 80%; margin-left: 0.6rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="AssetTagTypeTimeRange" ng-change="multiSearchChanged()"
						ng-dropdown>
						<option value="1Hour">&gt; 1 Hour</option>
						<option value="2Hours">&gt; 2 Hours</option>
						<option value="3Hours">&gt; 3 Hours</option>
						<option value="4Hours">&gt; 4 Hours</option>
						

					</select> 
					 

					<button type="button" ng-click="fnCloseTagDetailMultiSearchView()"
						style="margin-top: 10px; width: 25px;" class="close pull-right">&times;</button>
				</form>
			</div>
			
			
			
			
			
			
			<form class="form-inline ml-auto">
				<div class="input-group input-group-sm" ng-show="searchButton">
					<input class="form-control form-control-navbar" type="search"
						ng-change="searchOption()" ng-model="searchText"
						placeholder="Search" aria-label="Search">

					<div class="input-group-append">
						<button class="btn btn-navbar" type="submit">
							<!-- <i class="fas fa-search"></i> -->
						</button>
					</div>
				</div>
				<button class="btn-leftslide" ng-click="fnMultipleSearch()"
					ng-show="showTagViewAllScreen || showBatteryInfoScreen">
					<i class="fas fa-search"></i>
				</button>
			</form>
		</nav>
		<!-- /.navbar -->


		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header"></section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<!-- Default box -->
							<div class="card">

								<div class="card-body">
									<div ng-show="showTagViewAllScreen" layout="column"
										style="overflow-x: hidden; width: 100%; padding-left: 1%; margin-left: 1%; padding-right: 1%;">
										<div style="width: 100%;" id="idTagListView"
											style="margin-left: 10px;">
											<div class="panel panel-default">
												<ul class="list-group" id="contact-list">
													<!-- <li class="list-group-item">
 -->
													<div id="tableview" class="table-container tableFixHead">
														<table class="table table-bordered">
															<thead>
																<tr>
																	<th class="thcss">S.No</th>
																	<th class="thcss ">Tag ID</th>
																	<!-- <th class="thcss ">Group ID</th> -->
																	<th class="thcss ">MAC Address</th>
																	<!-- <th class="thcss ">Manufacturer</th> -->
																	<th class="thcss ">Status</th>
																	<th class="thcss ">Type</th>
																	<th class="thcss ">Assignment ID</th>
																	<th class="thcss ">Assignment Date</th>
																	<th class="thcss ">Assigned Time</th>
																	<th class="thcss ">Valid Until</th>
																	<th class="thcss ">Last Seen</th>
																	<th class="thcss ">Modified Date</th>
																</tr>
															</thead>
															<tbody>
																<tr ng-repeat="tag in tagViewData | filter:searchText">
																	<td>{{$index + serial}}</td>
																	<td>{{tag.tagId}}</td>
																	<!-- <td>{{tag.groupId}}</td> -->
																	<td>{{tag.macId}}</td>
																	<!-- <td>{{tag.manufacturer}}</td> -->
																	<td>{{tag.status}}</td>
																	<td>{{tag.type}}</td>
																	<td>{{tag.assignmentId}}</td>
																	<td>{{tag.assignmentDate}}</td>
																	<td>{{tag.fromTime}}</td>
																	<td>{{tag.toTime}}</td>
																	<td>{{tag.lastSeen}}</td>
																	<td>{{tag.modifiedDate}}</td>
																</tr>
																<tr ng-show="tagNoData">
																	<td colspan="10"
																		style="text-align: center; color: red;">No data
																		found.</td>
																</tr>
															</tbody>
														</table>
													</div>
													<div class="clearfix"></div>

												</ul>

												<div ng-show="PaginationTab" layout="row"
													style="height: 50px">
													<!-- <a href="#"> -->
													<div class="input-bar pull-right">
														<div class="input-bar">

															<div class="row" class="input-bar-item width100"
																style="float: right; margin-right: 0px;">
																<label for="totalPage"
																	style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
																	Pages {{totalPages}}</label>
																<form>
																	<div class="input-group"
																		style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																		<span class="input-group-btn">
																			<button class="btn btn-primary"
																				id="id_firstPageViewAssetTag"
																				ng-click="goFirstPage()" ng-disabled="isFirstPage">&lt;&lt;</button>
																			<button class="btn btn-primary"
																				id="id_previousPageViewAssetTag"
																				ng-click="goPreviousPage()"
																				ng-disabled="hasPrevious">&lt;</button>
																		</span> <input class="form-control width100" type="text"
																			ng-model="currentPage"> <span
																			class="input-group-btn">
																			<button class="btn btn-primary"
																				id="id_nextPageViewAssetTag" ng-click="goNextPage()"
																				ng-disabled="hasNext">&gt;</button>
																			<button class="btn btn-primary"
																				id="id_lastPageViewAssetTag" ng-click="goLastPage()"
																				ng-disabled="isLastPage">&gt;&gt;</button>
																		</span>
																	</div>
																</form>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div ng-show="showBatteryInfoScreen" layout="column"
										style="overflow-x: hidden; width: 100%; padding-left: 1%; margin-left: 1%; padding-right: 1%;">
										<div style="width: 100%;" id="idTagBatterylistView"
											style="margin-left: 10px;">
											<div class="panel panel-default">
												<ul class="list-group" id="contact-list">
													<!-- <li class="list-group-item">
 -->
													<div id="tableview" class="table-container tableFixHead">
														<table class="table table-bordered">
															<thead>
																<tr>
																	<th class="thcss">S.No</th>
																	<th class="thcss ">Tag ID</th>
																	<th class="thcss ">MAC Address</th>
																	<!-- <th class="thcss ">Battery Alarm</th>  -->
																	<th class="thcss ">Battery Voltage</th>
																	<th class="thcss ">Replace</th>
																	<th class="thcss ">Status</th>
																	<th class="thcss ">Type</th>
																	<th class="thcss ">Assignment ID</th>
																</tr>
															</thead>
															<tbody>
																<tr
																	ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
																	ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
																	ng-repeat="tag in tagBatteryInfoViewData | filter:searchText"
																	data-ng-click="rowHighilited($index)">
																	<td>{{$index + serial}}</td>
																	<td>{{tag.tagId}}</td>
																	<td>{{tag.macId}}</td>
																	<!-- <td>{{tag.batteryAlarm}}</td> -->
																	<td>{{tag.batteryVoltage}}</td>
																	<td>{{tag.replaceStatus}}</td>
																	<td>{{tag.status}}</td>
																	<td>{{tag.type}}</td>
																	<td>{{tag.assignmentId}}</td>
																</tr>
																<tr ng-show="tagNoData">
																	<td colspan="10"
																		style="text-align: center; color: red;">No data
																		found.</td>
																</tr>
															</tbody>
														</table>
													</div>
													<div class="clearfix"></div>

												</ul>


												<div class="row" style="height: 50px">
													<div class="col-6">
														<button style="position: relative; left: 10px; top: 10px;"
															type="submit" class="btnValue btn-primary"
															ng-click="trackSingleTag()"
															ng-show="showLocateBtn && selectedRow>=0&&trackMacId!=''">Locate</button>

														<button
															style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
															type="submit" class="btnValue btn-secondary"
															ng-click="cancelLocate()"
															ng-show="showLocateBtn && selectedRow>=0&&trackMacId!=''">Cancel</button>
													</div>
													<div class="col-6">

														<div ng-show="PaginationTab" layout="row">
															<!-- <a href="#"> -->


															<div class="input-bar pull-right">
																<div class="input-bar">

																	<div class="row" class="input-bar-item width100"
																		style="float: right; margin-right: 0px;">
																		<label for="totalPage"
																			style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
																			Pages {{totalPages}}</label>
																		<form>
																			<div class="input-group"
																				style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																				<span class="input-group-btn">
																					<button class="btn btn-primary"
																						id="id_firstPageViewAssetTag"
																						ng-click="goFirstPage()" ng-disabled="isFirstPage">&lt;&lt;</button>
																					<button class="btn btn-primary"
																						id="id_previousPageViewAssetTag"
																						ng-click="goPreviousPage()"
																						ng-disabled="hasPrevious">&lt;</button>
																				</span> <input class="form-control width100" type="text"
																					ng-model="currentPage"> <span
																					class="input-group-btn">
																					<button class="btn btn-primary"
																						id="id_nextPageViewAssetTag"
																						ng-click="goNextPage()" ng-disabled="hasNext">&gt;</button>
																					<button class="btn btn-primary"
																						id="id_lastPageViewAssetTag"
																						ng-click="goLastPage()" ng-disabled="isLastPage">&gt;&gt;</button>
																				</span>
																			</div>
																		</form>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div ng-show="tagRenameScreen">
											<form name="renameTagIDform" id="id_renameTagIDform"
												class="renameTagIDform form-horizontal"
												novalidate="novalidate" role="form">
												<!-- <h4 class="subheading">{{tag_title}}</h4> -->
												<!-- <div class="form-group row">
												<label for="currentTag" class="col-sm-2 col-form-label">Current
													Tag ID</label>
												<div class="col-sm-4">
													<input type="text" class="form-control" id="id_currentTag"
														name="currentTag" placeholder="Enter Current Tag ID"
														maxlength="17" ng-model="authen.currentTagId"
														pattern="([A-z0-9]){1,}" required>
												</div>
											</div> -->
												<div class="form-group row">

													<label for="currentTag" class="col-sm-2 col-form-label">Current
														Tag ID</label>
													<div class="col-sm-4">
														<select class="form-control select2" id="id_currentTagId"
															name="assignedPerson" ng-model="authen.currentTagId"
															ng-dropdown ng-options="item for item in tagRenameData">

														</select>
													</div>
												</div>
												<div class="form-group row">
													<label for="newTagId" class="col-sm-2 col-form-label">New
														Tag ID</label>
													<div class="col-sm-4">
														<input type="text" class="form-control" id="id_newTagId"
															name="newTagId" placeholder="Enter New Tag ID"
															maxlength="12" ng-model="authen.newTagId"
															pattern="([A-z0-9]){1,}" required> <em
															style="color: red" ng-show="newTagIdError"
															id="id_newTagIdError">{{newTagId_error_msg}}</em>
													</div>
												</div>
												<div class="form-group">
													<div class="col-lg-11 " style="text-align: center;">
														<button type="submit"
															class="btnValue btn-primary float-center"
															ng-click="renameTagBtn()">Update</button>
													</div>
													</div>
											</form>
										</div>
								</div><!-- /.card-body -->
							</div> <!-- /.card -->
						</div>
					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>
	</div>
	<!-- ./wrapper -->
</body>
	</html>
</div>
