<style>
.tr_odd {
	background-color: white;
	color: #000000;
}

.tr_even {
	background-color: #f2f2f2;
	color: #000000;
}
#id_card_body {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.5rem;
}
</style>
<body class="hold-transition sidebar-mini layout-fixed">
	<!-- Site wrapper -->
	<div class="wrapper" ng-controller="configurationController">

		<div class="content-wrapper">

			<!-- Main content -->
			<section class="content">

				<!-- /.col -->
				<div class="container-fluid">
				<div class="row">
				<div class="card col-md-6" id="id_card_body">
					<div class="row" style="padding-top: 10px">
						<div class="col-md-12">
							<form name="configForm" id="configForm"
								class="form-horizontal org-form" role="form">
								<!-- general form elements -->

								<div class="card">

									<div class="card-header"
										style="background-color: rgb(0, 123, 255); color: white;">
										<h3 class="card-title">Organization Details</h3>

									</div>
									<div class="card-body">
										<div class="form-group row">
											<label for="orgname" class="col-sm-5">Organization
												Name</label>
											<div class="col-sm-6">
												<div class="input-group">
													<input class=" form-control row" type="text" maxlength="50"
														ng-model="config.orgName" name="orgName" id="id_orgName"
														placeholder="Enter organization Name"
														pattern='[a-zA-Z0-9_]+$'  />
												</div>
												<em style="color: red" ng-show="orgNameError"
													id="orgNameError">{{orgName_error_msg}}</em>
											</div>
										</div>

										<!-- <div class="form-group row">

											<label for="timeZone" class="col-sm-5">Time Zone</label> <input
												class="col-sm-6 form-control" type="text"
												ng-model="config.timeZone" name="timeZone"
												placeholder="Enter Time Zone" required />
										</div> -->
										<!-- <div class="form-group row">

											<label for="licenseKey" class="col-sm-5"> License Key</label>
											<input class="col-sm-6 form-control" type="text"
												ng-model="config.licenseKey" name="licenseKey"
												id="licenseKey" placeholder="Enter License Key" required />
										</div> -->
										<div class="form-group row">

											<label for="operationStartTime" class="col-sm-5">Operation
												StartTime</label>
											<div class="col-sm-6">
												<div class="input-group date" id="stimepicker"
													data-target-input="nearest">
													<input  name="operationStartTime"
														id="operationStartTime"
														ng-model="config.operationStartTime" type="text"
														class="form-control row datetimepicker-input"
														data-target="#stimepicker" />
													<div class="input-group-append row"
														data-target="#stimepicker" data-toggle="datetimepicker">
														<div class="input-group-text">
															<i class="far fa-clock"></i>
														</div>

													</div>

												</div>
												<em style="color: red" ng-show="operationStartTimeError"
													id="operationStartTimeError">{{operationStartTime_error_msg}}</em>

											</div>

										</div>
										<div class="form-group row">

											<label for="operationEndTime" class="col-sm-5">Operation
												EndTime</label>
											<div class="col-sm-6">
												<div class="input-group date" id="etimepicker"
													data-target-input="nearest">
													<input  name="operationEndTime"
														id="operationEndTime" ng-model="config.operationEndTime"
														type="text" class="form-control row datetimepicker-input"
														data-target="#etimepicker" />
													<div class="input-group-append row"
														data-target="#etimepicker" data-toggle="datetimepicker">
														<div class="input-group-text">
															<i class="far fa-clock"></i>
														</div>

													</div>

												</div>
												<em style="color: red" ng-show="operationEndTimeError"
													id="operationEndTimeTimeError">{{operationEndTime_error_msg}}</em>
											</div>

										</div>
										<!-- <div class="form-group row">
											<label for="logAge" class="col-sm-5">Log Age</label>
											<div class="col-sm-6">
												<div class="input-group">
													<input class="form-control" type="text"  maxlength="2"
														ng-model="config.logAge" name="logAge" id="id_logAge"
														placeholder="Enter Log Age" required />
												</div>
												<em style="color: red" ng-show="logAgeError"
													id="logAgeError">{{logAge_error_msg}}</em>

											</div>

										</div>

										<div class="form-group row">

											<label for="transactionDataAge" class="col-sm-5">Transaction
												Data Age</label>
											<div class="col-sm-6">
												<div class="input-group">
													<input class="form-control" type="text"  maxlength="2"
														ng-model="config.transactionDataAge"
														id="id_transactionDataAge" id="id_transactionDataAge"
														name="transactionDataAge"
														placeholder="Enter Transaction Data Age" required />
												</div>
												<em style="color: red" ng-show="dataAgeError"
													id="dataAgeError">{{dataAge_error_msg}}</em>
											</div>
										</div> -->
									</div>


								</div>
								
								<div class="card">
								<div class="card-header"
									style="background-color: rgb(0, 123, 255); color: white;">
									<h3 class="card-title">Tag Color</h3>
								</div>
								<div class="card-body">
									<div class="col-md-12">
										<div class=" form-group row">

											<label for="staffTagColor" class="col-sm-2">Staff</label> <input
												class="col-sm-1 form-control" type="color" 
												ng-model="config.staffTagColor" name="staffTagColor"
												id="idStaffTagColor" required />
											<div class="col-sm-1"></div>
											<label for="visitorTagColor" class="col-sm-2">Visitor</label>
											<input class="col-sm-1 form-control" type="color"
												ng-model="config.visitorTagColor" name="visitorTagColor"
												id="idVisitorTagColor" required />
											<div class="col-sm-1"></div>

											<label for="vendorTagColor" class="col-sm-2">Vendor</label> <input
												class="col-sm-1 form-control" type="color"
												ng-model="config.vendorTagColor" name="vendorTagColor"
												id="idVendorTagColor"  required />

										</div>
									</div>
									<div class="col-md-12">

										<div class=" form-group row">

											<label for="contractorTagColor" class="col-sm-2">Contractor</label>
											<input class="col-sm-1 form-control" type="color"
												ng-model="config.contractorTagColor" name="contractorTagColor"
												id="idContractorTagColor" required />
											<div class="col-sm-1"></div>
											<label for="gageTagColor" class="col-sm-2">Gage</label> <input
												class="col-sm-1 form-control" type="color"
												ng-model="config.gageTagColor" name="gageTagColor"
												id="idGageTagColor" required />
											<div class="col-sm-1"></div>
											<label for="toolTagColor" class="col-sm-2">Tool </label> <input
												class="col-sm-1 form-control" type="color"
												ng-model="config.toolTagColor" name="toolTagColor" id="idToolTagColor" required />
												
										</div>
									</div>
									
									<div class="col-md-12">

										<div class=" form-group row">

											<label for="suppliesTagColor" class="col-sm-2">Supplies </label> <input
												class="col-sm-1 form-control" type="color"
												ng-model="config.suppliesTagColor" name="toolTagColor" id="idSuppliesTagColor" required />
											<div class="col-sm-1"></div>
											<label for="fixtureTagColor" class="col-sm-2">Fixture</label>
											<input class="col-sm-1 form-control" type="color"
												ng-model="config.fixtureTagColor" name="fixtureTagColor"
												id="idFixtureTagColor" required />

											<div class="col-sm-1"></div>

											<label for="partTagColor" class="col-sm-2">Part </label> <input
												class="col-sm-1 form-control" type="color" 
												ng-model="config.partTagColor" name="partTagColor" id="idPartTagColor" required />
										</div>



									</div>
									<div class="col-md-12">

										<div class=" form-group row">

											<label for="materialTagColor" class="col-sm-2">Material</label>
											<input class="col-sm-1 form-control" type="color"
												ng-model="config.materialTagColor" name="materialTagColor"
												id="idMaterialTagColor" required />
											<div class="col-sm-1"></div>
											<label for="rmaTagColor" class="col-sm-2">RMA</label> <input
												class="col-sm-1 form-control" type="color"
												ng-model="config.rmaTagColor" name="rmaTagColor" id="idRmaTagColor"  required />
				<div class="col-sm-1"></div>

											<label for="vehicleTagColor" class="col-sm-2">Vehicle</label>
											<input class="col-sm-1 form-control" type="color"
												ng-model="config.vehicleTagColor" name="vehicleTagColor"
												id="idVehicleTagColor" required />
										</div>
									</div>
									
									<div class="col-md-12">

										<div class=" form-group row">

											<label for="inventoryTagColor" class="col-sm-2">Inventory</label> <input
												class="col-sm-1 form-control" type="color"
												ng-model="config.inventoryTagColor" name="inventoryTagColor" id="idInventoryTagColor"  required />
											<div class="col-sm-1"></div>
											<label for="lslmTagColor" class="col-sm-2">LSLM</label>
											<input class="col-sm-1 form-control" type="color"
												ng-model="config.lslmTagColor" name="lslmTagColor"
												id="idLSLMTagColor" required />
											<div class="col-sm-1"></div>
											<label for="wareHouseTagColor" class="col-sm-2">WareHouse</label> <input
												class="col-sm-1 form-control" type="color"
												ng-model="config.wareHouseTagColor" name="wareHouseTagColor" id="idWareHouseTagColor"  required />
										</div>
									</div>
									
								</div>

							</div>
							<div class="col-lg-12 form-group" style="text-align: center;">
								<button class="btnValue btn-primary float-center" type="submit"
									ng-click="updateConfig()">Update</button>
							</div>
							</form>
						</div>
</div>
</div>
						<!-- Horizontal Form -->
						<div class="card col-md-6" id="id_card_body">
						<div class="row" style="padding-top: 10px">
						<div class="col-md-12">
						<!-- 	<div class="col-md-6"> -->
							<!-- general form elements -->
							<div class="card card-info">
								<!-- <div class="card-body"> -->
									<!-- <div class="card"> -->
										<div class="card-header" style="background-color: #007bff">
											<h3 class="card-title">View/Edit</h3>

										<div class="card-tools">
												<form class="form-inline ml-3">
													<div class="input-group input-group-sm">
														<input class="form-control form-control-navbar"
															type="search" ng-change="searchOption()"
															ng-model="searchText" placeholder="Search"
															aria-label="Search"/>
													</div>
												</form>
											</div>
										</div>
										<div   layout="column"
					style="overflow-x: hidden; width: 100%; padding-left: 0.1%; margin-left: 0%; margin-right: 0.5%; padding-right: 0%;">
										<div style="width: 100%;"
											style="margin-left: 10px;">
											<div class="panel panel-default">
												<ul class="list-group">
													<!-- <li class="list-group-item">
 -->
														<div class="table-container table-responsive tableFixHead">
										<table id="shiftTable"
											class="table table-bordered table-hover dtr-inline">
											<thead
												style="background-color: rgb(0, 123, 255); color: white;">
												<tr>
													<th>S.No</th>
													<th>Name</th>
													<th>Type</th>
													<th>Start Time</th>
													<th>End Time</th>
												</tr>
											</thead>
											<tbody>
												<tr
													ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
													ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
													ng-repeat="shift in shiftViewData | filter:searchText"
													data-ng-click="rowHighilited($index)">
													<td>{{$index + serial}}</td>
													<td>{{shift.shiftName}}</td>
													<td>{{shift.shiftType}}</td>
													<td>{{shift.shiftStartTime}}</td>
													<td>{{shift.shiftEndTime}}</td>

												</tr>

												<tr ng-show="shiftNoData">
													<td colspan="7" style="text-align: center; color: red;">No
														data found.</td>
												</tr>
											</tbody>
										</table>
										</div>
							</ul>
							</div>
							</div>
							</div>
										<div ng-show="shiftTab" class="card-footer clearfix">

											<div class="input-bar pull-right">
												<div class="input-bar">

													<div class="row" class="input-bar-item width100"
														style="float: right; margin-right: 0px;">
														<label for="totalPage"
															style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
															Pages {{totalPages}}</label>
														<form>
															<div class="input-group"
																style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																<span class="input-group-btn">
																	<button class="btn btn-primary" id="firstPage"
																		ng-click="goFirstPage()" ng-disabled="isFirstPage">&lt;&lt;</button>
																	<button class="btn btn-primary" id="previousPage"
																		ng-click="goPreviousPage()" ng-disabled="hasPrevious">&lt;</button>
																</span> <input class="form-control width100" type="text"
																	ng-model="currentPage"> <span
																	class="input-group-btn">
																	<button class="btn btn-primary" id="nextPage"
																		ng-click="goNextPage()" ng-disabled="hasNext">&gt;</button>
																	<button class="btn btn-primary" id="lastPage"
																		ng-click="goLastPage()" ng-disabled="isLastPage">&gt;&gt;</button>
																</span>
															</div>
														</form>
													</div>
												</div>

											</div>
										</div>
									<!-- </div> -->
								<!-- </div> -->
							</div>
</div>
							<!-- /.card -->
						<!-- </div> -->

						<!-- Horizontal Form -->
						<!-- <div class="col-md-6"> -->
<div class="col-md-12">
							<div class="card card-info">
								<div class="card-header"
									style="background-color: rgb(0, 123, 255); color: white;">
									<h3 class="card-title">Shift Details</h3>
								</div>
								<!-- /.card-header -->
								<!-- form start -->
								<form name="addshiftForm" id="addshift" class="form-horizontal"
									role="form">
									<div class="card-body" style="padding-left: 10%;">
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Name</label>
											<div class="col-sm-6">
												<input ng-disabled="shiftName" class="form-control"
													type="text" name="name" id="id_shiftName" maxlength="40"
													ng-model="addshift.shiftName" /> <em style="color: red"
													ng-show="nameError" id="nameError">{{name_error_msg}}</em>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Type</label>
											<div class="col-sm-6">
												<select class="form-control" name="type" id="type"
													ng-model="addshift.shiftType"
													ng-options="item for item in configurationShiftType">
													</select>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Start Time</label>
											<div class="col-sm-6">
												<!-- <input class="form-control" type="text" name="stime"
													id="stime" ng-model="addshift.shiftStartTime" /> -->
												<div class="input-group date" id="shiftStarttimepicker"
													data-target-input="nearest">
													<input required name="stime" id="stime"
														ng-model="addshift.shiftStartTime" type="text"
														class="form-control datetimepicker-input"
														data-target="#shiftStarttimepicker" />
													<div class="input-group-append" data-target="#shiftStarttimepicker"
														data-toggle="datetimepicker">
														<div class="input-group-text">
															<i class="far fa-clock"></i>
														</div>
													</div>
													
												</div>
												<em style="color: red" ng-show="stimeError" id="stimeError">{{stime_error_msg}}</em>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">End Time</label>

											<div class="col-sm-6">
												<!-- 	<input class="form-control" type="text" name="etime"
													id="etime" ng-model="addshift.shiftEndTime"> -->
												<div class="input-group date" id="shiftEndtimepicker"
													data-target-input="nearest">
													<input required name="etime" id="etime"
														ng-model="addshift.shiftEndTime" type="text"
														class="form-control datetimepicker-input"
														data-target="#shiftEndtimepicker" />
													<div class="input-group-append" data-target="#shiftEndtimepicker"
														data-toggle="datetimepicker">
														<div class="input-group-text">
															<i class="far fa-clock"></i>
														</div>
													</div>
													
												</div>
												<em style="color: red" ng-show="etimeError" id="etimeError">{{etime_error_msg}}</em>
											</div>
										</div>
									</div>
							</div>
							</div>
							
							<!-- /.card-body -->
					<!-- 		<div class="card-footer"> -->
					<div class="col-lg-12 form-group" style="text-align: center;">
								<button ng-show="bShowAddBtn" type="submit"
									style="position: relative; left: 10px; top: 10px;"
									ng-click="fnAddShift()" class="btnValue btn-primary float-center">Add</button>
								<button ng-show="bShowUpdateBtn" type="submit"
									style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
									ng-click="fnUpdateShift()" class="btnValue btn-primary float-center">Update</button>
								<button ng-show="bShowDeleteBtn" type="submit"
									style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
									ng-click="fnDeleteShift()" class="btnValue btn-primary float-center">Delete</button>
								<button type="reset" ng-click="cancelShift()"
								style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
									class="btnValue btn-secondary float-center">Cancel</button>
							</div>
							<!-- /.card-footer -->
							</form>
						<!-- </div> -->
						 </div> 
</div>
					</div>
			</section>
		</div>
	</div>
</body>

