<!DOCTYPE html>
<head>

<style>
.chartWrapper {
	position: relative;
}

.chartWrapper>canvas {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
}

.chartAreaWrapper {
	overflow-x: scroll;
}
</style>
<body class="hold-transition sidebar-mini">
	<section ng-controller="dashboardController">
		<div class="wrapper">

			<div class="content-wrapper">

				<section class="content">
					<div class="container-fluid">
						<!-- Small boxes (Stat box) -->
						<div class="row" style="margin-top: 10px;">
							<div class="col-lg-2 col-6">
								<!-- small box -->
								<div class="small-box bg-info">
									<div class="inner">
										<h3>{{records.employee}}</h3>

										<p>Employee</p>
									</div>
									<div class="icon">
										<i class="fas fa-user-tie"></i>
									</div>

								</div>
							</div>
							<!-- ./col -->
							<div class="col-lg-2 col-6">
								<!-- small box -->
								<div class="small-box bg-success">
									<div class="inner">
										<h3>
											{{records.visitor}}<sup style="font-size: 20px"></sup>
										</h3>

										<p>Visitor</p>
									</div>
									<div class="icon">
										<i class="fas fa-user"></i>
									</div>

								</div>
							</div>
							<!-- ./col -->
							<div class="col-lg-2 col-6">
								<!-- small box -->
								<div class="small-box bg-warning">
									<div class="inner">
										<h3>{{records.materials}}</h3>

										<p>Work Order</p>
									</div>
									<div class="icon">
										<i class="fas fa-dolly-flatbed"></i>
									</div>

								</div>
							</div>
							<!-- ./col -->
							<div class="col-lg-2 col-6">
								<!-- small box -->
								<div class="small-box bg-danger">
									<div class="inner">
										<h3>{{records.assetChrono}}</h3>

										<p>Asset Class 1</p>
									</div>
									<div class="icon">
										<i class="ion ion-settings"></i>
									</div>

								</div>
							</div>
							<!-- ./col -->
							<!-- ./col -->
							<div class="col-lg-2 col-6">
								<!-- small box -->
								<div class="small-box bg-info">
									<div class="inner">
										<h3>{{records.assetNonChrono}}</h3>

										<p>Asset Class 2</p>
									</div>
									<div class="icon">
										<i class="fas fa-hourglass-half"></i>
									</div>

								</div>
							</div>
							<!-- ./col -->
							<!-- ./col -->
							<div class="col-lg-2 col-6">
								<!-- small box -->
								<div class="small-box bg-success">
									<div class="inner">

										<h3>
											{{records.vehicles}}<sup style="font-size: 20px"></sup>
										</h3>

										<p>Vehicle/Fork Lift</p>
									</div>
									<div class="icon">
										<i class="fas fa-taxi"></i>
									</div>

								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="card card-primary">
									<div class="card-header">
										<h3 class="card-title">
											<i class="fas fa-circle mr-1"></i> Locator Status
										</h3>
										<div class="card-tools">

											<button type="button" class="btn btn-tool"
												ng-click="viewLocatorsDetails()">
												<i class="fas fa-search"></i>
											</button>
											<button type="button" class="btn btn-tool"
												data-card-widget="collapse">
												<i class="fas fa-minus"></i>
											</button>

										</div>
									</div>
									<div class="card-body">

										<div class="position-relative mb-4">
											<canvas id="idLocatorChart" height="200"></canvas>
										</div>

										<div class="d-flex flex-row justify-content-end">

											<span class="mr-2" style="margin-left: 5px">
												#Locators: {{totalLocators}} </span> <span class="mr-2"
												style="margin-left: 5px"> <i class="fas fa-square"
												style="color: #008000"></i> Online
											</span> <span style="margin-left: 5px"> <i
												class="fas fa-square" style="color: #ff0000"></i> Offline
											</span> <span style="margin-left: 5px"> <i
												class="fas fa-square" style="color: #ffff00"></i> Waiting
											</span> <span style="margin-left: 5px"> <i
												class="fas fa-square" style="color: #0000ff"></i> Discovered
											</span> <span style="margin-left: 5px"> <i
												class="fas fa-square" style="color: #800040"></i> FWUpgrade
											</span>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="card card-primary">
									<div class="card-header">
										<h3 class="card-title">
											<i class="fas fa-memory mr-1"></i> Memory Status
										</h3>
										<div class="card-tools">
											<button type="button" class="btn btn-tool"
												data-card-widget="collapse">
												<i class="fas fa-minus"></i>
											</button>

										</div>
									</div>

									<div class="card-body">

										<div class="position-relative mb-4 row">
											<div style="width: 190px">
												<span style="margin-left: 10px">System RAM Memory(%)</span>

												<div id="canvas-holder">
													<canvas id="chart-usedMemory"></canvas>
												</div>
											</div>
											<div style="width: 190px">
												<span style="margin-left: 10px">CPU Usage(%)</span>

												<div id="canvas-holder">
													<canvas id="chart-cpuUsage"></canvas>
												</div>
											</div>

											<div style="width: 190px">
												<span style="margin-left: 10px">QPE RAM Memory(%)</span>

												<div id="canvas-holder">
													<canvas id="chart-qpeMemory"></canvas>
												</div>
											</div>

										</div>

									</div>
								</div>
							</div>


						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="card card-primary">
									<div class="card-header">
										<h3 class="card-title">
											<i class="fas fa-tags mr-1"></i> Tag Status
										</h3>
										<div class="card-tools">
											<button type="button" class="btn btn-tool"
												data-card-widget="collapse">
												<i class="fas fa-minus"></i>
											</button>

										</div>
									</div>
									<div class="card-body">

										<div class="position-relative mb-4">
											<canvas id="idTagsChart" height="200"></canvas>
										</div>

										<div class="d-flex flex-row justify-content-end">

											<span class="mr-2" style="margin-left: 5px"> #Tags:
												{{totalTags}} </span> <span class="mr-2" style="margin-left: 5px">
												<i class="fas fa-square" style="color: #008000"></i> Online
											</span> <span style="margin-left: 5px"> <i
												class="fas fa-square" style="color: #ff0000"></i> Missing
											</span> <span style="margin-left: 5px"> <i
												class="fas fa-square" style="color: #ffff00"></i> Battery Off
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /.container-fluid -->
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
			<footer class="main-footer">
				<strong>Copyright &copy; 2022 Entappia</a>.
				</strong> All rights reserved.
				<div class="float-right d-none d-sm-inline-block">
					<b>Version</b> 1.3.0
				</div>
			</footer>

			<!-- Control Sidebar -->
			<aside class="control-sidebar control-sidebar-dark">
				<!-- Control sidebar content goes here -->
			</aside>
			<!-- /.control-sidebar -->
		</div>

	</section>
</body>
</head>