<style>
.table th, .table td {
	padding: 0.5rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.content-header {
	padding: 3px 0.5rem;
}

#idMultiSearchCard {
	width: 1000Px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	box-shadow: 0 0 2px rgb(0 0 0/ 13%), 0 1px 3px rgb(23, 29, 215);
}
</style>
	 
  	
	<div class="wrapper" ng-controller="employeeManagementController">
		<!-- Navbar --> 
		<nav
			class="main-header navbar navbar-expand navbar-white navbar-light"
			style="position: unset;">
			<!-- Left navbar links -->
			<ul class="nav nav-pills">

				<li ng-if="showViewAllBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idEmployeeView" href="" ng-click="displayEmployeeViewScreen()"
					class="nav-link active"> </i>
						<p>View All</p></a></li>

				<li ng-if="showAddBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idEmployeeAdd" href="" ng-click="displayEmployeeAddScreen()"
					class="nav-link"> </i>
						<p>Add Employee</p></a></li>
				<li ng-if="showMultiAddBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idEmployeeMultipleAdd" href="" ng-click="displayEmployeeMultipleAddScreen()"
					class="nav-link"> </i>
						<p>Add Multiple Employee</p></a></li>

				<li ng-if="showEditBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idEmployeeEdit" href="" ng-click="displayEmployeeEditScreen()"
					class="nav-link"> </i>
						<p>Edit Employee</p></a></li>

			</ul>


			<div class="card" ng-show="showMultipleSearch" id="idMultiSearchCard">
				<form class="form-inline" id="idMultiSearchForm">
					<select id="idFirstDropDownMultiSearch"
						style="width: 20%; height: 35px; font-size: 80%; margin-left: 0.5rem; margin-left: 0.5rem"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="firstMultiSearchDropDown"
						ng-change="multiSearchChanged()" ng-dropdown>
						<option value="All">All</option>
						<option value="empId">Emp ID</option>
						<option value="firstName">First Name</option>
						<option value="lastName">Last Name</option>
						<option value="Department">Department</option>
						<option value="primaryLocation">Primary Location</option>
						<option value="secondaryLocation">Secondary Location</option>
						<option value="phoneNo">Phone No</option>
						<option value="Shift">Shift</option>
						<option value="Status">Status</option>
					</select> <input type="search" class="form-control"
						placeholder="Search Text" name="firstSearchText"
						id="idFirstSearchText" ng-model="firstSearchText" required
						style="margin-left: 0.3rem; height: 35px;"
						ng-change="multiSearchChanged()">
					<!--  <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch>
                <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch data-off-color="danger" data-on-color="success"> -->
					<select
						style="width: 10%; height: 35px; font-size: 80%; margin-left: 0.3rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="varANDORDropDown" ng-change="multiSearchChanged()"
						ng-dropdown>
						<option value="AND">AND</option>
						<option value="OR">OR</option>

					</select> <select id="idSecondDropDownMultiSearch"
						style="width: 20%; height: 35px; font-size: 80%; margin-left: 0.3rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="secondMultiSearchDropDown"
						ng-change="multiSearchChanged()"
						ng-disabled="disableSecondFilterDropDown" ng-dropdown>
						<option value="All">All</option>
						<option value="empId">Emp ID</option>
						<option value="firstName">First Name</option>
						<option value="lastName">Last Name</option>
						<option value="Department">Department</option>
						<option value="primaryLocation">Primary Location</option>
						<option value="secondaryLocation">Secondary Location</option>
						<option value="phoneNo">Phone No</option>
						<option value="Shift">Shift</option>
						<option value="Status">Status</option>
					</select> <input type="search" class="form-control"
						placeholder="search Text" name="secondSearchText"
						id="idSecondSearchText" ng-model="secondSearchText" required
						style="margin-left: 0.3rem; height: 35px;"
						ng-change="multiSearchChanged()"
						ng-disabled="disableSecondFilterText">

					<button type="button" ng-click="closeMultiSearchView()"
						style="margin-top: 10px; width: 25px;" class="close pull-right">&times;</button>
				</form>
			</div>

			<!-- SEARCH FORM -->
			<form class="form-inline ml-auto ">

				<div ng-if="employeeViewScreen && showLocateBtn"
					class="img-bordered-sm img-rounded" style="margin: 10px;">
					<a ng-click="trackTag()"> <i id="trackIcon" data-toggle="tooltip" title="Locate All"
						style="font-size: 20px; color: blue" class="fas fa-binoculars"></i></a>
				</div>


				<div class="input-group input-group-sm" ng-show="searchButton">
					<input class="form-control form-control-navbar" type="search"
						ng-model="searchText" ng-change="fnEmpSearchOption()"
						placeholder="Search" aria-label="Search">
					<div class="input-group-append">
						<button class="btn btn-navbar">
							<!-- <i class="fas fa-search"></i> -->
						</button>
					</div>
				</div>
				<button class="btn-leftslide" ng-click="multipleSearch()"
					ng-if="showSearchIcon">
					<i class="fas fa-search"></i>
				</button>
			</form>


		</nav>


		<!-- /.navbar -->

		<!-- Main Sidebar Container -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header"></section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<!-- Default box -->
							<div class="card">

								<div class="card-body">
									<div ng-if="employeeViewScreen"
										style="width: 100%; height: 76vh; margin-top: 0px;"
										id="emplistView" style="margin-left: 10px;">
										<div class="panel panel-default">
											<ul class="list-group" id="contact-list">
												<!-- <li class="list-group-item"> -->
												<div id="main" class="table-container tableFixHead">
													<table class="table table-bordered">
														<thead>
															<tr>
																<th class="thcss">S.No</th>
																<th class="thcss ">Emp ID</th>
																<th class="thcss ">First Name</th>
																<th class="thcss ">Last Name</th>
																<th class="thcss ">Department</th>
																<th class="thcss ">Primary Location</th>
																<th class="thcss ">Secondary Location</th>
																<!-- <th class="thcss">Tertiary Location</th> -->
																<th class="thcss ">Phone No</th>
																<th class="thcss ">Shift</th>
																<th class="thcss ">Status</th>

															</tr>
														</thead>
														<tbody>
															<tr ng-if="empMainView"
																ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
																ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
																ng-repeat="empView in empViewData | filter:searchText"
																data-ng-click="rowHighilited($index)">
																<td>{{$index + serial}}</td>
																<td>{{empView.empId}}</td>
																<td>{{empView.firstName}}</td>
																<td>{{empView.lastName}}</td>
																<td>{{empView.department.deptName}}</td>
																<td>{{empView.location1}}</td>
																<td>{{empView.location2}}</td>
																<!-- <td>{{empView.location3}}</td> -->
																<td>{{empView.phoneNumber}}</td>
																<td>{{empView.shiftDetails.shiftName}}</td>
																<td>{{empView.status}}</td>

															</tr>
															<tr ng-if="empNoData">
																<td colspan="10" style="text-align: center; color: red;">No
																	data found.</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="clearfix"></div>
												<!-- </li> -->

											</ul>
										</div>
										<div class="row" style="height: 50px">

											<div class="col-6">
												<button style="position: relative; left: 10px; top: 10px;"
													type="submit" class="btnValue btn-primary"
													ng-click="trackSingleTag()"
													ng-if="selectedRow>=0&&trackMacId!=''&& showLocateBtn">Locate</button>

												<button
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													type="submit" class="btnValue btn-secondary"
													ng-click="cancelEdit()"
													ng-if="selectedRow>=0&&trackMacId!=''">Cancel</button>
											</div>
											<div class="col-6">
												<div ng-if="PaginationTab" class="input-bar pull-right">
													<div class="input-bar">

														<div class="row" class="input-bar-item width100"
															style="float: right; margin-right: 0px;">
															<label for="totalPage"
																style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
																Pages {{totalPages}}</label>
															<form>
																<div class="input-group"
																	style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																	<span class="input-group-btn">
																		<button class="btn btn-primary"
																			id="id_firstPageViewEmp" ng-click="goFirstPage()"
																			ng-disabled="isFirstPage">&lt;&lt;</button>
																		<button class="btn btn-primary" id="previousPage"
																			ng-click="goPreviousPage()" ng-disabled="hasPrevious">&lt;</button>
																	</span> <input class="form-control width100" type="text"
																		ng-model="currentPage"> <span
																		class="input-group-btn">
																		<button class="btn btn-primary"
																			id="id_nextPageViewEmp" ng-click="goNextPage()"
																			ng-disabled="hasNext">&gt;</button>
																		<button class="btn btn-primary"
																			id="id_lastPageViewEmp" ng-click="goLastPage()"
																			ng-disabled="isLastPage">&gt;&gt;</button>
																	</span>
																</div>
															</form>
														</div>
													</div>

												</div>
											</div>
										</div>
										<!-- </div> -->

									</div>
									<div ng-if="employeeEditScreen"
										style="width: 100%; height: 76vh; margin-top: 0px;"
										id="emplistView" style="margin-left: 10px;">
										<div class="panel panel-default">
											<ul class="list-group" id="contact-list">
												<!-- <li class="list-group-item"> -->
												<div id="main" class="table-container tableFixHead">
													<table class="table table-bordered">
														<thead>
															<tr>
																<th class="thcss">S.No</th>
																<th class="thcss ">Emp ID</th>
																<th class="thcss ">First Name</th>
																<th class="thcss ">Last Name</th>
																<th class="thcss ">Department</th>
																<th class="thcss ">Primary Location</th>
																<th class="thcss ">Secondary Location</th>
																<!-- <th class="thcss">Tertiary Location</th> -->
																<th class="thcss ">Phone No</th>
																<th class="thcss ">Shift</th>
																<th class="thcss ">Status</th>

															</tr>
														</thead>
														<tbody>
															<tr
																ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
																ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
																ng-repeat="empView in empViewData | filter:searchText"
																data-ng-click="rowHighilited($index)">
																<td>{{$index + serial}}</td>
																<td>{{empView.empId}}</td>
																<td>{{empView.firstName}}</td>
																<td>{{empView.lastName}}</td>
																<td>{{empView.department.deptName}}</td>
																<td>{{empView.location1}}</td>
																<td>{{empView.location2}}</td>
																<!-- <td>{{empView.location3}}</td> -->
																<td>{{empView.phoneNumber}}</td>
																<td>{{empView.shiftDetails.shiftName}}</td>
																<td>{{empView.status}}</td>

															</tr>
															<tr ng-if="empNoData">
																<td colspan="10" style="text-align: center; color: red;">No
																	data found.</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="clearfix"></div>
												<!-- </li> -->

											</ul>
										</div>
										<div layout="row" style="height: 50px">
											<button style="position: relative; left: 10px; top: 10px;"
												type="submit" class="btnValue btn-primary"
												ng-click="editEmployeeValue()" ng-if="selectedRow>=0">Edit</button>

											<button
												style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
												type="submit" class="btnValue btn-secondary"
												ng-click="cancelEdit()" ng-if="selectedRow>=0">Cancel</button>

											<div ng-if="PaginationTab" class="input-bar pull-right">
												<div class="input-bar">

													<div class="row" class="input-bar-item width100"
														style="float: right; margin-right: 0px;">
														<label for="totalPage"
															style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
															Pages {{totalPages}}</label>
														<form>
															<div class="input-group"
																style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																<span class="input-group-btn">
																	<button class="btn btn-primary"
																		id="id_firstPageEditEmp" ng-click="goFirstPage()"
																		ng-disabled="isFirstPage">&lt;&lt;</button>
																	<button class="btn btn-primary"
																		id="id_previousPageEditEmp"
																		ng-click="goPreviousPage()" ng-disabled="hasPrevious">&lt;</button>
																</span> <input class="form-control width100" type="text"
																	ng-model="currentPage"> <span
																	class="input-group-btn">
																	<button class="btn btn-primary" id="nextPage"
																		ng-click="goNextPage()" ng-disabled="hasNext">&gt;</button>
																	<button class="btn btn-primary" id="id_lastPageEditEmp"
																		ng-click="goLastPage()" ng-disabled="isLastPage">&gt;&gt;</button>
																</span>
															</div>
														</form>
													</div>
												</div>

											</div>
										</div>
										<!-- </div> -->

									</div>

									<div ng-if="employeeEditUpdateScreen"
										style="width: 100%; height: 76vh; margin-top: 0px;"
										id="emplistView" style="margin-left: 10px;">
										<form name="editEmpForm" autocomplete="disabled"
											id="editEmpForm" class="form-horizontal emp-form" role="form"
											style="position: relative;">


											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="employeeID">Employee ID</label>
														<!-- <div class="col-sm-5"> -->
														<input type="text" class="form-control"
															placeholder="Enter Employee ID" maxlength="12"
															name="empId" id="id_empIdEditEmployee"
															ng-model="authen.empId" ng-readonly="true"  />
															<em style="color: red"
															ng-if="editEmpIdError" 
															id="id_editEmpIdError">{{editEmpId_error_msg}}</em>
															
														<!-- </div> -->
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">

														<label class="" for="dept">Department</label>
														<!-- <div class="col-sm-5" > -->
														<select style="-webkit-appearance: menulist-button; width: 100%;"
															class="form-control select2" 
															name="department"
															id="id_departmentEditEmployee"
															ng-model="authen.department.deptName" ng-dropdown
															required ng-options="item for item in departmentList">


														</select>
														<!-- </div> -->
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="fname">First Name</label>
														<!-- <div class="col-sm-5"> -->
														<input type="text" class="form-control"
															placeholder="Enter First Name" maxlength="16"
															name="firstName" id="id_firstNameEditEmployee"
															ng-model="authen.firstName" />
															<em style="color: red"
															ng-if="editEmpFnameError" 
															id="id_editEmpFnameError">{{editEmpFname_error_msg}}</em>
														<!--  </div> -->
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="lname">Last Name</label>
														<!-- <div class="col-sm-5"> -->
														<input type="text" class="form-control"
															placeholder="Enter Last Name" maxlength="16"
															name="lastName" id="id_lastNameEditEmployee"
															ng-model="authen.lastName" />
															<em style="color: red"
															ng-if="editEmpLnameError" 
															id="id_editEmpLnameError">{{editEmpLname_error_msg}}</em>
														<!--  </div> -->
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														
														<label class="" for="primaryLoc">Primary Location</label>
														<!-- <div class="col-sm-5"> -->
														<div class="row" style=" margin-left: 2px;">
														<select style="-webkit-appearance: menulist-button; width: 77%; margin-right: 10px;"
														
															class="form-control select2"
															ng-model="authen.location1"
															ng-dropdown required name="primaryLocation"
															id="id_primaryLocationEditEmployee"
															ng-options="item for item in locationList">

														</select>
														<!-- </div> -->
														
														 
														  <a   class="btn btnValue btn-primary float-center" 
													  ng-click="fnSelectZoneEditEmp('primaryLoc')" style="margin-left: 10px; height: 37px;">Select Zone
															</a>
														 
														</div> 
													</div>
												</div>
														
												<div class="col-sm-5">
													<div class="form-group ">

														<label class="" for="secondaryLoc">Secondary
															Location</label>
															<div class="row" style=" margin-left: 2px;">
														<!-- <div class="col-sm-5"> -->
														<select style="-webkit-appearance: menulist-button; width: 77%; margin-right: 10px;"
															class="form-control select2"
															ng-model="authen.location2"
															ng-dropdown required name="secondaryLocation"
															id="id_secondaryLocationEditEmployee"
															ng-options="item for item in locationList">
														</select>
														
														<!-- </div> -->
														
														 <a   class="btn btnValue btn-primary float-center" 
													  ng-click="fnSelectZoneEditEmp('secondaryLoc')" style="margin-left: 10px; height: 37px;">Select Zone
															</a>
														 
														</div> 
														
													</div>
												</div>
												
											</div>

											<div class="row">
											<div class="col-sm-5">
													<div class="form-group ">

														<label class="" for="tertiaryLoc">Tertiary
															Location</label>
															<div class="row" style=" margin-left: 2px;">
															<select style="-webkit-appearance: menulist-button; width: 77%; margin-right: 10px;"
																class="form-control select2"
															 	ng-model="authen.location3"
																ng-dropdown required name="tertiaryLocation"
																id="id_tertiaryLocationEditEmployee"
																ng-options="item for item in locationList">
	
														</select>
																
														<a   class="btn btnValue btn-primary float-center" 
													  ng-click="fnSelectZoneEditEmp('tertiaryLoc')" style="margin-left: 10px; height: 37px;">Select Zone
															</a>
														 
														</div> 
															
													</div>
												</div>
											
												
												<div class="col-sm-5">
													<div class="form-group ">

														<label class="" for="phoneNo">Phone No</label>

														<div class="form-group">
															<div class="input-group ">
																<div class="input-group-addon">
																	<select class="form-control"
																		ng-model="authen.countryCode" name=countryCode
																		id="id_countryCodeEditEmployee" ng-dropdown
																		ng-options="item for item in countryCodes">
																		

																	</select>
																</div>

																<input type="tel" class="form-control"
																	placeholder="Enter Phone Number" maxlength="10"
																	 ng-model="authen.phoneNumber"
																	name=phoneNumber id="id_phoneNumberEditEmployee"
																	>
															</div>
															<em style="color: red" ng-if="phNoError"
																id="id_phNoError">{{phNo_error_msg}}</em>
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">

														<label class="" for="Shift">Shift</label>
														<!-- <div class="col-sm-5"> -->
														<select style="-webkit-appearance: menulist-button; width: 100%;"
															class="form-control select2"
															ng-model="authen.shiftDetails.shiftName" ng-dropdown
															required name="shift" id="id_shiftEditEmployee"
															ng-options="item for item in shiftList">

														</select>
														<!-- </div> -->
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">

														<label class="" for="Status">Status</label>
														<!-- <div class="col-sm-5"> -->
														<select class="form-control" ng-model="authen.status"
															ng-dropdown required name="status"
															id="id_statusEditEmployee"
															ng-options="item for item in employeeStatus">
															

														</select>
														<!-- </div> -->
													</div>
												</div>
											</div>
											<!-- <div>
									<em class="errors">{{invalid}}</em>
								</div> -->

											<!-- <div class="alert alert-success" ng-if="success"
									style="margin-top: 5px;">{{alert_success_msg}}</div>

								<div class="alert alert-danger"
									style="margin-top: 5px; height: 50px;" ng-if="error">{{alert_error_msg}}</div> -->

											<div class="col-lg-12 form-group" style="text-align: center;">

												<button style="position: relative; left: 10px; top: 10px;"
													type="submit" class="btnValue btn-primary float-center"
													ng-click="updateEmployee()">Update</button>
												<button
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													type="button" class="btnValue btn-secondary float-center"
													ng-click="cancelEmployee()">Cancel</button>
												<!-- <button type="file" ng-click="fileSelectclick()"
												ngf-select="SelectFile($file)"
												
												class="btn btn-primary float-center fileInput">Import file</button> -->
											</div>

										</form>
									</div>
									<div ng-if="employeeAddScreen">
										<form name="addEmpForm" autocomplete="disabled"
											id="addEmpForm" class="form-horizontal emp-form" role="form"
											style="position: relative;">
  

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="employeeID">Employee ID</label>
														<!-- <div class="col-sm-5"> -->
														<input type="text" class="form-control"
															placeholder="Enter Employee ID" maxlength="12"
															name="empId" id="id_empIdAddEmployee"
															ng-model="addEmployee.empId"  />
															<em style="color: red"
															ng-if="addEmpIdError" 
															id="id_addEmpIdError">{{addEmpId_error_msg}}</em>
														<!-- </div> -->
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">

														<label class="" for="dept">Department</label>
														<!-- <div class="col-sm-5" > -->
														<select style="-webkit-appearance: menulist-button; width: 100%;"
															class="form-control select2"
														 	name="department"
															id="id_departmentAddEmployee" ng-model="addEmployee.dept"
															ng-dropdown required
															ng-options="item for item in departmentList">


														</select>
														<!-- </div> -->
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="fname">First Name</label>
														<!-- <div class="col-sm-5"> -->
														<input type="text" class="form-control"
															placeholder="Enter First Name" maxlength="16"
															name="firstName" id="id_firstNameAddEmployee"
															ng-model="addEmployee.firstName" />
															<em style="color: red"
															ng-if="addEmpFnameError" 
															id="id_addEmpFnameError">{{addEmpFname_error_msg}}</em>
														<!--  </div> -->
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="lname">Last Name</label>
														<!-- <div class="col-sm-5"> -->
														<input type="text" class="form-control"
															placeholder="Enter Last Name" maxlength="16"
															name="lastName" id="id_lastNameAddEmployee"
															ng-model="addEmployee.lastName" />
															<em style="color: red"
															ng-if="addEmpLnameError" 
															id="id_addEmpLnameError">{{addEmpLname_error_msg}}</em>
														<!--  </div> -->
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">


														<label class="" for="primaryLoc">Primary Location</label>
														<div class="row" style="margin-left: 2px;">
														<select style="-webkit-appearance: menulist-button; width: 77%; margin-right: 10px;"
															class="form-control select2"
															ng-model="addEmployee.primaryLocation" ng-dropdown
															required name="primaryLocation"
															id="id_primaryLocationAddEmployee"
															ng-options="item for item in locationList">


														</select>
														
													 <a   class="btn btnValue btn-primary float-center" 
													  ng-click="fnSelectZoneEmp('primaryLocation')" style="margin-left: 10px; height: 37px;">Select Zone
															</a>
														 
														</div> 
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">

														<label class="" for="secondaryLoc">Secondary Location</label>
														<!-- <div class="col-sm-5"> -->
														<div class="row"style=" margin-left: 2px;">
														<select style="-webkit-appearance: menulist-button; width: 77%; margin-right: 10px;"
															class="form-control select2"
															ng-model="addEmployee.secondaryLocation" ng-dropdown
															required name="secondaryLocation"
															id="id_secondaryLocationAddEmployee"
															ng-options="item for item in locationList">

														</select>
														 <a   class="btn btnValue btn-primary float-center" 
													  ng-click="fnSelectZoneEmp('secondaryLocation')" style="margin-left: 10px; height: 37px;">Select Zone
															</a>
														 
														</div> 
														<!-- </div> -->
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label class="" for="tertiaryLoc">Tertiary Location</label>
														<div class="row" style="margin-left: 2px;">
														<!-- <div class="col-sm-5"> -->
														<select style="-webkit-appearance: menulist-button; width: 77%; margin-right: 10px;"
															class="form-control select2"
															ng-model="addEmployee.tertiaryLocation" ng-dropdown
															required name="tertiaryLocation"
															id="id_tertiaryLocationAddEmployee"
															ng-options="item for item in locationList">

														</select>
														<a   class="btn btnValue btn-primary float-center" 
													  ng-click="fnSelectZoneEmp('tertiaryLocation')" style="margin-left: 10px; height: 37px;">Select Zone
															</a>
														 
														</div> 
														<!-- </div> -->
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">

														<label class="" for="phoneNo">Phone No</label>

														<div class="form-group">
															<div class="input-group ">
																<div class="input-group-addon">
																	<select class="form-control"
																		ng-model="addEmployee.countryCode" name=countryCode
																		id="id_countryCodeAddEmployee" ng-dropdown>
																		<option ng-option value="+1" selected="+1">+1</option>
																		<option ng-option value="+91">+91</option>

																	</select>
																</div>

																<input type="tel" class="form-control"
																	placeholder="Enter Phone Number" maxlength="10"
																	 ng-model="addEmployee.phoneNumber"
																	name=phoneNumber id="id_phoneNumberAddEmployee"/>
															</div>
															<em style="color: red" ng-if="phNoError"
																id="id_phNoError">{{phNo_error_msg}}</em>
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">

														<label class="" for="Shift">Shift</label>
														<!-- <div class="col-sm-5"> -->
														<select style="-webkit-appearance: menulist-button; width: 100%;"
															class="form-control select2"
															 ng-model="addEmployee.shift"
															ng-dropdown required name="shift"
															id="id_shiftAddEmployee"
															ng-options="item for item in shiftList">

														</select>
														<!-- </div> -->
													</div>
												</div>
												<!-- <div class="col-sm-5">
													<div class="form-group ">

														<label class="" for="Status">Status</label>
														<div class="col-sm-5">
														<select class="form-control" ng-model="addEmployee.status"
															ng-dropdown required name="status"
															id="id_statusAddEmployee">
															<option ng-option selected="Default" value="Working">Working</option>
															<option ng-option value="Left">Left</option>
															<option ng-option value="Blocked">Blocked</option>

														</select>
														</div>
													</div>
												</div> -->
											</div>
											<!-- <div>
									<em class="errors">{{invalid}}</em>
								</div> -->

											<!-- <div class="alert alert-success" ng-if="success"
									style="margin-top: 5px;">{{alert_success_msg}}</div>

								<div class="alert alert-danger"
									style="margin-top: 5px; height: 50px;" ng-if="error">{{alert_error_msg}}</div> -->

											<div class="col-lg-12 form-group" style="text-align: center;">

												<button style="position: relative; left: 10px; top: 10px;"
													type="submit" class="btnValue btn-primary float-center"
													ng-click="addEmployeeFn()">Add</button>
												<button type="reset"
													class="btnValue btn-secondary float-center"
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													ng-click="cancelAddEmployee()">Clear</button>

											</div>

										</form>
									</div>
									<div ng-if="employeeMultipleAddFileUploadScreen">
										<div class="container-fluid">
											<div class="" style="padding-top: 10px">
												<div class=""
													style="margin-left: 300px; margin-right: 350px;">
													<!-- general form elements -->

													<div class="card card-info">

														<form id="idImportEmployeeMultipleAddForm"
															name="importEmployeeMultipleAddForm"
															class="form-horizontal" role="form"
															enctype="multipart/form-data" style="position: relative;">
															<div class="card-body" style="padding-left: 10%;">
																<div class="form-group row">
									
																	<label class="col-sm-4 col-form-label"> Select
																		Employee File</label>
																	<div class="col-sm-6">

																		<input type="file" name="upfile" id="upfile"
																			ng-model="upfile" value="Import"
																			onchange="angular.element(this).scope().getJsondata()" /><br />
																		<em for="upfile" class="invalid"></em>

																	</div>
																</div>
															</div>
															<div class="col-lg-12 form-group"
																style="text-align: center;">
																<button class="btnValue btn-primary float-center"
																	type="submit" ng-click="importEmployeeDetailFile()">Import</button>
															</div>

														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div ng-if="multiEmployeeAddScreen">
										<form name="addMultiEmployeeForm" autocomplete="disabled"
											id="addMultiEmployeeForm" class="form-horizontal emp-form"
											role="form" style="position: relative;">

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="Employee ID">Employee ID</label> <select
															style="-webkit-appearance: menulist-button; width: 100%;"
															class="form-control select2"
															ng-model="multiEmployee.employeeID"
															name="multipleEmployeeEmployeeID"
															id="id_multipleEmployeeEmployeeID" ng-dropdown required>
															<option disabled="disabled" value="Select an option">Select
																an option</option>
															<option ng-repeat="keyName in keyNames">{{keyName}}</option>

														</select>

													</div>
													<em style="color: red"
															ng-if="addMulEmpIdError" 
															id="id_addMulEmpIdError">{{addMulEmpId_error_msg}}</em>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">

														<label class="" for="Department">Department</label> <select
															style="-webkit-appearance: menulist-button; width: 100%;"
															class="form-control select2"
															ng-model="multiEmployee.depatment"
															name="multipleEmployeeDepatment"
															id="id_multipleEmployeeDepatment" ng-dropdown required  ">
															<option disabled="disabled" value="Select an option">Select
																an option</option>
															<option ng-repeat="keyName in keyNames">{{keyName}}</option>

														</select>

													</div>
													<em style="color: red"
															ng-if="addMulDeptError" 
															id="id_addMulDeptError">{{addMulDept_error_msg}}</em>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="FirstName">First Name</label>

															<select
																style="-webkit-appearance: menulist-button; width: 100%;"
																class="form-control select2"
																ng-model="multiEmployee.fName"
																name="multipleEmployeeFirstName"
																id="id_multipleEmployeeFirstName" ng-dropdown required  ">
																<option disabled="disabled" value="Select an option">Select
																	an option</option>
																<option ng-repeat="keyName in keyNames">{{keyName}}</option>

															</select>

														
													</div>
													<em style="color: red"
															ng-if="addMulFnameError" 
															id="id_addMulFnameError">{{addMulFname_error_msg}}</em>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="LastName">Last Name</label>
														<!-- <div class="col-sm-5"> -->

														<select
															style="-webkit-appearance: menulist-button; width: 100%;"
															class="form-control select2"
															ng-model="multiEmployee.lName"
															name="multipleEmployeeLastname"
															id="id_multipleEmployeeLastname" ng-dropdown required  ">
															<option disabled="disabled" value="Select an option">Select
																an option</option>
															<option ng-repeat="keyName in keyNames">{{keyName}}</option>

														</select>

													</div>
													<em style="color: red"
															ng-if="addMullNameError" 
															id="id_addMullNameError">{{addMullName_error_msg}}</em>
												</div>
											</div>
												
											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label class="" for="PrimaryLoc">Primary Location</label>
														 <select
															style="-webkit-appearance: menulist-button; width: 100%;"
															class="form-control select2"
															ng-model="multiEmployee.primaryLocation"
															name="multipleEmployeePrimaryLocation"
															id="id_multipleEmployeePrimaryLocation" ng-dropdown required  ">
															<option disabled="disabled" value="Select an option">Select
																an option</option>
															<option ng-repeat="keyName in keyNames">{{keyName}}</option>

														</select>
													</div>
													<em style="color: red"
															ng-if = "addMulPrimaryLocError" 
															id = "id_addMulPrimaryLocError">{{addMulPrimaryLoc_error_msg}}</em>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">

														<label class="" for="SecondaryLoc">Secondary Location</label> 
														<select
															style="-webkit-appearance: menulist-button; width: 100%;"
															class="form-control select2"
															ng-model="multiEmployee.secondaryLocation"
															name="multipleEmployeeSecondaryLocation"
															id="id_multipleEmployeeSecondaryLocation" ng-dropdown required  ">
															<option disabled="disabled" value="Select an option">Select
																an option</option>
															<option ng-repeat="keyName in keyNames">{{keyName}}</option>

														</select>
													</div>
													<em style="color: red" ng-if="addMulSecondaryLocError" 
															id="id_addMulSecondaryLocError">{{addMulSecondaryLoc_error_msg}}</em>
												</div>
											</div>
											<div class="row">

												<div class="col-sm-5">
													<div class="form-group ">
														<label for="tertiaryLoc">Tertiary Location</label>
														<div class="input-group">

															<select 
																style="-webkit-appearance: menulist-button; width: 100%;"
																class="form-control select2"
																ng-model="multiEmployee.tertiaryLoc"
																name="multipleEmployeeTertiaryLocation"
																id="id_multipleEmployeeTertiaryLocation" ng-dropdown required ">
																<option disabled="disabled" value="Select an option">Select
																	an option</option>
																<option ng-repeat="keyName in keyNames">{{keyName}}</option>

															</select>

														</div>
													</div>
													<em style="color: red"
															ng-if="addMulTertiaryLocError" 
															id="id_addMulTertiaryLocError">{{addMulTertiaryLoc_error_msg}}</em>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="phno">Phone Number</label>
														<div class="input-group">

															<select 
																style="-webkit-appearance: menulist-button; width: 100%;"
																class="form-control select2"
																ng-model="multiEmployee.phNo"
																name="multipleEmployeePhNo"
																id="id_multipleEmployeePhNo" ng-dropdown required ">
																<option disabled="disabled" value="Select an option">Select
																	an option</option>
																<option ng-repeat="keyName in keyNames">{{keyName}}</option>

															</select>

														</div>
													</div>
													<em style="color: red"
															ng-if="addMulPhnoError" 
															id="id_addMulPhnoError">{{addMulPhno_error_msg}}</em>
												</div>
											</div>
											<div class="row">

												<div class="col-sm-5">
													<div class="form-group ">
														<label for="shift">Shift</label>
														<div class="input-group">

															<select 
																style="-webkit-appearance: menulist-button; width: 100%;"
																class="form-control select2"
																ng-model="multiEmployee.shift"
																name="multipleEmployeeShift"
																id="id_multipleEmployeeShift" ng-dropdown required ">
																<option disabled="disabled" value="Select an option">Select
																	an option</option>
																<option ng-repeat="keyName in keyNames">{{keyName}}</option>

															</select>

														</div>
													</div>
													<em style="color: red"
															ng-if="addMulShiftError" 
															id="id_addMulShiftError">{{addMulShift_error_msg}}</em>
												</div>
												<!-- <div class="col-sm-5">
													<div class="form-group ">
														<label for="status">Status</label>
														<div class="input-group">

															<select 
																style="-webkit-appearance: menulist-button; width: 100%;"
																class="form-control select2"
																ng-model="multiEmployee.status"
																name="multipleEmployeeStatus"
																id="id_multipleEmployeeStatus" ng-dropdown required ">
																<option disabled="disabled" value="Select an option">Select
																	an option</option>
																<option ng-repeat="keyName in keyNames">{{keyName}}</option>

															</select>

														</div>
													</div>
													<em style="color: red"
															ng-if="addMulStatusError" 
															id="id_addMulStatusError">{{addMulStatus_error_msg}}</em>
												</div> -->
											</div>
											<div class="col-lg-12 form-group" style="text-align: center;">

												<button type="submit"
													class="btnValue btn-primary float-center"
													style="position: relative; left: 10px; top: 10px;"
													ng-click="addMultipleEmployee()">Add</button>
												<button type="button"
													class="btnValue btn-secondary float-center"
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													ng-click="cancelMultipleEmployee()">Clear</button>
											</div>
										</form>
									</div>
									
									
									<div class="modal " id="bulkEmpUpload_modal" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
					
						<div class="modal-content" style=" width: 900px;  margin-left: -30%;">
							<div class="modal-header" style="display: block; background-color: #007bff">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title" style="padding-left: 0px;">Multiple
									Employee Upload Error Detail</h4>
							</div>
							
							<div class="modal-body">
								<div class="row" style=" display: inline-flex;height: 300px;overflow-y: scroll;">
									<div id="bulkTagErrorTable" class="table-container">
										<table class="table table-container tableFixHead" style="">
											<thead>
												<tr>
													<th  style="width: 100px" class="thcss">Record No</th>
													<th  style="width: 300px" class="thcss">Field</th>
													<th style="width: 460px" class="thcss">Error Description</th>

												</tr>
											</thead>
											<tbody>
												<tr style="" ng-repeat="errorArray in errorArray">
													<td style="width: 100px;" >{{errorArray.recordcount}}</td>
													<td style="width: 300px;">{{errorArray.errorField}}</td>
													<td style="width: 460px;">{{errorArray.errorDescription}}</td>

												</tr>

											</tbody>
										</table>
									</div>

								</div>
								<!-- <div class="alert alert-danger" ng-if="modelerror">
									{{alert_error_msg}}<br />
								</div>
								<div class="alert alert-success" ng-if="success">
									{{alert_success_msg}}<br />
								</div> -->
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									ng-click="bulkTagCloseBtnClik()">Close</button>
							</div>
						</div>

					</div>
				</div>
								</div>
								<!-- /.card-body -->

							</div>
							<!-- /.card -->
						</div>
					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>

	</div>
 
 