<style>
.error {
  margin: 0 auto;
  text-align: center;
}

.error-code {
  bottom: 60%;
  color: #2d353c;
  font-size: 96px;
  line-height: 100px;
}

.error-desc {
  font-size: 15px;
  color: #647788;
}

.m-b-10 {
  margin-bottom: 10px!important;
}

.m-b-20 {
  margin-bottom: 20px!important;
}

.m-t-20 {
  margin-top: 100px!important;
}
</style>

<div class="error" >
        <div class="error-code m-b-10 m-t-20">HTTP <i class="fa fa-warning"></i></div>
        <h3 class="font-bold">Your connection to this site is not secure..</h3>

        <div class="error-desc">
        	  If you have credentials, please  <a style="color:blue" class=" login-detail-panel-button btn" href="https://entappiaplatform.com/#/login">login</a> to <a style="color:blue" class=" login-detail-panel-button btn" href="https://entappiaplatform.com/#/login">https://entappiadata.com/</a>.
            <!-- <div>
                <a class=" login-detail-panel-button btn" href="https://www.entappiaplatform.com/">
                        <i class="fa fa-arrow-left"></i>
                        Go back to Homepage                        
                    </a>
            </div> -->
        </div>
    </div>