<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>EI4.0| Forgot Password</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">

<section id="hero" class="d-flex align-items-center"
		ng-controller="forgotPasswordcontroller" style="padding: 60px 0;">

<div class="login-box" style="margin-inline-start: 40%;">
<!-- <div class="login-logo">
    <b>EI4.0</b>
  </div>  -->
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg"><h3><center>


EI4.0 - Request Password</center></h3></p>
      <p class="login-box-msg">Your password will be sent to your mail ID.</p>

     <!--  <form action="recover-password.html" method="post"> -->
     <form id ="ForgotPwdForm" name ="ForgotPwdFormName" novalidate="novalidate">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Email ID" id="ForgotPwduserID" name ="ForgotPwduserID"
			pattern="^[a-z]+[a-z0-9._-]+@[a-z]+\.[a-z.]{2,5}$"	ng-model="ForgotPwduserID" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block" ng-click="sendPassword()">Request password</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <p class="mt-3 mb-1">
        <a href="" ng-click= "loginPage()" class="text-center">Login</a>
      </p>
      <!-- <p class="mt-3 mb-1">
        <a href="" ng-click= "registerPage()" class="text-center">Register a new membership</a>
      </p> -->
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<!-- <script src="plugins/jquery/jquery.min.js"></script>
Bootstrap 4
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
AdminLTE App
<script src="dist/js/adminlte.min.js"></script> -->
</section>
</body>
</html>
