<style>
.content-header {
	padding: 3px 0.5rem;
}

.chartWrapper { /* w w w. j a v  a2 s.co  m*/
	position: relative;
}

.chartWrapper>canvas {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
}

.chartAreaWrapper {
	overflow-x: scroll;
}

#isSliderformgroup {
	margin-bottom: 0rem;
	margin-right: -1.6rem;
}

.tui-chart-series-custom-event-area {
	width: 500px;
}
</style>
<div ng-controller='graphViewDemoController'>
	<!DOCTYPE html>
	<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<!-- Site wrapper -->
	<div class="wrapper">
		<!-- Navbar -->
		<nav
			class="main-header navbar navbar-expand navbar-white navbar-light"
			style="position: unset;">
			<!-- Left navbar links -->
			<ul class="nav nav-pills">
				<li ng-show="showZoneFlowBtn"
					ng-class="{ active: isActive('/graphViewDemo') }" class="nav-item"><a
					id="idZoneFlow" href="" ng-click="displayZoneFlowScreen()"
					class="nav-link active" data-toggle="tab"> </i>
						<p>Zone Flow Analysis - Work Order</p>
				</a></li>
				<li ng-show="showWorkOrderFloorBtn"
					ng-class="{ active: isActive('/ei40Analytics') }" class="nav-item"><a
					id="idWorkOrderFloor" href=""
					ng-click="displayWorkOrderFloorScreen()" class="nav-link active"
					data-toggle="tab"> </i>
						<p>Work Order Flow Analysis</p>
				</a></li>
				<li ng-show="showTimeAnalysisBtn"
					ng-class="{ active: isActive('/ei40Analytics') }" class="nav-item"><a
					id="idTimeAnalysis" href="" ng-click="displayTimeAnalysisScreen()"
					class="nav-link active" data-toggle="tab"> </i>
						<p>Zone Analysis - People</p>
				</a></li>
				<li ng-show="showPlantFloorBtn"
					ng-class="{ active: isActive('/ei40Analytics') }" class="nav-item"><a
					id="idPlantFloor" href="" ng-click="displayPlantFloorScreen()"
					class="nav-link active" data-toggle="tab"> </i>
						<p>Plant Occupancy - People</p>
				</a></li>
				<li ng-show="showPlantArrivalRateBtn"
					ng-class="{ active: isActive('/ei40Analytics') }" class="nav-item"><a
					id="idPlantArrivalRate" href=""
					ng-click="displayPlantArrivalRateScreen()" class="nav-link active"
					data-toggle="tab"> </i>
						<p>People Arrival Rate - Zone</p>
				</a></li>



			</ul>

		</nav>
		<!-- /.navbar -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header"></section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">
					<div class="row">
						<!-- Profile Image -->
						<div class="col-lg-3">
							<div class="card card-primary card-outline">
								<!-- ng-show="isPeopleTimeAnalyticsClicked || isAssetTimeAnalyticsClicked || isWorkOrderFlowClicked || isZoneFlowClicked || isPlantFloorAnalysisClicked || isAgingClicked || isPlantArrivalRateClicked" -->
								<div class="card-body box-profile">

									<div class="form-group row">
										<b ng-show="!isZonearrivalrateClicked"><i
											class="fas fa-chart-bar"></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">

											<select id="zoaDROP"
												style="width: 100%; height: 35px; font-size: 80%"
												name="type" ng-model="viewValue" ng-change="changeMapType()"
												ng-show="!isZonearrivalrateClicked"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control">
												<option ng-if="false" value="Heat Map" selected>Heat
													Map</option>
												<option
													ng-if="isEmployeedwelltimeClicked || isZoneoccupancyClicked || isproductanalysisClicked"
													value="Column Chart">Column Chart</option>
												<option ng-if="isZonetrafficClicked" value="Total Traffic">Total
													Traffic</option>
												<option ng-if="isZonetrafficClicked" value="Peak Traffic">Peak
													Traffic</option>
												<option ng-if="isZonetrafficClicked" value="Average Traffic">Average
													Traffic</option>
												<option ng-if="false" value="Classification Chart">Classification
													Chart</option>
												<option ng-if="isZonearrivalrateClicked || isMaterialTraceClicked" value="Line Chart">Line
													Chart</option>
												<option ng-if="isZoneorgattendanceClicked"
													value="Organization Attendance">Plant Occupancy</option>
												<option
													ng-if="!isEmployeedwelltimeClicked && !isZonearrivalrateClicked && !isMaterialTraceClicked && !isproductanalysisClicked"
													value="Map">Map</option>
												<option ng-if="isMaterialTraceClicked" value="Table View">Table
													View</option>
												<option ng-if=" isproductanalysisClicked"
													value="Constraint Analytics">Constraint Analytics</option>
												<option ng-if="isproductanalysisClicked"
													value="Current Inventory">Current Inventory $</option>
												<option ng-if=" isproductanalysisClicked"
													value="Aging Chart">Aging Chart</option>
											</select>
										</div>
									</div>

									<div class="form-group row"
										ng-show="isEmployeedwelltimeClicked && viewValue !='Column Chart' &&  viewValue !='Table View'">
										<b><i class="fas fa-user "></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">
											<select style="width: 100%; height: 35px; font-size: 80%"
												name="colortypeSelect"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
												id="colortypeSelect" ng-model="type"
												ng-change="filterTypeChange()" ng-dropdown>
												<option ng-option ng-repeat="type in typesArray"
													value="{{type.type}}">{{type.type}}</option>

											</select>
										</div>
									</div>
									<div class="form-group row" id="colorSubtypeSelectDiv"
										ng-show="isEmployeedwelltimeClicked">
										<b><i class="fas fa-user "></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">
											<select style="width: 100%; height: 35px; font-size: 80%"
												name="colortypeSelect"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
												id="colorSubtypeSelect" ng-model="subtype"
												ng-change="filterSubTypeChange()" ng-dropdown>
												<option ng-option ng-repeat="subtype in subTypesArray"
													value="{{subtype.type}}">{{subtype.type}}</option>
											</select>
										</div>
									</div>

									<div class="form-group row" id="tagsSelectDiv"
										ng-show="isEmployeedwelltimeClicked && viewValue !='Column Chart' &&  viewValue !=' View'">
										<b><i class="fas fa-user "></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">
											<select style="width: 100%; height: 35px; font-size: 80%"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
												ng-model="emp" ng-change="SelectBoxChanged()" ng-dropdown>
												<option ng-repeat="emp in empList" value="{{emp.uId}}">{{emp.uId}}</option>
											</select>
										</div>
									</div>

									<!--arrival rate zone Dropdown-->
									<div class="form-group row" ng-show="isZonearrivalrateClicked">
										<b><i class="fas fa-list"></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">
											<select style="width: 100%; height: 35px; font-size: 80%"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
												ng-model="zone" ng-change="SelectBoxChanged()" ng-dropdown>
												<option ng-repeat="zone in zoneList" value="{{zone.name}}">{{zone.name}}</option>
											</select>
										</div>
									</div>
									<!--product analysis zone Dropdown-->
									<div class="form-group row"
										ng-show="isproductanalysisClicked  && viewValue=='Column Chart'">
										<b><i class="fas fa-list"></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">
											<select style="width: 100%; height: 35px; font-size: 80%"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
												ng-model="selectedZone" ng-change="SelectBoxChanged()"
												ng-dropdown>
												<option ng-repeat="zone in analysisZoneList"
													value="{{zone.name}}">{{zone.name}}</option>
											</select>
										</div>
									</div>


									<!-- asset chrono Dropdown -->
									<div class="form-group row"
										ng-show="isAssetTimeAnalyticsClicked&&assetProfileType=='Chrono'">
										<b><i class="fas fa-list"></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">
											<select style="width: 100%; height: 35px; font-size: 80%"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
												ng-model="chrono" ng-change="SelectBoxChanged()" ng-dropdown>

												<option ng-repeat="chrono in chronoList"
													value="{{chrono.assetId}}">{{chrono.assetId}}</option>
											</select>
										</div>
									</div>
									<!--asset non-chrono Dropdown -->
									<div class="form-group row"
										ng-show="isAssetTimeAnalyticsClicked&&assetProfileType=='NonChrono'">
										<b><i class="fas fa-list"></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">
											<select style="width: 100%; height: 35px; font-size: 80%"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
												ng-model="nonChrono" ng-change="SelectBoxChanged()"
												ng-dropdown>

												<option ng-repeat="nonChrono in nonChronoList"
													value="{{nonChrono.assetId}}">{{nonChrono.assetId}}</option>
											</select>
										</div>
									</div>
									<!--workstation Dropdown-->
									<div class="form-group row"
										ng-show="isAgingClicked || isWorkOrderFlowClicked">
										<b><i class="fas fa-list"></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">
											<select style="width: 100%; height: 35px; font-size: 80%"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
												ng-model="workStation" ng-change="SelectBoxChanged()"
												ng-dropdown>
												<option value="All">All</option>
												<option ng-repeat="workStation in workStationList"
													value="{{workStation.stationId}}">{{workStation.stationType}}</option>
											</select>
										</div>
									</div>


									<div class="form-group row" ng-show="typeofday">
										<b><i class="fas fa-calendar"></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">
											<select style="width: 100%; height: 35px; font-size: 80%"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
												name="typeofdays" id="typeofdays" ng-model="typeofdays"
												ng-change="checkCustomDate()" ng-dropdown>
												<option value="1" selected="">Today</option>
												<option value="2">Last 2 days</option>
												<option value="7">Last 7 days</option>
												<option value="14">Last 14 days</option>
												<!-- 	<option value="0">Custom date</option> -->
											</select>
										</div>
									</div>


									<div class="form-group row"
										ng-show="isZoneorgattendanceClicked">
										<b> <i class="far fa-calendar-alt"></i>&nbsp;&nbsp;
										</b>
										<div class="col-sm-10">
											<div class="input-group date" id="idPFAStartDatePicker"
												data-target-input="nearest">
												<input required name="stime" id="idPFAEditStartDatePicker"
													ng-model="varPFAStartTime" type="text"
													class="form-control datetimepicker-input"
													data-target="#idPFAStartDatePicker" />
												<div class="input-group-append"
													data-target="#idPFAStartDatePicker"
													data-toggle="datetimepicker">
													<div class="input-group-text">
														<i class="far fa-calendar"></i>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="form-group row"
										ng-show="isproductanalysisClicked  && viewValue=='Column Chart'">
										<b><i class="fas fa-list"></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">
											<select style="width: 100%; height: 35px; font-size: 80%"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
												ng-model="sortBy" ng-change="SelectBoxChanged()" ng-dropdown>
												<option value="0">Incoming</option>
												<option value="1">Outgoing</option>
												<option value="2" selected="">Waiting</option>
											</select>
										</div>
									</div>

									<div class="form-group row"
										ng-show="isproductanalysisClicked  && viewValue=='Aging Chart'">
										<b><i class="fas fa-list"></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">
											<select style="width: 100%; height: 35px; font-size: 80%"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
												ng-model="varComboTypeofdaysAging" ng-dropdown>
												<option value="1">Today</option>
												<option value="2">Two days</option>
												<option value="30" selected="">&#62; 2days</option>
											</select>
										</div>
									</div>


									<div
										ng-hide="isproductanalysisClicked  && viewValue=='Current Inventory' || isproductanalysisClicked  && viewValue=='Constraint Analytics'"
										id="genButn" class="form-group row">
										<button type="button" class="btn btn-primary btn-block"
											ng-click="getZoneDetails()">Generate Report</button>
									</div>
									<div
										ng-show="isproductanalysisClicked  && viewValue=='Current Inventory'"
										style="margin-top: 10px;">
										<label for="inventry" style="width: 100%;">{{totalInventry}}</label>
									</div>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->

						</div>
						<!-- /.col-md-6 -->
						<div class="col-lg-9">
							<div class="card card-primary">

								<div class="card-header ">
									<div class="d-flex justify-content-between">
										<p class="text-center">
											<strong>{{exportDetailTitle}}</strong>
										</p>
										<a href="javascript:void(0);">
											<button ng-show="expandButton" type="button"
												class="btn btn-tool pull-right" data-card-widget="maximize">
												<i class="fas fa-expand"></i>
											</button> <!-- <button id="btnExport" ng-show='exportXLS'
												class="btn-link pull-right" ng-click="exportExcelData()">
												<span class="glyphicon glyphicon-share"></span> XLS
											</button> --> <!-- <button id="btnExportPNG" ng-show='exportPDF'
												class="btn-link pull-right" ng-click="exportPDFData()">
												<span class="glyphicon glyphicon-share"></span> PDF
											</button> -->
											<button id="btnExport" ng-show='exportXLS'
												class="btn-leftslide" ng-click="exportExcelData()">
												<i class="fas fa-file-excel"></i></i>
											</button>
											<button id="btnExportPNG" ng-show='exportPDF'
												class="btn-leftslide" ng-click="exportPDFData()">
												<i class="fas fa-file-pdf"></i></i>
											</button>
										</a>
									</div>
								</div>
								<div class="card-body">
									<label ng-if="norecords" id="recordsCount"
										style="width: 100%; height: 100%; font-size: 150%; text-align: center; line-height: 300px;"
										for="recordsCount" class="ng-binding">{{no_data_text}}</label>
									<label ng-if="pleaseSelect" id="pleaseSelect"
										style="width: 100%; height: 100%; font-size: 150%; text-align: center; line-height: 300px;"
										for="pleaseSelectCount" class="ng-binding">{{please_select_text}}</label>

									<div id="isSliderformgroup" class="form-group row"
										ng-show="isZoneorgattendanceClicked  && viewValue=='Map'&&!norecords">
										<label style="text-align: center; margin-left: 100px;"
											for="time">Time : {{timeval}}</label>
										<div id="slider-range-min"
											style="width: 50%; margin-bottom: 7px; margin-left: 50px; margin-top: 10px;"></div>
									</div>

									<div ng-show="isZoneorgattendanceClicked  && viewValue=='Map'"
										id="map"
										style="height: 100%; min-height: 100%; border: 1px solid #ccc; z-index: 1">
									</div>


									<div ng-show="chartViewShow" id="chartviewParent"
										class="chartWrapper">
										<div id="chartview" class="chartAreaWrapper">
											<div class="chartAreaWrapper2">
												<canvas id="chart-Test"
													style="display: block; height: 550px; width: 1200px;"></canvas>
											</div>
										</div>
										<canvas id="axis-Test" height="300" width="0"></canvas>
									</div>
									<div id="chartviewAgingchart"
										ng-show="isproductanalysisClicked  && viewValue=='Aging Chart' || isproductanalysisClicked  && viewValue=='Current Inventory' || isproductanalysisClicked  && viewValue=='Column Chart'"
										class="position-relative mb-4">
										<canvas id="idChartAgingCanvas"
											style="display: block; height: 550px; width: 1200px;"></canvas>
									</div>
									
									<div id="chartviewMaterialLineChart"
										ng-show="isMaterialTraceClicked  && viewValue=='Line Chart'" style="margin-left: -20px;">
											<div id="chart-area"
											style="display: block; height: 400px; width: 900px;"></div>
									</div>
									
									<div ng-show="isMaterialTraceClicked&&isDateSelected"
										style="width: 100%;" style="margin-left: 10px;">
										<div class="panel panel-default">
											<ul class="list-group" id="contact-list">
												<!-- <li class="list-group-item"> -->
												<div id="main" class="table-container">
													<table class="table table-bordered">
														<thead>
															<tr>
																<th class="thcss">Work Order</th>
																<th class="thcss">Production Lead Time(DD:HH:MM)</th>
																<th class="thcss">Time In</th>
																<th class="thcss">Time Out</th>
															</tr>
														</thead>
														<tbody>
															<tr
																ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
																ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
																ng-repeat="material in materialListVal | filter:searchTag">
																<td
																	style="text-align: -webkit-center; padding-top: 15px;">{{material.name}}</td>
																<td
																	style="text-align: -webkit-center; padding-top: 15px;">{{material.ptime}}</td>
																<td
																	style="text-align: -webkit-center; padding-top: 15px;">{{material.timein}}</td>
																<td
																	style="text-align: -webkit-center; padding-top: 15px;">{{material.timeout}}</td>

															</tr>
															<tr ng-show="materialNoData">
																<td colspan="7">No Records Found</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="clearfix"></div>
											</ul>
											<div layout="row" style="height: 50px">
												<div ng-show="PaginationTab" class="input-bar pull-right">
													<div class="input-bar">
														<div class="row" class="input-bar-item width100"
															style="float: right; margin-right: 0px;">
															<label for="totalPage"
																style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
																Pages {{totalPages}}</label>
															<form>
																<div class="input-group"
																	style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																	<span class="input-group-btn">
																		<button class="btn btn-primary" id="id_firstPageEdit"
																			ng-click="goFirstPage()" ng-disabled="isFirstPage">&lt;&lt;</button>
																		<button class="btn btn-primary"
																			id="id_previousPageEdit" ng-click="goPreviousPage()"
																			ng-disabled="hasPrevious">&lt;</button>
																	</span> <input class="form-control width100" type="text"
																		ng-model="currentPage"> <span
																		class="input-group-btn">
																		<button class="btn btn-primary" id="id_nextPageEdit"
																			ng-click="goNextPage()" ng-disabled="hasNext">&gt;</button>
																		<button class="btn btn-primary" id="id_lastPageEdit"
																			ng-click="goLastPage()" ng-disabled="isLastPage">&gt;&gt;</button>
																	</span>
																</div>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /.card -->


							<!--  </div> -->
							<!-- /.col-md-6 -->
						</div>
						<!-- /.row -->
					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>
	</div>
	<!-- ./wrapper -->

</body>
	</html>
</div>
