
<style>
.chartWrapper { /* w w w. j a v  a2 s.co  m*/
	position: relative;
}

.chartWrapper>canvas {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
}

.chartAreaWrapper {
	overflow-x: scroll;
}

.table th, .table td {
	padding: 0.5rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.content-header {
	padding: 3px 0.5rem;
}

.card-header {
	height: 45px;
}

input[type="text"], .form-control {
	font-size: 14px;
}

.form-group {
	margin-bottom: 1rem;
	margin-right: -1.6rem;
}

.circle-with-txt {
	position: relative;
	color: white;
	font-size: 12px;
	font-weight: bold;
	width: 40px;
	height: 40px;
}

.txt {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 16px;
}

.circle-with-txt {
	position: relative;
	color: black;
	font-size: 12px;
	font-weight: bold;
	width: 40px;
	height: 40px;
}

.txt {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 16px;
}

#isSliderformgroup {
	margin-bottom: 0rem;
	margin-right: -1.6rem;
}
.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.chart-legend{
  height:450px;
  overflow:auto;
}

.chart-legend li{
  cursor:pointer;
}

.strike{
     text-decoration: line-through !important;
}

.float-left{
  float:left;
}

</style>
<div ng-controller="graphViewController">
	<!DOCTYPE html>
	<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to to the body tag
to get the desired effect
|---------------------------------------------------------|
|LAYOUT OPTIONS | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition sidebar-mini">
	<div class="wrapper">


		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header"></div>
			<!-- /.content-header -->

			<!-- Main content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<!-- Profile Image -->
						<div class="col-lg-2">
							<div class="card card-primary card-outline">
								<!-- ng-show="isPeopleTimeAnalyticsClicked || isAssetTimeAnalyticsClicked || isWorkStationFlowClicked || isPlantFloorAnalysisClicked || isAgingClicked || isPlantArrivalRateClicked" -->
								<div class="card-body box-profile">

									<div class="form-group row"
										ng-show="isPeopleTimeAnalyticsClicked || isAssetTimeAnalyticsClicked || isPlantFloorAnalysisClicked || isPlantArrivalRateClicked || isWorkOrderFlowClicked">
										<b><i class="fas fa-chart-bar"></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">

											<select style="width: 100%; height: 35px; font-size: 80%"
												name="type" ng-model="viewValue" ng-change="viewOption()"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control">
												<option
													ng-if="isPeopleTimeAnalyticsClicked || isAssetTimeAnalyticsClicked"
													value="Column Chart">Column Chart</option>
												<option ng-if="isPlantFloorAnalysisClicked"
													value="Plant Occupancy">Plant Occupancy</option>
												<option ng-if="isPlantFloorAnalysisClicked"
													value="Floor Occupancy">Floor Occupancy</option>
												<option
													ng-if="isPlantArrivalRateClicked || isWorkOrderFlowClicked"
													value="Line Chart">Line Chart</option>
												<option
													ng-if="isPeopleTimeAnalyticsClicked || isAssetTimeAnalyticsClicked"
													value="Map">Map</option>
												<option ng-if="isWorkOrderFlowClicked" value="Table">Table</option>
											</select>

										</div>
									</div>

									<div class="form-group row"
										ng-show="isAssetTimeAnalyticsClicked">
										<b><i class="fas fa-user "></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">
											<select style="width: 100%; height: 35px; font-size: 80%"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
												ng-model="assetProfileType" ng-change="chronoTypeChanged()"
												ng-dropdown>
												<option value="Chrono" selected="">Chrono</option>
												<option value="NonChrono">Non Chrono</option>

											</select>
										</div>
									</div>
									<div class="form-group row"
										ng-show="isPeopleTimeAnalyticsClicked">
										<b><i class="fas fa-user "></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">
											<select style="width: 100%; height: 35px; font-size: 80%"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
												ng-model="subtype" ng-change="userTypeChanged()" ng-dropdown>
												<option ng-if="isPeopleTimeAnalyticsClicked"
													value="Employee" selected="">Employee</option>
												<option ng-if="isPeopleTimeAnalyticsClicked" value="Visitor">Visitor</option>
												<option ng-if="isPeopleTimeAnalyticsClicked" value="Vendor">Vendor</option>
												<option ng-if="isPeopleTimeAnalyticsClicked"
													value="Contractor">Contractor</option>
												<!-- <option ng-if="isAssetTimeAnalyticsClicked" value="gages">Gages</option>
												<option ng-if="isAssetTimeAnalyticsClicked" value="Tools">Tools</option>
												<option ng-if="isAssetTimeAnalyticsClicked" value="Fixures">Fixures</option> -->
											</select>
										</div>
									</div>

									<!--Employee dropdown -->
									<div class="form-group row"
										ng-show="isPeopleTimeAnalyticsClicked&&subtype=='Employee'">
										<b><i class="fas fa-list"></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">
											<select style="width: 100%; height: 35px; font-size: 80%"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
												ng-model="emp" ng-change="employeeSelectChanged()"
												ng-dropdown>
												<option
													ng-if="isPeopleTimeAnalyticsClicked&&viewValue!='Map'"
													value="All" selected="All">All</option>
												<option ng-repeat="emp in staffDetails"
													value="{{emp.empId}}">{{emp.empId}}</option>
											</select>
										</div>
									</div>
									<!--Visitor dropdown -->
									<div class="form-group row"
										ng-show="isPeopleTimeAnalyticsClicked&&subtype=='Visitor'">
										<b><i class="fas fa-list"></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">
											<select style="width: 100%; height: 35px; font-size: 80%"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
												ng-model="visitor" ng-change="SelectBoxChanged()"
												ng-dropdown>

												<option ng-repeat="visitor in visitorList"
													value="{{visitor.visitorId}}" selected="">{{visitor.firstName+
													" " +visitor.lastName}}</option>

											</select>
										</div>
									</div>
									<!--Vendor Dropdown -->
									<div class="form-group row"
										ng-show="isPeopleTimeAnalyticsClicked&&subtype=='Vendor'">
										<b><i class="fas fa-list"></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">
											<select style="width: 100%; height: 35px; font-size: 80%"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
												ng-model="vendor" ng-change="SelectBoxChanged()" ng-dropdown>

												<option ng-repeat="vendor in vendorList"
													value="{{vendor.visitorId}}">{{vendor.firstName+ "
													" +vendor.lastName}}</option>
											</select>
										</div>
									</div>
									<!--Contractor Dropdown -->
									<div class="form-group row"
										ng-show="isPeopleTimeAnalyticsClicked&&subtype=='Contractor'">
										<b><i class="fas fa-list"></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">
											<select style="width: 100%; height: 35px; font-size: 80%"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
												ng-model="contractor" ng-change="SelectBoxChanged()"
												ng-dropdown>

												<option ng-repeat="contractor in contractorList"
													value="{{contractor.visitorId}}">{{contractor.firstName+
													" " +contractor.lastName}}</option>
											</select>
										</div>
									</div>

									<!-- asset chrono Dropdown -->
									<div class="form-group row"
										ng-show="isAssetTimeAnalyticsClicked&&assetProfileType=='Chrono'">
										<b><i class="fas fa-list"></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">
											<select style="width: 100%; height: 35px; font-size: 80%"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
												ng-model="chrono" ng-change="SelectBoxChanged()" ng-dropdown>

												<option ng-repeat="chrono in chronoList"
													value="{{chrono.assetId}}">{{chrono.assetId}}</option>
											</select>
										</div>
									</div>
									<!--asset non-chrono Dropdown -->
									<div class="form-group row"
										ng-show="isAssetTimeAnalyticsClicked&&assetProfileType=='NonChrono'">
										<b><i class="fas fa-list"></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">
											<select style="width: 100%; height: 35px; font-size: 80%"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
												ng-model="nonChrono" ng-change="SelectBoxChanged()"
												ng-dropdown>

												<option ng-repeat="nonChrono in nonChronoList"
													value="{{nonChrono.assetId}}">{{nonChrono.assetId}}</option>
											</select>
										</div>
									</div>
									<!--workstation Dropdown-->
									<div class="form-group row"
										ng-show="isAgingClicked || isWorkStationFlowClicked">
										<b><i class="fas fa-list"></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">
											<select style="width: 100%; height: 35px; font-size: 80%"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
												ng-model="workStation" ng-change="SelectBoxChanged()"
												ng-dropdown>
												<option value="All">All</option>
												<option ng-repeat="workStation in workStationList"
													value="{{workStation.stationId}}">{{workStation.stationType}}</option>
											</select>
										</div>
									</div>
									<!--zone Dropdown-->
									<div class="form-group row" ng-show="isPlantArrivalRateClicked">
										<b><i class="fas fa-list"></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">
											<select style="width: 100%; height: 35px; font-size: 80%"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
												ng-model="zone" ng-change="SelectBoxChanged()" ng-dropdown>
												<option ng-repeat="zone in zoneList" value="{{zone.id}}">{{zone.name}}</option>
											</select>
										</div>
									</div>



									<!-- Date and time range -->
									<div class="form-group"
										ng-show="isPeopleTimeAnalyticsClicked || isAssetTimeAnalyticsClicked || isWorkStationFlowClicked || isPlantArrivalRateClicked || isConstraintClicked || isCurrentInventoryClicked
										 || isWorkOrderFlowClicked">

										<div class="col-sm-10">
											<div class="input-group">
												<button type="button" class="btn btn-default float-right"
													id="daterange-btn"
													style="margin-left: -0.5rem; margin-right: -1.6rem; font-size: 14px;">
													<i class="far fa-calendar-alt"></i> {{dateRange}} <i
														class="fas fa-caret-down"></i>
												</button>
											</div>
										</div>
									</div>

									<div class="form-group row"
										ng-show="isPlantFloorAnalysisClicked">
										<b> <i class="far fa-calendar-alt"></i>&nbsp;&nbsp;
										</b>
										<div class="col-sm-10">

											<div class="input-group date" id="idPFAStartDatePicker"
												data-target-input="nearest">
												<input required name="stime" id="idPFAEditStartDatePicker"
													ng-model="varPFAStartTime" type="text"
													class="form-control datetimepicker-input"
													data-target="#idPFAStartDatePicker" />
												<div class="input-group-append"
													data-target="#idPFAStartDatePicker"
													data-toggle="datetimepicker">
													<div class="input-group-text">
														<i class="far fa-calendar"></i>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="form-group row" ng-show="isWorkStationFlowClicked">
										<b><i class="fas fa-list"></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">
											<select style="width: 100%; height: 35px; font-size: 80%"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
												ng-model="varSortType" ng-change="SelectBoxChanged()"
												ng-dropdown>
												<option value="0">Incoming</option>
												<option value="1">Outgoing</option>
												<option value="2" selected="">Waiting</option>
											</select>
										</div>
									</div>

									<div class="form-group row" ng-show="isAgingClicked">
										<b><i class="fas fa-list"></i>&nbsp;&nbsp;</b>
										<div class="col-sm-10">
											<select style="width: 100%; height: 35px; font-size: 80%"
												class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
												ng-model="varComboTypeofdaysAging" ng-dropdown>
												<option value="1">Today</option>
												<option value="2">Two days</option>
												<option value="30" selected="">&#62; 2days</option>
											</select>
										</div>
									</div>


									<!--   <a href="#" class="btn btn-primary btn-block"><b>Generate Report</b></a> -->
									<button type="button" ng-click="getAPIDetails()"
										style="width: 100%; height: 35px; font-size: 90%"
										class="btn btn-primary btn-block">Generate Report</button>
									<div class="form-group row"
										ng-show="isCurrentInventoryClicked&&!norecords"
										style="margin-top: 10px;">
										<label for="inventry"
											style="margin-top: 20px; margin-left: 10px;">{{totalInventry}}</label>
									</div>

								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->

						</div>
						<!-- /.col-md-6 -->
						<div class="col-lg-10">
							<div class="card card-primary">

								<div class="card-header ">
									<div class="d-flex justify-content-between">
										<p class="text-center">
											<strong>{{chartHeaderTitle}}</strong>
										</p>
										<a href="javascript:void(0);">
											<form class="form-inline ml-auto" style="margin-top: -9px;">
												<div class="input-group input-group-sm"
													ng-show="searchButton">
													<input class="form-control form-control-navbar"
														type="search" placeholder="Search"
														ng-change="searchOption()" aria-label="Search"
														ng-model="searchText">
													<div class="input-group-append">
														<button class="btn btn-navbar"></button>
													</div>
												</div>
												<button ng-show="expandButton" type="button"
													class="btn btn-tool pull-right" data-card-widget="maximize">
													<i class="fas fa-expand"></i>
												</button>
												<!-- <button id="btnExport" ng-show='exportXLS'
												class="btn-link pull-right" ng-click="exportExcelData()">
												<span class="glyphicon glyphicon-share"></span> XLS
											</button> -->
												<!-- <button id="btnExportPNG" ng-show='exportPDF'
												class="btn-link pull-right" ng-click="exportPDFData()">
												<span class="glyphicon glyphicon-share"></span> PDF
											</button> -->
												<button id="btnExport" ng-show='exportXLS'
													class="btn-leftslide" ng-click="exportExcelData()">
													<i class="fas fa-file-excel"></i></i>
												</button>
												<button id="btnExportPNG" ng-show='exportPDF'
													class="btn-leftslide" ng-click="exportPDFData()">
													<i class="fas fa-file-pdf"></i></i>
												</button>
											</form>
										</a>
									</div>

								</div>
								<div class="card-body">
									<label ng-if="norecords" id="recordsCount"
										style="width: 100%; height: 100%; font-size: 150%; text-align: center; line-height: 300px;"
										for="recordsCount" class="ng-binding">{{no_data_text}}</label>

									<label ng-if="pleaseSelect" id="pleaseSelect"
										style="width: 100%; height: 100%; font-size: 150%; text-align: center; line-height: 300px;"
										for="pleaseSelectCount" class="ng-binding">{{please_select_text}}</label>

									<div id="isSliderformgroup" class="form-group row"
										ng-show="isPlantFloorAnalysisClicked&&viewValue=='Floor Occupancy'&&!norecords">
										<label style="text-align: center; margin-left: 100px;"
											for="time">Time : {{timeval}}</label>
										<div id="slider-range-min"
											style="width: 50%; margin-bottom: 7px; margin-left: 50px; margin-top: 10px;"></div>
									</div>

									<div ng-show="mapView" id="map"
										style="height: 100%; min-height: 100%; border: 1px solid #ccc; z-index: 1">
									</div>

									<div ng-show="chartViewShow" class="chartWrapper">
										<div id="chartview" class="chartAreaWrapper">
											<div class="chartAreaWrapper2">
												<canvas id="idChartDisplayWithWrapper"
													style="display: block; height: 550px; width: 1200px;"></canvas>
											</div>
										</div>
										<canvas id="axis-Test" height="300" width="0"></canvas>
									</div>

									<div id="chartviewAgingchart"
										ng-show="isAgingClicked||isCurrentInventoryClicked||isWorkStationFlowClicked"
										class="position-relative mb-4">
										<canvas id="idChartAgingCanvas" height="550"></canvas>
									</div>

									<div id="idchartviewforPDf"
										ng-show="isWorkOrderFlowClicked&&viewValue=='Line Chart'&&!norecords">
										<div  id="chartviewMaterialLineChart" class="float-left" style="width: 75%">
											<canvas id="myWOLineChart" width="600" height="600"></canvas>
										</div>
										<div class="float-left" style="width: 25%">
											<div id="js-legend" class="chart-legend"></div>
										</div>
									</div>

									<div ng-show="isWorkOrderFlowClicked&&isDateSelected"
										style="width: 100%;" style="margin-left: 10px;">
										<div class="panel panel-default">
											<ul class="list-group" id="contact-list">
												<!-- <li class="list-group-item"> -->
												<div id="main" class="table-container">
													<table class="table table-bordered">
														<thead>
															<tr>
																<th class="thcss">Work Order</th>
																<th class="thcss">Production Lead Time(DD:HH:MM)</th>
																<th class="thcss">Time In</th>
																<th class="thcss">Time Out</th>
															</tr>
														</thead>
														<tbody>
															<tr
																ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
																ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
																ng-repeat="material in workOrderFlowViewData | filter:searchTag">
																<td
																	style="text-align: -webkit-center; padding-top: 15px;">{{material.workOrderNumber}}</td>
																<td
																	style="text-align: -webkit-center; padding-top: 15px;">{{material.totalTime}}</td>
																<td
																	style="text-align: -webkit-center; padding-top: 15px;">{{material.inTime}}</td>
																<td
																	style="text-align: -webkit-center; padding-top: 15px;">{{material.outTime}}</td>

															</tr>
															<tr ng-show="materialNoData">
																<td colspan="12" style="text-align: center; color: red;">No
																	data found.</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="clearfix"></div>
											</ul>
											<div layout="row" style="height: 50px">
												<div ng-show="PaginationTab" class="input-bar pull-right">
													<div class="input-bar">
														<div class="row" class="input-bar-item width100"
															style="float: right; margin-right: 0px;">
															<label for="totalPage"
																style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
																Pages {{totalPages}}</label>
															<form>
																<div class="input-group"
																	style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																	<span class="input-group-btn">
																		<button class="btn btn-primary" id="id_firstPageEdit"
																			ng-click="goFirstPage()" ng-disabled="isFirstPage">&lt;&lt;</button>
																		<button class="btn btn-primary"
																			id="id_previousPageEdit" ng-click="goPreviousPage()"
																			ng-disabled="hasPrevious">&lt;</button>
																	</span> <input class="form-control width100" type="text"
																		ng-model="currentPage"> <span
																		class="input-group-btn">
																		<button class="btn btn-primary" id="id_nextPageEdit"
																			ng-click="goNextPage()" ng-disabled="hasNext">&gt;</button>
																		<button class="btn btn-primary" id="id_lastPageEdit"
																			ng-click="goLastPage()" ng-disabled="isLastPage">&gt;&gt;</button>
																	</span>
																</div>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>


								</div>
							</div>
							<!-- /.card -->


							<!--  </div> -->
							<!-- /.col-md-6 -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.container-fluid -->
				</div>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->


		</div>
		<!-- ./wrapper -->

		<!-- REQUIRED SCRIPTS -->

		<!-- jQuery -->


		<!-- OPTIONAL SCRIPTS -->
</body>
	</html>
</div>
