<body class="hold-transition sidebar-mini">
	<div class="wrapper" ng-controller="menuCtrl">

		<nav
			class="main-header navbar navbar-expand navbar-white navbar-light"
			ng-if="role=='admin' || role=='DemoUser' || role=='SuperUser' || role=='User' || role=='SystemAdmin' || role=='Manager'">
			<!-- Left navbar links -->
			<ul class="nav nav-pills">
				<li class="nav-item"><a class="nav-link" data-widget="pushmenu"><i
						class="fas fa-bars"></i></a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<div class="fc-toolbar-chunk">
					<h1 class="m-0" id="pagenameColorChange" style="font-size: 24px;">{{pagename}}</h1>
				</div>
			</ul>


			<!-- Right navbar links -->
			<ul class="navbar-nav ml-auto">
				<!-- Notifications Dropdown Menu -->
				<li class="nav-item"><a class="nav-link" style="color: blue" data-toggle="tooltip" title="Previous Screen"
					ng-click="gotoSourcePage()"   ng-show="showPreviousScreenIcon"> <i class="fa fa-arrow-circle-left"></i> 
				</a>
				</li>
				<li class="nav-item dropdown"><a class="nav-link"  ng-show="showNotificationBtn"
					data-toggle="dropdown"> <i class="far fa-bell"></i> <span
						class="badge badge-warning navbar-badge">{{notificationCount}}</span>
				</a>

					<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

						<span class="dropdown-item dropdown-header">{{notificationCount}}
							Notifications</span>

						<div class="dropdown-divider"></div>
						<a class="dropdown-item"
							ng-class="{ active: isActive('/notification') }"
							ng-click="menuLink('notification','Notification')"> <i
							class="fas fa-ambulance mr-2" style="color: #DC143C"></i>
							{{notificationEmergenyCount}} Notifications
						</a>

						<div class="dropdown-divider"></div>
						<a class="dropdown-item"
							ng-class="{ active: isActive('/notification') }"
							ng-click="menuLink('notification','Notification')"> <i
							class="fas fa-users mr-2" style="color: #FFFF33"></i>
							{{notificationWarningCount}} Notifications
						</a>


						<div class="dropdown-divider"></div>
						<a class="dropdown-item"
							ng-class="{ active: isActive('/notification') }"
							ng-click="menuLink('notification','Notification')"> <i
							class="fas fa-info-circle mr-2" style="color: #87CEFA"></i>
							{{notificationInfoCount}} Notifications
						</a>

						<div class="dropdown-divider"></div>
						<a class="dropdown-item dropdown-footer"
							ng-class="{ active: isActive('/notification') }"
							ng-click="menuLink('notification','Notification')">See All
							Notifications</a>
					</div></li>

				<li class="nav-item dropdown user-menu"><a href=""
					ng-click="profileColorChange()" class="nav-link dropdown-toggle" 
					data-toggle="dropdown"> <img src="./dist/img/userImage.jpg" id="profileHeaderImg"
						class="user-image img-circle elevation-2" alt="User Image">
						<span class="d-none d-md-inline" style="color: blue"
						class="brand-text font-weight-bold">{{user.userName}}</span>
				</a>
					<ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
						<!-- User image -->
						<li class="user-header" id="idProfileColor"><img  id="profileHeaderImg1"
							src="./dist/img/userImage.jpg" class="img-circle elevation-2"
							alt="User Image"> 
							<p style="color: white;">
								{{user.role}} <small></small>
							</p></li>
						<!-- Menu Footer-->
						<li class="user-footer"><span class="input-group-btn">
								<button class="btn btn-primary" id="idProfile"
									ng-click="fnProfileClick();" type="button">Profile</button>
								<button class="btn btn-primary float-right" id="idAppLogout"
									ng-click="fnLogoutClick();" type="button">Logout</button>
						</span></li>
					</ul></li>
				<!-- Right navbar links -->
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown show"><a
						ng-click="fnAccessMenuClick()" class="nav-link"
						data-toggle="dropdown" href=""> <span
							class="d-none d-md-inline">Menu</span>
					</a>
						<div class="dropdown-menu dropdown-menu-form dropdown-menu-right "
							style="left: inherit; right: 0px; min-width: 210px !important;">
							<div class="form-group">
								<div class="form-check">
									<a ng-click="fnAllowedMenuClick()" class="dropdown-item"> <input
										id="idCkAllowedMenu" class="form-check-input" type="radio"
										name="AllowedMenu" /> <label class="form-check-label">Std.
											Menu</label>
									</a>
								</div>

								<div class="form-check">
									<a ng-click="fnFrequentlyUsedMenuClick()" class="dropdown-item">
										<input id="idCkFreqUsedMenu" class="form-check-input"
										type="radio" name="FreqUsedMenu" /> <label
										class="form-check-label">My Menu</label>
									</a>
								</div>
							</div>
						</div></li>
				</ul>

			</ul>
		</nav>

		<div id="idMenu" ng-if="role=='admin'  || role=='DemoUser' || role=='SuperUser' || role=='User' || role=='SystemAdmin' || role=='Manager'" class="wrapper">

			<!-- /.navbar -->

			<!-- Main Sidebar Container -->
			<aside class="main-sidebar sidebar-dark-primary elevation-4">
				<!-- Brand Logo -->
				<a href="" class="brand-link"> <img
					src="dist/img/EntappiaLogoSmall.png" alt="Entappia Logo"
					class="brand-image img-circle elevation-3" style="opacity: .8" />
					<span class="brand-text font-weight-bold">EI4.0</span>

				</a>


				<div class="sidebar" style="overflow-y: scroll;">
					<!-- Sidebar Menu -->
					<nav class="mt-2" ng-show="mainMenu" >


						<ul class="nav nav-pills nav-sidebar flex-column"
							data-widget="treeview" role="menu" data-accordion="false">
							<li ng-if="dshEnable==1" class="nav-item"><a
								id="highlightIdMenuDashboard" class="nav-link active "
								ng-class="{ active: isActive('/dashboard') }"
								ng-click="naviDashboardLink()"> <i
									class="fas fa-tachometer-alt"></i>
									<p style="margin-left: 5%;">Dashboard</p>
							</a></li>

							<li ng-if="pPEPL==1" id="toggleIdMenuPeople"
								class="nav-item has-treeview " ng-click="naviPeopleLink()"><a
								id="highlightIdMenuPeople" href="" class="nav-link "> <i
									class="nav-icon fas fa-user"></i>
									<p id="idMenuPeople" style="margin-left: 5%;">
										People <i class="right fas fa-angle-left"></i>
									</p>
							</a>
								<ul class="nav nav-treeview" id="idPeopleUL">
									<li ng-if="pTag==1" class="nav-item"><a class="nav-link "
										ng-class="{ active: isActive('/tagPeople') }"
										ng-click="menuLink('tagPeople','People Tag Management')">
											<i class="fas fa-id-card-alt"></i>
											<p style="margin-left: 5%;">Tag</p>
									</a></li>

									<li ng-if="pPEMP==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/employee') }"
										ng-click="menuLink('employee','Employee Management')"> <i
											class="fas fa-user-tie"></i>
											<p style="margin-left: 5%;">Employee</p>
									</a></li>
									<li ng-if="pPOTU==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/otherUser') }"
										ng-click="menuLink('otherUser','Other User Details')"> <i
											class="fas fa-user-tie"></i>
											<p style="margin-left: 5%;">Other User</p>
									</a></li>

									<li ng-if="pPTAL==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/peopleType') }"
										ng-click="menuLink('peopleType','People Time Analytics')"><i
											class="fas fa-user-clock"></i>
											<p style="margin-left: 5%;">Time Analytics</p> </a></li>
									<li ng-if="pPPAR==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/plantTraffic') }"
										ng-click="menuLink('plantTraffic','Plant Traffic')"><i
											class="fas fa-chart-bar"></i> 
											<p style="margin-left: 5%;">Plant Traffic</p> </a></li>
									<li ng-if="pPPFA==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/plantOccupancy') }"
										ng-click="menuLink('plantOccupancy','Plant Occupancy')"><i 
										class="fas fa-chart-line"></i>
											<p style="margin-left: 5%;">Plant Occupancy</p> </a></li>
									<li ng-if="pPLVW==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/peopleLiveView') }"
										ng-click="menuLink('peopleLiveView','People Live View')"><i
											class="fas fa-running"></i>
											<p style="margin-left: 5%;">Live View</p> </a></li>
								</ul></li>

							<li ng-if="aAsset==1" id="toggleIdMenuAsset"
								class="nav-item has-treeview" ng-click="naviAssetLink()"><a
								id="highlightIdMenuAsset" href="" class="nav-link"> <i
									class="nav-icon fas fa-tools"></i>
									<p style="margin-left: 5%;" id="idMenuAsset">
										Asset <i class="right fas fa-angle-left"></i>
									</p>
							</a>
								<ul class="nav nav-treeview" id="idAssetUL">
									<li ng-if="aTag==1" class="nav-item"><a class="nav-link "
										ng-class="{ active: isActive('/tagAsset') }"
										ng-click="menuLink('tagAsset','Asset Tag Management')"> <i
											class="fas fa-id-card-alt"></i>
											<p style="margin-left: 5%;">Tag</p>
									</a></li>
									<li ng-if="aNonC==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/assetNonChrono') }"
										ng-click="menuLink('assetNonChrono','Asset- Non Chrono Management')">
											<i class="fas fa-balance-scale"></i>
											<p style="margin-left: 5%;">Asset - Non Chrono</p>
									</a></li>
									<li ng-if="aChrono==1" class="nav-item"><a
										class="nav-link"
										ng-class="{ active: isActive('/assetChrono') }"
										ng-click="menuLink('assetChrono','Asset Chrono Management')">
											<i class="fas fa-hourglass-half"></i>
											<p style="margin-left: 5%;">Asset Chrono</p>
									</a></li>
									<li ng-if="aVehicle==1" class="nav-item"><a
										class="nav-link"
										ng-class="{ active: isActive('/assetVehicle') }"
										ng-click="menuLink('assetVehicle','Asset Vehicle')"> <i
											class="fas fa-taxi"></i>
											<p style="margin-left: 5%;">Asset Vehicle</p>
									</a></li>
									<li ng-if="aCali==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/calibration') }"
										ng-click="menuLink('calibration',' Calibration Record')">
											<i class="fas fa-adjust"></i>
											<p style="margin-left: 5%;">Calibration Record</p>
									</a></li>
									<li ng-if="aTime==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/assetTimeAnalytics') }"
										ng-click="menuLink('assetTimeAnalytics','Asset Time Analytics')">
											<i class="fas fa-clock"></i>
											<p style="margin-left: 5%;">Time Analytics</p>
									</a></li>
									<li ng-if="aLive==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/assetLiveView') }"
										ng-click="menuLink('assetLiveView','Asset Live View')"> <i
											class="fas fa-running"></i>
											<p style="margin-left: 5%;">Live View</p>
									</a></li>
								</ul></li>

							<li ng-if="wOrder==1" id="toggleIdMenuWorkOrder"
								class="nav-item has-treeview" ng-click="naviWorkOrderLink()"><a
								id="highlightIdMenuWorkOrder" href="" class="nav-link"> <i
									class="nav-icon fas fa-people-carry"></i>
									<p style="margin-left: 5%;" id="idMenuWorkOrder">
										Work Order <i class="right fas fa-angle-left"></i>
									</p>
							</a>
								<ul class="nav nav-treeview" id="idWorkOrderUL">
									<li ng-if="wTag==1" class="nav-item"><a class="nav-link "
										ng-class="{ active: isActive('/tagWorkorder') }"
										ng-click="menuLink('tagWorkorder','Work-Order Tag Management')">
											<i class="fas fa-id-card-alt"></i>
											<p style="margin-left: 5%;">Tag</p>
									</a></li>
									<li ng-if="wMAT==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/material') }"
										ng-click="menuLink('material','Material Management')"> <i
											class="fas fa-dolly-flatbed"></i>
											<p style="margin-left: 5%;">Material</p>
									</a></li>
									<li ng-if="wWWST==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/workstation') }"
										ng-click="menuLink('workstation','Work Station')"><i
											class="fas fa-tasks"></i>
											<p style="margin-left: 5%;">Work Station</p> </a></li>
									<li ng-if="wWOFA==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/workOrderFlowAnalytics') }"
										ng-click="menuLink('workOrderFlowAnalytics','Work Order Flow Analytics')">
										<i class="fas fa-chart-pie"></i>
											<p style="margin-left: 5%;">WO Flow Analysis</p> </a></li>
									<li ng-if="wWZFA==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/zoneFlowAnalytics') }"
										ng-click="menuLink('zoneFlowAnalytics','Work Station Flow Analysis')"><i 
										class="fas fa-chart-area"></i>
											<p style="margin-left: 5%;">WS Flow Analysis</p> </a></li>
									<li ng-if="wWCAL==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/constraintAnalytics') }"
										ng-click="menuLink('constraintAnalytics','Constraint Analytics')"><i
											class="fas fa-cogs"></i>
											<p style="margin-left: 5%;">Constraint Analysis</p> </a></li>
									<li ng-if="wWCND==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/inventoryChart') }"
										ng-click="menuLink('inventoryChart','Current Inventory $')"><i
											class="fas fa-dollar-sign"></i>
											<p style="margin-left: 5%;">Current Inventory $</p> </a></li>
									<li ng-if="wWACT==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/agingChart') }"
										ng-click="menuLink('agingChart','Aging Chart')"><i
											class="fas fa-list"></i>
											<p style="margin-left: 5%;">Aging Chart</p> </a></li>
									<li ng-if="wWLVW==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/workorderLiveView') }"
										ng-click="menuLink('workorderLiveView','Work Order Live View')"><i
											class="fas fa-running"></i>
											<p style="margin-left: 5%;">Live View</p> </a></li>
								</ul></li>
							<li ng-if="sMSKU==1" id="toggleIdMenuSKUMaterial"
								class="nav-item has-treeview " ng-click="naviSKUMaterialLink()"><a
								id="highlightIdMenuSKUMaterial" href="" class="nav-link "> <i
									class="nav-icon fas fa-boxes"></i>
									<p id="idMenuSKUMaterial" style="margin-left: 5%;">
										Material / SKU <i class="right fas fa-angle-left"></i>
									</p>
							</a>
								<ul class="nav nav-treeview" id="idSKUUL">
									<li ng-if="sSTAG==1" class="nav-item"><a class="nav-link "
										ng-class="{ active: isActive('/tagSKU') }"
										ng-click="menuLink('tagSKU','SKU Tag Management')"> <i
											class="fas fa-id-card-alt"></i>
											<p style="margin-left: 5%;">Tag</p>
									</a></li>
									<li ng-if="sSKUM==1" class="nav-item"><a class="nav-link "
										ng-class="{ active: isActive('/materialSKU') }"
										ng-click="menuLink('materialSKU','Stock Keeping Unit')">
											<i class="fas fa-boxes"></i>
											<p style="margin-left: 5%;">SKU</p>
									</a></li>
									<li ng-if="sSKULive==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/skuLiveView') }"
										ng-click="menuLink('skuLiveView','SKU Live View')"> <i
											class="fas fa-running"></i>
											<p style="margin-left: 5%;">Live View</p>
									</a></li>
									</ul></li>
									
									<li ng-if="hWARE==1" id="toggleIdMenuWarehouse"
								class="nav-item has-treeview " ng-click="naviWarehouseLink()"><a
								id="highlightIdMenuWarehouse" href="" class="nav-link "> <i class="fas fa-warehouse"></i>
									<p id="idMenuWarehouse" style="margin-left: 5%;">
										Warehouse <i class="right fas fa-angle-left"></i>
									</p>
							</a>
								<ul class="nav nav-treeview" id="idWarehouseUL">
									<li ng-if="hTag==1" class="nav-item"><a class="nav-link "
										ng-class="{ active: isActive('/tagWarehouse') }"
										ng-click="menuLink('tagWarehouse','Warehouse Tag Management')">
											<i class="fas fa-id-card-alt"></i>
											<p style="margin-left: 5%;">Tag</p>
									</a></li>
									<li ng-if="hWMAT==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/materialWarehouse') }"
										ng-click="menuLink('materialWarehouse','Warehouse Material')"><i 
										class="fas fa-chart-line"></i>
											<p style="margin-left: 5%;">Material</p> </a></li>
									<li ng-if="hWLVW==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/warehouseLiveView') }"
										ng-click="menuLink('warehouseLiveView','Warehouse Live View')"><i
											class="fas fa-running"></i>
											<p style="margin-left: 5%;">Live View</p> </a></li>
									
								</ul></li>
									<li ng-if="hEI40Demo==1" id="toggleIdMenuEI40Demo"
								class="nav-item has-treeview " ng-click="naviEI40DemoLink()"><a
								id="highlightIdMenuEI40Demo" href="" class="nav-link "> <i class="fas fa-industry"></i>
									<p id="idMenuEI40Demo" style="margin-left: 5%;">
										EI4.0 <i class="right fas fa-angle-left"></i>
									</p>
							</a>
								<ul class="nav nav-treeview" id="idEI40DemoUL">
									<li ng-if="hEI40Analytics==1" class="nav-item"><a class="nav-link "
										ng-class="{ active: isActive('/ei40Analytics') }"
										ng-click="menuLink('ei40Analytics','EI4.0 Analytics')">
											<i class="fas fa-chart-bar"></i>
											<p style="margin-left: 5%;">EI4.0 Analytics</p>
									</a></li>
									<li ng-if="hDShopFloorAnalysis==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/shopFloorAnalysis') }"
										ng-click="menuLink('shopFloorAnalysis','Shop Floor Analysis')"><i
											class="fas fa-running"></i>
											<p style="margin-left: 5%;">Shop Floor Analysis</p> </a></li>
								</ul></li>

							<li ng-if="cConfig==1" id="toggleIdMenuConfiguration"
								class="nav-item has-treeview" ng-click="naviConfigurationLink()"><a
								id="highlightIdMenuConfiguration" href="" class="nav-link">
									<i class="nav-icon fas fa-cog"></i>
									<p style="margin-left: 5%;" id="idMenuConfiguration">
										Configuration <i class="right fas fa-angle-left"></i>
									</p>
							</a>
								<ul class="nav nav-treeview" id="idConfigurationUL">
									<li ng-if="cCORS==1" class="nav-item"><a class="nav-link "
										ng-class="{ active: isActive('/configuration') }"
										ng-click="menuLink('configuration','Configuration')"> <i
											class="fas fa-hand-lizard"></i>
											<p style="margin-left: 5%;">Org.Setup</p>
									</a></li>									
									<li ng-if="cCTPE==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/topologyEditor') }"
										ng-click="menuLink('topologyEditor','Topology Editor')"> <i
											class="fas fa-edit"></i>
											<p style="margin-left: 5%;">Topology Editor</p>
									</a></li>
									<li ng-if="cCZOM==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/zoneManagement') }"
										ng-click="menuLink('zoneManagement','Zone Management')"> <i
											class="fas fa-archway"></i>
											<p style="margin-left: 5%;">Zone Management</p>
									</a></li>

									<li ng-if="cLIVE==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/live') }"
										ng-click="menuLink('live','Live View')"> <i
											class="fas fa-running"></i>
											<p style="margin-left: 5%;">Live View</p>
									</a></li>

									<li ng-if="cCREG==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/accountCreation') }"
										ng-click="menuLink('accountCreation','Create Account')"> <i
											class="fas fa-user-plus"></i>
											<p style="margin-left: 5%;">Account Creation</p>
									</a></li>
									<li ng-if="cCAMG==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/accessmanagement') }"
										ng-click="menuLink('accessmanagement','Access Management')"><i
											class="fas fa-chalkboard-teacher"></i>
											<p style="margin-left: 5%;">Access Management</p> </a></li>
									<li ng-if="cCDPT==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/department') }"
										ng-click="menuLink('department','Department')"> <i
											class="fas fa-columns"></i>
											<p style="margin-left: 5%;">Department</p>
									</a></li>
									<li ng-if="cCCLA==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/classification') }"
										ng-click="menuLink('classification','Zone Classification')"><i
											class="fab fa-accusoft"></i>
											<p style="margin-left: 5%;">Zone Classification</p> </a></li>
									<li ng-if="cCART==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/alertInfo') }"
										ng-click="menuLink('alertInfo','Alert Information')"><i
											class="fas fa-bell"></i>
											<p style="margin-left: 5%;">Alert</p> </a></li>
									<li ng-if="cCTVR==1" class="nav-item"><a class="nav-link "
										ng-class="{ active: isActive('/tag') }"
										ng-click="menuLink('tag','Tag Details')"> <i
											class="fas fa-id-card-alt"></i>
											<p style="margin-left: 5%;">Tag</p>
									</a></li>
								</ul></li>

							<li ng-if="lLog==1" id="toggleIdMenuLog"
								class="nav-item has-treeview" ng-click="naviLogLink()"><a
								id="highlightIdMenuLog" href="" class="nav-link"> <i
									class="nav-icon fa fa-history"></i>
									<p style="margin-left: 5%;" id="idMenuLog">
										Log <i class="right fas fa-angle-left"></i>
									</p>
							</a>
								<ul class="nav nav-treeview" id="idLogUL">
									<li ng-if="lLSLG==1" class="nav-item"><a class="nav-link "
										ng-class="{ active: isActive('/serverLog') }"
										ng-click="menuLink('serverLog','View Log')"> <i
											class="fas fa-history"></i>
											<p style="margin-left: 5%;">View Log</p>
									</a></li>
									<!-- <li ng-if="lLEMP==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/employeeProfile') }"
										ng-click="menuLink('employeeProfile','Employee Profile')">
											<i class="fas fa-history"></i>
											<p style="margin-left: 5%;">Employee Profile</p>
									</a></li>
									<li ng-if="lLASP==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/assetProfile') }"
										ng-click="menuLink('assetProfile','Asset Profile')"> <i
											class="fas fa-history"></i>
											<p style="margin-left: 5%;">Asset Profile</p>
									</a></li>
									<li ng-if="lLVSP==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/visitorProfile') }"
										ng-click="menuLink('visitorProfile','Visitor Profile')"> <i
											class="fas fa-history"></i>
											<p style="margin-left: 5%;">Visitor Profile</p>
									</a></li>
									<li ng-if="lLVHP==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/vehicleProfile') }"
										ng-click="menuLink('vehicleProfile','Vehicle Profile')"><i
											class="fas fa-history"></i>
											<p style="margin-left: 5%;">Vehicle Profile</p> </a></li>
									<li ng-if="lLGNE==1" class="nav-item"><a class="nav-link"
										ng-class="{ active: isActive('/genie') }"
										ng-click="menuLink('genie','Genie')"><i
											class="fas fa-history"></i>
											<p style="margin-left: 5%;">Genie</p> </a></li> -->
								</ul></li>
						</ul>

					</nav>
				</div>
			</aside>

		</div>
	</div>

</body>
