
<style>
input[type="text"], .form-control {
	box-shadow: none;
	padding: 4px 0px 0px 10px;
	height: 40px;
	width: 100%;
	font-size: 16px;
	color: #33342e;
	border: 1px solid #1c1c1c;
	border-radius: 1px;
	line-height: 100%;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.textbox {
	box-shadow: none;
	padding: 2px 0px 0px 5px !important;
	height: 25px !important;
	width: 100%;
	font-size: 14px !important;
	color: #33342e;
	border: 1px solid #1c1c1c;
	border-radius: 1px;
	line-height: 100%;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

#tag-form {
	padding: 15px 350px;
	color: #1c1c1c;
	font-size: 16px;
}

.btn-submit {
	color: #fff;
	background-color: #1c1c1c;
	border-color: #fff;
	width: 100%;
	height: 45px;
	font-size: 20px;
	font-weight: 500;
	margin: 5px 0px;
}

.btn-submit:hover {
	color: #F00;
	background-color: #FFF;
	border: 2px solid #1c1c1c;
}

@media ( max-width : 992px) {
	#tag-form {
		padding: 15px 50px;
	}
}

@media ( max-width : 480px) {
	#tag-form {
		padding: 15px 0px;
	}
}

.errors {
	margin-bottom: 10px;
	padding-left: 15px;
	font-style: normal;
	font-size: 14px;
	line-height: 15px;
	color: #ee9393;
}

.invalid {
	margin-bottom: 10px;
	padding-left: 15px;
	font-style: normal;
	font-size: 14px;
	line-height: 15px;
	color: #ee9393;
}

.mt {
	margin-top: 20px;
}

svg {
	cursor: pointer;
}

.path {
	fill: #d9edf7;
}

.point {
	cursor: pointer;
	pointer-events: visible;
	fill: #222;
	stroke: #fff;
	stroke-width: 2;
}

.selected {
	background-color: #cccccc;
	color: black;
	font-weight: bold;
}

table, tr td {
	line-height: 20px;
	min-height: 20px;
	height: 20px;
}

tbody {
	height: 335px;
	overflow: auto;
	overflow-x: hidden;
	display: block;
	width: 100%;
}

thead, tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.theadCls {
	width: calc(100% - 1em)
}

table {
	width: 400px;
}

select {
	height: 35px;
}

.input-bar {
	display: table;
	width: 100%;
	align-content: bottom;
}

.input-bar-item {
	display: table-cell;
	margin-top: 10px;
}

.input-bar-item>button {
	margin-left: 5px;
}

.width100 {
	width: 100%;
}

.tr_odd {
	background-color: white;
	color: #000000;
}

.tr_even {
	background-color: #f2f2f2;
	color: #000000;
}

.thcss {
	color: white;
	position: sticky;
	top: 0;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
	text-align: left !important;
	vertical-align: middle !important;
}

th.sortable {
	position: relative;
	cursor: pointer;
}

th.sortable::after {
	font-family: 'Font Awesome\ 5 Free';
	content: "\f0dc";
	position: absolute;
	right: 8px;
	color: #fff;
}

th.sortable.asc::after {
	content: "\f0d8";
}

th.sortable.desc::after {
	content: "\f0d7";
}

th.sortable:hover::after {
	color: #dedede;
}

#errmsg {
	color: red;
}

.leaflet-vertex-icon {
	width: 5px !important;
	height: 5px !important;
	margin-left: -3px !important;
	margin-top: -4px !important;
}

.leaflet-middle-icon {
	width: 5px !important;
	height: 5px !important;
	margin-left: -3px !important;
	margin-top: -4px !important;
}

.leaflet-editing-icon {
	width: 5px !important;
	height: 5px !important;
	margin-left: -4px !important;
	margin-top: -8px !important;
}

.staringImage {
	position: absolute;
	width: 10px;
	height: 10px;
}

.reloadImage {
	position: absolute;
	width: 30px;
	height: 30px;
	background: white;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	border: 1px solid #ccc;
}

.staringlabel {
	position: absolute;
	font-size: 16px;
	color: red;
}

.mainMenu {
	width: 35px;
	height: 35px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
	.table>thead>tr>td {
	line-height: 0.728571 !important;
}

.name {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.tbodyWidth {
	height: 300px;
}

#assignTable td {
	vertical-align: middle;
}

.ap-icon {
	width: 14px;
	height: 14px;
	background: #10bc5e;
	color: #10bc5e;
	border-radius: 3px;
	vertical-align: middle;
}

.ap-iconAP12 {
	width: 16px;
	height: 24px;
	background: #10bc5e;
	color: #10bc5e;
	border-radius: 3px;
	vertical-align: middle;
}

#Checkboxlist1 tr {
	float: left;
	margin-right: 15px;
}

#Checkboxlist1 td label {
	margin-left: 2px;
}

#mapOptions-container .multiselect-selected .form-check-label {
	color: blue;
	width: 130px;
}
 
.stack-top {
	z-index: 9;
	float: right;
}
 
</style>

<body class="hold-transition sidebar-mini layout-fixed">
	<section class="wrapper" ng-controller="liveView_Controller">


		<div class="content-wrapper" id="outlineloading">

			<div class="container-fluid">
				<div style="margin-left: 10px; margin-top: 10px;" id="workArea">

					<div class="card" style="position: absolute; width: 98%">
						<div class="card-body">



							<div style="display: -webkit-box; margin: 2px 0px;">

								<div ng-show="viewType=='Track Back'" style="width: 100%;"
									class="row">


									<div style="width: 180px; margin: 10px;">

										<div class="input-group date" id="idDatePicker"
											data-target-input="nearest">
											<input required name="stime" id="idEditDatePicker"
												ng-model="historySelectedDate" type="text"
												ng-change="onHistoryDateChange()"
												class="form-control datetimepicker-input"
												data-target="#idDatePicker" />
											<div class="input-group-append" data-target="#idDatePicker"
												data-toggle="datetimepicker">
												<div class="input-group-text">
													<i class="far fa-calendar"></i>
												</div>
											</div>
										</div>

									</div>


									<div style="width: 56%;">
										<p style="text-align: center; margin: 0px;">
											<label for="time" ng-show="viewType=='Track Back'"
												style="margin-bottom: 0px;" class="ng-binding">Time
												: {{timeval}}</label>
										</p>
										<div id="slider-range-min"
											style="width: 95%; margin-left: 3%; margin-top: 0.4%;"
											class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
											<div
												class="ui-slider-range ui-corner-all ui-widget-header ui-slider-range-min"
												style="width: 0%;"></div>
											<span tabindex="0"
												class="ui-slider-handle ui-corner-all ui-state-default"
												style="left: 0%;"></span>
										</div>
									</div>

								</div>

							</div>
							<div>

								<div id="map"
									style="height: 100%; min-height: 100%; border: 1px solid #ccc; z-index: 1"></div>
							</div>
						</div>
					</div>


					<div class="card" id="configurationView"
						style="width: 19rem; height: 100%; min-height: 100%; border: 1px solid #ccc; z-index: 9; position: relative; float: right; margin-right: 10px;">


						<div class="card-header">
							<button type="button" ng-click="closeRightSideDiv()"
								style="margin-top: 10px; width: 25px;" class="close pull-right">&times;</button>
							<h5>Configuration</h5>
						</div>

						<div class="card-body">

							<div class="row">
								<div class="col-md-6 col-sm-6"
									style="padding: 0px 2px; margin-left: 5px;">
									<label for="map"
										style="padding: 0px; vertical-align: middle; margin-top: 5px;">View
										Options</label>
								</div>
								<div class="col-md-4 col-sm-4"
									style="padding: 0px 2px; margin-left: 5px;">
									<div style="margin-bottom: 5px;">
										<select id="mapOptions" multiple="multiple">
											<option value="Zone" selected="selected">Zone</option>
											<option value="Door" selected="selected">Door</option>
											<option value="Wall" selected="selected">Wall</option>
											<option value="Partition" selected="selected">Partition</option>
											<option value="Pathway" selected="selected">Pathway</option>
											<option value="Building" selected="selected">Building</option>
											<option value="Grid">Grid</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row" style="margin-top: 5px;">
								<div class="col-md-6 col-sm-6" id="zoneFilterDiv"
									style="padding: 0px 2px">
									<label for="Zone"
										style="padding: 0px; vertical-align: middle; margin-left: 5px;">Zone</label>
								</div>

								<div class="col-md-4 col-sm-4"
									style="margin-bottom: 5px; margin-left: 5px;">
									<select class="custom-select" ng-disabled="isTrack"
										name="zoneFilter" id="zoneFilter" style="width: 110px;"
										ng-model="filterZone" ng-change="filterZoneChange()">
										<option ng-option ng-repeat="zonefilterList in zoneFilterList"
											value="{{zonefilterList.type}}">{{zonefilterList.type}}</option>
									</select>

								</div>

							</div>

							<div style="margin-top: 5px;">

								<label for="layoutInfo"
									style="padding: 0px; vertical-align: middle;">Layout
									Info:</label>

								<div class="col-md-12 col-sm-12" style="padding: 0px;">

									<label for="layoutInfoWidth"
										style="padding: 0px; vertical-align: middle;">Width:</label> <label
										for="layoutInfoWidthValue"
										style="padding: 0px; vertical-align: middle; margin-left: 5px;">{{mapWidthMeter}}
										Meters</label>


								</div>

								<div class="col-md-12 col-sm-12" style="padding: 0px;">
									<label for="layoutInfoHeight"
										style="padding: 0px; vertical-align: middle;">Height:</label>
									<label for="layoutInfoHeightValue"
										style="padding: 0px; vertical-align: middle; margin-left: 5px;">{{mapHeightMeter}}
										Meters</label>
								</div>


							</div>

							<div class="row" style="margin-top: 5px; margin-left: 5px;">

								<button type="button" class="btn-primary btnValue"
									ng-click="showHistoricalView()" id="showHistoricalViewBtn"
									style="height: 30px; right: 10px; margin-top: 10px; width: 160px;">Show
									Historical View</button>


							</div>

						</div>

					</div>


					<div class="card col-lg-4 " id="tagListView"
						style="height: 100%; min-height: 100%; border: 1px solid #ccc; z-index: 9; position: relative; float: right; margin-right: 15px;">

						<button type="button" ng-click="closeRightSideDiv()"
							style="width: 25px;" class="close pull-right">&times;</button>

						<div class="row" style="margin-top: 15px">

							<div class="col-md-2 col-sm-2" id="colorSubtypeSelectDiv"
								style="padding: 0px 2px;">
								<label for="type"
									style="padding: 0px; vertical-align: middle; margin-left: 5px; margin-top: 5px;">Type</label>
							</div>

							<div class="col-md-4 col-sm-4"
								style="margin-bottom: 5px; margin-top: 5px;">
								<select class="custom-select" ng-disabled="!isTypeEnabled"
									name="colorTypeSelect" id="colorTypeSelect"
									style="width: 120px;" ng-model="type"
									ng-change="filterTypeChange()">
									<option ng-option ng-repeat="_type in typesArray"
										value="{{_type.type}}">{{_type.type}}</option>
								</select>

							</div>


							<div class="col-md-2 col-sm-2" id="colorSubtypeSelectDiv"
								ng-show="showSubType" style="padding: 0px 2px">
								<label for="subType"
									style="padding: 0px; vertical-align: middle; margin-left: 5px; margin-top: 5px;">Sub
									Type</label>
							</div>

							<div class="col-md-3 col-sm-3" style="margin-bottom: 5px;">
								<select class="custom-select"
									ng-disabled="isTrack || !isSubTypeEnabled"
									name="colortypeSelect" id="colorSubtypeSelect"
									style="width: 120px;" ng-model="subtype"
									ng-change="filterSubTypeChange()">
									<option ng-option ng-repeat="sub_type in subTypesArray"
										value="{{sub_type.type}}">{{sub_type.type}}</option>
								</select>

							</div>
						</div>

						<div class="row"
							style="padding: 0px; margin-top: 10px; margin-bottom: 2px; margin-left: 3px;">


							<label for="tagcount"> Total Count : {{assetList.length}}</label>

							<form class="form-inline"
								style="margin-left: 39px; width: 145px;">
								<div class="input-group input-group-sm">
									<input class="form-control form-control-navbar" type="search"
										id="search" ng-change="searchOption()" ng-model="searchTag"
										ng-disabled="isTrack" placeholder="Search" aria-label="Search">
									<div class="input-group-append">
										<button class="btn btn-navbar" type="submit"></button>
									</div>
								</div>
							</form>

							<!-- <label for="currentTime" ng-show="isOnTrackedClicked">{{currentTime1}}</label>
							<label for="messageReceivedTime" ng-show="isOnTrackedClicked"
								style="margin-left: 3px; color: red;">{{messageReceivedTime}}</label> -->

						</div>

						<!-- </div> -->
						<table class="table table-bordered tbodyWidth"
							style="margin-bottom: 2px" id="assetTable">
							<thead>
								<tr>
									<th class="thcss col-sm-4 col-md-4 sortable" id="idTableZone">Zone</th>
									<th class="thcss col-sm-3 col-md-3 sortable" id="idTableName">Name</th>
									<th class="thcss col-sm-2 col-md-2 sortable" id="idTableType">Type</th>
									<th class="thcss col-sm-2 col-md-2"
										ng-show="serviceProviderStatus">Color</th>
									<th class="thcss col-sm-1 col-md-1 "
										ng-show="serviceProviderStatus"><input type="checkbox"
										ng-show="tagData" ng-model="selectAll" ng-disabled="isTrack"
										ng-click="checkAll()" /></th>
								</tr>
							</thead>
							<tbody class="">
								<tr ng-show="tagData" ng-repeat="asset in assetList"
									ng-click="selectZone($index)"
									ng-class="{'selected':$index == selectedRow}">
									<td class="col-sm-4 col-md-4"
										style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{asset.zoneName}}</td>
									<td class="col-sm-3 col-md-3"
										style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{asset.name}}</td>
									<td class="col-sm-2 col-md-2" style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{asset.type}}</td>

									<td class="col-sm-2 col-md-2" ng-show="serviceProviderStatus"><input
										style="padding: 0px; border: none; height: 15px !important; width: 30px !important;"
										type="color" id="liveColorId{{$index}}" ng-disabled="isTrack"
										value="{{asset.colorCode}}"></td>
									<td class="col-sm-1 col-md-1" ng-show="serviceProviderStatus"><input
										type="checkbox" ng-model="asset.selected"
										style="margin: 0px !important;" ng-disabled="isTrack"
										ng-click="checkIfAllSelected()"></td>
								</tr>
								<tr ng-show="tagNoData">
									<td colspan="3" style="text-align: center; color: red;">{{noDataText}}</td>
								</tr>
							</tbody>

						</table>

						<div class="card" id="selectedTagDetailView"
							style="width: 100%; margin-top: 3px;">

							<button type="button" class="btn-primary btnValue" ng-show="showMoreInfoBtn"
								ng-click="getMoreInfo()"
								style="height: 30px; z-index: 10; position: absolute; right: 10px; margin-top: 70px;">More
								Info</button>

							<button type="button" class="btn-primary btnValue"
								ng-click="sendBuzzerAlert()"
								style="height: 30px; z-index: 10; position: absolute; right: 10px; margin-top: 30px;">Send
								Buzzer</button>
							<div style="height:25px;">
								<button type="button" ng-click="closebtn()"
									style="margin-top: 5px; width: 25px;" class="close pull-right">&times;</button>
								<h6 style="margin-left: 10px; margin-top: 5px;">Information:</h6>
							</div>

							<div style="margin-left: 10px;margin-top: 2px; ">

								<div class="row" style="height: 20px;">
									<div class="col-sm-4">
										<label class="name">{{columnName0}}</label>
									</div>
									<div class="col-sm-5">{{columnValue0}}</div>

								</div>
								
								<div id="columnDiv" class="row" style="height: 20px;">
									<div class="col-sm-4">
										<label class="name">{{columnName}}</label>
									</div>
									<div class="col-sm-5">{{columnValue}}</div>

								</div>
								
								<div id="column1Div" class="row" style="height: 20px;">
									<div class="col-sm-4">
										<label class="name">{{columnName1}}</label>
									</div>
									<div class="col-sm-5">{{columnValue1}}</div>

								</div>
								
								
								<div class="row" style="height: 20px;">
									<div class="col-sm-4">
										<label class="name">Zone</label>
									</div>
									<div class="col-sm-5">{{zoneName}}</div>
								</div>
								
								<div class="row" style="height: 20px;">
									<div class="col-sm-4">
										<label class="name">Last Seen</label>
									</div>
									<div class="col-sm-5">{{last_seen}}</div>
								</div>
							</div>
						</div>

					</div>



					<div class="card" id="employeeDetailsView"
						style="width: 19rem; height: 100%; min-height: 100%; border: 1px solid #ccc; z-index: 9; position: relative; float: right; margin-right: 10px;">


						<div class="card-header">
							<button type="button" ng-click="closeDetailsView()"
								style="margin-top: 10px; width: 25px;" class="close pull-right">&times;</button>
							<h5>Employee Details</h5>
						</div>

						<div class="card-body">

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Emp Id:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{empId}}</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Emp Name:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{empName}}</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Department:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{department}}</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Shift:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{shift}}</label>
									</div>
								</div>
							</div>

						</div>

					</div>


					<div class="card" id="visitorDetailsView"
						style="width: 19rem; height: 100%; min-height: 100%; border: 1px solid #ccc; z-index: 9; position: relative; float: right; margin-right: 10px;">


						<div class="card-header">
							<button type="button" ng-click="closeDetailsView()"
								style="margin-top: 10px; width: 25px;" class="close pull-right">&times;</button>
							<h5>{{assienmentType}} Details</h5>
						</div>

						<div class="card-body">

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">{{assienmentType}} Name:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{visName}}</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Company Name:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{visCompany}}</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Date:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{visDate}}</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Time:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{visFromTime}}-{{visToTime}}</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Contact Person:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{visContactPerson}}</label>
									</div>
								</div>
							</div>

						</div>

					</div>


					<div class="card" id="assetDetailsView"
						style="width: 19rem; height: 100%; min-height: 100%; border: 1px solid #ccc; z-index: 9; position: relative; float: right; margin-right: 10px;">


						<div class="card-header">
							<button type="button" ng-click="closeDetailsView()"
								style="margin-top: 10px; width: 25px;" class="close pull-right">&times;</button>
							<h5>Asset Details</h5>
						</div>

						<div class="card-body">

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Asset Id:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{assetId}}</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Asset Type:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{assetType}}</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Sub Type:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{assetSelectedSubType}}</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Type:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{assetSelectedType}}</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Range Value:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{rangeValue}}</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Manufacturer:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{manufacturer}}</label>
									</div>
								</div>
							</div>

							<div class="row" ng-show="assienmentType=='Asset Chrono'">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Expiry Date:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{validityDate}}</label>
									</div>
								</div>
							</div>
							
							<span class="blink_me" ng-show="!showDoNotUse"
								style="color: red; margin: 20px; font-style: italic; font-weight: bold;">Expired
								Asset, Do Not Use</span>


						</div>

					</div>



					<div class="card" id="vehicleDetailsView"
						style="width: 19rem; height: 100%; min-height: 100%; border: 1px solid #ccc; z-index: 9; position: relative; float: right; margin-right: 10px;">


						<div class="card-header">
							<button type="button" ng-click="closeDetailsView()"
								style="margin-top: 10px; width: 25px;" class="close pull-right">&times;</button>
							<h5>Vehicle Details</h5>
						</div>

						<div class="card-body">

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Vehicle Id:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{assetId}}</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Vehicle Type:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{assetType}}</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Sub Type:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{subType}}</label>
									</div>
								</div>
							</div>

						</div>

					</div>



					<div class="card" id="wareHouseDetailsView"
						style="width: 27rem; height: 100%; min-height: 100%; border: 1px solid #ccc; z-index: 9; position: relative; float: right; margin-right: 10px;">


						<div class="card-header">
							<button type="button" ng-click="closeDetailsView()"
								style="margin-top: 10px; width: 25px;" class="close pull-right">&times;</button>
							<h5>Warehouse Material Details</h5>
						</div>

						<div class="card-body" style="padding: 0px; padding-bottom: 10px;">
							<div class="row">
								<button
									style="position: relative; width: 33%; margin-left: 7px;"
									type="submit" class="btnValue btn-primary"
									ng-click="showWarehouseDetails('storage')" id="storageDetails">Storage
									Info</button>

								<button style="position: relative; width: 30%" type="submit"
									class="btnValue btn-primary"
									ng-click="showWarehouseDetails('delivery')"
									id="deliveryDetails">Delivery Info</button>

								<button style="position: relative; width: 33%" type="submit"
									class="btnValue btn-primary"
									ng-click="showWarehouseDetails('sku')" id="skuDetails">SKU
									Details</button>

							</div>

							<div id="warehouseDetailsInfo" style="padding: 10px;">{{warehouseDetailsInfo}}</div>

							<div id="warehouseDetailsTable"
								style="padding: 10px; padding-bottom: 0px;"></div>

							<span class="blink_me" ng-show="!showDoNotUse"
								style="color: red; margin: 20px; font-style: italic; font-weight: bold;">Expired
								Material, Do Not Use</span>

						</div>
					</div>

					<div class="card" id="skuDetailsView"
						style="width: 19rem; height: 100%; min-height: 100%; border: 1px solid #ccc; z-index: 9; position: relative; float: right; margin-right: 10px;">


						<div class="card-header">
							<button type="button" ng-click="closeDetailsView()"
								style="margin-top: 10px; width: 25px;" class="close pull-right">&times;</button>
							<h5>SKU/Material Details</h5>
						</div>

						<div class="card-body">

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">UPC Code:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{assignUPCCode}}</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">SKU No:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{assignSKUNo}}</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Batch No:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{assignBatchNo}}</label>
									</div>
								</div>
							</div>


						</div>

					</div>


					<div class="card" id="materialDetailsView"
						style="width: 45rem; height: 100%; min-height: 100%; border: 1px solid #ccc; z-index: 9; position: relative; float: right; margin-right: 10px;">


						<div class="card-header">
							<button type="button" ng-click="closeDetailsView()"
								style="margin-top: 10px; width: 25px;" class="close pull-right">&times;</button>
							<h5>Work Order Details</h5>
						</div>

						<div class="card-body">

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Order No:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{ordereNo}}</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Tag Id:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{tagId}}</label>
									</div>
								</div>
							</div>



							<span class="name required" style="margin-bottom: 3px">Material
								details:</span>

							<table class="table table-bordered tbodyWidth"
								style="margin-bottom: 2px" id="orderDetailsTable">
								<thead>
									<tr>
										<th class="thcss col-sm-2 col-md-2" id="idTableZone">Prod
											Id</th>
										<th class="thcss col-sm-2 col-md-2" id="idTableName">Issue
											Date</th>
										<th class="thcss col-sm-2 col-md-2" id="idTableType">Source</th>
										<th class="thcss col-sm-2 col-md-2" id="idTableType">Destination</th>
										<th class="thcss col-sm-3 col-md-3" id="idTableType">Process
											Control</th>
										<th class="thcss col-sm-1 col-md-1" id="idTableType">Price</th>
									</tr>
								</thead>
								<tbody class="">
									<tr ng-repeat="material in materialDetails">
										<td class="col-sm-2 col-md-2"
											style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{material.prodId}}</td>
										<td class="col-sm-2 col-md-2"
											style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{material.issueDate}}</td>
										<td class="col-sm-2 col-md-2"
											style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{material.source}}</td>
										<td class="col-sm-2 col-md-2"
											style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{material.destination}}</td>
										<td class="col-sm-3 col-md-3"
											style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{material.processControl}}</td>
										<td class="col-sm-1 col-md-1"
											style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{material.price}}</td>

									</tr>
									<tr ng-show="tagNoData">
										<td colspan="3" style="text-align: center; color: red;">{{noDataText}}</td>
									</tr>
								</tbody>

							</table>

						</div>

					</div>

				</div>

			</div>
		</div>



		<div class="modal" id="idInventoryModal" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header"
						style="display: block; background-color: #007bff">
						<button type="button" class="close" data-dismiss="modal" style="color:white;">&times;</button>
						<h4 class="modal-title" style="padding-left: 0px; color:white;">{{selectedAssetType}}
							Details</h4>
					</div>
					<div class="modal-body">

						<form name="changePwdForm" id="changePwdForm">

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Tag Id:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{selectedTagId}}</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">UPC Code:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{upcCode}}</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">SKU No:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{skuNo}}</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Batch No:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{batchNo}}</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Description:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{skuDescription}}</label>
									</div>
								</div>
							</div>

							<div class="row" ng-show="selectedAssetType=='LSLM'">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Expiry Date:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{skuExpiryDate}}</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Total Quantity:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{skuTotalQuantity}}</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Available Quantity:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<label>{{skuAvailableQuantity}}</label>
									</div>
								</div>
							</div>

							<div class="row"
								ng-show="skuTransaction && skuAvailableQuantity>0 && !skuTransactionView">
								<div class="col-xs-3 col-sm-4 ">
									<span class="name required">Quantity to Deduct:</span>
								</div>
								<div class="col-xs-9 col-sm-8">
									<div class="form-group" style="margin-bottom: 5px">
										<input type="text" class="form-control deductQuantity"
											id="deductQuantity" name="deductQuantity"
											placeholder="Enter Quantity"></input>

									</div>
								</div>
							</div>

							<span class="blink_me" ng-show="!showDoNotUse"
								style="color: red; margin-left: 30px; font-style: italic; font-weight: bold;">Expired,
								Do Not Use</span>

						</form>



					</div>
					<div class="modal-footer" ng-show="skuTransaction && showDoNotUse">


						<button type="button" class="btnValue btn-primary"
							ng-show="skuTransactionView" ng-click="showTransactionView()">Transaction</button>

						<button type="button" class="btnValue btn-primary"
							ng-show="!skuTransactionView" ng-click="inventoryUpdateBtnClik()">Update</button>

						<button type="button" class="btnValue btn-primary"
							ng-show="!skuTransactionView" style="margin-left: 10px;"
							ng-click="inventoryCancelBtnClik()">Cancel</button>
					</div>
				</div>

			</div>
		</div>


	</section>

</body>
