<!DOCTYPE html>
<html>


<body class="hold-transition login-page">
	<section id="hero" class="d-flex align-items-center"
		ng-controller="logincontroller" style="padding: 60px 0;">
		<div class="login-box" style="margin-inline-start: 40%;">


			<div class="card">
				<div class="card-body login-card-body">
					<p class="login-box-msg">
					<img
						src="dist/img/EntappiaLogo.png" alt="Entappia Logo"
						class="brand-image " style="opacity: .8"/>
					</p>
					<p class="login-box-msg">
					<img
						src="dist/img/EILogoImage.png" alt="EI4.0 Logo"
						class="brand-image " style="opacity: .8"/>
					<!--  <h2>
						<center>Welcome to EI4.0</center>
					</h2>-->
					</p>
					<p class="login-box-msg">Please login to your account</p>

					<form autocomplete="disabled" name="loginform" id="contact-form"
						class="contact-form">
						<div class="input-group mb-3">


							<input id="emailID" class="form-control" type="text"
								autocomplete="new-username" ng-model="authen.emailID"
								name="emailID" placeholder="Username"  />
								
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-envelope"></span>
									
								</div>
								
							</div>
							
						</div>
						<em style="color: red" ng-show="loginEmailError"
									id="id_loginEmailError">{{loginEmail_error_msg}}</em>
						<div class="input-group mb-3">
							<input id="id_password" class="form-control" type="password"
								autocomplete="new-password" ng-model="authen.password" maxlength="25"
								name="password" placeholder="Password" />
								
								<span class="input-group-btn">
            						<button class="btn btn-default" id="togglePassword" ng-click="eyeButtonClick();" type="button">
            						<i class="far fa-eye-slash"></i>
            						</button>
          						</span> 
          						
          						
         						
							<!-- <div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-lock"></span>
								</div>
							</div> -->
						</div>
						<em style="color: red" ng-show="loginPasswordError"
								id="id_loginPasswordError">{{loginPassword_error_msg}}</em>
						<!--
						<div class="col-8">
							<div class="icheck-primary">
								<input type="checkbox" id="remember" ng-model="passwordCheckbox"
									ng-click="hideShowPassword()"> <label for="remember">
									show password </label>-->
								<!--  <label  for="remember" ng-if="!passwordCheckbox">Show Password</label> 
							</div>
						</div>
						-->
						<div class="row">
							<div class="col-8"></div>
							<!-- /.col -->
							<div class="col-12">
								<button type="submit" class="btn btn-primary btn-block"
									ng-click="authenticate()">Sign In</button>
							</div>
							<!-- /.col -->
						</div>
					</form>
					<p class="mb-1">
						<a href="" ng-click=" forgotPassword()">I forgot my password</a>
					</p>
					<!-- <p class="mb-1">
						<a href="" ng-click="changePwd()">Change my password</a>
					</p> -->
					<!-- <p class="mb-0">
						<a href="" ng-click="register()" class="text-center">Register
							a new membership</a>
					</p> -->
				</div>
				<!-- /.login-card-body -->
			</div>
		</div>
	</section>

</body>
</html>
