<style>

.tr_odd {
	background-color: white;
	color: #000000;
}

.tr_even {
	background-color: #f2f2f2;
	color: #000000;
}

.table-container {
	/*height: 70vh;*/
	/*overflow-y: scroll;*/
}

.tableFixHead {
	overflow-y: auto;
	/*height: 70vh;*/
}

 #notificationTableView {
	overflow-y: auto;
	height: fit-content;
} 


.tableFixHead table {
	border-collapse: collapse;
	width: 100%;
}

.tableFixHead th, .tableFixHead td {
	padding: 8px 16px;
}

th.sortable {
	position: relative;
	cursor: pointer;
}

th.sortable::after {
	font-family: 'Font Awesome\ 5 Free';
	content: "\f0dc";
	position: absolute;
	right: 8px;
	color: #fff;
}

th.sortable.asc::after {
	content: "\f0d8";
}

th.sortable.desc::after {
	content: "\f0d7";
}

th.sortable:hover::after {
	color: #dedede;
}

.table th, .table td {
	padding: 0.5rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.content-header {
	padding: 3px 0.5rem;
}

@media (min-width: 576px)
.modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: white;
}
.modal-header .close, .modal-header .mailbox-attachment-close {
    padding: 2.5rem;
    margin: -1rem -1rem -1rem auto;
    color: white;   
}

#idMultiSearchCard {
	width: 1000Px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	box-shadow: 0 0 2px rgb(0 0 0/ 13%), 0 1px 3px rgb(23, 29, 215);
}
</style>
<div ng-controller="materialManagementController">
	<!DOCTYPE html>
	<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<!-- Site wrapper -->
	<div class="wrapper">
		<!-- Navbar -->
		<nav
			class="main-header navbar navbar-expand navbar-white navbar-light"
			style="position: unset;">
			<!-- Left navbar links -->
			<ul class="nav nav-pills">

				<li ng-show="showViewAllBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idMaterialView" href="" ng-click="displayMaterialViewScreen()"
					class="nav-link active" data-toggle="tab"> </i>
						<p>View All</p></a></li>

				<li ng-show="showAddBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idMaterialAdd" href="" ng-click="displayMaterialAddScreen()"
					class="nav-link"> </i>
						<p>Add Material</p></a></li>
				<li ng-show="showMultipleAddBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idBulkMaterialAdd" href=""
					ng-click="displayMultipleMaterialAddScreen()" class="nav-link">
						</i>
						<p>Add Multiple Material</p>
				</a></li>

				<li ng-show="showEditBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idMaterialEdit" href="" ng-click="displayMaterialEditScreen()"
					class="nav-link"> </i>
						<p>Edit Material</p></a></li>

			</ul>
			
			<div class="card" ng-show="showMultipleSearch" id="idMultiSearchCard">
				<form class="form-inline" id="idMultiSearchForm">
					<select id="idFirstDropDownMultiSearch"
						style="width: 20%; height: 35px; font-size: 80%; margin-left: 0.5rem; margin-left: 0.5rem"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="firstMultiSearchDropDown"
						ng-change="multiSearchChanged()" ng-dropdown>
						<option value="All">All</option>
						<option value="prodId">Product ID</option>
						<option value="orderNo">Order No</option>
						<option value="issueDate">Issue Date</option>
						<option value="source">Source</option>
						<option value="destination">Destination</option>
						<option value="processControl">Description</option>
					</select> <input type="search" class="form-control"
						placeholder="Search Text" name="firstSearchText"
						id="idFirstSearchText" ng-model="firstSearchText" required
						style="margin-left: 0.3rem; height: 35px;"
						ng-change="multiSearchChanged()">
					<!--  <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch>
                <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch data-off-color="danger" data-on-color="success"> -->
					<select
						style="width: 10%; height: 35px; font-size: 80%; margin-left: 0.3rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="varANDORDropDown" ng-change="multiSearchChanged()"
						ng-dropdown>
						<option value="AND">AND</option>
						<option value="OR">OR</option>

					</select> <select id="idSecondDropDownMultiSearch"
						style="width: 20%; height: 35px; font-size: 80%; margin-left: 0.3rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="secondMultiSearchDropDown"
						ng-change="multiSearchChanged()"
						ng-disabled="disableSecondFilterDropDown" ng-dropdown>
						<option value="All">All</option>
						<option value="prodId">Product ID</option>
						<option value="orderNo">Order No</option>
						<option value="issueDate">Issue Date</option>
						<option value="source">Source</option>
						<option value="destination">Destination</option>
						<option value="processControl">Description</option>
					</select> <input type="search" class="form-control"
						placeholder="search Text" name="secondSearchText"
						id="idSecondSearchText" ng-model="secondSearchText" required
						style="margin-left: 0.3rem; height: 35px;"
						ng-change="multiSearchChanged()"
						ng-disabled="disableSecondFilterText">

					<button type="button" ng-click="closeMultiSearchView()"
						style="margin-top: 10px; width: 25px;" class="close pull-right">&times;</button>
				</form>
			</div>
			<!-- SEARCH FORM -->
			<form class="form-inline ml-auto ">


				<div ng-show="materialViewScreen"
					class="img-bordered-sm img-rounded" style="margin: 10px;">
					<a ng-click="trackTag()"> <i id="trackIcon" data-toggle="tooltip" title="Locate All"
						style="font-size: 20px; color: blue" class="fas fa-binoculars"></i></a>
				</div>

				<div class="input-group input-group-sm" ng-show="searchButton">
					<input class="form-control form-control-navbar" type="search"
						ng-model="searchText" ng-change="fnMaterialSearchOption()"
						placeholder="Search" aria-label="Search">
					<div class="input-group-append">
						<button class="btn btn-navbar">
							<i class="fas fa-search"></i>
						</button>
					</div>
				</div>
				<button class="btn-leftslide" ng-click="multipleSearch()"
					ng-show="showSearchIcon">
					<i class="fas fa-search"></i>
				</button>
			</form>
		</nav>
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header"></section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<!-- Default box -->
							<div class="card">

								<div class="card-body">
									<div ng-show="materialViewScreen"
										style="width: 100%; height: 76vh; margin-top: 0px;"
										id="emplistView" style="margin-left: 10px;">
										<div class="panel panel-default">
											<ul class="list-group" id="contact-list">
												<!-- <li class="list-group-item"> -->
												<div id="main" class="table-container tableFixHead">
													<table
														class="table table-bordered table-hover dataTable dtr-inline"
														id="materialTable" name="materialTable">
														<thead
															style="background-color: rgb(0, 123, 255); color: white;">
															<tr>
																<th class="thcss">S.No</th>
																<th class="thcss">Product ID</th>
																<th class="thcss">Order No</th>
																<th class="thcss">Issue Date</th>
																<th class="thcss">Source</th>
																<th class="thcss">Destination</th>
																<th class="thcss">Description</th>
															</tr>
														</thead>
														<tbody>
															<tr
																ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
																ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
																ng-repeat="materialView in materialViewData | filter:searchText"
																data-ng-click="rowHighilited($index)">
																<td>{{$index + serial}}</td>
																<td>{{materialView.prodId}}</td>
																<td>{{materialView.ordereNo}}</td>
																<td>{{materialView.issueDate}}</td>
																<td>{{materialView.source}}</td>
																<td>{{materialView.destination}}</td>
																<td>{{materialView.processControl}}</td>
															</tr>
															<tr ng-show="materialNoData">
																<td colspan="7" style="text-align: center; color: red;">No
																	data found.</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="clearfix"></div>
												<!-- </li> -->

											</ul>
										</div>
										<div class="row" style="height: 50px">

											<div class="col-6">
												<button style="position: relative; left: 10px; top: 10px;"
													type="submit" class="btnValue btn-primary"
													ng-click="trackSingleTag()"
													ng-show="showLocateBtn&&selectedRow>=0&&trackMacId!=''">Locate</button>

												<button
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													type="submit" class="btnValue btn-secondary"
													ng-click="cancelMaterialSelection()"
													ng-show="showLocateBtn&&selectedRow>=0&&trackMacId!=''">Cancel</button>

											</div>

											<div class="col-6">
												<div ng-show="PaginationTab" class="input-bar pull-right">
													<div class="input-bar">

														<div class="row" class="input-bar-item width100"
															style="float: right; margin-right: 0px;">
															<label for="totalPage"
																style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
																Pages {{totalPages}}</label>
															<form>
																<div class="input-group"
																	style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																	<span class="input-group-btn">
																		<button class="btn btn-primary"
																			id="id_firstPageViewMaterial"
																			ng-click="goFirstPage()" ng-disabled="isFirstPage">&lt;&lt;</button>
																		<button class="btn btn-primary"
																			id="id_previousPageViewMaterial"
																			ng-click="goPreviousPage()" ng-disabled="hasPrevious">&lt;</button>
																	</span> <input class="form-control width100" type="text"
																		ng-model="currentPage"> <span
																		class="input-group-btn">
																		<button class="btn btn-primary"
																			id="id_nextPageViewMaterial" ng-click="goNextPage()"
																			ng-disabled="hasNext">&gt;</button>
																		<button class="btn btn-primary"
																			id="id_lastPageViewMaterial" ng-click="goLastPage()"
																			ng-disabled="isLastPage">&gt;&gt;</button>
																	</span>
																</div>
															</form>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>
									<div ng-show="materialMultipleAddFileUploadScreen">
										<div class="container-fluid">
											<div class="" style="padding-top: 10px">
												<div class=""
													style="margin-left: 300px; margin-right: 350px;">
													<!-- general form elements -->

													<div class="card card-info">

														<form id="idImportMaterialMultipleAddForm"
															name="ImportMaterialMultipleAddForm"
															class="form-horizontal" role="form"
															enctype="multipart/form-data" style="position: relative;">
															<div class="card-body" style="padding-left: 10%;">
																<div class="form-group row">
									
																	<label class="col-sm-4 col-form-label"> Select
																		Material File</label>
																	<div class="col-sm-6">

																		<input type="file" name="upfile" id="upfile"
																			ng-model="upfile" value="Import"
																			onchange="angular.element(this).scope().getJsondata()" /><br />
																		<em for="upfile" class="invalid"></em>

																	</div>
																</div>
															</div>
															<div class="col-lg-12 form-group"
																style="text-align: center;">
																<button class="btnValue btn-primary float-center"
																	type="submit" ng-click="importMaterialDetailFile()">Import</button>
															</div>

														</form>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div ng-show="multiMaterialAddScreen ">
										<form name="addMultiMaterialForm" autocomplete="disabled"
											id="addMultiMaterialForm" class="form-horizontal emp-form"
											role="form" style="position: relative;">

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="productID">Product ID</label> <select
															style="-webkit-appearance: menulist-button; width: 100%;"
															class="form-control select2"
															ng-model="multiMaterial.productID"
															name="multipleMaterialProductId"
															id="id_multipleMaterialProductId" ng-dropdown required>
															<option disabled="disabled" value="Select an option">Select
																an option</option>
															<option ng-repeat="keyName in keyNames">{{keyName}}</option>

														</select>

													</div>
													<em style="color: red"
															ng-show="addMulProdIdError" 
															id="id_addMulProdIdError">{{addMulProdId_error_msg}}</em>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">

														<label class="" for="orderNumber">Order Number</label> <select
															style="-webkit-appearance: menulist-button; width: 100%;"
															class="form-control select2"
															ng-model="multiMaterial.orderNumber"
															name="multipleMaterialorderNumber"
															id="id_multipleMaterialorderNumber" ng-dropdown required  ">
															<option disabled="disabled" value="Select an option">Select
																an option</option>
															<option ng-repeat="keyName in keyNames">{{keyName}}</option>

														</select>

													</div>
													<em style="color: red"
															ng-show="addMulOrderNoError" 
															id="id_addMulOrderNoError">{{addMulOrderNo_error_msg}}</em>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="issueDate">Issue Date</label>

														<div class="input-group date" id="addMultipleMaterialDateTimePicker"
															data-target-input="nearest">

															<select
																style="-webkit-appearance: menulist-button; width: 100%;"
																class="form-control select2"
																ng-model="multiMaterial.issueDate"
																name="multipleMaterialissueDate"
																id="id_multipleMaterialissueDate" ng-dropdown required  ">
																<option disabled="disabled" value="Select an option">Select
																	an option</option>
																<option ng-repeat="keyName in keyNames">{{keyName}}</option>

															</select>

														</div>
													</div>
													<em style="color: red"
															ng-show="addMulIssueDateError" 
															id="id_addMulIssueDateError">{{addMulIssueDate_error_msg}}</em>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="source">Source</label>
														<!-- <div class="col-sm-5"> -->

														<select
															style="-webkit-appearance: menulist-button; width: 100%;"
															class="form-control select2"
															ng-model="multiMaterial.source"
															name="multipleMaterialSource"
															id="id_multipleMaterialSource" ng-dropdown required  ">
															<option disabled="disabled" value="Select an option">Select
																an option</option>
															<option ng-repeat="keyName in keyNames">{{keyName}}</option>

														</select>

													</div>
													<em style="color: red"
															ng-show="addMulSourceError" 
															id="id_addMulSourceError">{{addMulSource_error_msg}}</em>
												</div>
											</div>
												
											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label class="" for="destination">Destination</label>
														 <select
															style="-webkit-appearance: menulist-button; width: 100%;"
															class="form-control select2"
															ng-model="multiMaterial.destination"
															name="multipleMaterialDestination"
															id="id_multipleMaterialDestination" ng-dropdown required  ">
															<option disabled="disabled" value="Select an option">Select
																an option</option>
															<option ng-repeat="keyName in keyNames">{{keyName}}</option>

														</select>
													</div>
													<em style="color: red"
															ng-show = "addMulDestinationError" 
															id = "id_addMulDestinationError">{{addMulDestination_error_msg}}</em>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">

														<label class="" for="processControl">Description</label> <select
															style="-webkit-appearance: menulist-button; width: 100%;"
															class="form-control select2"
															ng-model="multiMaterial.processControl"
															name="multipleMaterialProcessControl"
															id="id_multipleMaterialProcessControl" ng-dropdown required  ">
															<option disabled="disabled" value="Select an option">Select
																an option</option>
															<option ng-repeat="keyName in keyNames">{{keyName}}</option>

														</select>
													</div>
													<em style="color: red" ng-show="addMulDescriptionError" 
															id="id_addMulDescriptionError">{{addMulDescription_error_msg}}</em>
												</div>
											</div>
											<div class="row">

												<div class="col-sm-5">
													<div class="form-group ">
														<label for="price">Price</label>
														<div class="input-group">

															<select ng-show="multiMaterialAddScreen>0"
																style="-webkit-appearance: menulist-button; width: 100%;"
																class="form-control select2"
																ng-model="multiMaterial.price"
																name="multipleMaterialPrice"
																id="id_multipleMaterialPrice" ng-dropdown required ">
																<option disabled="disabled" value="Select an option">Select
																	an option</option>
																<option ng-repeat="keyName in keyNames">{{keyName}}</option>

															</select>

														</div>
													</div>
													<em style="color: red"
															ng-show="addMulPriceError" 
															id="id_addMulPriceError">{{addMulPrice_error_msg}}</em>
												</div>
											</div>

											<div class="col-lg-12 form-group" style="text-align: center;">

												<button type="submit"
													class="btnValue btn-primary float-center"
													style="position: relative; left: 10px; top: 10px;"
													ng-click="addMultipleMaterial()">Add</button>
												<button type="button"
													class="btnValue btn-secondary float-center"
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													ng-click="cancelMultipleMaterial()">Clear</button>
											</div>
										</form>
									</div>
									
									<div class="modal " id="bulkTagUpload_modal" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
					
						<div class="modal-content" style=" width: 900px;  margin-left: -30%;">
							<div class="modal-header" style="display: block; background-color: #007bff">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title" style="padding-left: 0px;">Multiple
									Material Upload Error Detail</h4>
							</div>
							
							<div class="modal-body">
								<div class="row" style=" display: inline-flex;height: 300px;overflow-y: scroll;">
									<div id="bulkTagErrorTable" class="table-container">
										<table class="table table-container tableFixHead" style="">
											<thead>
												<tr>
													<th  style="width: 100px" class="thcss">Record No</th>
													<th  style="width: 300px" class="thcss">Field</th>
													<th style="width: 460px" class="thcss">Error Description</th>

												</tr>
											</thead>
											<tbody>
												<tr style="" ng-repeat="errorArray in errorArray">
													<td style="width: 100px;" >{{errorArray.recordcount}}</td>
													<td style="width: 300px;">{{errorArray.errorField}}</td>
													<td style="width: 460px;">{{errorArray.errorDescription}}</td>

												</tr>

											</tbody>
										</table>
									</div>

								</div>
								<!-- <div class="alert alert-danger" ng-show="modelerror">
									{{alert_error_msg}}<br />
								</div>
								<div class="alert alert-success" ng-show="success">
									{{alert_success_msg}}<br />
								</div> -->
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									ng-click="bulkTagCloseBtnClik()">Close</button>
							</div>
						</div>

					</div>
				</div>
									
									<div ng-show="materialAddScreen ">
										<form name="addMaterialForm" autocomplete="disabled"
											id="addMaterialForm" class="form-horizontal emp-form"
											role="form" style="position: relative;">

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="productID">Product ID</label> <input
															type="text" class="form-control"
															placeholder="Enter Product ID" maxlength="12"
															name="productID" id="id_productIDAddMaterial"
															ng-model="authen.productID" />
															<em style="color: red"
															ng-show="addProdIdError" 
															id="id_addProdIdError">{{addProdId_error_msg}}</em>


													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">

														<label class="" for="orderNumber">Order Number</label> <input
															type="number" class="form-control"
															placeholder="Enter Order Number" maxlength="8"
															name="orderNumber" id="id_orderNumberAddMaterial"
															ng-model="authen.orderNumber" />
															<em style="color: red"
															ng-show="addOrderNoError" 
															id="id_addOrderNoError">{{addOrderNo_error_msg}}</em>													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="issueDate">Issue Date</label>

														<div class="input-group date" id="addMaterialDateTimePicker"
															data-target-input="nearest">
															<input type="text"
																class="form-control datetimepicker-input"
																data-target="#addMaterialDateTimePicker" name="issueDate"
																id="id_issueDateAddmaterial" ng-model="authen.issueDate"
																 />

															<div class="input-group-append"
																data-target="#addMaterialDateTimePicker"
																data-toggle="datetimepicker">
																<div class="input-group-text">
																	<i class="fa fa-calendar"></i>
																</div>
															</div>
														</div>
														<em style="color: red" ng-show="addMulIssueDateError"
																id="id_addMulIssueDateError">{{addMulIssueDate_error_msg}}</em>
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="source">Source</label>
														<!-- <div class="col-sm-5"> -->
														<input type="text" class="form-control"
															placeholder="Enter Source" maxlength="30" name="source"
															id="id_sourceAddMaterial" ng-model="authen.source"/>
															<em style="color: red" ng-show="addSourceError"
																id="id_addSourceError">{{addSource_error_msg}}</em>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label class="" for="destination">Destination</label> <input
															type="text" class="form-control"
															placeholder="Enter Destination" maxlength="30"
															name="destination" id="id_destinationAddMaterial"
															ng-model="authen.destination" />
															<em style="color: red" ng-show="addDestinationError"
																id="id_addDestinationError">{{addDestination_error_msg}}</em>

													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">

														<label class="" for="processControl">Description</label> <input type="text" class="form-control"
															placeholder="Enter Description" maxlength="30"
															ng-model="authen.processControl" name="processControl"
															id="id_processControlAddMaterial" />
															<em style="color: red" ng-show="addProcessControlError"
																id="id_addProcessControlError">{{addProcessControl_error_msg}}</em>

													</div>
												</div>
											</div>
											<div class="row">

												<div class="col-sm-5">
													<div class="form-group ">
														<label for="price">Price</label>
														<div class="input-group">

															<input type="text" class="form-control"
																placeholder="Enter Price" maxlength="12"
																id="id_priceAddMaterial" name="price" 
																 title="Currency"ng-model="authen.price" 
																 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>

															<div class="input-group-append">
																<div class="input-group-text">
																	<span class="fas fa-dollar-sign"></span>
																</div>
															</div>
														</div>
														<em style="color: red" ng-show="addPriceError"
																id="id_addPriceError">{{addPrice_error_msg}}</em>
													</div>
												</div>
											</div>

											<div class="col-lg-12 form-group" style="text-align: center;">

												<button type="submit"
													class="btnValue btn-primary float-center"
													style="position: relative; left: 10px; top: 10px;"
													ng-click="addMaterial()">Add</button>
												<button type="button"
													class="btnValue btn-secondary float-center"
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													ng-click="cancelMaterial()">Clear</button>
											</div>
										</form>
									</div>

									<div ng-show="materialEditScreen"
										style="width: 100%; height: 76vh; margin-top: 0px;"
										id="emplistView" style="margin-left: 10px;">
										<div class="panel panel-default">
											<ul class="list-group" id="contact-list">
												<div id="main" class="table-container tableFixHead">
													<table
														class="table table-bordered table-hover dataTable dtr-inline"
														id="materialTable" name="materialTable">
														<thead
															style="background-color: rgb(0, 123, 255); color: white;">
															<tr>
																<th class="thcss">S.No</th>
																<th class="thcss">Product ID</th>
																<th class="thcss">Order No</th>
																<th class="thcss">Issue Date</th>
																<th class="thcss">Source</th>
																<th class="thcss">Destination</th>
																<th class="thcss">Description</th>
															</tr>
														</thead>
														<tbody>
															<tr
																ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
																ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
																ng-repeat="materialView in materialViewData | filter:searchText"
																data-ng-click="rowHighilited($index)">
																<td>{{$index + serial}}</td>
																<td>{{materialView.prodId}}</td>
																<td>{{materialView.ordereNo}}</td>
																<td>{{materialView.issueDate}}</td>
																<td>{{materialView.source}}</td>
																<td>{{materialView.destination}}</td>
																<td>{{materialView.processControl}}</td>
															</tr>
															<tr ng-show="materialNoData">
																<td colspan="7" style="text-align: center; color: red;">No
																	data found.</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="clearfix"></div>

											</ul>
										</div>
										<div layout="row" style="height: 50px">
											<button style="position: relative; left: 10px; top: 10px;"
												type="submit" class="btnValue btn-primary"
												ng-click="editMaterialRow()" ng-show="selectedRow>=0">Edit</button>

											<button
												style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
												type="submit" class="btnValue btn-primary"
												ng-click="deleteMaterial()" ng-show="selectedRow>=0">Delete</button>

											<button
												style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
												type="submit" class="btnValue btn-secondary"
												ng-click="cancelMaterialRow()" ng-show="selectedRow>=0">Cancel</button>

											<div ng-show="PaginationTab" class="input-bar pull-right">
												<div class="input-bar">

													<div class="row" class="input-bar-item width100"
														style="float: right; margin-right: 0px;">
														<label for="totalPage"
															style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
															Pages {{totalPages}}</label>
														<form>
															<div class="input-group"
																style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																<span class="input-group-btn">
																	<button class="btn btn-primary"
																		id="id_firstPageEditMaterial" ng-click="goFirstPage()"
																		ng-disabled="isFirstPage">&lt;&lt;</button>
																	<button class="btn btn-primary"
																		id="id_previousPageEditMaterial"
																		ng-click="goPreviousPage()" ng-disabled="hasPrevious">&lt;</button>
																</span> <input class="form-control width100" type="text"
																	ng-model="currentPage"> <span
																	class="input-group-btn">
																	<button class="btn btn-primary"
																		id="id_nextPageEditMaterial" ng-click="goNextPage()"
																		ng-disabled="hasNext">&gt;</button>
																	<button class="btn btn-primary"
																		id="id_lastPageEditMaterial" ng-click="goLastPage()"
																		ng-disabled="isLastPage">&gt;&gt;</button>
																</span>
															</div>
														</form>
													</div>
												</div>

											</div>
										</div>

									</div>


									<div ng-show="materialEditUpdateScreen"
										style="width: 100%; height: 76vh; margin-top: 0px;"
										style="margin-left: 10px;">
										<form name="materialEditUpdateForm" autocomplete="disabled"
											id="idMaterialEditUpdateForm" class="form-horizontal emp-form"
											role="form" style="position: relative;">


											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="productID">Product ID</label> <input
															type="text" class="form-control"
															placeholder="Enter Product ID" maxlength="12"
															name="productID" id="id_productIDEditMaterial"
															ng-model="editMaterial.prodId" ng-readonly="true"
															/>
															<em style="color: red"
															ng-show="editProdIdError" 
															id="id_editProdIdError">{{editProdId_error_msg}}</em>
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">

														<label class="" for="dept">Order Number</label> <input
															type="number" class="form-control"
															placeholder="Enter Order Number" maxlength="8" min="1"
															max="16777215" name="orderNumber"
															id="id_orderNumberEditMaterial"
															ng-model="editMaterial.ordereNo" 
															oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
															<em style="color: red"
															ng-show="editOrderNoError" 
															id="id_editOrderNoError">{{editOrderNo_error_msg}}</em>

													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="issueDate">Issue Date</label>

														<div class="input-group date" id="editIssueDatetimepicker"
															data-target-input="nearest">
															<input type="text"
																class="form-control datetimepicker-input"
																data-target="#editIssueDatetimepicker" name="issueDate"
																id="id_issueDateEditMaterial"
																ng-model="editMaterial.issueDate"  />
															<div class="input-group-append"
																data-target="#editIssueDatetimepicker"
																data-toggle="datetimepicker">
																<div class="input-group-text">
																	<i class="fa fa-calendar"></i>
																</div>
															</div>
														</div>
														<em style="color: red" ng-show="editIssuedateError"
																id="id_editIssuedateError">{{editIssuedate_error_msg}}</em>
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="source">Source</label> <input type="text"
															class="form-control" placeholder="Enter Source"
															maxlength="30" name="source" id="id_sourceEditMaterial"
															ng-model="editMaterial.source" />
															<em style="color: red" ng-show="editSourceError"
																id="id_editSourceError">{{editSource_error_msg}}</em>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label class="" for="destination">Destination</label> <input
															type="text" class="form-control"
															placeholder="Enter Destination" maxlength="30"
															name="destination" id="id_destinationEditMaterial"
															ng-model="editMaterial.destination" />
															<em style="color: red" ng-show="editDestinationError"
																id="id_editDestinationError">{{editDestination_error_msg}}</em>
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">

														<label class="" for="processControl">Description</label> 
														<input type="text" class="form-control"
															placeholder="Enter Description" maxlength="30"
															ng-model="editMaterial.processControl"
															name="processControl" id="id_processControlEditMaterial"
															/>
															<em style="color: red" ng-show="editProcessControlError"
																id="id_editProcessControlError">{{editProcessControl_error_msg}}</em>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="source">Price</label>
														<div class="input-group">
																 
															<input type="text" class="form-control"
																placeholder="Enter Price" maxlength="12"
																id="id_priceEditdMaterial" name="price"
																 title="Currency" ng-model="editMaterial.price" 
																 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
															<div class="input-group-append">
																<div class="input-group-text">
																	<span class="fas fa-dollar-sign"></span>
																</div>
															</div>
														</div>
														<em style="color: red" ng-show="editPriceError"
																id="id_editPriceError">{{editPrice_error_msg}}</em>
													</div>
												</div>
											</div>

											<div class="col-lg-12 form-group" style="text-align: center;">
												<button type="submit" class="btnValue btn-primary "
													style="position: relative; left: 10px; top: 10px;"
													ng-click="editandsaveMaterial()">Update</button>
												<button type="reset" class="btnValue btn-secondary "
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													ng-click="canceleditMaterial()">Cancel</button>
											</div>
										</form>
									</div>
									

								</div>
								<!-- /.card-body -->

							</div>
							<!-- /.card -->
						</div>
					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

	</div>
	<!-- ./wrapper -->

</body>
	</html>