<style>
.table th, .table td {
	padding: 0.5rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.content-header {
	padding: 3px 0.5rem;
}

#idMultiSearchCard {
	width: 850Px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	box-shadow: 0 0 2px rgb(0 0 0/ 13%), 0 1px 3px rgb(23, 29, 215);
}
</style>
<div ng-controller="otherUserController">
	<!DOCTYPE html>
	<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<!-- Site wrapper -->
	<div class="wrapper">
		<!-- Navbar -->
		<nav
			class="main-header navbar navbar-expand navbar-white navbar-light"
			style="position: unset;">
			<!-- Left navbar links -->
			<ul class="nav nav-pills">

				<li ng-if="showViewAllBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idOtherUserViewAll" 
					class="nav-link active"> </i>
						<p>View All</p></a></li>
			</ul>
			<div class="card" ng-show="showMultipleSearch" id="idMultiSearchCard"
				style="margin-left: 400px;">
				<form class="form-inline" id="idMultiSearchForm">

					<select id="idFirstDropDownMultiSearch"
						style="width: 20%; height: 35px; font-size: 80%; margin-left: 0.5rem; margin-left: 0.5rem"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="firstMultiSearchDropDown"
						ng-change="multiSearchChanged()" ng-dropdown>
						<option value="All">All</option>
						<option value="visitorId">User ID</option>
						<option value="firstName">First Name</option>
						<option value="lastName">Last Name</option>
						<option value="contactNo">Phone No</option>
						<option value="type">User Type</option>
						<option value="company">Company</option>
						<option value="contactPerson">Contact Person</option>
						<option value="date">Date</option>
						<option value="fromTime">From Time</option> To Time
						<option value="toTime">
					    </option> Returned Time
						<option value="allocationEndTime">
						</option>

						</select> <input type="search" class="form-control"
						placeholder="Search Text" name="firstSearchText"
						id="idFirstSearchText" ng-model="firstSearchText" required
						style="margin-left: 0.3rem; height: 35px; width: 170Px;"
						ng-change="multiSearchChanged()">
					<!--  <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch>
                <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch data-off-color="danger" data-on-color="success"> -->
					<select
						style="width: 10%; height: 35px; font-size: 80%; margin-left: 0.3rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="varANDORDropDown" ng-change="multiSearchChanged()"
						ng-dropdown>
						<option value="AND">AND</option>
						<option value="OR">OR</option>

					</select> <select id="idSecondDropDownMultiSearch"
						style="width: 20%; height: 35px; font-size: 80%; margin-left: 0.3rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="secondMultiSearchDropDown"
						ng-change="multiSearchChanged()"
						ng-disabled="disableSecondFilterDropDown" ng-dropdown>
						<option value="All">All</option>
						<option value="visitorId">User ID</option>
						<option value="firstName">First Name</option>
						<option value="lastName">Last Name</option>
						<option value="contactNo">Phone No</option>
						<option value="type">User Type</option>
						<option value="company">Company</option>
						<option value="contactPerson">Contact Person</option>
						<option value="date">Date</option>
						<option value="fromTime">From Time</option>
						<option value="toTime">To Time</option>
						<option value="allocationEndTime">Returned Time</option>
					</select> <input type="search" class="form-control"
						placeholder="search Text" name="secondSearchText"
						id="idSecondSearchText" ng-model="secondSearchText" required
						style="margin-left: 0.3rem; height: 35px; width: 170Px;"
						ng-change="multiSearchChanged()"
						ng-disabled="disableSecondFilterText">

					<button type="button" ng-click="closeMultiSearchView()"
						style="margin-top: 10px; width: 25px;" class="close pull-right">&times;</button>
				</form>
			</div>
			<!-- SEARCH FORM -->
			<form class="form-inline ml-auto ">

				<div ng-show="showLocateBtn" class="img-bordered-sm img-rounded"
					style="margin: 10px;">
					<a ng-click="trackTag()"> <i id="trackIcon"
						data-toggle="tooltip" title="Locate All"
						style="font-size: 20px; color: blue" class="fas fa-binoculars"></i></a>
				</div>

				<div class="input-group input-group-sm" ng-show="searchButton">
					<input class="form-control form-control-navbar" type="search"
						ng-model="searchText" ng-change="fnOtherUserSearchOption()"
						placeholder="Search" aria-label="Search">
					<div class="input-group-append">
						<button class="btn btn-navbar">
							<!-- <i class="fas fa-search"></i> -->
						</button>
					</div>
				</div>
				<button class="btn-leftslide" ng-click="multipleSearch()"
					ng-show="showSearchIcon" style="margin-left: 10px;">
					<i class="fas fa-search"></i>
				</button>
			</form>
		</nav>
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header"></section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<!-- Default box -->
							<div class="card">

								<div class="card-body">
									<div ng-show="otherUserViewScreen"
										style="width: 100%; height: 76vh; margin-top: 0px;"
										id="otherUserlistView" style="margin-left: 10px;">
										<div class="panel panel-default">
											<ul class="list-group" id="contact-list">
												<!-- <li class="list-group-item"> -->
												<div id="main" class="table-container tableFixHead">
													<table class="table table-bordered">
														<thead>
															<tr>
																<th class="thcss">S.No</th>
																<th class="thcss ">User ID</th>
																<th class="thcss ">First Name</th>
																<th class="thcss ">Last Name</th>
																<th class="thcss ">Phone No</th>
																<th class="thcss ">User Type</th>
																<th class="thcss ">Company</th>
																<th class="thcss ">Contact Person</th>
																<th class="thcss">Date</th>
																<th class="thcss ">From Time</th>
																<th class="thcss ">To Time</th>
																<th class="thcss ">Returned Time</th>

															</tr>
														</thead>
														<tbody>
															<tr ng-show="otherUserMainView"
																ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
																ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
																ng-repeat="otherUserView in otherUserViewData | filter:searchText"
																data-ng-click="rowHighilited($index)">
																<td>{{$index + serial}}</td>
																<td>{{otherUserView.visitorId}}</td>

																<td>{{otherUserView.firstName}}</td>
																<td>{{otherUserView.lastName}}</td>
																<td>{{otherUserView.contactNo}}</td>
																<td>{{otherUserView.type}}</td>
																<td>{{otherUserView.company}}</td>
																<td>{{otherUserView.contactPerson}}</td>
																<td>{{otherUserView.date}}</td>
																<td>{{otherUserView.fromTime}}</td>
																<td>{{otherUserView.toTime}}</td>
																<td>{{otherUserView.allocationEndTime}}</td>


															</tr>
															<tr ng-show="otherUserNoData">
																<td colspan="10" style="text-align: center; color: red;">No
																	data found.</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="clearfix"></div>
												<!-- </li> -->

											</ul>
										</div>

										<div class="row" style="height: 50px">
											<div class="col-6">
												<button style="position: relative; left: 10px; top: 10px;"
													type="submit" class="btnValue btn-primary"
													ng-click="trackSingleTag()"
													ng-show="showLocateBtn&&selectedRow>=0&&trackMacId!=''">Locate</button>

												<button
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													type="submit" class="btnValue btn-secondary"
													ng-click="cancelEdit()"
													ng-show="selectedRow>=0&&trackMacId!=''">Cancel</button>
											</div>
											<div class="col-6">
												<div ng-show="PaginationTab" class="input-bar pull-right">
													<div class="input-bar">

														<div class="row" class="input-bar-item width100"
															style="float: right; margin-right: 0px;">
															<label for="totalPage"
																style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
																Pages {{totalPages}}</label>
															<form>
																<div class="input-group"
																	style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																	<span class="input-group-btn">
																		<button class="btn btn-primary"
																			id="id_firstPageViewEmp" ng-click="goFirstPage()"
																			ng-disabled="isFirstPage">&lt;&lt;</button>
																		<button class="btn btn-primary" id="previousPage"
																			ng-click="goPreviousPage()" ng-disabled="hasPrevious">&lt;</button>
																	</span> <input class="form-control width100" type="text"
																		ng-model="currentPage"> <span
																		class="input-group-btn">
																		<button class="btn btn-primary"
																			id="id_nextPageViewEmp" ng-click="goNextPage()"
																			ng-disabled="hasNext">&gt;</button>
																		<button class="btn btn-primary"
																			id="id_lastPageViewEmp" ng-click="goLastPage()"
																			ng-disabled="isLastPage">&gt;&gt;</button>
																	</span>
																</div>
															</form>
														</div>
													</div>

												</div>
											</div>
										</div>
										<!-- </div> -->

									</div>

								</div>
								<!-- /.card-body -->

							</div>
							<!-- /.card -->
						</div>
					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>

	</div>

</body>
	</html>