<style>
.tr_odd {
	background-color: white;
	color: #000000;
}

.tr_even {
	background-color: #f2f2f2;
	color: #000000;
}
</style>
<body class="hold-transition sidebar-mini layout-fixed">
	<!-- Site wrapper -->
	<div class="wrapper" ng-controller="pathwayController">

		<div class="content-wrapper">

			<!-- Main content -->
			<section class="content">

				<!-- /.col -->
				<div class="container-fluid">
					<div class="row" style="padding-top: 10px">
						<div class="col-md-6">
							<!-- general form elements -->
							<div class="card">
								<div class="card-body">
									<div class="card">
										<div class="card-header">
											<h3 class="card-title">View/Edit</h3>

											<div class="card-tools">
												<form class="form-inline ml-3">
													<div class="input-group input-group-sm">
														<input class="form-control form-control-navbar"
															type="search" ng-model="searchText" placeholder="Search"
															aria-label="Search">
														<div class="input-group-append">
															<button class="btn btn-default" type="submit">
																<i class="fas fa-search"></i>
															</button>
														</div>
													</div>
												</form>
											</div>
										</div>
										<table id="pathWayTable"
											class="table table-bordered table-hover dataTable dtr-inline">
											<thead
												style="background-color: rgb(0, 123, 255); color: white;">
												<tr>
													<th class="sorting sorting_asc">S.No</th>
													<th class="sorting sorting_asc">Segment ID</th>
													<th class="sorting sorting_asc">Type</th>
													<th ng-show="gridTh" class="sorting sorting_asc">GridList</th>
													<th class="sorting sorting_asc">Length</th>

												</tr>
											</thead>
											<tbody>
												<tr
													ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
													ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
													ng-repeat="pathWay in pathWayViewData | filter:searchText"
													data-ng-click="rowHighilited($index)">
													<td>{{$index + serial}}</td>
													<td>{{pathWay.segmentId}}</td>
													<td>{{pathWay.type}}</td>
													<td ng-show="girdlistTb">{{pathWay.gridList}}</td>
													<td>{{pathWay.length}}</td>

												</tr>

												<tr ng-show="pathWayNoData">
													<td colspan="7" style="text-align: center; color: red;">No
														data found.</td>
												</tr>
											</tbody>
										</table>
										<div ng-show="pathWayTab" class="card-footer clearfix">

											<div class="input-bar pull-right">
												<div class="input-bar">

													<div class="row" class="input-bar-item width100"
														style="float: right; margin-right: 0px;">
														<label for="totalPage"
															style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
															Pages {{totalPages}}</label>
														<form>
															<div class="input-group"
																style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																<span class="input-group-btn">
																	<button class="btn btn-primary" id="firstPage"
																		ng-click="goFirstPage()" ng-disabled="isFirstPage">&lt;&lt;</button>
																	<button class="btn btn-primary" id="previousPage"
																		ng-click="goPreviousPage()" ng-disabled="hasPrevious">&lt;</button>
																</span> <input class="form-control width100" type="text"
																	ng-model="currentPage"> <span
																	class="input-group-btn">
																	<button class="btn btn-primary" id="nextPage"
																		ng-click="goNextPage()" ng-disabled="hasNext">&gt;</button>
																	<button class="btn btn-primary" id="lastPage"
																		ng-click="goLastPage()" ng-disabled="isLastPage">&gt;&gt;</button>
																</span>
															</div>
														</form>
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- /.card -->
						</div>

						<!-- Horizontal Form -->
						<div class="col-md-6">

							<div class="card card-info">
								<div class="card-header"
									style="background-color: rgb(0, 123, 255); color: white;">
									<h3 class="card-title">Pathway Details</h3>
								</div>
								<!-- /.card-header -->
								<!-- form start -->
								<form name="addpathwayForm" id="addpathwayForm"
									class="form-horizontal">
									<div class="card-body" style="padding-left: 10%;">
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Segment ID</label>
											<div class="col-sm-6">
												<input ng-disabled="segID" class="form-control" type="text"
													name="segmentId" id="segmentId"
													ng-model="addpathWay.segmentId" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Type</label>
											<div class="col-sm-6">
												<input class="form-control" type="text" name="type"
													id="type" ng-model="addpathWay.type" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Grid List</label>
											<div class="col-sm-6">
												<input class="form-control" type="text" name="gridList"
													id="gridList" ng-model="addpathWay.gridList" />

											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Length</label>

											<div class="col-sm-6">
												<input class="form-control" type="text" name="plength"
													id="plength" ng-model="addpathWay.length">

											</div>
										</div>
									</div>
							</div>
							<!-- /.card-body -->
							<div class="card-footer">
								<button ng-show="add" type="submit"
									style="background-color: rgb(0, 123, 255);"
									ng-click="addPathWay()" class="btn btn-info">Add</button>
								<button ng-show="update" type="submit"
									style="background-color: rgb(0, 123, 255);"
									ng-click="updatePathWay()" class="btn btn-info">Update</button>
								<button ng-show="delete" type="submit"
									style="background-color: rgb(0, 123, 255);"
									ng-click="deletePathWay()" class="btn btn-info">Delete</button>
								<button type="reset" ng-click="cancelPathWay()"
									class="btn btn-default float-right">Cancel</button>
							</div>
							<!-- /.card-footer -->
							</form>
						</div>
					</div>
				</div>
		</div>
		</section>
	</div>
	</div>




</body>

