<style>
.table th, .table td {
	padding: 0.5rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.content-header {
	padding: 3px 0.5rem;
}

#idMultiSearchCardSKU {
	width: 1000Px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	box-shadow: 0 0 2px rgb(0 0 0/ 13%), 0 1px 3px rgb(23, 29, 215);
}

#idCompareDateSection {
	width: 550Px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	box-shadow: 0 0 2px rgb(0 0 0/ 13%), 0 1px 3px rgb(23, 29, 215);
}

th.sortable {
	position: relative;
	cursor: pointer;
}

th.sortable::after {
	font-family: 'Font Awesome\ 5 Free';
	content: "\f0dc";
	position: absolute;
	right: 8px;
	color: #fff;
}

th.sortable.asc::after {
	content: "\f0d8";
}

th.sortable.desc::after {
	content: "\f0d7";
}

th.sortable:hover::after {
	color: #dedede;
}
</style>
<body class="hold-transition sidebar-mini layout-fixed">
	<!-- Site wrapper -->
	<div class="wrapper" ng-controller="skuController">
		<!-- Navbar -->
		<nav
			class="main-header navbar navbar-expand navbar-white navbar-light"
			style="position: unset;">
			<!-- Left navbar links -->
			<ul class="nav nav-pills">


				<li ng-show="showSKUDetailBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idSKUDetailBtn" href="" ng-click="displaySKUDetailMenuBtn()"
					class="nav-link"> </i>
						<p>SKU Detail</p></a></li>
				<li ng-show="showSKUImportBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idSKUImportBtn" href="" ng-click="displaySKUImportMenuBtn()"
					class="nav-link"> </i>
						<p>SKU Import</p></a></li>
				<li ng-show="showSKUDispatchBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idSKUDispatchBtn" href=""
					ng-click="displaySKUDispatchMenuBtn()" class="nav-link"> </i>
						<p>Dispatch</p></a></li>


			</ul>
			<div class="card" ng-show="showMultipleSearch"
				id="idMultiSearchCardSKU" style="margin-left: 50px;">
				<form class="form-inline" id="idMultiSearchForm">
					<select id="idFirstDropDownMultiSearch"
						style="width: 15%; height: 35px; font-size: 80%; margin-left: 0.5rem; margin-left: 0.5rem"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="firstMultiSearchDropDown"
						ng-change="multiSearchChanged()" ng-dropdown>
						<option value="All">All</option>
						<option value="upcCode">UPC Code</option>
						<option value="skuNo">SKU No</option>
						<option value="batchNo">Batch No</option>
						<option value="description">Description</option>
						<option value="quantity">Total Quantity</option>
						<option value="availableQuantity">Available Quantity</option>
						<option value="transaction">Transaction</option>
						<option value="expiryDate">Expiry Date</option>

					</select> <select
						style="width: 10%; height: 35px; font-size: 80%; margin-left: 0.3rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="varCompareQuantityFirst"
						ng-change="multiSearchChanged()"
						ng-show="showCompareQuantityFirst" ng-dropdown>
						<option value="Greater">&gt;</option>
						<option value="Less">&lt;</option>
						<option value="Equal">Equal</option>
					</select> <input type="search" class="form-control"
						placeholder="Search Text" name="firstSearchText"
						id="idFirstSearchText" ng-model="firstSearchText" required
						style="margin-left: 0.3rem; height: 35px; width: 170Px;"
						ng-change="multiSearchChanged()"> <select
						style="width: 10%; height: 35px; font-size: 80%; margin-left: 0.3rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="varANDORDropDown" ng-change="multiSearchChanged()"
						ng-dropdown>
						<option value="AND">AND</option>
						<option value="OR">OR</option>

					</select> <select id="idSecondDropDownMultiSearch"
						style="width: 15%; height: 35px; font-size: 80%; margin-left: 0.3rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="secondMultiSearchDropDown"
						ng-change="multiSearchChanged()"
						ng-disabled="disableSecondFilterDropDown" ng-dropdown>
						<option value="All">All</option>
						<option value="upcCode">UPC Code</option>
						<option value="skuNo">SKU No</option>
						<option value="batchNo">Batch No</option>
						<option value="description">Description</option>
						<option value="quantity">Total Quantity</option>
						<option value="availableQuantity">Available Quantity</option>
						<option value="transaction">Transaction</option>
						<option value="expiryDate">Expiry Date</option>
					</select> <select
						style="width: 10%; height: 35px; font-size: 80%; margin-left: 0.3rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="varCompareQuantitySecond"
						ng-change="multiSearchChanged()"
						ng-show="showCompareQuantitySecond" ng-dropdown>
						<option value="Greater">&gt;</option>
						<option value="Less">&lt;</option>
						<option value="Equal">Equal</option>
					</select> <input type="search" class="form-control"
						placeholder="search Text" name="secondSearchText"
						id="idSecondSearchText" ng-model="secondSearchText" required
						style="margin-left: 0.3rem; height: 35px; width: 170Px;"
						ng-change="multiSearchChanged()"
						ng-disabled="disableSecondFilterText">

					<button type="button" ng-click="fnCloseMultiSearchView()"
						style="margin-top: 10px; width: 25px;" class="close pull-right">&times;</button>
				</form>
			</div>
			<div class="card" ng-show="showExportCard" id="idExportCard"
				style="margin-left: 300px;width: 20%;">
				<form class="form-inline" id="idExportForm">
				</select> <select id="idAllAndLslmDropDown"
						style="width: 50%; height: 35px; font-size: 100%; margin-left: 0.3rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="allAndLslmDropDown"
						ng-change="multiSearchChanged()"
						 ng-dropdown>
						<option value="All">All</option>
						<option value="LSLM">LSLM Only</option>						
					</select>
					<div class="img-bordered-sm img-rounded" style="margin: 10px;">
						<a ng-click="exportExcelData()"> <i id="btnExportXLS"
							data-toggle="tooltip" title="XLS"
							style="font-size: 23px; color: blue" class="fas fa-file-excel"></i></a>
					</div>
					<div class="img-bordered-sm img-rounded" style="margin: 10px;">
						<a ng-click="exportPDFData()"> <i id="btnExportPDF"
							data-toggle="tooltip" title="DownLoadPDF"
							style="font-size: 23px; color: blue" class="fas fa-file-pdf"></i></a>
					</div>
					<button type="button" ng-click="fnCloseExportView()"
						style="margin-top: 10px; width: 25px;" class="close pull-right">&times;</button>
				</form>
			</div>
			<!-- Compare date-->
			<div class="card" ng-show="showCompareDateSelection"
				id="idCompareDateSection" style="margin-left: 50px; width: 30%;">
				<form class="form-inline" id="idMultiSearchForm">
					<select
						style="width: 20%; height: 35px; font-size: 80%; margin-left: 0.3rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="varCompareDate" ng-change="fnCompareDateChange()"
						ng-disabled="disableCompareDate" ng-dropdown>
						<option value="Greater">&gt;</option>
						<option value="Less">&lt;</option>
						<option value="Equal">Equal</option>
					</select> <label style="font-size: 80%;">Expiry Date :</label>
					<button type="button" class="btn btn-default float-right"
						id="idDateRangeButton">
						<i class="far fa-calendar-alt"></i> {{dateRange}} <i
							class="fas fa-caret-down"></i>
					</button>
					<button type="button" ng-click="fnCloseCompareDateView()"
						style="margin-top: 10px; width: 25px;" class="close pull-right">&times;</button>
				</form>
			</div>
			<form class="form-inline ml-auto">

				<!-- <div
					ng-show="showSKUDetailScreen && showLocateBtn && skuTabName=='DetailPage'"
					class="img-bordered-sm img-rounded" style="margin: 10px;">
					<a ng-click="exportExcelData()"> <i id="btnExportXLS"
						data-toggle="tooltip" title="XLS"
						style="font-size: 20px; color: blue" class="fas fa-file-excel"></i></a>
				</div>
				<div
					ng-show="showSKUDetailScreen && showLocateBtn && skuTabName=='DetailPage'"
					class="img-bordered-sm img-rounded" style="margin: 10px;">
					<a ng-click="exportPDFData()"> <i id="btnExportPDF"
						data-toggle="tooltip" title="DownLoadPDF"
						style="font-size: 20px; color: blue" class="fas fa-file-pdf"></i></a>
				</div> -->

				<div
					ng-show="showSKUDetailScreen && showLocateBtn && skuTabName=='DetailPage'"
					class="img-bordered-sm img-rounded" style="margin: 10px;">
					<a ng-click="trackTag()"> <i id="trackIcon"
						data-toggle="tooltip" title="Locate All"
						style="font-size: 20px; color: blue" class="fas fa-binoculars"></i></a>
				</div>
				<div ng-show="showSKUDetailScreen && skuTabName=='DetailPage'"
					class="img-bordered-sm img-rounded" style="margin: 10px;">
					<a ng-click="fnExpiryDateFilter()"> <i
						id="idExpiryDateFilterButton" data-toggle="tooltip"
						title="Expiry Date Filter" style="font-size: 20px; color: blue"
						class="fas fa-calendar"></i></a>
				</div>
				<div class="input-group input-group-sm" ng-show="searchButton">
					<input class="form-control form-control-navbar" type="search"
						ng-change="fnSearchOption()" ng-model="searchText"
						placeholder="Search" aria-label="Search">

					<div class="input-group-append">
						<button class="btn btn-navbar" type="submit">
							<!-- <i class="fas fa-search"></i> -->
						</button>
					</div>
				</div>
				<button class="btn-leftslide" ng-click="fnMultipleSearch()"
					ng-show="showSearchIcon">
					<i class="fas fa-search"></i>
				</button>
				<button class="btn-leftslide" ng-click="fnExportButtons()"
					ng-show="showDownloadIcon">
					<i class="fas fa-download"></i>
				</button>
			</form>
		</nav>
		<!-- /.navbar -->
		<div class="content-wrapper">
			<section class="content-header"></section>
			<!-- Main content -->
			<section class="content">
				<!-- /.col -->
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<!-- Default box -->
							<div class="card">
								<div class="card-body">
									<!-- general form elements -->
									<div ng-show="showSKUDetailScreen" style="width: 100%;"
										id="idSKUDetailScreen" style="margin-left: 10px;">
										<div class="panel panel-default">
											<ul class="list-group" id="idSKUDetailslist">
												<!-- <li class="list-group-item"> -->
												<div id="idTableContainer" class="table-container">
													<table class="table table-bordered" id="idSKUDetailTable">
														<thead>
															<tr>
																<th class="thcss">S.No</th>

																<th class="thcss sortable" id="idSKUTableUPCCode">UPC
																	Code</th>
																<th class="thcss sortable" id="idSKUTableSKUNo">SKU
																	No</th>
																<th class="thcss sortable" id="idSKUTableBatchNo">Batch
																	No</th>
																<th class="thcss sortable" id="idSKUTableDescription">Description</th>
																<th class="thcss sortable" id="idSKUTableTotalQty">Total
																	Quantity</th>
																<th class="thcss sortable" id="idSKUTableAvailQty">Available
																	Quantity</th>
																<th class="thcss ">Transaction</th>
																<th class="thcss sortable" id="idSKUTableExpiryDate">Expiry
																	Date</th>

															</tr>
														</thead>
														<tbody>
															<tr
																ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
																ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
																ng-repeat="skuRecord in skuDetailViewData | filter:searchText"
																data-ng-click="rowHighilited($index)">
																<td>{{$index + serial}}</td>

																<td>{{skuRecord.upcCode}}</td>
																<td>{{skuRecord.skuNo}}</td>
																<td>{{skuRecord.batchNo}}</td>
																<td>{{skuRecord.description}}</td>
																<td>{{skuRecord.quantity}}</td>
																<td>{{skuRecord.availableQuantity}}</td>
																<td>{{skuRecord.transaction}}</td>
																<td>{{skuRecord.expiryDate}}</td>

															</tr>

															<tr ng-show="skuDetailNoData">
																<td colspan="12" style="text-align: center; color: red;">No
																	data found.</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="clearfix"></div>
												<!-- </li> -->
											</ul>

											<div class="row" style="height: 50px">
												<div class="col-6">
													<button style="position: relative; left: 10px; top: 10px;"
														type="submit" class="btnValue btn-primary"
														ng-click="trackSingleTag()"
														ng-show="showLocateBtn&&selectedRow>=0&&trackMacId!=''">Locate</button>

													<button
														style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
														type="submit" class="btnValue btn-secondary"
														ng-click="cancelEdit()"
														ng-show="selectedRow>=0&&trackMacId!=''">Cancel</button>
												</div>
												<div class="col-6">
													<div ng-show="PaginationTab" layout="row"
														style="height: 50px">

														<div class="input-bar pull-right">
															<div class="input-bar">

																<div class="row" class="input-bar-item width100"
																	style="float: right; margin-right: 0px;">
																	<label for="totalPage"
																		style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
																		Pages {{totalPages}}</label>
																	<form>
																		<div class="input-group"
																			style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																			<span class="input-group-btn">
																				<button class="btn btn-primary"
																					id="id_firstPageViewAsset" ng-click="goFirstPage()"
																					ng-disabled="isFirstPage">&lt;&lt;</button>
																				<button class="btn btn-primary"
																					id="id_previousPageViewAsset"
																					ng-click="goPreviousPage()"
																					ng-disabled="hasPrevious">&lt;</button>
																			</span> <input class="form-control width100" type="text"
																				ng-model="currentPage"> <span
																				class="input-group-btn">
																				<button class="btn btn-primary"
																					id="id_nextPageViewAsset" ng-click="goNextPage()"
																					ng-disabled="hasNext">&gt;</button>
																				<button class="btn btn-primary"
																					id="id_lastPageViewAsset" ng-click="goLastPage()"
																					ng-disabled="isLastPage">&gt;&gt;</button>
																			</span>
																		</div>
																	</form>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="card" id="SKUDispatchView"
										ng-show="showCardSKUDispatchView" style="margin-left: 10px;">


										<div class="card-body" style="padding: 0px;">

											<div id="SKUDispatchTable" style="padding: 10px;"
												class="table-container tableFixHead"></div>

										</div>

									</div>
									<div class="card card-info">
										<div ng-show="showImportSKUScreen">
											<!-- <div class="card-header" style="background-color: #007bff">
												<h3 class="card-title">SKU Details - Import</h3>
											</div> -->
											<form id="idImportSKUDetailForm" name="SKUImportForm"
												class="form-horizontal" role="form"
												enctype="multipart/form-data" style="position: relative;">
												<div class="card-body" style="padding-left: 10%;">
													<div class="form-group row">
														<label class="col-sm-4 col-form-label"> Select SKU
															File</label>
														<div class="col-sm-6">

															<input type="file" name="upfile" id="idUPfile"
																ng-model="upfile" value="Import"
																onchange="angular.element(this).scope().getJsondata()" /><br />
															<em for="upfile" class="invalid"></em>

														</div>
													</div>
												</div>
												<div class="col-lg-12 form-group"
													style="text-align: center;">
													<button class="btnValue btn-primary float-center"
														type="submit" ng-click="importSKUDetailFile()">Import</button>
												</div>
											</form>
										</div>
									</div>
									<!-- card card-info -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script> its placed here to avoid download pdf issue -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
</body>

