<style>
.tr_odd {
	background-color: white;
	color: #000000;
}

.tr_even {
	background-color: #f2f2f2;
	color: #000000;
}
</style>




<body class="hold-transition sidebar-mini layout-fixed">
	<!-- Site wrapper -->
	<section id="hero" class="d-flex align-items-center"
		ng-controller="skuTransactionController" style="padding: 60px 0;"> 
		
<div class="register-box" style="margin-inline-start: 40%;">
  <!-- <div class="register-logo">
    <a href="../../index2.html"><b>EI</b>4.0</a>
  </div> -->

  <div class="card">
    <div class="card-body register-card-body">
      
												      
      <form  id ="registerPageForm" name ="registerPageForm">

		          <div class="input-group mb-6">
				  <label for="skuNo">SKU #</label>
          <select  class="form-control" name ="userType" name="skuNo" id="userType" ng-model="authen.userType">
        <option selected value="SystemAdmin">SKU001</option>
        <option selected value="Manager">SKU002</option>
        <option selected value="SuperUser">SKU003</option>
        <option  value="User">SKU004</option>
       
      </select>
          <div class="input-group-append">
            <div class="input-group-text">
             <!--  <span class="fas fa-user"></span> -->
            </div>
          </div>
        </div>
        <div class="input-group mb-6">
		<label for="totalQuantity">Total Quantity</label>
          <input type="text" class="form-control" placeholder="Total Quantity" name="totalQuantity" id="idTotalQuantity" ng-model="authen.mailId" required >
          
        </div>
        <div class="input-group mb-6">
   		<label for="availableQuantity">Available Quantity</label>
        <input type="text" class="form-control" placeholder="Available Quantity" ng-model="authen.password" name="availableQuantity" id ="id_password" required>
          
          <!--  <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>-->
        </div> 
        <div class="input-group mb-6">
    		<label for="quantityToDeduct">Quantity to Deduct</label>
         <input type="password" class="form-control" placeholder="Enter Quantity To Deduct" ng-model="authen.retypePassword" name="quantityToDeduct" id="id_retypePassword" required>
           
           </div> 
          

          

        <div class="row">
         <!--  <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="agreeTerms" name="terms" value="agree">
              <label for="agreeTerms">
               Show Password
              </label>
            </div>
          </div> -->
          <!-- /.col -->
         <div class="col-lg-12 form-group" style="text-align: center;">

            <button type="submit" class="btnValue btn-primary float-center" ng-click="authenticate()">Update</button>         
            <button type="reset" class="btnValue btn-secondary float-center" ng-click= "cancel()">Clear</button>
        
        </div>
      </form>
	
   
    </div> 
  </div>
</div>

 </section> 



</body>

