<style>
.table th, .table td {
	padding: 0.5rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.content-header {
	padding: 3px 0.5rem;
}
</style>
<div ng-controller="tagAssetManagementController">
	<!DOCTYPE html>
	<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<!-- Site wrapper -->
	<div class="wrapper">
		<!-- Navbar -->
		<nav
			class="main-header navbar navbar-expand navbar-white navbar-light"
			style="position: unset;">
			<!-- Left navbar links -->
			<ul class="nav nav-pills">				
				<li ng-show="showAssignReturnBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idTagAssetAssign" href=""
					ng-click="displayTagAssetAssignScreen()" class="nav-link"> </i>
						<p>Assign / Return Tag</p></a></li>
				<li ng-show="showEditBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idTagAssetEdit" href=""
					ng-click="displayTagAssetEditScreen()" class="nav-link"> </i>
						<p>Edit Status</p></a></li>
				</ul>
			<form class="form-inline ml-auto">
				<div class="input-group input-group-sm" ng-show="searchButton">
					<input class="form-control form-control-navbar" type="search"
						ng-change="searchOption()" ng-model="searchText"
						placeholder="Search" aria-label="Search">

					<div class="input-group-append">
						<button class="btn btn-navbar" type="submit">
							<!-- <i class="fas fa-search"></i> -->
						</button>
					</div>
				</div>
			</form>
		</nav>
		<!-- /.navbar -->


		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header"></section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<!-- Default box -->
							<div class="card">
								
								<div class="card-body">
									<div ng-show="fetchScreen" class="form-group row">
										<label class="col-sm-1 col-form-label" for="checktagIdSelect">Tag
											ID </label>
										<div class="col-sm-5">
											<select
												style="-webkit-appearance: menulist-button; width: 100%;"class="form-control select2"	
												name="checktagIdSelect" id="checktagIdSelect" ng-dropdown>
											</select>
											</div>
										<div class="col-sm-2">
											<button class="btnValue btn-primary float-center" style=""
												ng-click="fetchTag()"><i class="fas fa-play"></i></button>
										</div>
									</div>

									<div ng-show="assignScreen" class="container-fluid">
										<form id="assignTagForm" name="assignTagForm">
											<div class="form-group row">
												<label class="col-sm-2 col-form-label " for="tagId">Tag
													ID</label>
												<div class="col-sm-5">
													<input class="form-control" type="text"
														ng-model="authen.tagID" name="tagId"
														id="id_tagIdAssignTag" placeholder="Enter Tag ID"
														maxlength="16" ng-readonly="true" />
												</div>
											</div>

											<div class="form-group row">

												<label class="col-sm-2 col-form-label"
													style="width: 35%; margin-bottom: 4px;" for="tagType">Type</label>
												<div class="col-sm-5">
													<select class="form-control" name ="tagType" id ="id_tagType"
														style="-webkit-appearance: menulist-button; width: 100%;"
														ng-model="authen.tagType" ng-dropdown
														ng-change="assignTagType()">
														<option ng-option selected="assetChrono"
															value="assetChrono">Asset Chrono</option>
														<option ng-option value="assetNonChrono">Asset
															NonChrono</option>
															<option ng-option value="vehicle">Vehicle</option>

													</select>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-2 col-form-label" for="assetId">{{assetIdText}}</label>
												<div class="col-sm-5">
												 <input class="form-control" type="text"
														ng-model="authen.assetId" name="assetId"
														id="id_assetIdAssignTag" placeholder="Enter Asset ID"
														maxlength="16" />
														<em style="color: red" ng-show="assetIdError" id="id_assetIdError">{{assetId_error_msg}}</em>
														
												</div>
											</div>

											<div class="col-lg-12 form-group" style="text-align: center;">

												<button type="submit" style="position: relative; left: 10px; top: 10px;"
													class="btnValue btn-primary float-center"
													ng-click="assignTag()">Assign</button>

												<button type="button" style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													class="btnValue btn-secondary float-center"
													ng-click="cancelTagAssign()">Clear</button>

											</div>
										</form>
									</div>

									<div layout="column" ng-show="tagEditStatusListScreen"
										style="overflow-x: hidden; width: 100%; padding-left: 1%; margin-left: 1%; padding-right: 1%;">
										<div style="width: 100%;" id="emplistView"
											style="margin-left: 10px;">
											<div class="panel panel-default">
												<ul class="list-group" id="contact-list">
													<!-- <li class="list-group-item">
 -->
													<div id="tableview" class="table-container tableFixHead">
														<table class="table table-bordered">
															<thead>
																<tr>
																	<th class="thcss">S.No</th>
																	<th class="thcss ">Tag ID</th>
																	<!-- <th class="thcss ">Group ID</th> -->
																	<th class="thcss ">MAC Address</th>
																	<!-- <th class="thcss ">Manufacturer</th> -->
																	<th class="thcss ">Status</th>
																	<th class="thcss ">Type</th>
																	<th class="thcss ">Assignment ID</th>
																	<th class="thcss ">Assignment Date</th>
																	<!-- <th class="thcss ">Assigned Time</th>
																	<th class="thcss ">Valid Until</th> -->
																	<th class="thcss ">Modified Date</th>
																</tr>
															</thead>
															<tbody>
																<tr
																	ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
																	ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
																	ng-repeat="tag in tagViewData | filter:searchText"
																	data-ng-click="rowHighilited($index)">
																	<td>{{$index + serial}}</td>
																	<td>{{tag.tagId}}</td>
																	<!-- <td>{{tag.groupId}}</td> -->
																	<td>{{tag.macId}}</td>
																	<!-- <td>{{tag.manufacturer}}</td> -->
																	<td>{{tag.status}}</td>
																	<td>{{tag.type}}</td>
																	<td>{{tag.assignmentId}}</td>
																	<td>{{tag.assignmentDate}}</td>
																	<!-- <td>{{tag.fromTime}}</td>
																	<td>{{tag.toTime}}</td> -->
																	<td>{{tag.modifiedDate}}</td>
																</tr>
																<tr ng-show="tagNoData">
																	<td colspan="10"
																		style="text-align: center; color: red;">No data
																		found.</td>
																</tr>
															</tbody>
														</table>
													</div>
													<div class="clearfix"></div>
												</ul>

												<div layout="row" style="height: 50px">
													<button style="position: relative; left: 10px; top: 10px;"
														type="submit" class="btnValue btn-primary"
														ng-click="editAssetTag()" ng-show="selectedRow>=0 && statusEdit">Edit</button>

													<button
														style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
														type="submit" class="btnValue btn-secondary"
														ng-click="cancelEdit()" ng-show="selectedRow>=0 && statusEdit">Cancel</button>
													<!-- <a href="#"> -->
													<div ng-show="PaginationTab" class="input-bar pull-right">
														<div class="input-bar">

															<div class="row" class="input-bar-item width100"
																style="float: right; margin-right: 0px;">
																<label for="totalPage"
																	style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
																	Pages {{totalPages}}</label>
																<form>
																	<div class="input-group"
																		style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																		<span class="input-group-btn">
																			<button class="btn btn-primary"
																				id="id_firstPageEditAssetTag"
																				ng-click="goFirstPage()" ng-disabled="isFirstPage">&lt;&lt;</button>
																			<button class="btn btn-primary"
																				id="id_previousPageEditAssetTag"
																				ng-click="goPreviousPage()"
																				ng-disabled="hasPrevious">&lt;</button>
																		</span> <input class="form-control width100" type="text"
																			ng-model="currentPage"> <span
																			class="input-group-btn">
																			<button class="btn btn-primary"
																				id="id_nextPageEditAssetTag" ng-click="goNextPage()"
																				ng-disabled="hasNext">&gt;</button>
																			<button class="btn btn-primary"
																				id="id_lastPageEditAssetTag" ng-click="goLastPage()"
																				ng-disabled="isLastPage">&gt;&gt;</button>
																		</span>
																	</div>
																</form>
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>
									</div>

									<div ng-show="tagStatusEditScreen"
										style="width: 100%; height: 76vh; margin-top: 0px;"
										id="emplistView" style="margin-left: 10px;">
										<form name="editTagForm" autocomplete="disabled"
											id="id_editTagForm" class="form-horizontal emp-form"
											role="form" style="position: relative;">
											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group " >
														<label for="tagId">Tag ID</label>
														<!-- <div class="col-sm-5"> -->
														<input type="text" class="form-control"
															placeholder="Enter Tag ID" maxlength="12" name="tagId"
															id="id_tagIdEditTag" ng-model="authen.tagId"
															ng-readonly=true required>
														<!-- </div> -->
													</div>
												</div>
												<div class="col-sm-5">
												<div class="form-group ">
														<label for="mac">MAC ID</label> <input type="text"
															class="form-control" placeholder="Enter MAC ID"
															maxlength="17" name="macId" id="id_macId"
															ng-model="authen.macId" ng-readonly=true required>
													</div>
													
												</div>
											</div>

											<div class="row" ng-show ="editStatusAssignmentType">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label class="" for="tagType">Tag Type</label> <input
															type="text" class="form-control"
															placeholder="Enter Tag Type" maxlength="20"
															name="tagType" id="id_tagTypeEditTag"
															ng-model="authen.type" ng-readonly=true>
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="assignmentId">Assignment ID</label> <input
															type="text" class="form-control"
															placeholder="Enter Assignment Id" maxlength="20"
															name="assignmentId" id="id_assignmentId"
															ng-model="authen.assignmentId" ng-readonly=true>
													</div>
												</div>
											</div>

											
											<div class="row">
												
												<div class="col-sm-5">
													<div class="form-group ">
														<label class="" for="status">Status</label> <select
															class="form-control" ng-model="authen.status" ng-dropdown
															required name="status" id="id_status"
															ng-options="item for item in names">
														</select>

													</div>
												</div>
											</div>
											<div class="col-lg-12 form-group" style="text-align: center;">

												<button type="submit" style="position: relative; left: 10px; top: 10px;"
													class="btnValue btn-primary float-center"
													ng-click="updateTag()">Update</button>
												<button type="button" style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													class="btnValue btn-secondary float-center"
													ng-click="cancelTag()">Cancel</button>
											</div>
										</form>
									</div>

									<div ng-show="tagAssetReturnScreen" class="container-fluid">
										<div class="form-group row">
											<label class="col-sm-2 col-form-label " for="tagId">Tag
												ID</label>
											<div class="col-sm-5">
												<input class="form-control" type="text"
													ng-model="tagReturnTagID" name="tagId"
													id="id_tagIdReturnTag" pattern="([A-z0-9])"
													placeholder="Enter Tag ID" maxlength="16"
													ng-readonly="true" />
											</div>
										</div>

										<div class="form-group row">
											<label class="col-sm-2 col-form-label " for="tagType">Tag
												Type</label>
											<div class="col-sm-5">
												<input class="form-control" type="text"
													ng-model="tagReturnTagType" name="tagType"
													id="id_tagTypeReturnTag" pattern="([A-z0-9])"
													placeholder="Enter Tag Type" maxlength="16"
													ng-readonly="true" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label" for="assetId">Asset
												ID</label>
											<div class="col-sm-5">
												<input class="form-control" type="text"
													ng-model="tagReturnAssetId" name="assetId"
													id="id_AssetIdReturnTag" placeholder="Enter Asset ID"
													maxlength="16" ng-readonly="true" />
											</div>
										</div>
										
										<div class="form-group row" >

													<label class="col-sm-2 col-form-label" for="date">Assigned Date
													</label>
													<div class="col-sm-5">

														<div class="input-group date"
															id="id_datetimepicker4_returnAssetScreen"
															data-target-input="nearest">
															<input type="text"
																class="form-control datetimepicker-input"
																data-target="#datetimepicker4_returnAssetScreen"
																id="id_date_returnAssetScreen" name="date"
																ng-model="tagReturnDate" ng-readonly="true" />
															<div class="input-group-append"
																data-target="#datetimepicker4_returnAssetScreen"
																data-toggle="datetimepicker">
																<div class="input-group-text">
																	<i class="fa fa-calendar"></i>
																</div>
															</div>
														</div>
													</div>
												</div>

												

										<div class="col-lg-12 form-group" style="text-align: center;">
											<button type="submit" style="position: relative; left: 10px; top: 10px;"
												class="btnValue btn-primary float-center"
												ng-click="returnTag()">Return</button>

											<button type="reset" style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
												class="btnValue btn-secondary float-center"
												ng-click="cancelReturnTag()">Clear</button>
										</div>
									</div>

									
								</div>
								<!-- /.card-body -->
								
							</div>
							<!-- /.card -->
						</div>
					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>
	</div>
	<!-- ./wrapper -->
</body>
	</html>
</div>
