<style>
.table th, .table td {
	padding: 0.5rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.content-header {
	padding: 3px 0.5rem;
}
</style>
<div ng-controller="tagPeopleManagementController">
	<!DOCTYPE html>
	<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<!-- Site wrapper -->
	<div class="wrapper">
		<!-- Navbar -->
		<nav
			class="main-header navbar navbar-expand navbar-white navbar-light"
			style="position: unset;">
			<!-- Left navbar links -->
			<ul class="nav nav-pills">
				
				<li ng-show="showAssignReturnBtn"
					
					class="nav-item d-none d-sm-inline-block"><a
					id="idTagPeopleAssign" href=""
					ng-click="displayTagPeopleAssignScreen()" class="nav-link"> </i>
						<p>Visitor</p></a></li>

				<li ng-show="showEmpAssignBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idTagPeopleEmployeeAssign" href=""
					ng-click="displayTagPeopleEmployeeAssignScreen()" class="nav-link">
						</i>
						<p>Employee</p>
				</a></li>

				<li ng-show="showEditBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idTagPeopleEdit" href=""
					ng-click="displayTagPeopleEditScreen()" class="nav-link"> </i>
						<p>Edit Status</p></a></li>

				
			</ul>
			<form class="form-inline ml-auto">
				<div class="input-group input-group-sm" ng-show="searchButton">
					<input class="form-control form-control-navbar" type="search"
						ng-change="searchOption()" ng-model="searchText"
						placeholder="Search" aria-label="Search">

					<div class="input-group-append">
						<button class="btn btn-navbar" type="submit">
							<!-- <i class="fas fa-search"></i> -->
						</button>
					</div>
				</div>
			</form>
		</nav>
		<!-- /.navbar -->


		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header"></section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<!-- Default box -->
							<div class="card">

								<div class="card-body">
									

									<div ng-show="fetchScreen" class="form-group row">
										<label class="col-sm-1 col-form-label" for="checktagIdSelect">Tag
											ID </label>
										<div class="col-sm-5">
											
											<select
												style="-webkit-appearance: menulist-button; width: 100%;" 
												class="form-control select2" name="checktagIdSelect" 
												id="checktagIdSelect">
											</select>
										</div>
										<div class="col-sm-2">

											<button class="btnValue btn-primary float-center" style=""
												ng-click="fetchTag()"><i class="fas fa-play"></i></button>

										</div>
									</div>
									<div ng-show="fetchScreenEmployee" class="form-group row">
										<label class="col-sm-1 col-form-label"
											for="checktagIdSelectEmployee">Tag ID </label>
										<div class="col-sm-5">
											<select id="checktagIdSelectEmployee"
												style="-webkit-appearance: menulist-button; width: 100%;"
												class="form-control select2"
												ng-model="fieldName.checktagIdEmp" ng-dropdown required>
												<option ng-repeat="item in checktagIdEmpTable"
													value="{{item}}">{{item}}</option>
											</select>
										</div>
										<div class="col-sm-2">

											<button class="btnValue btn-primary float-center" style=""
												ng-click="fetchTag()"><i class="fas fa-play"></i></button>
										</div>
									</div>

									<div ng-show="assignScreen" class="container-fluid">
										<form id="assignTagForm" name="assignTagForm">
											<div class="row">

												<div class="col-sm-7">
													<div class="form-group row">
														<label class="col-sm-3 col-form-label " for="tagId">Tag
															ID</label>
														<div class="col-sm-8">
															<input class="form-control" type="text"
																ng-model="authen.tagId" name="tagId"
																id="id_tagIdAssignTag" placeholder="Enter Tag ID"
																maxlength="16" ng-readonly="true" />
														</div>
													</div>

													<div class="form-group row">

														<label class="col-sm-3 col-form-label"
															style="width: 35%; margin-bottom: 4px;" for="tagType">Type</label>
														<div class="col-sm-8">
															<select ng-show="tagTypeVisitor" class="form-control"
																ng-disabled="tagTypeReadOnly"
																style="-webkit-appearance: menulist-button; width: 100%;"
																ng-model="authen.tagType" ng-dropdown
																ng-change="assignTagType()"
																ng-options="item for item in visitorType">
																
															</select> <select ng-show="tagTypeEmployee" class="form-control"
																ng-disabled="tagTypeReadOnly"
																style="-webkit-appearance: menulist-button; width: 100%;"
																ng-model="authen.tagType" ng-dropdown
																ng-change="assignTagType()">
																<option ng-option value="Employee">Employee</option>
															</select>
														</div>
													</div>
													<div class="form-group row" ng-show="show_peopleId">
														<label class="col-sm-3 col-form-label" for="peopleId">Employee
															ID</label>

														<div class="col-sm-8">
															
															<select id="checktagIdSelectEmployee"
																style="-webkit-appearance: menulist-button; width: 100%;"
																class="form-control select2" 
																ng-model="authen.peopleId" ng-dropdown required>
																<option ng-repeat="item in peopleIdTable"
																	value="{{item}}">{{item}}</option>
															</select>

														</div>
													</div>

													<div class="form-group row" ng-show="show_fname">
														<label class="col-sm-3 col-form-label" for="fname">First
															Name</label>
														<div class="col-sm-8">
															<input class="form-control" type="text"
																ng-model="authen.firstName" name="fname" id="fname"
																pattern="([A-z 0-9]){1,}" placeholder="Enter First Name"
																maxlength="16" /> <em style="color: red"
																ng-show="fnameError" id="id_fnameError">{{fname_error_msg}}</em>
														</div>
													</div>
													<div class="form-group row" ng-show="show_lname">

														<label class="col-sm-3 col-form-label " for="lname">Last
															Name</label>
														<div class="col-sm-8">
															<input class="form-control" type="text"
																ng-model="authen.lastName" name="lname" id="lname"
																pattern="([A-z 0-9]){1,}" placeholder="Enter Last Name"
																maxlength="16" /> <em style="color: red"
																ng-show="lnameError" id="id_lnameError">{{lname_error_msg}}</em>
														</div>
													</div>
													<div class="form-group row " ng-show="show_phoneNumber">

														<label class="col-sm-3 col-form-label " for="phoneNo">Phone
															No</label>

														<div class="col-sm-8">
															<div class="input-group ">
																<div class="input-group-addon">
																	<select class="form-control"
																		ng-model="authen.countryCode" name=countryCode
																		id="countryCode" ng-dropdown
																		ng-options="item for item in countryCodes">
																		

																	</select>
																</div>

																<input type="tel" class="form-control"
																	placeholder="Enter Phone Number" maxlength="10"
																	minlength="10" ng-model="authen.phoneNumber"
																	name=phoneNumber id="phoneNumber">
															</div>
															<em style="color: red" ng-show="phNoError"
																id="id_phNoError">{{phNo_error_msg}}</em>
														</div>
													</div>

													<div class="form-group row" ng-show="show_companyName">

														<label class="col-sm-3 col-form-label " for="companyName">Company
															Name</label>
														<div class="col-sm-8">
															<input class="form-control" type="text"
																ng-model="authen.companyName" name="companyName"
																id="id_companyName" 
																placeholder="Enter Company Name" maxlength="30" /> <em
																style="color: red" ng-show="companyNameError"
																id="id_companyNameError">{{companyName_error_msg}}</em>
														</div>
													</div>

													<div class="form-group row" ng-show="show_contactPerson">

														<label class="col-sm-3 col-form-label "
															for="contactPerson">Contact Person</label>
														<div class="col-sm-8">
															<input class="form-control" type="text"
																ng-model="authen.contactPerson" name="contactPerson"
																id="id_contactPerson" pattern="([A-z 0-9]){1,}"
																placeholder="Enter Contact Person" maxlength="30" /> <em
																style="color: red" ng-show="contactPersonError"
																id="id_contactPersonError">{{contactPersonError_error_msg}}</em>
														</div>
													</div>
													<div class="form-group row " ng-show="show_phoneNumber">

														<label class="col-sm-3 col-form-label " for="phoneNo">Contact
															Phone No </label>
														<div class="col-sm-8">
															<div class="input-group ">
																<div class="input-group-addon">
																	<select class="form-control"
																		ng-model="authen.contactPersonCountryCode"
																		name=contactPersonCountryCode
																		id="id_contactPersonCountryCode" ng-dropdown
																		ng-options="item for item in countryCodes">
																		
																	</select>
																</div>

																<input type="tel" class="form-control"
																	placeholder="Enter Contact Person Phone Number"
																	maxlength="10" minlength="10"
																	ng-model="authen.contactPersonPhoneNumber"
																	name=contactPersonPhoneNumber
																	id="id_contactPersonPhoneNumber">
															</div>
															<em style="color: red" ng-show="contactPersonPhNoError"
																id="id_contactPersonPhNoError">{{contactPersonPhNoError_error_msg}}</em>
														</div>
													</div>

													<div class="form-group row" ng-show="show_date">

														<label class="col-sm-3 col-form-label" for="date">Date
														</label>
														<div class="col-sm-8">

															<div class="input-group date" id="datetimepicker4"
																data-target-input="nearest" >
																<input type="text"
																	class="form-control datetimepicker-input"
																	data-target="#datetimepicker4" id="id_date" name="date"
																	ng-model="authen.date" disabled />
																<div class="input-group-append"
																	data-target="#datetimepicker4"
																	data-toggle="datetimepicker">
																	<div class="input-group-text">
																		<i class="fa fa-calendar"></i>
																	</div>
																</div>
															</div>
															<em style="color: red" ng-show="dateError"
																id="id_dateError">{{dateError_error_msg}}</em>
														</div>
													</div>

													<div class="form-group row" ng-show="show_stime" >

														<label class="col-sm-3 col-form-label">Start Time</label>
														<div class="col-sm-8">
															<div class="input-group date" id="stimepicker"
																data-target-input="nearest" >
																<input name="stime" id="stime" type="text"
																	class="form-control datetimepicker-input"
																	data-target="#stimepicker" ng-model="authen.stime"
																	required disabled/>
																<div class="input-group-append"
																	data-target="#stimepicker" data-toggle="datetimepicker">
																	<div class="input-group-text">
																		<i class="far fa-clock"></i>
																	</div>
																</div>
															</div>
															<em style="color: red" ng-show="stimeError"
																id="id_stimeError">{{stimeError_error_msg}}</em>
														</div>
													</div>

													<div class="form-group row" ng-show="show_etime">

														<label class="col-sm-3 col-form-label">End Time</label>
														<div class="col-sm-8">
															<div class="input-group date" id="etimepicker"
																data-target-input="nearest">
																<input name="etime" id="etime" type="text"
																	class="form-control datetimepicker-input"
																	data-target="#etimepicker" ng-model="authen.etime"
																	required />
																<div class="input-group-append"
																	data-target="#etimepicker" data-toggle="datetimepicker">
																	<div class="input-group-text">
																		<i class="far fa-clock"></i>
																	</div>
																</div>
															</div>
															<em style="color: red" ng-show="etimeError"
																id="id_etimeError">{{etimeError_error_msg}}</em>
														</div>
													</div>
												</div>
												<div class="col-sm-5" ng-show="show_accessLimit">
													<!-- 	<div class="form-group row " ng-show="show_accessLimit"> -->
													<label class="col-sm-9 col-form-label " for="accessLimit">Allowable
														Zones</label>
													<div class="col-sm-12">
														<div class="col-md-12">
															<div class=" form-group row">

																<div class="col-sm-10">
																	<div class="card">
																		<div class="card-header"
																			style="background-color: rgb(0, 123, 255); color: white;">
																			<h3 class="card-title" id="menu">Select Zones</h3>

																		</div>
																		<div class="frequent" style="height :300px ; overflow-y:scroll"></div>
																	</div>
																</div>
															</div>
														</div>

														<!-- </div> -->
													</div>
												</div>


												<div class="col-lg-12 form-group"
													style="text-align: center;">

													<button type="button"
														class="btnValue btn-primary float-center"
														style="position: relative; left: 10px; top: 10px;"
														ng-click="assignTag()">Assign</button>

													<button type="button"
														class="btnValue btn-secondary float-center"
														style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
														ng-click="cancelTagAssign()">Clear</button>

												</div>
											</div>
										</form>
									</div>

									<div layout="column" ng-show="tagPeopleEditScreen"
										style="overflow-x: hidden; width: 100%; padding-left: 1%; margin-left: 1%; padding-right: 1%;">
										<div style="width: 100%;" id="emplistView"
											style="margin-left: 10px;">
											<div class="panel panel-default">
												<ul class="list-group" id="contact-list">
													<!-- <li class="list-group-item">
 -->
													<div id="tableview" class="table-container tableFixHead">
														<table class="table table-bordered">
															<thead>
																<tr>
																	<th class="thcss">S.No</th>
																	<th class="thcss ">Tag ID</th>
																	<!-- <th class="thcss ">Group ID</th> -->
																	<th class="thcss ">MAC Address</th>
																	<!-- <th class="thcss ">Manufacturer</th> -->
																	<th class="thcss ">Status</th>
																	<th class="thcss ">Type</th>
																	<th class="thcss ">Assignment ID</th>
																	<th class="thcss ">Assignment Date</th>
																	<th class="thcss ">Assigned Time</th>
																	<th class="thcss ">Valid Until</th>
																	<th class="thcss ">Modified Date</th>
																</tr>
															</thead>
															<tbody>
																<tr
																	ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
																	ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
																	ng-repeat="tag in tagViewData | filter:searchText"
																	data-ng-click="rowHighilited($index)">
																	<td>{{$index + serial}}</td>
																	<td>{{tag.tagId}}</td>
																	<!-- <td>{{tag.groupId}}</td> -->
																	<td>{{tag.macId}}</td>
																	<!-- <td>{{tag.manufacturer}}</td> -->
																	<td>{{tag.status}}</td>
																	<td>{{tag.type}}</td>
																	<td>{{tag.assignmentId}}</td>
																	<td>{{tag.assignmentDate}}</td>
																	<td>{{tag.fromTime}}</td>
																	<td>{{tag.toTime}}</td>
																	<td>{{tag.modifiedDate}}</td>
																</tr>
																<tr ng-show="tagNoData">
																	<td colspan="10"
																		style="text-align: center; color: red;">No data
																		found.</td>
																</tr>
															</tbody>
														</table>
													</div>
													<div class="clearfix"></div>


												</ul>

												<div layout="row" style="height: 50px">
													<button style="position: relative; left: 10px; top: 10px;"
														type="submit" class="btnValue btn-primary"
														ng-click="editPeopleTag()" ng-show="selectedRow>=0 && statusEdit">Edit</button>

													<button
														style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
														type="submit" class="btnValue btn-secondary"
														ng-click="cancelEdit()" ng-show="selectedRow>=0 && statusEdit">Cancel</button>
													<!-- <a href="#"> -->
													<div ng-show="PaginationTab" class="input-bar pull-right">
														<div class="input-bar">

															<div class="row" class="input-bar-item width100"
																style="float: right; margin-right: 0px;">
																<label for="totalPage"
																	style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
																	Pages {{totalPages}}</label>
																<form>
																	<div class="input-group"
																		style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																		<span class="input-group-btn">
																			<button class="btn btn-primary" id="firstPageEditTag"
																				ng-click="goFirstPage()" ng-disabled="isFirstPage">&lt;&lt;</button>
																			<button class="btn btn-primary"
																				id="previousPageEditTag" ng-click="goPreviousPage()"
																				ng-disabled="hasPrevious">&lt;</button>
																		</span> <input class="form-control width100" type="text"
																			ng-model="currentPage"> <span
																			class="input-group-btn">
																			<button class="btn btn-primary" id="nextPageEditTag"
																				ng-click="goNextPage()" ng-disabled="hasNext">&gt;</button>
																			<button class="btn btn-primary" id="lastPageEditTag"
																				ng-click="goLastPage()" ng-disabled="isLastPage">&gt;&gt;</button>
																		</span>
																	</div>
																</form>
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>
									</div>

									<div ng-show="tagPeopleEditUpdateScreen"
										style="width: 100%; height: 76vh; margin-top: 0px;"
										id="emplistView" style="margin-left: 10px;">
										<form name="editTagForm" autocomplete="disabled"
											id="id_editTagForm" class="form-horizontal emp-form"
											role="form" style="position: relative;">


											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="tagId">Tag ID</label>
														<!-- <div class="col-sm-5"> -->
														<input type="text" class="form-control"
															placeholder="Enter Tag ID" maxlength="12" name="tagId"
															id="id_tagIdEditTag" ng-model="authen.tagId"
															ng-readonly=true required>
														<!-- </div> -->
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="mac">MAC ID</label> <input type="text"
															class="form-control" placeholder="Enter MAC ID"
															maxlength="17" name="macId" id="id_macId"
															ng-model="authen.macId" ng-readonly=true required>
													</div>

												</div>
											</div>
											<div class="row" ng-show="editStatusAssignmentType">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label class="" for="tagType">Tag Type</label> <input
															type="text" class="form-control"
															placeholder="Enter Tag Type" maxlength="20"
															name="tagType" id="id_tagTypeEditTag"
															ng-model="authen.type" ng-readonly=true>
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="assignmentId">Assignment ID</label> <input
															type="text" class="form-control"
															placeholder="Enter Assignment Id" maxlength="20"
															name="assignmentId" id="id_assignmentId"
															ng-model="authen.assignmentId" ng-readonly=true>
													</div>
												</div>
											</div>

											
											<div class="row">

												<div class="col-sm-5">
													<div class="form-group ">
														<label class="" for="status">Status</label> <select
															class="form-control" ng-model="authen.status" ng-dropdown
															required name="status" id="id_status"
															ng-options="item for item in names">
														</select>

													</div>
												</div>
											</div>

											<div class="col-lg-12 form-group" style="text-align: center;">
												<button type="submit"
													style="position: relative; left: 10px; top: 10px;"
													class="btnValue btn-primary float-center"
													ng-click="updateTag()">Update</button>
												<button type="button"
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													class="btnValue btn-secondary float-center"
													ng-click="cancelTag()">Cancel</button>
											</div>
										</form>
									</div>

									<div ng-show="tagPeopleReturnScreen" class="container-fluid">
										<div class="row">

											<div class="col-sm-7">
												<div class="form-group row">
													<label class="col-sm-2 col-form-label " for="tagId">Tag
														ID</label>
													<div class="col-sm-8">
														<input class="form-control" type="text"
															ng-model="tagReturnTagID" name="tagId"
															id="id_tagIdReturnTag" pattern="([A-z0-9])"
															placeholder="Enter Tag ID" maxlength="16"
															ng-readonly="true" />
													</div>
												</div>

												<div class="form-group row">
													<label class="col-sm-2 col-form-label " for="tagType">Tag
														Type</label>
													<div class="col-sm-8">
														<input class="form-control" type="text"
															ng-model="tagReturnTagType" name="tagType"
															id="id_tagTypeReturnTag" pattern="([A-z0-9])"
															placeholder="Enter Tag Type" maxlength="16"
															ng-readonly="true" />
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-2 col-form-label" for="peopleId">{{peopleLabelName}}</label>
													<div class="col-sm-8">
														<input class="form-control" type="text"
															ng-model="tagReturnPeopleId" name="peopleId"
															id="id_peopleIdReturnTag" placeholder="Enter People ID"
															maxlength="16" ng-readonly="true" />
													</div>
												</div>

												<div class="form-group row"
													ng-show="show_fname_returnScreen">
													<label class="col-sm-2 col-form-label" for="fname">First
														Name</label>
													<div class="col-sm-8">
														<input class="form-control" type="text"
															ng-model="firstNameReturn" name="fname"
															id="id_fnameReturn" pattern="([A-z0-9]){2,}"
															placeholder="Enter First Name" maxlength="16"
															ng-readonly="true" />
													</div>
												</div>
												<div class="form-group row"
													ng-show="show_lname_returnScreen">
													<label class="col-sm-2 col-form-label" for="lname">Last
														Name</label>
													<div class="col-sm-8">
														<input class="form-control" type="text"
															ng-model="lastNameReturn" name="lname"
															id="id_lnameReturn" pattern="([A-z0-9]){2,}"
															placeholder="Enter Last Name" maxlength="16"
															ng-readonly="true" />
													</div>
												</div>

												<div class="form-group row" ng-show="show_date_returnScreen">

													<label class="col-sm-2 col-form-label" for="date">Date
													</label>
													<div class="col-sm-8">

														<div class="input-group date"
															id="datetimepicker4_returnScreen"
															data-target-input="nearest">
															<input type="text"
																class="form-control datetimepicker-input"
																data-target="#datetimepicker4_returnScreen"
																id="id_date_returnScreen" name="date"
																ng-model="date_returnScreen" disabled />
															<div class="input-group-append"
																data-target="#datetimepicker4_returnScreen"
																data-toggle="datetimepicker">
																<div class="input-group-text">
																	<i class="fa fa-calendar"></i>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="form-group row"
													ng-show="show_stime_returnScreen">

													<label class="col-sm-2 col-form-label">Start Time</label>
													<div class="col-sm-8">
														<div class="input-group date"
															id="stimepicker_returnScreen" data-target-input="nearest">
															<input required name="stime" id="stime_returnScreen"
																type="text" class="form-control datetimepicker-input"
																data-target="#stimepicker_returnScreen"
																ng-model="stime_returnScreen" disabled />
															<div class="input-group-append"
																data-target="#stimepicker_returnScreen"
																data-toggle="datetimepicker">
																<div class="input-group-text">
																	<i class="far fa-clock"></i>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="form-group row"
													ng-show="show_etime_returnScreen">

													<label class="col-sm-2 col-form-label">End Time</label>
													<div class="col-sm-8">
														<div class="input-group date"
															id="etimepicker_returnScreen" data-target-input="nearest">
															<input required name="etime" id="etime_returnScreen"
																type="text" class="form-control datetimepicker-input"
																data-target="#etimepicker_returnScreen"
																ng-model="etime_returnScreen" disabled />
															<div class="input-group-append"
																data-target="#etimepicker_returnScreen"
																data-toggle="datetimepicker">
																<div class="input-group-text">
																	<i class="far fa-clock"></i>
																</div>
															</div>
														</div>
													</div>
												</div>

											</div>

											<div class="col-sm-4" ng-show="show_accessLimit_ReturnScreen">
												<!--  <label class="col-sm-9 col-form-label " for="accessLimit">Allowable
													Zones</label>-->
													<div class="col-sm-12">
													<div class="col-md-12">
														<div class=" form-group row">

															<div class="col-sm-12">
																<div class="card">
																	<div class="card-header"
																		style="background-color: rgb(0, 123, 255); color: white;">
																		<h3 class="card-title" id="menuReturn">Allowable Zones</h3>

																	</div>
																	<select	multiple="single" style=" width: 100%; height :45vh"
												ng-model="SelectedZone" 
												name="checktagIdSelect" id="idReturntagSelectedZone"  ng-readonly="true">
												<option ng-repeat="item in accessLimit_returnScreen"
													value="{{item}}">{{item}}</option>
											</select>

																</div>
															</div>
														</div>
													</div>

												</div>
												
											</div>

											<div class="col-lg-12 form-group" style="text-align: center;">

												<button type="submit"
													class="btnValue btn-primary float-center"
													style="position: relative; left: 10px; top: 10px;"
													ng-click="returnTag()">Return</button>

												<button type="reset"
													class="btnValue btn-secondary float-center"
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													ng-click="cancelReturnTag()">Clear</button>
											</div>
										</div>
									</div>


									
								</div>
								<!-- /.card-body -->

							</div>
							<!-- /.card -->
						</div>
					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>

	</div>
	<!-- ./wrapper -->

</body>
	</html>
</div>
