<style>
.table th, .table td {
	padding: 0.5rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.content-header {
	padding: 3px 0.5rem;
	
}
</style>
<div ng-controller="tagSKUManagementController">
	<!DOCTYPE html>
	<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<!-- Site wrapper -->
	<div class="wrapper">
		<!-- Navbar -->
		<nav
			class="main-header navbar navbar-expand navbar-white navbar-light"
			style="position: unset;">
			<!-- Left navbar links -->
			<ul class="nav nav-pills">

				
				<li ng-show="showAssignReturnBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idTagSKUAssign" href=""
					ng-click="displayTagSKUAssignScreen()" class="nav-link"> </i>
						<p>Assign / Return Tag</p></a></li>
				<li ng-show="showEditBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idTagSKUEdit" href=""
					ng-click="displayTagSKUEditScreen()" class="nav-link"> </i>
						<p>Edit Status</p></a></li>
				
			</ul>
			<form class="form-inline ml-auto">

				<div class="input-group input-group-sm" ng-show="searchButton">
					<input class="form-control form-control-navbar" type="search"
						ng-change="searchOption()" ng-model="searchText"
						placeholder="Search" aria-label="Search">

					<div class="input-group-append">
						<button class="btn btn-navbar" type="submit">
							<!-- <i class="fas fa-search"></i> -->
						</button>
					</div>
				</div>
			</form>
		</nav>
		<!-- /.navbar -->


		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header"></section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<!-- Default box -->
							<div class="card">

								<div class="card-body">
									

									<div ng-show="fetchScreen" class="form-group row">
										<label class="col-sm-1 col-form-label" for="checktagIdSelect">Tag
											ID </label>
										<div class="col-sm-5">
											
											<select
												style="-webkit-appearance: menulist-button; width: 100%;"
												class="form-control select2" name="checktagIdSelect"
												id="checktagIdSelect" ng-dropdown required>
											</select>
										</div>
										<div class="col-sm-2">

											<button class="btnValue btn-primary float-center" style=""
												ng-click="fetchTag()"><i class="fas fa-play"></i></button>

										</div>
									</div>

									<div ng-show="assignScreen" class="container-fluid">
										<form id="assignTagForm" name="assignTagForm">
											<div class="row">

												<div class="col-sm-7">
													<div class="form-group row">
														<label class="col-sm-3 col-form-label " for="tagId">Tag
															ID</label>
														<div class="col-sm-8">
															<input class="form-control" type="text"
																ng-model="authen.tagId" name="tagId"
																id="id_tagIdAssignTag" placeholder="Enter Tag ID"
																maxlength="16" ng-readonly="true" />
														</div>
													</div>
													<div class="form-group row">
														<label class="col-sm-3 col-form-label" for="UPCCode">UPC Code </label>
														<div class="col-sm-8">
															<input class="form-control" type="text" ng-model="upcCode"
																name="UPCCode" id="id_upcCodeAssignTag"
																placeholder="Enter UPC Code" maxlength="30" /> <em
																style="color: red" ng-show="upcCodeError"
																id="id_upcCodeError">{{upcCode_error_msg}}</em>
														</div>

													</div>
													<div class="form-group row">
														<label class="col-sm-3 col-form-label" for="SKUNo">SKU No </label>
														<div class="col-sm-8">
															<input class="form-control" type="text" ng-model="skuNo"
																name="SKUNo" id="id_skuNoAssignTag"
																placeholder="Enter SKU No" maxlength="30" /> <em
																style="color: red" ng-show="skuNoError"
																id="id_skuNoError">{{skuNo_error_msg}}</em>
														</div>

													</div>
													
													<div class="form-group row">
														<label class="col-sm-3 col-form-label" for="SKUBatchNo">Batch
															No </label>
														<div class="col-sm-8">
															<input class="form-control" type="text"
																ng-model="skuBatchNo" name="SKUBatchNo"
																id="id_skuBatchNoAssignTag" placeholder="Enter Batch No"
																maxlength="30" /> <em style="color: red"
																ng-show="showSKUBatchNoError" id="id_SKUBatchNoError">{{skuBatchNo_Error_error_msg}}</em>
														</div>

													</div>
													<div class="form-group row">
														<label class="col-sm-3 col-form-label"
															for="SKUDescription">SKU Details </label>
														<div class="col-sm-8">
															<input class="form-control" type="text"
																ng-model="skuDescription" name="SKUDescription"
																id="id_skuDescriptionAssignTag"
																placeholder="Enter SKU Details" maxlength="100" /> <em
																style="color: red" ng-show="showSKUDescError"
																id="id_SKUDescError">{{skuDesc_Error_error_msg}}</em>
														</div>

													</div>
													<div class="form-group row">
														<label class="col-sm-3 col-form-label"
															style="width: 35%; margin-bottom: 4px;"
															for="SKUTransaction">Transaction</label>
														<div class="col-sm-8">
															<select class="form-control"
																style="-webkit-appearance: menulist-button; width: 100%;"
																ng-model="skuTransaction" ng-dropdown>
																<option ng-option value="Yes">Yes</option>
																<option ng-option selected="No" value="No">No</option>
															</select>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-sm-3 col-form-label"
															for="SKUTotalQuantity">Total Quantity </label>
														<div class="col-sm-8">
															<input class="form-control" type="text"
																ng-model="skuTotalQuantity" name="SKUTotalQuantity"
																id="id_skuTotalQtyAssignTag"
																placeholder="Enter Total Quantity" maxlength="100" /> <em
																style="color: red" ng-show="showSKUTotalQtyError"
																id="id_SKUTotalQtyError">{{skuTotalQty_Error_error_msg}}</em>
														</div>

													</div>
													<div class="form-group row">
														<label class="col-sm-3 col-form-label"
															style="width: 35%; margin-bottom: 4px;" for="SKULSLM">LSLM</label>
														<div class="col-sm-8">
															<select class="form-control"
																style="-webkit-appearance: menulist-button; width: 100%;"
																ng-model="skuLSLM" ng-dropdown
																ng-change="skuLSLMChange()">
																<option ng-option value="Yes">Yes</option>
																<option ng-option selected="No" value="No">No</option>
															</select>
														</div>
													</div>
													<div class="form-group row" ng-show="showSKUExpiryDate">

														<label class="col-sm-3 col-form-label" for="SKUExpiryDate">Expiry
															Date </label>
														<div class="col-sm-8">

															<div class="input-group date" id="id_skuExpiryDate"
																data-target-input="nearest">
																<input type="text"
																	class="form-control datetimepicker-input"
																	data-target="#id_skuExpiryDate"
																	id="id_skuExpiryDateInput" name="SKUExpiryDate"
																	ng-model="skuExpiryDate" />
																<div class="input-group-append"
																	data-target="#id_skuExpiryDate"
																	data-toggle="datetimepicker">
																	<div class="input-group-text">
																		<i class="fa fa-calendar"></i>
																	</div>
																</div>
															</div>
															<em style="color: red" ng-show="showSKUExpiryDateError"
																id="id_SKUExpiryDateError">{{skuExpiryDate_Error_error_msg}}</em>
														</div>
													</div>
												</div>
												<div class="col-lg-12 form-group"
													style="text-align: center;">

													<button type="button"
														class="btnValue btn-primary float-center"
														style="position: relative; left: 10px; top: 10px;"
														ng-click="assignSKUTag()">Assign</button>

													<button type="button"
														class="btnValue btn-secondary float-center"
														style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
														ng-click="cancelSKUTagAssign()">Clear</button>

												</div>
											</div>
										</form>
									</div>

									<div layout="column" ng-show="tagSKUEditScreen"
										style="overflow-x: hidden; width: 100%; padding-left: 1%; margin-left: 1%; padding-right: 1%;">
										<div style="width: 100%;" id="emplistView"
											style="margin-left: 10px;">
											<div class="panel panel-default">
												<ul class="list-group" id="contact-list">
													<!-- <li class="list-group-item">
 -->
													<div id="tableview" class="table-container tableFixHead">
														<table class="table table-bordered">
															<thead>
																<tr>
																	<th class="thcss">S.No</th>
																	<th class="thcss ">Tag ID</th>
																	<!-- <th class="thcss ">Group ID</th> -->
																	<th class="thcss ">MAC Address</th>
																	<!-- <th class="thcss ">Manufacturer</th> -->
																	<th class="thcss ">Status</th>
																	<th class="thcss ">Type</th>
																	<th class="thcss ">Assignment ID</th>
																	<th class="thcss ">Assignment Date</th>
																	<!-- <th class="thcss ">Assigned Time</th>
																	<th class="thcss ">Valid Until</th> -->
																	<th class="thcss ">Modified Date</th>
																</tr>
															</thead>
															<tbody>
																<tr
																	ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
																	ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
																	ng-repeat="tag in tagViewData | filter:searchText"
																	data-ng-click="rowHighilited($index)">
																	<td>{{$index + serial}}</td>
																	<td>{{tag.tagId}}</td>
																	<!-- <td>{{tag.groupId}}</td> -->
																	<td>{{tag.macId}}</td>
																	<!-- <td>{{tag.manufacturer}}</td> -->
																	<td>{{tag.status}}</td>
																	<td>{{tag.type}}</td>
																	<td>{{tag.assignmentId}}</td>
																	<td>{{tag.assignmentDate}}</td>
																	<!-- <td>{{tag.fromTime}}</td>
																	<td>{{tag.toTime}}</td> -->
																	<td>{{tag.modifiedDate}}</td>
																</tr>
																<tr ng-show="tagNoData">
																	<td colspan="10"
																		style="text-align: center; color: red;">No data
																		found.</td>
																</tr>
															</tbody>
														</table>
													</div>
													<div class="clearfix"></div>


												</ul>

												<div class="row" style="height: 50px">

													<div class="col-6">
														<button style="position: relative; left: 10px; top: 10px;"
															type="submit" class="btnValue btn-primary"
															ng-click="editSKUTag()" ng-show="selectedRow>=0 && statusEdit">Edit</button>

														<!--<button
															style="position: relative; left: 10px; top: 10px; margin-left: 10px;"
															type="submit" class="btnValue btn-primary"
															ng-click="trackSingleTag()"
															ng-show="selectedRow>=0&&trackMacId!=''">Track</button>-->

														<button
															style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
															type="submit" class="btnValue btn-secondary"
															ng-click="cancelEdit()" ng-show="selectedRow>=0 && statusEdit">Cancel</button>

													</div>
													<!-- <a href="#"> -->

													<div class="col-6">
														<div ng-show="PaginationTab" class="input-bar pull-right">
															<div class="input-bar">

																<div class="row" class="input-bar-item width100"
																	style="float: right; margin-right: 0px;">
																	<label for="totalPage"
																		style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
																		Pages {{totalPages}}</label>
																	<form>
																		<div class="input-group"
																			style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																			<span class="input-group-btn">
																				<button class="btn btn-primary"
																					id="firstPageEditTag" ng-click="goFirstPage()"
																					ng-disabled="isFirstPage">&lt;&lt;</button>
																				<button class="btn btn-primary"
																					id="previousPageEditTag"
																					ng-click="goPreviousPage()"
																					ng-disabled="hasPrevious">&lt;</button>
																			</span> <input class="form-control width100" type="text"
																				ng-model="currentPage"> <span
																				class="input-group-btn">
																				<button class="btn btn-primary" id="nextPageEditTag"
																					ng-click="goNextPage()" ng-disabled="hasNext">&gt;</button>
																				<button class="btn btn-primary" id="lastPageEditTag"
																					ng-click="goLastPage()" ng-disabled="isLastPage">&gt;&gt;</button>
																			</span>
																		</div>
																	</form>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div ng-show="tagSKUEditUpdateScreen"
										style="width: 100%; height: 76vh; margin-top: 0px;"
										id="emplistView" style="margin-left: 10px;">
										<form name="editTagForm" autocomplete="disabled"
											id="id_editTagForm" class="form-horizontal emp-form"
											role="form" style="position: relative;">


											<div class="row">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label for="tagId">Tag ID</label>
														<!-- <div class="col-sm-5"> -->
														<input type="text" class="form-control"
															placeholder="Enter Tag ID" maxlength="12" name="tagId"
															id="id_tagIdEditTag" ng-model="authen.tagId"
															ng-readonly=true required>
														<!-- </div> -->
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="mac">MAC ID</label> <input type="text"
															class="form-control" placeholder="Enter MAC ID"
															maxlength="17" name="macId" id="id_macId"
															ng-model="authen.macId" ng-readonly=true required>
													</div>

												</div>
											</div>
											<div class="row" ng-show="editStatusAssignmentType">
												<div class="col-sm-5">
													<!-- text input -->
													<div class="form-group ">
														<label class="" for="tagType">Tag Type</label> <input
															type="text" class="form-control"
															placeholder="Enter Tag Type" maxlength="20"
															name="tagType" id="id_tagTypeEditTag"
															ng-model="authen.type" ng-readonly=true>
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group ">
														<label for="assignmentId">Assignment ID</label> <input
															type="text" class="form-control"
															placeholder="Enter Assignment Id" maxlength="20"
															name="assignmentId" id="id_assignmentId"
															ng-model="authen.assignmentId" ng-readonly=true>
													</div>
												</div>
											</div>

											

											<div class="row">

												<div class="col-sm-5">
													<div class="form-group ">
														<label class="" for="status">Status</label> <select
															class="form-control" ng-model="authen.status" ng-dropdown
															required name="status" id="id_status"
															ng-options="item for item in names">
														</select>

													</div>
												</div>
											</div>

											<div class="col-lg-12 form-group" style="text-align: center;">
												<button type="submit"
													style="position: relative; left: 10px; top: 10px;"
													class="btnValue btn-primary float-center"
													ng-click="updateTag()">Update</button>
												<button type="button"
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													class="btnValue btn-secondary float-center"
													ng-click="cancelTag()">Cancel</button>
											</div>
										</form>
									</div>

									<div ng-show="tagSKUReturnScreen" class="container-fluid">
										<div class="row">

											<div class="col-sm-7">
												<div class="form-group row">
													<label class="col-sm-4 col-form-label " for="tagId">Tag
														ID</label>
													<div class="col-sm-8">
														<input class="form-control" type="text"
															ng-model="tagReturnTagID" name="tagId"
															id="id_tagIdReturnTag" pattern="([A-z0-9])"
															placeholder="Enter Tag ID" maxlength="16"
															ng-readonly="true" />
													</div>
												</div>
												<div class="form-group row">
														<label class="col-sm-4 col-form-label" for="returnUPCCode">UPC Code </label>
														<div class="col-sm-8">
															<input class="form-control" type="text" ng-model="tagReturnUPCCode"
																name="returnUPCCode" id="id_ReturnupcCode"
																placeholder="Enter UPC Code" ng-readonly="true" />
														</div>

													</div>
													
												<div class="form-group row">
													<label class="col-sm-4 col-form-label " for="returnSKUNo">SKU Number</label>
													<div class="col-sm-8">
														<input class="form-control" type="text"
															ng-model="tagReturnSKUNo" name="returnSKUNo"
															id="id_ReturnTagSKUNo" placeholder="UPC Code"
															ng-readonly="true" />
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-4 col-form-label" for="returnBatchNo">Batch Number</label>
													<div class="col-sm-8">
														<input class="form-control" type="text"
															ng-model="tagReturnBatchNo" name="returnBatchNo"
															id="id_ReturnTagBatchNo" ng-readonly="true" />
													</div>
												</div>

												<div class="form-group row">
													<label class="col-sm-4 col-form-label"
														for="returnSKUDescription">SKU Details</label>
													<div class="col-sm-8">
														<input class="form-control" type="text"
															ng-model="tagReturnSKUDescription"
															name="returnSKUDescription"
															id="id_ReturnTagSKUDescription" ng-readonly="true" />
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-4 col-form-label"
														for="returnSKUTransaction">Transaction</label>
													<div class="col-sm-8">
														<input class="form-control" type="text"
															ng-model="tagReturnSKUTransaction"
															name="returnSKUTransaction"
															id="id_ReturnTagSKUTransaction" ng-readonly="true" />
													</div>
												</div>

												<div class="form-group row">

													<label class="col-sm-4 col-form-label"
														for="returnSKUIssueDate">Issue Date </label>
													<div class="col-sm-8">

														<div class="input-group date"
															id="id_DatePickerReturnSKUIssueDate"
															data-target-input="nearest">
															<input type="text"
																class="form-control datetimepicker-input"
																data-target="#id_DatePickerReturnSKUIssueDate"
																id="id_ReturnTagSKUIssueDate" name="returnSKUIssueDate"
																ng-model="tagReturnSKUIssueDate" disabled />
															<div class="input-group-append"
																data-target="#id_DatePickerReturnSKUIssueDate"
																data-toggle="datetimepicker">
																<div class="input-group-text">
																	<i class="fa fa-calendar"></i>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-4 col-form-label"
														for="returnSKUTotalQty">Total Quantity</label>
													<div class="col-sm-8">
														<input class="form-control" type="text"
															ng-model="tagReturnSKUTotalQty" name="returnSKUTotalQty"
															id="id_ReturnTagSKUTotalQty" ng-readonly="true" />
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-4 col-form-label"
														for="returnSKUAvailableQty">Available Quantity</label>
													<div class="col-sm-8">
														<input class="form-control" type="text"
															ng-model="tagReturnSKUAvailableQty"
															name="returnSKUAvailableQty"
															id="id_ReturnTagSKUAvailableQty" ng-readonly="true" />
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-4 col-form-label" for="returnSKULSLM">LSLM</label>
													<div class="col-sm-8">
														<input class="form-control" type="text"
															ng-model="tagReturnSKULSLM" name="returnSKULSLM"
															id="id_ReturnTagSKULSLM" ng-readonly="true" />
													</div>
												</div>

												<div class="form-group row"
													ng-show="showReturnTagSKUExpiryDate">

													<label class="col-sm-4 col-form-label"
														for="returnSKUExpiryDate">Expiry Date </label>
													<div class="col-sm-8">

														<div class="input-group date"
															id="id_DatePickerReturnSKUExpiryDate"
															data-target-input="nearest">
															<input type="text"
																class="form-control datetimepicker-input"
																data-target="#id_DatePickerReturnSKUExpiryDate"
																id="id_ReturnTagSKUExpiryDate"
																name="returnSKUExpiryDate"
																ng-model="tagReturnSKUExpiryDate" ng-readonly="true" />
															<div class="input-group-append"
																data-target="#id_DatePickerReturnSKUExpiryDate"
																data-toggle="datetimepicker">
																<div class="input-group-text">
																	<i class="fa fa-calendar"></i>
																</div>
															</div>
														</div>
													</div>
												</div>



											</div>

											<div class="col-lg-12 form-group" style="text-align: center;">

												<button type="submit"
													class="btnValue btn-primary float-center"
													style="position: relative; left: 10px; top: 10px;"
													ng-click="returnSKUTag()">Return</button>

												<button type="reset"
													class="btnValue btn-secondary float-center"
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													ng-click="cancelReturnSKUTag()">Clear</button>
											</div>
										</div>
									</div>

								</div>
								<!-- /.card-body -->

							</div>
							<!-- /.card -->
						</div>
					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>

	</div>
	<!-- ./wrapper -->

</body>
	</html>
</div>
