<style>
.content-wrapper>.content {
	padding: 1rem .7rem;
}

.image-wrapper {
	max-width: 600px;
	min-width: 200px;
}

img {
	max-width: 100%;
	max-height: 400px;
}

#image-4-wrapper .rcrop-outer-wrapper {
	opacity: .75;
}

#image-4-wrapper .rcrop-outer {
	background: #000
}

#image-4-wrapper .rcrop-croparea-inner {
	border: 1px dashed #fff;
}

#image-4-wrapper .rcrop-handler-corner {
	width: 12px;
	height: 12px;
	background: none;
	border: 0 solid #51aeff;
}

#image-4-wrapper .rcrop-handler-top-left {
	border-top-width: 4px;
	border-left-width: 4px;
	top: -2px;
	left: -2px
}

#image-4-wrapper .rcrop-handler-top-right {
	border-top-width: 4px;
	border-right-width: 4px;
	top: -2px;
	right: -2px
}

#image-4-wrapper .rcrop-handler-bottom-right {
	border-bottom-width: 4px;
	border-right-width: 4px;
	bottom: -2px;
	right: -2px
}

#image-4-wrapper .rcrop-handler-bottom-left {
	border-bottom-width: 4px;
	border-left-width: 4px;
	bottom: -2px;
	left: -2px
}

#image-4-wrapper .rcrop-handler-border {
	display: none;
}

#image-4-wrapper .clayfy-touch-device.clayfy-handler {
	background: none;
	border: 0 solid #51aeff;
	border-bottom-width: 6px;
	border-right-width: 6px;
}

label {
	display: inline-block;
	width: 60px;
	margin-top: 10px;
}

#update {
	margin: 10px 0 0 60px;
	padding: 10px 20px;
}

#cropped-original, #cropped-resized {
	padding: 20px;
	border: 4px solid #ddd;
	min-height: 60px;
	margin-top: 20px;
}

#cropped-original img, #cropped-resized img {
	margin: 5px;
}
</style>
<div ng-controller="userProfileController">
	
	<div class="wrapper">
		<!-- Navbar -->




		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-3">

							<!-- Profile Image -->
							<div class="card card-primary card-outline">
								<div class="card-body box-profile">
									<div class="text-center">
										<img class="profile-user-img img-fluid img-circle"
											id="profileImg" src="./dist/img/userImage.jpg"
											alt="User profile picture">
									</div>

									<h3 class="profile-username text-center">{{user.userName}}</h3>

									<p class="text-muted text-center">{{user.role}}</p>


								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->

							<!-- About Me Box -->

							<!-- /.card -->
						</div>
						<!-- /.col -->
						<div class="col-md-9">
							<div class="card">
								<div class="card-header p-2">
									<ul class="nav nav-pills">
										<li class="nav-item"><a class="nav-link active"
											ng-click="fnSettingsClick()" data-toggle="tab">Settings</a></li>
										<!--<li class="nav-item"><a class="nav-link"
											ng-click="fnProfileColorClick()" data-toggle="tab">Profile
												Color</a></li> -->
										<li class="nav-item"><a class="nav-link"
											ng-click="fnChangePasswordClick()" data-toggle="tab">Change
												Password</a></li>
										<li class="nav-item"><a class="nav-link"
											ng-click="fnChangeProfileImage()" data-toggle="tab">Change
												Profile Image</a></li>
										<li class="nav-item"><a class="nav-link"
											ng-click="fnCreateTicketTabClick()" data-toggle="tab">Create
												Ticket</a></li>
									</ul>
								</div>
								<!-- /.card-header -->
								<div class="card-body">
									<div class="tab-content">
										<div class="active tab-pane" id="idSettingsTab">
											<!-- Post -->
											<div class="post">

												<div class="form-group row">

													<div class="checkbox">
														<label style="width: 100%;"> <input type="checkbox"
															id="idNotificationOnMenu"> Notification on screen
															</input>
														</label>
													</div>

												</div>
												<div class="form-group row">
													<label for="profileColor" class="col-sm-2">Profile
														Color </label> <input class="col-sm-2 form-control" type="color"
														ng-model="varProfileColor" name="profileColor"
														id="idProfileColor" required />

												</div>
												<div class="form-group row">
													<div class="offset-sm-3 col-sm-2">
														<button type="submit" class="btn btn-primary btn-block"
															ng-click="fnUpdateProfile()">Update</button>
													</div>
												</div>
											</div>
										</div>

										<!-- /.tab-pane -->

										<div class="tab-pane" id="idChangePasswordTab">
											<!-- <section ng-controller="changePasswordcontroller"
												style="padding: 1px 0;"/> -->

												<!-- <div class="login-box" style="margin-inline-start: 10%;">

													<div class="card">
														<div class="card-body login-card-body"> -->
												<form id="changePwdForm" name="changePwdForm"
													class="form-horizontal">
													<div class="form-group row">
														<label for="ChangePwdOldPwd" class="col-sm-2 col-form-label">Old
															Password</label>
														<div class="input-group mb-3 col-sm-6">
														
														<div class="row" style ="width :85%;">
															<input type="password" class="form-control" style ="width :85%;"
																placeholder="Please Enter Old Password"
																id="idChangePwdOldPwd" name="ChangePwdOldPwd"
																ng-model="ChangePwdOldPwd" > 
																
																<div class="input-group-append">
																<span
																class="input-group-btn">
																<button class="btn btn-default" id="id_OldPwdToggle"
																	ng-click="oldPwdeyeButtonClick();" type="button">
																	<i class="far fa-eye-slash"></i>
																</button>
																</span>
																</div>
																<em  style="color: red" ng-show="changeOldPasswordError"
															id="id_changeOldPasswordError">{{changeOldPassword_error_msg}}</em>
																</div>
														</div>
													</div>
													<div class="form-group row">
														<label for="ChangePwdNewPwd" class="col-sm-2 col-form-label">New
															Password</label>
														<div class="input-group mb-3 col-sm-6">
														<div class="row" style ="width :85%;">
															<input type="password" class="form-control" style ="width :85%;"
																placeholder="Please Enter New Password"
																id="idChangePwdNewPwd" name="ChangePwdNewPwd"
																ng-model="ChangePwdNewPwd" > 
																
																<div class="input-group-append">
																<span
																class="input-group-btn">
																<button class="btn btn-default" id="id_NewPwdToggle"
																	ng-click="newPwdeyeButtonClick();" type="button">
																	<i class="far fa-eye-slash"></i>
																</button>
																</span>
																</div>
																<em  style="color: red" ng-show="changeNewPasswordError"
															id="id_changeNewPasswordError">{{changeNewPassword_error_msg}}</em>
														</div>
														</div>
													</div>
													<div class="form-group row">
														<label for="ChangePwdConfirmPwd" class="col-sm-2 col-form-label">Confirm
															Password</label>
														<div class="input-group mb-3 col-sm-6">
														
														<div class="row" style ="width :85%;">
															<input type="password" class="form-control" style ="width :85%;"
																placeholder="Please Enter Confirm Password"
																id="idChangePwdConfirmPwd" name="ChangePwdConfirmPwd"
																ng-model="ChangePwdConfirmPwd" >
																
																<div class="input-group-append">
																<span
																class="input-group-btn">
																<button class="btn btn-default" id="id_ConfirmPwdToggle"
																	ng-click="confirmPwdeyeButtonClick();" type="button">
																	<i class="far fa-eye-slash"></i>
																</button>
																</span>
																</div>
																
															<em  style="color: red" ng-show="changeConfirmPasswordError"
															id="id_changeConfirmPasswordError">{{changeConfirmPassword_error_msg}}</em>
															</div>
														
														</div>
														
														
													</div>
														

													<div class="form-group row">
														<div class="offset-sm-3 col-sm-3">
															<button type="submit" class="btn btn-primary btn-block"
																ng-click="changePassword()">Change password</button>
														</div>
													</div>
												</form>
										</div>
										<!-- /.login-card-body -->

										<div class="tab-pane" id="idChangeProfileImageTab">

											<img class="profile-user-img img-fluid img-circle" 
												style="width: 300px; height: 300px;" id="profileImgEdit"
												src="./dist/img/userImage.jpg"
												alt="User profile picture">

											<div class="image-wrapper" id="showCropImageView">
												<img id="image-1"  style="max-height: 400px;">
											</div>

											<div class="row">


												<label id="pickImageLabel" for="pickImageBtn" class="btn btn-primary"
													style="width: 140px; margin-top: 20px; margin-left: 20px; margin-right: 20px; margin-bottom: 10px;">Change Image</label> <input id="pickImageBtn" accept="image/*"
													style="visibility: hidden; width: 0px;" type="file" />

												<button class="btn btn-primary" id="saveImageBtn"
													style="width: 120px; margin-top: 20px; margin-right: 20px; margin-bottom: 10px;"
													type="button" ng-click="saveImageEdit()">{{saveBtnText}}</button>
													
												<button class="btn btn-primary" id="cancelImageBtn"
													style="width: 120px; margin-top: 20px; margin-right: 20px; margin-bottom: 10px;"
													type="button" ng-click="cancelImageEdit()">Cancel</button>
													
											</div>
										</div>
										
										<div class="tab-pane" id="idCreateTicketTab">
											<form id="createTicketForm" name="createTicketForm"
													class="form-horizontal">
													<div class="form-group row">
														<label for="inputsubject" class="col-sm-2 col-form-label">Subject
															</label>
														<div class="input-group mb-3 col-sm-6">
														<div class="row" style ="width :100%;">
															<input type="text" class="form-control"
																placeholder="Enter Subject"
																id="idTicketSubject" name="inputsubject"
																ng-model="ticketSubject" >
																<em style="color: red" ng-show="ticketSubjectError"
																id="idTicketSubjectError">{{ticketSubjectErrorMsg}}</em>
														</div>
														</div>
																
													</div>
													
													<div class="form-group row">
														<label for="inputDesc" class="col-sm-2 col-form-label">Description</label>
														
														
														<div class="input-group mb-3 col-sm-6">
														<div class="row" style ="width :100%;">
															<textarea class="form-control" 
															placeholder="Enter Description" ng-model="ticketDescription" name="inputDesc"
															id="idTicketDescription" maxlength="65535" rows="4" cols="300"
															style="resize: none;"></textarea>
															<em style="color: red" ng-show="ticketDescError"
																id="idTicketDescErrorError">{{ticketDescErrorMsg}}</em>
																
																</div>
														</div>
														
													</div>
													
																
													<div class="form-group row">
														<div class="offset-sm-3 col-sm-2">
															<button type="submit" class="btn btn-primary btn-block"
																ng-click="fnCreateTicketBtn()">Create</button>
														</div>
													<div class="offset-sm-1 col-sm-2">
															<button type="submit" class="btn btn-secondary btn-block"
																ng-click="fnClearTicketBtn()">Clear</button>
														</div>
														</div>
													
												</form>
										</div>
									</div>
								</div>
								<!-- /.login-box -->
		</div>
		</div>
		</div>
		</div>
			</section>
		</div>
		<!-- /.tab-pane -->
	</div>
	<!-- /.tab-content -->
</div>

