<style>
.tr_odd {
	background-color: white;
	color: #000000;
}

.tr_even {
	background-color: #f2f2f2;
	color: #000000;
}

.thcss {
	color: white;
	position: sticky;
	top: 0;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
	text-align: left !important;
	vertical-align: middle !important;
}

th.sortable {
	position: relative;
	cursor: pointer;
}

th.sortable::after {
	font-family: 'Font Awesome\ 5 Free';
	content: "\f0dc";
	position: absolute;
	right: 8px;
	color: #fff;
}

th.sortable.asc::after {
	content: "\f0d8";
}

th.sortable.desc::after {
	content: "\f0d7";
}

th.sortable:hover::after {
	color: #dedede;
}
.table th, .table td {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
   
}
.content-header {
  padding: 3px 0.5rem;
}
</style>
<body class="hold-transition sidebar-mini layout-fixed">
	<!-- Site wrapper -->
	<div class="wrapper" ng-controller="vehicleProfileController">

		<div class="content-wrapper">

			<!-- Main content -->
			<section class="content">

				<!-- /.col -->
				<div class="container-fluid">
					<div class="row" style="padding-top: 10px">
						<div class="col-md-12">
							<!-- general form elements -->
							<div class="card">
								<!-- <div class="card-body"> -->
									<!-- <div class="card"> -->
										<div class="card-header" >
											<div class="card-tools">
												<form class="form-inline ml-3">
													<div class="input-group input-group-sm">
														<input class="form-control form-control-navbar"
															type="search" ng-change="searchOption()"
															ng-model="searchText" placeholder="Search"
															aria-label="Search"/>
															<button style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
															class="btnValue btn-primary float-center"
					ng-class="{'btn-leftslide' : !isrefreshLogViewClicked, 'btn-leftslideSelected': isrefreshLogViewClicked}"
					ng-click="refresh()">Refresh</button>
													</div>
												</form>
											</div>
										</div>
										<div   layout="column"
					style="overflow-x: hidden; width: 100%; padding-left: 0.1%; margin-left: 0%; margin-right: 0.5%; padding-right: 0%;">
										<div style="width: 100%;"
											style="margin-left: 10px;">
											<div class="panel panel-default">
												<ul class="list-group">
													<!-- <li class="list-group-item">
 -->
														<div class="table-container tableFixHead">
										<table id="shiftTable" st-table="logsList" st-pagination-scroll
										st-pipe="loadMore" 
											class="table table-bordered table-hover dtr-inline">
											<thead
												style="background-color: rgb(0, 123, 255); color: white;">
												<tr>
													<th class="thcss ">Date Time</th>
													<th class="thcss ">Type</th>
													<th class="thcss ">Major</th>
													<th class="thcss ">Minor</th>
													<th class="thcss ">Log ID</th>
													<th class="thcss ">Result</th>
													<th class="thcss " width="20%">Parameter</th>
												</tr>
											</thead>
											<tbody>
												<tr
													ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
													ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
													ng-repeat="shift in shiftViewData | filter:searchText"
													data-ng-click="rowHighilited($index)">
												<td style="white-space: nowrap;">{{localizeDateStr(log.logDateTime)}}</td>
												<td>{{log.logType}}</td>
												<td style="white-space: nowrap;">{{log.major}}</td>
												<td>{{log.minor}}</td>
												<td>{{log.logUserId}}</td>
												
												<td style="white-space: nowrap;">{{log.result}}</td>
												<td style="white-space: nowrap;">{{log.params}}</td>
												</tr>

												<tr ng-show="shiftNoData">
													<td colspan="7" style="text-align: center; color: red;">No
														data found.</td>
												</tr>
											</tbody>
										</table>
										</div>
										<div ng-click="scroll()" class="round">								 
									<div id="cta">
										<span class="arrow primera next "></span> <span
											class="arrow segunda next "></span>
									</div> 
								</div>
							</ul>
							</div>
							</div>
							</div>
							<!-- </div> -->
								<!-- </div> -->
							</div>

							<!-- /.card -->
						</div>

						<!-- Horizontal Form -->
						
					</div>
				</div>
		</div>
		</section>
	</div>
	</div>




</body>

