<style>
.table th, .table td {
	padding: 0.5rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.content-header {
	padding: 3px 0.5rem;
}

#tableOptions-container .multiselect-selected .form-check-label {
	color: blue;
	width: 130px;
}

.form-inline .multiselect-container span.form-check {
	padding: 0px 0px 0px 0px;
}

.form-check {
	justify-content: left !important;
}

#idMultiSearchCard {
	width: 850Px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	box-shadow: 0 0 2px rgb(0 0 0/ 13%), 0 1px 3px rgb(23, 29, 215);
}

@media ( min-width : 576px) .modal-dialog {
	max-width : 900px;
	margin :1.75rem auto;
}

.modal-title {
	margin-bottom: 0;
	line-height: 1.5;
	color: white;
}

.modal-header .close, .modal-header .mailbox-attachment-close {
	padding: 2.5rem;
	margin: -1rem -1rem -1rem auto;
	color: white;
}

.table-containerStock {
	height: auto;
	overflow-x: scroll;
}

.tableFixHeadStock {
	overflow-x: auto;
	height: auto;
}
.table-container {
	height: 50vh;
	overflow-x: scroll;
}

.tableFixHead {
	overflow-x: auto;
	height: 50vh;
}

</style>
<div ng-controller="warehouseMaterialController">
	<!DOCTYPE html>
	<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<!-- Site wrapper -->
	<div class="wrapper">
		<!-- Navbar -->
		<nav
			class="main-header navbar navbar-expand navbar-white navbar-light"
			style="position: unset;">
			<!-- Left navbar links -->
			<ul class="nav nav-pills">

				<li ng-show="showReciptBtn"
					 class="nav-item"><a
					id="idReceipt" href="" ng-click="displayReceiptScreen()"
					class="nav-link active" data-toggle="tab"> </i>
						<p>Receipt</p>
				</a></li>
				<li ng-show="showDispatchMaterialBtn"
					 class="nav-item"><a
					id="idDispatchMaterial" href=""
					ng-click="displayDispatchMaterialScreen()" class="nav-link active"
					data-toggle="tab"> </i>
						<p>Dispatch</p>
				</a></li>
				<li ng-show="showMaterialBtn"
					 class="nav-item"><a
					id="idMaterialView" href="" ng-click="displayMaterialViewScreen()"
					class="nav-link active" data-toggle="tab"> </i>
						<p>Stock</p>
				</a></li>
				<li ng-show="showDispatchBtn"
					class="nav-item"><a
					id="idDispatchView" href="" ng-click="displayDispatchViewScreen()"
					class="nav-link active" data-toggle="tab"> </i>
						<p>Dispatched Material</p>
				</a></li>


			</ul>
			<div class="card" ng-show="showMultipleSearch" id="idMultiSearchCard"
				style="margin-left: 50px;">
				<form class="form-inline" id="idMultiSearchForm">

					<select id="idFirstDropDownMultiSearch"
						style="width: 20%; height: 35px; font-size: 80%; margin-left: 0.5rem; margin-left: 0.5rem"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="firstMultiSearchDropDown"
						ng-change="multiSearchChanged()" ng-dropdown>
						<option value="All">All</option>
						<option ng-repeat="firstMultiSearchDropDown in uniqueheaderList"
							value="{{firstMultiSearchDropDown.displayHeader}}">{{firstMultiSearchDropDown.displayHeader}}</option>
					</select> <input type="search" class="form-control"
						placeholder="Search Text" name="firstSearchText"
						id="idFirstSearchText" ng-model="firstSearchText" required
						style="margin-left: 0.3rem; height: 35px; width: 170Px;"
						ng-change="multiSearchChanged()">
					<!--  <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch>
                <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch data-off-color="danger" data-on-color="success"> -->
					<select
						style="width: 10%; height: 35px; font-size: 80%; margin-left: 0.3rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="varANDORDropDown" ng-change="multiSearchChanged()"
						ng-dropdown>
						<option value="AND">AND</option>
						<option value="OR">OR</option>

					</select> <select id="idSecondDropDownMultiSearch"
						style="width: 20%; height: 35px; font-size: 80%; margin-left: 0.3rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="secondMultiSearchDropDown"
						ng-change="multiSearchChanged()"
						ng-disabled="disableSecondFilterDropDown" ng-dropdown>
						<option value="All">All</option>
						<option ng-repeat="secondMultiSearchDropDown in uniqueheaderList"
							value="{{secondMultiSearchDropDown.displayHeader}}">{{secondMultiSearchDropDown.displayHeader}}</option>
					</select> <input type="search" class="form-control"
						placeholder="search Text" name="secondSearchText"
						id="idSecondSearchText" ng-model="secondSearchText" required
						style="margin-left: 0.3rem; height: 35px; width: 170Px;"
						ng-change="multiSearchChanged()"
						ng-disabled="disableSecondFilterText">

					<button type="button" ng-click="closeMultiSearchView()"
						style="margin-top: 10px; width: 25px;" class="close pull-right">&times;</button>
				</form>
			</div>

			<form class="form-inline ml-auto">
				<!-- <div class="row">
					<div style="padding: 0px 2px; margin-left: 5px;">
						<div style="margin-bottom: 5px;">
							<select id="tableOptions" multiple="multiple">
							</select>
						</div>
					</div>
				</div> -->


				<div class="img-bordered-sm img-rounded" ng-show="showtrackIcon&&showLocateBtn"
					style="margin: 10px;">
					<a ng-click="trackTag()"> <i id="trackIcon" data-toggle="tooltip" title="Locate All"
						style="font-size: 20px; color: blue" class="fas fa-binoculars"></i></a>
				</div>

				<div class="input-group input-group-sm" ng-show="searchButton">
					<input class="form-control form-control-navbar" type="search"
						ng-change="searchOption()" ng-model="searchText" id="idSearchBox"
						placeholder="Search" aria-label="Search">

					<div class="input-group-append">
						<button class="btn btn-navbar" type="submit">
							<!-- <i class="fas fa-search"></i> -->
						</button>
					</div>
				</div>
				<button class="btn-leftslide" ng-click="multipleSearch()"
					ng-show="showSearchIcon" style="margin-left: 10px;">
					<i class="fas fa-search"></i>
				</button>
				<button class="btn-leftslide" ng-show="showMultiSelectSetting"
					ng-click="multiSelectSetting()" style="margin-left: 10px;">
					<i class="fas fa-cog"></i>
				</button>

			</form>
		</nav>
		<!-- /.navbar -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header"></section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
						<div class="row">
							<!-- Default box -->
							<div class="card" id="id_CardGeneral">
								<div class="card-body">
									<div ng-show="wareHouseMaterialViewScreen" layout="column"
										style="overflow-x: hidden; width: 100%; padding-left: 1%; margin-left: 1%; padding-right: 1%;">
										<div style="width: 100%;" id="emplistView"
											style="margin-left: 10px;">
											<div class="panel panel-default">
												<ul class="list-group" id="contact-list">
													<div id="idTableView" class="table-containerStock tableFixHeadStock"
														style="overflow-y: scroll;"></div>
													<div class="clearfix"></div>

												</ul>
												<label ng-show="tagNoData" id="recordsCount"
													style="width: 100%; height: 100%; font-size: 100%; text-align: center; color: red; line-height: 0px;"
													for="recordsCount" class="ng-binding">{{no_data_found}}</label>
												<div class="row" style="height: 50px">
													<div class="col-6">
														<button style="position: relative; left: 10px; top: 10px;"
															type="submit" class="btnValue btn-primary"
															 ng-show="showLocateBtn" ng-click="trackSingleTag()" id="trackSingleTagBtn">Locate</button>

														<button
															style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
															type="submit" class="btnValue btn-secondary"
															ng-show="showLocateBtn" ng-click="cancelEdit()" id="canceltrackSingleTagBtn">Cancel</button>
													</div>
													<div class="col-6">
														<div ng-show="PaginationTab" layout="row"
															style="height: 50px">
															<!-- <a href="#"> -->
															<div class="input-bar pull-right">
																<div class="input-bar">
																	<div class="row" class="input-bar-item width100"
																		style="float: right; margin-right: 0px;">
																		<label for="totalPage"
																			style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
																			Pages {{totalPages}}</label>
																		<form>
																			<div class="input-group"
																				style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																				<span class="input-group-btn">
																					<button class="btn btn-primary"
																						id="firstPageViewTag" ng-click="goFirstPage()"
																						ng-disabled="isFirstPage">&lt;&lt;</button>
																					<button class="btn btn-primary"
																						id="previousPageViewTag"
																						ng-click="goPreviousPage()"
																						ng-disabled="hasPrevious">&lt;</button>
																				</span> <input class="form-control width100" type="text"
																					ng-model="currentPage"> <span
																					class="input-group-btn">
																					<button class="btn btn-primary"
																						id="nextPageViewTag" ng-click="goNextPage()"
																						ng-disabled="hasNext">&gt;</button>
																					<button class="btn btn-primary"
																						id="lastPageViewTag" ng-click="goLastPage()"
																						ng-disabled="isLastPage">&gt;&gt;</button>
																				</span>
																			</div>
																		</form>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div ng-show="fetchScreen" class="container-fluid ">
										<form id="id_fetchTagForm" name="fetchTagForm">
											<div class="form-group row">
												<label class="col-sm-1 col-form-label"
													for="checktagIdSelect">Tag ID </label>
												<div class="col-sm-5">
													<input class="form-control" type="text"
														ng-pattern="/^[a-zA-Z0-9 ]*$/" name="checktagIdSelectName"
														id="checktagIdSelect" maxlength="16"
														ng-model="fieldName.checktagId" ng-disabled="tagDisable" />
													<em style="color: red" ng-show="fetchTagError"
														id="id_fetchTagError">{{fetchTag_error_msg}}</em>
													<!-- <select
												style="-webkit-appearance: menulist-button; width: 100%;"
												class="form-control select2" 
												name="checktagIdSelect" id="checktagIdSelect" ng-dropdown
												required >
											</select> -->
												</div>
												<div class="col-sm-2">

													<button class="btnValue btn-primary float-center" style=""
														id="id_fetchButtonWarehouseTag"
														name="fetchButtonWarehouseTag" ng-click="fetchTag()">Fetch</button>

												</div>
											</div>
										</form>
									</div>
									<div ng-show="assignScreen" class="container-fluid">
										<form id="assignTagForm" name="assignTagForm">
											<div class="row">

												<div class="col-sm-11">
													<div class="form-group row">
														<label class="col-sm-3 col-form-label" for="SKUNo">SKU Number </label>
														<div class="col-sm-7">
															<input class="form-control" type="text" ng-model="skuNo"
																name="SKUNo" id="id_skuNoAssignTag"
																placeholder="Enter SKU Number" maxlength="30" /> <em
																style="color: red" ng-show="skuNoError"
																id="id_skuNoError">{{skuNo_error_msg}}</em>
														</div>
														<div class=" img-rounded" style="margin: 5px;">
															<a ng-click="showSKUDetail()"> <i id="SKUinfoIcon"
																style="font-size: 25px; color: #0069d9"
																class="fas fa-info-circle"></i></a>
														</div>

													</div>
													<div class="form-group row">
														<label class="col-sm-3 col-form-label " for="tagId">Tag
															ID</label>
														<div class="col-sm-7">
															<input class="form-control" type="text"
																ng-model="authen.tagId" name="tagId"
																id="id_tagIdAssignTag" placeholder="Enter Tag ID"
																maxlength="16" /><em style="color: red"
																ng-show="tagIdError" id="id_tagIdError">{{tagId_error_msg}}</em>
														</div>
													</div>

													<div class="form-group row">
														<label class="col-sm-3 col-form-label" for="SKUZoneName">Zone
															Name </label>
														<div class="col-sm-7">
															<select class="form-control"
																style="-webkit-appearance: menulist-button; width: 100%;"
																ng-model="skuZoneName" ng-dropdown required
																ng-options="value.zoneName as value.zoneName for value in zoneDetails"
																fix-select="zoneDetails">

															</select>
														</div>


														<div class="col-sm-2">
															<button type="button"
																class="btnValue btn-primary float-center "
																ng-click="fnSelectZoneFromUI()">Select Zone</button>

														</div>
													</div>



												</div>
												<div class="col-lg-12 form-group"
													style="text-align: center;">

													<button type="button"
														class="btnValue btn-primary float-center"
														style="position: relative; left: 10px; top: 10px;"
														ng-click="assignSKUTag()">Assign</button>

													<button type="button"
														class="btnValue btn-secondary float-center"
														style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
														ng-click="cancelSKUTagAssign()">Clear</button>

												</div>
											</div>
										</form>
									</div>
									<div ng-show="tagSKUReturnScreen" class="container-fluid">
										<div class="row">

											<div class="col-sm-5">
												<div class="form-group row">
													<label class="col-sm-2 col-form-label " for="tagId">Tag
														ID</label>
													<div class="col-sm-8">
														<input class="form-control" type="text"
															ng-model="tagReturnTagID" name="tagId"
															id="id_tagIdReturnTag" pattern="([A-z0-9])"
															placeholder="Enter Tag ID" maxlength="16"
															ng-readonly="true" />
													</div>
												</div>

												<div class="form-group row">
													<label class="col-sm-2 col-form-label " for="returnSKUNo">SKU Number</label>
													<div class="col-sm-8">
														<input class="form-control" type="text"
															ng-model="tagReturnSKUNo" name="returnSKUNo"
															id="id_ReturnTagSKUNo" placeholder="SKU Number"
															ng-readonly="true" />
													</div>
												</div>
											</div>
											<div class="col-sm-7">
												<div class="form-group row">
													<div id="idTableViewRetScreen" 
														class="table-container tableFixHead"
														style="overflow-y: scroll;"></div>
												</div>
											</div>

											<div class="col-lg-12 form-group" style="text-align: center;">

												<button type="submit"
													class="btnValue btn-primary float-center"
													style="position: relative; left: 10px; top: 10px;"
													ng-click="returnSKUTag()">Return</button>

												<button type="reset"
													class="btnValue btn-secondary float-center"
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													ng-click="cancelReturnSKUTag()">Clear</button>
											</div>
										</div>
									</div>
									<!-- /.card-body -->
								</div>
								<!-- /.card -->
							</div>
							<div class="card" id="SKUNoDetailsView"
								ng-show="showCardSKUdetail"
								style="margin-left: 10px;">


								<div class="card-header">								
									<h5>SKU Details</h5>
								</div>

								<div class="card-body" style="padding: 0px;">
									

									<!--  <div id="SKUDetailsInfo" style="padding: 10px;">SKU Details Info</div> -->

									<div id="SKUDetailsTable" style="padding: 10px;" class="table-container tableFixHead"></div>

								</div>
							</div>
							
						</div>
</div>

						<!-- card  -->
						<!-- <div class="col-md-6">
							
							/card
						</div> -->
					</div>
				</div>
				<div class="modal" id="idStockMultiselectmodal" role="dialog">
						<div class="modal-dialog">
							<!-- Modal content-->
							<div class="modal-content"
								style="width: 700px; margin-left: -30%;">
								<div class="modal-header"
									style="display: block; background-color: #007bff">
									<button type="button" class="close" data-dismiss="modal"
										ng-click="multiSelectModalStockOKBtnClick()">&times;</button>
									<h4 class="modal-title" style="padding-left: 0px;">Select Display Fields</h4>
								</div>
								<div class="modal-body">
									<div class="row" style="margin-bottom: -3%;">
										<div class="col-sm-6">
											<label>Available Fields</label>
										</div>
										<div class="col-sm-6">
											<label>Display Fields</label>
										</div>
									</div>
									<form>

										<div class="row" style="margin-top: 20px;"
											id="multiselectlistStock">
											<div class="form-group col-sm-4">
												<select multiple class="form-control" id="multivalfromStock"
													size="8">

													<option ng-repeat="material in uniqueheaderListForStock"
														value="{{material}}">{{material}}</option>
												</select>
											</div>
											<div class="col-sm-1">
												<div class="btn-group-vertical w-100"
													style="width: 100%; height: 90%;">
													<button class="btn btn-default col-sm-12 btn-sm"
														title="Move All" id="move_all_btn">
														<i class='fas fa-angle-double-right'></i>
													</button>
													<button class="btn btn-default col-sm-12 btn-sm"
														title="Move" id="move_btn">
														<i class='fas fa-angle-right'></i>
													</button>
													<button class="btn btn-default col-sm-12 btn-sm"
														title="Remove" id="remove_btn">
														<i class='fas fa-angle-left'></i>
													</button>
													<button class="btn btn-default col-sm-12 btn-sm"
														title="Remove All" id="remove_all_btn">
														<i class='fas fa-angle-double-left'></i>
													</button>
												</div>
											</div>
											<div class="form-group col-sm-4">
												<select multiple class="form-control" id="multivaltoStock"
													size="8">
												</select>
											</div>
											<div class="col-sm-1">
												<div class="btn-group-vertical"
													style="width: 100%; height: 90%;">
													<button class="btn btn-default col-sm-12 btn-sm"
														title="Top" id="top_btn">
														<i class='fas fa-angle-double-up'></i>
													</button>
													<button class="btn btn-default col-sm-12 btn-sm" title="Up"
														id="up_btn">
														<i class='fas fa-angle-up'></i>
													</button>
													<button class="btn btn-default col-sm-12 btn-sm"
														title="Down" id="down_btn">
														<i class='fas fa-angle-down'></i>
													</button>
													<button class="btn btn-default col-sm-12 btn-sm"
														title="Bottom" id="bottom_btn">
														<i class='fas fa-angle-double-down'></i>
													</button>
												</div>
											</div>
										</div>
									</form>

								</div>

								<div style="width: 100%;" 
									style="margin-left: 30px;" ng-show="renameScreenStock">

									<div class="form-group row">
										<div class="col-sm-5" style="margin-left: 10%;">
											<div class="input-group input-group-md">
												<input type="search" class="form-control"
													placeholder="Rename Text" name="renameTextStock"
													id="id_RenameTextStock" ng-model="renameTextStock">

												<div class="input-group-append">
													<button class="btn btn-navbar" type="submit"></button>
												</div>
											</div>
										</div>
										<div class="col-sm-2">
											<a>
												<button class="btnValue btn-primary float-center" style=""
													ng-click="fnRenameTextStock()">Rename</button>
											</a>
										</div>
									</div>

								</div>
								<div class="modal-footer row">
									<button type="button" class="btnValue btn-primary"
										ng-click="multiSelectModalStockOKBtnClick()"
										style="margin-right: 2%;">OK</button>
									<button type="button" class="btnValue btn-primary"
										ng-click="multiSelectModalStockCancelBtnClick()">Cancel</button>
								</div>
							</div>

						</div>
					</div>
					<div class="modal" id="idDispatchMultiselectmodal" role="dialog">
						<div class="modal-dialog">
							<!-- Modal content-->
							<div class="modal-content"
								style="width: 700px; margin-left: -30%;">
								<div class="modal-header"
									style="display: block; background-color: #007bff">
									<button type="button" class="close" data-dismiss="modal"
										ng-click="multiSelectModalDispatchOKBtnClick()">&times;</button>
									<h4 class="modal-title" style="padding-left: 0px;">Select Display Fields</h4>
								</div>
								<div class="modal-body">
									<div class="row" style="margin-bottom: -3%;">
										<div class="col-sm-6">
											<label>Available Fields</label>
										</div>
										<div class="col-sm-6">
											<label>Display Fields</label>
										</div>
									</div>
									<form>

										<div class="row" style="margin-top: 20px;"
											id="multiselectlistDispatch">
											<div class="form-group col-sm-4">
												<select multiple class="form-control" id="multivalfromDispatch"
													size="8">

													<option ng-repeat="material in uniqueheaderListForDispatch"
														value="{{material}}">{{material}}</option>
												</select>
											</div>
											<div class="col-sm-1">
												<div class="btn-group-vertical w-100"
													style="width: 100%; height: 90%;">
													<button class="btn btn-default col-sm-12 btn-sm"
														title="Move All" id="move_all_btn_dispatch">
														<i class='fas fa-angle-double-right'></i>
													</button>
													<button class="btn btn-default col-sm-12 btn-sm"
														title="Move" id="move_btn_dispatch">
														<i class='fas fa-angle-right'></i>
													</button>
													<button class="btn btn-default col-sm-12 btn-sm"
														title="Remove" id="remove_btn_dispatch">
														<i class='fas fa-angle-left'></i>
													</button>
													<button class="btn btn-default col-sm-12 btn-sm"
														title="Remove All" id="remove_all_btn_dispatch">
														<i class='fas fa-angle-double-left'></i>
													</button>
												</div>
											</div>
											<div class="form-group col-sm-4">
												<select multiple class="form-control" id="multivaltoDispatch"
													size="8">
												</select>
											</div>
											<div class="col-sm-1">
												<div class="btn-group-vertical"
													style="width: 100%; height: 90%;">
													<button class="btn btn-default col-sm-12 btn-sm"
														title="Top" id="top_btn_dispatch">
														<i class='fas fa-angle-double-up'></i>
													</button>
													<button class="btn btn-default col-sm-12 btn-sm" title="Up"
														id="up_btn_dispatch">
														<i class='fas fa-angle-up'></i>
													</button>
													<button class="btn btn-default col-sm-12 btn-sm"
														title="Down" id="down_btn_dispatch">
														<i class='fas fa-angle-down'></i>
													</button>
													<button class="btn btn-default col-sm-12 btn-sm"
														title="Bottom" id="bottom_btn_dispatch">
														<i class='fas fa-angle-double-down'></i>
													</button>
												</div>
											</div>
										</div>
									</form>

								</div>

								<div style="width: 100%;" 
									style="margin-left: 30px;" ng-show="renameScreenDispatch">

									<div class="form-group row">
										<div class="col-sm-5" style="margin-left: 10%;">
											<div class="input-group input-group-md">
												<input type="search" class="form-control"
													placeholder="Rename Text" name="renameTextDispatch"
													id="id_RenameTextDispatch" ng-model="renameTextDispatch">

												<div class="input-group-append">
													<button class="btn btn-navbar" type="submit"></button>
												</div>
											</div>
										</div>
										<div class="col-sm-2">
											<a>
												<button class="btnValue btn-primary float-center" style=""
													ng-click="fnRenameTextDispatch()">Rename</button>
											</a>
										</div>
									</div>

								</div>
								<div class="modal-footer row">
									<button type="button" class="btnValue btn-primary"
										ng-click="multiSelectModalDispatchOKBtnClick()"
										style="margin-right: 2%;">OK</button>
									<button type="button" class="btnValue btn-primary"
										ng-click="multiSelectModalDispatchCancelBtnClick()">Cancel</button>
								</div>
							</div>

						</div>
					</div>
					
			</section>
			<!-- /.content -->
		</div>
	</div>
	<!-- ./wrapper -->

</body>
	</html>
</div>
