<style>
.table th, .table td {
	padding: 0.5rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.content-header {
	padding: 3px 0.5rem;
}

#idMultiSearchCard {
	width: 850Px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	box-shadow: 0 0 2px rgb(0 0 0/ 13%), 0 1px 3px rgb(23, 29, 215);
}
</style>
<div ng-controller="workstationManagementController">
	
	<!-- Site wrapper -->
	<div class="wrapper">
		<!-- Navbar -->
		<nav
			class="main-header navbar navbar-expand navbar-white navbar-light"
			style="position: unset;">
			<!-- Left navbar links -->
			<ul class="nav nav-pills">
				<li ng-show="showViewAllBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idWorkStationView" href=""
					ng-click="displayWorkStationViewScreen()" class="nav-link active"
					data-toggle="tab"> </i>
						<p>View All</p>
				</a></li>

				<li ng-show="showAddBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idWorkStationAdd" href=""
					ng-click="displayWorkStationAddScreen()" class="nav-link"> </i>
						<p>Add Work Station</p></a></li>
				<li ng-show="showEditBtn"
					class="nav-item d-none d-sm-inline-block"><a
					id="idWorkStationEdit" href=""
					ng-click="displayWorkStationEditScreen()" class="nav-link"> </i>
						<p>Edit Work Station</p></a></li>

			</ul>
			<div class="card" ng-show="showMultipleSearch" id="idMultiSearchCard"
				style="margin-left: 50px;">
				<form class="form-inline" id="idMultiSearchForm">

					<select id="idFirstDropDownMultiSearch"
						style="width: 20%; height: 35px; font-size: 80%; margin-left: 0.5rem; margin-left: 0.5rem"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="firstMultiSearchDropDown"
						ng-change="multiSearchChanged()" ng-dropdown>
						<option value="All">All</option>
						<option value="stationId">Station ID</option>
						<option value="stationType">Station Name</option>
						<option value="inbound">In Bound</option>
						<option value="workArea">Work Area</option>
						<option value="outbound">Out Bound</option>
						<option value="storage">Shipping Area</option>
						<option value="inLimit">In Limit</option>
						<option value="outLimit">Out Limit</option>
					</select> <input type="search" class="form-control"
						placeholder="Search Text" name="firstSearchText"
						id="idFirstSearchText" ng-model="firstSearchText" required
						style="margin-left: 0.3rem; height: 35px; width: 170Px;"
						ng-change="multiSearchChanged()">
					<!--  <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch>
                <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch data-off-color="danger" data-on-color="success"> -->
					<select
						style="width: 10%; height: 35px; font-size: 80%; margin-left: 0.3rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="varANDORDropDown" ng-change="multiSearchChanged()"
						ng-dropdown>
						<option value="AND">AND</option>
						<option value="OR">OR</option>

					</select> <select id="idSecondDropDownMultiSearch"
						style="width: 20%; height: 35px; font-size: 80%; margin-left: 0.3rem;"
						class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
						ng-model="secondMultiSearchDropDown"
						ng-change="multiSearchChanged()"
						ng-disabled="disableSecondFilterDropDown" ng-dropdown>
						<option value="All">All</option>
						<option value="stationId">Station ID</option>
						<option value="stationType">Station Name</option>
						<option value="inbound">In Bound</option>
						<option value="workArea">Work Area</option>
						<option value="outbound">Out Bound</option>
						<option value="storage">Shipping Area</option>
						<option value="inLimit">In Limit</option>
						<option value="outLimit">Out Limit</option>
					</select> <input type="search" class="form-control"
						placeholder="search Text" name="secondSearchText"
						id="idSecondSearchText" ng-model="secondSearchText" required
						style="margin-left: 0.3rem; height: 35px; width: 170Px;"
						ng-change="multiSearchChanged()"
						ng-disabled="disableSecondFilterText">

					<button type="button" ng-click="closeMultiSearchView()"
						style="margin-top: 10px; width: 25px;" class="close pull-right">&times;</button>
				</form>
			</div>

			<!-- 
 FORM -->
			<form class="form-inline ml-auto ">

				<div class="input-group input-group-sm">
					<input class="form-control form-control-navbar" type="search"
						ng-change="searchOption()" ng-model="searchText"
						ng-show="showSearchBar" placeholder="Search" aria-label="Search">
					<!-- <div class="input-group-append">
					 <button class="btn btn-navbar">
							<i class="fas fa-search"></i>
						</button>
					</div> -->
				</div>

				<button class="btn-leftslide" ng-click="multipleSearch()"
					ng-show="showSearchIcon" style="margin-left: 10px;">
					<i class="fas fa-search"></i>
				</button>
			</form>


		</nav>
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">

				<!-- /.container-fluid -->
			</section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<!-- Default box -->
							<div class="card">

								<div class="card-body">
									<div ng-show="workstationViewScreen"
										style="width: 100%; height: 76vh; margin-top: 0px;"
										id="emplistView" style="margin-left: 10px;">
										<div class="panel panel-default">
											<ul class="list-group" id="contact-list">
												<!-- <li class="list-group-item"> -->
												<div id="main" class="table-container tableFixHead">
													<table class="table table-bordered">
														<thead>
															<tr>
																<th class="thcss">S.No</th>
																<th class="thcss">Station ID</th>
																<th class="thcss">Station Name</th>
																<th class="thcss">In Bound</th>
																<th class="thcss">Work Area</th>
																<th class="thcss">Out Bound</th>
																<th class="thcss">Shipping Area</th>
																<th class="thcss">In Limit</th>
																<th class="thcss">Out Limit</th>

															</tr>
														</thead>
														<tbody>
															<tr
																ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
																ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
																ng-repeat="wrkStn in wrkStnViewData | filter:searchText"
																data-ng-click="rowHighilited($index)">
																<td>{{$index + serial}}</td>
																<td>{{wrkStn.stationId}}</td>
																<td>{{wrkStn.stationType}}</td>
																<td>{{wrkStn.inbound}}</td>
																<td>{{wrkStn.workArea}}</td>
																<td>{{wrkStn.outbound}}</td>
																<td>{{wrkStn.storage}}</td>
																<td>{{wrkStn.inLimit}}</td>
																<td>{{wrkStn.outLimit}}</td>

															</tr>
															<tr ng-show="workStationNoData">
																<td colspan="10" style="text-align: center; color: red;">No
																	data found.</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="clearfix"></div>
												<!-- </li> -->

											</ul>
										</div>
										<div layout="row" style="height: 50px">

											<div class="col-6">
												<button style="position: relative; left: 10px; top: 10px; width:150px;"
													type="submit" class="btnValue btn-primary"
													ng-click="trackOutbound()"
													ng-show="selectedRow>=0&&trackOutboundId!=''">Locate Outbound</button>

												<button
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													type="submit" class="btnValue btn-secondary"
													ng-click="cancelWorkStation()"
													ng-show="selectedRow>=0&&trackOutboundId!=''">Cancel</button>

											</div>
											<div class="col-6">
												<div ng-show="PaginationTab" class="input-bar pull-right">
													<div class="input-bar">

														<div class="row" class="input-bar-item width100"
															style="float: right; margin-right: 0px;">
															<label for="totalPage"
																style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
																Pages {{totalPages}}</label>
															<form>
																<div class="input-group"
																	style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																	<span class="input-group-btn">
																		<button class="btn btn-primary" id="firstPage"
																			ng-click="goFirstPage()" ng-disabled="isFirstPage">&lt;&lt;</button>
																		<button class="btn btn-primary" id="previousPage"
																			ng-click="goPreviousPage()" ng-disabled="hasPrevious">&lt;</button>
																	</span> <input class="form-control width100" type="text"
																		ng-model="currentPage"> <span
																		class="input-group-btn">
																		<button class="btn btn-primary" id="nextPage"
																			ng-click="goNextPage()" ng-disabled="hasNext">&gt;</button>
																		<button class="btn btn-primary" id="lastPage"
																			ng-click="goLastPage()" ng-disabled="isLastPage">&gt;&gt;</button>
																	</span>
																</div>
															</form>
														</div>
													</div>

												</div>
											</div>
										</div>
										<!-- </div> -->

									</div>
									<div ng-show="workstationEditScreen"
										style="width: 100%; height: 76vh; margin-top: 0px;"
										id="emplistView" style="margin-left: 10px;">
										<div class="panel panel-default">
											<ul class="list-group" id="contact-list">
												<!-- <li class="list-group-item"> -->
												<div id="main" class="table-container tableFixHead">
													<table class="table table-bordered">
														<thead>
															<tr>
																<th class="thcss">S.No</th>
																<th class="thcss">Station ID</th>
																<th class="thcss">Station Type</th>
																<th class="thcss">In Bound</th>
																<th class="thcss">Work Area</th>
																<th class="thcss">Out Bound</th>
																<th class="thcss">Shipping Area</th>
																<th class="thcss">In Limit</th>
																<th class="thcss">Out Limit</th>

															</tr>
														</thead>
														<tbody>
															<tr
																ng-class-odd="{'highilitedRow' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
																ng-class-even="{'highilitedRow' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
																ng-repeat="wrkStn in wrkStnViewData | filter:searchText"
																data-ng-click="rowHighilited($index)">
																<td>{{$index + serial}}</td>
																<td>{{wrkStn.stationId}}</td>
																<td>{{wrkStn.stationType}}</td>
																<td>{{wrkStn.inbound}}</td>
																<td>{{wrkStn.workArea}}</td>
																<td>{{wrkStn.outbound}}</td>
																<td>{{wrkStn.storage}}</td>
																<td>{{wrkStn.inLimit}}</td>
																<td>{{wrkStn.outLimit}}</td>

															</tr>
															<tr ng-show="workStationNoData">
																<td colspan="10" style="text-align: center; color: red;">No
																	data found.</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="clearfix"></div>
												<!-- </li> -->

											</ul>
										</div>
										<div layout="row" style="height: 50px">
											<button style="position: relative; left: 10px; top: 10px;"
												type="submit" class="btnValue btn-primary"
												ng-click="editWorkStationValue()" ng-show="selectedRow>=0">Edit</button>
											<button
												style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
												type="submit" class="btnValue btn-primary"
												ng-click="deleteWorkStation()" ng-show="selectedRow>=0">Delete</button>

											<button
												style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
												type="submit" class="btnValue btn-secondary"
												ng-click="cancelEdit()" ng-show="selectedRow>=0">Cancel</button>

											<div class="input-bar pull-right" ng-show="PaginationTab">
												<div class="input-bar">

													<div class="row" class="input-bar-item width100"
														style="float: right; margin-right: 0px;">
														<label for="totalPage"
															style="margin-top: 10px; margin-right: 10px; margin-left: 10px; padding-top: 8px;">Total
															Pages {{totalPages}}</label>
														<form>
															<div class="input-group"
																style="width: 200px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px">
																<span class="input-group-btn">
																	<button class="btn btn-primary" id="firstPage"
																		ng-click="goFirstPage()" ng-disabled="isFirstPage">&lt;&lt;</button>
																	<button class="btn btn-primary" id="previousPage"
																		ng-click="goPreviousPage()" ng-disabled="hasPrevious">&lt;</button>
																</span> <input class="form-control width100" type="text"
																	ng-model="currentPage"> <span
																	class="input-group-btn">
																	<button class="btn btn-primary" id="nextPage"
																		ng-click="goNextPage()" ng-disabled="hasNext">&gt;</button>
																	<button class="btn btn-primary" id="lastPage"
																		ng-click="goLastPage()" ng-disabled="isLastPage">&gt;&gt;</button>
																</span>
															</div>
														</form>
													</div>
												</div>

											</div>
										</div>
										<!-- </div> -->

									</div>

									<div ng-show="workstationUpdateScreen"
										style="width: 100%; height: 76vh; margin-top: 0px;"
										id="emplistView" style="margin-left: 10px;">
										<form name="workstationEditForm" autocomplete="disabled"
											id="id_workstationEditForm1" class="form-horizontal emp-form"
											role="form" style="position: relative;">

											<div class="row">
												<div class="col-sm-9">

													<div class="row">
														<div class="col-sm-6">
															<!-- text input -->
															<div class="form-group ">
																<label for="stationID">Station ID</label>
																<!-- <div class="col-sm-5"> -->
																<input type="text" class="form-control"
																	placeholder="Enter Station ID" maxlength="12"
																	name="stationId" id="id_stationId_editWS"
																	ng-model="editWS.stationId" ng-readonly="true" /> <em
																	style="color: red" ng-show="editWSstationIdError"
																	id="id_editWSstationIdError">{{editWSstationId_error_msg}}</em>
																<!-- </div> -->
															</div>
														</div>
														<div class="col-sm-6">
															<div class="form-group ">

																<label class="" for="stationType">Station Type</label>
																<!-- <div class="col-sm-5" > -->
																<input type="text" class="form-control"
																	placeholder="Enter Station Type" maxlength="20"
																	name="firstName" id="id_stationType_editWS"
																	ng-model="editWS.stationType" /> <em
																	style="color: red" ng-show="editWSstationTypeError"
																	id="id_editWSstationTypeError">{{editWSstationType_error_msg}}</em>
																<!-- </div> -->
															</div>
														</div>
													</div>


													<div class="row">
														<div class="col-sm-6">
															<!-- text input -->
															<div class="form-group ">
																<label for="Inbound">Inbound</label>
																<!-- <div class="col-sm-5"> -->
																<div class="row" style="margin-left: 1px;">
																<select
																	style="-webkit-appearance: menulist-button; width: 76%;"
																	class="form-control " ng-model="editWS.inbound"
																	ng-dropdown name="Inbound" id="id_Inbound_editWS"
																	ng-options="zone for zone in zoneList">
																</select>
																<a   class="btn btnValue btn-primary float-center" 
													  ng-click="fnSelectZoneWorkStationEdit('inBound')" style="margin-left: 10px; height: 37px;">Select Zone
															</a>
																</div>
																<!--  </div> -->
															</div>
														</div>
														<div class="col-sm-6">
															<!-- text input -->
															<div class="form-group ">


																<label class="" for="workArea">Work Area</label>
																<!-- <div class="col-sm-5"> -->
																<div class="row" style="margin-left: 1px;">
																<select
																	style="-webkit-appearance: menulist-button; width: 76%;"
																	class="form-control " ng-model="editWS.workArea"
																	ng-dropdown required name="workArea"
																	id="id_workArea_editWS"
																	ng-options="zone for zone in zoneList">
																</select>
																<a   class="btn btnValue btn-primary float-center" 
													  ng-click="fnSelectZoneWorkStationEdit('workArea')" style="margin-left: 10px; height: 37px;">Select Zone
															</a>
																</div>
																<!-- </div> -->
															</div>
														</div>

													</div>

													<div class="row">
														<div class="col-sm-6">
															<div class="form-group ">
																<label for="Outbound">Outbound</label>
																<!-- <div class="col-sm-5"> -->
																<div class="row" style="margin-left: 1px;">
																<select
																	style="-webkit-appearance: menulist-button; width: 76%;"
																	class="form-control " ng-model="editWS.outbound"
																	ng-dropdown name="outbound" id="id_outbound_editWS"
																	ng-options="zone for zone in zoneList">
																</select>
																<a   class="btn btnValue btn-primary float-center" 
													  ng-click="fnSelectZoneWorkStationEdit('outBound')" style="margin-left: 10px; height: 37px;">Select Zone
															</a>
																</div>
																<!--  </div> -->
															</div>
														</div>

														<div class="col-sm-6">
															<div class="form-group ">

																<label class="" for="storage">Shipping Area</label>
																<!-- <div class="col-sm-5"> -->
																<div class="row" style="margin-left: 1px;">
																<select
																	style="-webkit-appearance: menulist-button; width: 76%;"
																	class="form-control " ng-model="editWS.storage"
																	ng-dropdown required name="storage"
																	id="id_storage_editWS"
																	ng-options="zone for zone in zoneList">

																</select>
																<a   class="btn btnValue btn-primary float-center" 
													  ng-click="fnSelectZoneWorkStationEdit('shippingArea')" style="margin-left: 10px; height: 37px;">Select Zone
															</a>
																</div>
																<!-- </div> -->
															</div>
														</div>
													</div>

													<div class="row">
														<div class="col-sm-6">
															<!-- text input -->
															<div class="form-group ">
																<label class="" for="inLimit">In Limit</label>
																<!-- <div class="col-sm-5"> -->
																<input type="text" class="form-control" maxlength="5"
																	name="inLimit" id="id_inLimit_editWS"
																	ng-model="editWS.inLimit" /> <em style="color: red"
																	ng-show="editWSstationInlimitError"
																	id="id_editWSstationInlimitError">{{editWSstationInlimit_error_msg}}</em>
																<!-- </div> -->
															</div>
														</div>
														<div class="col-sm-6">
															<div class="form-group ">

																<label class="" for="outLimit">Out Limit</label> <input
																	type="text" class="form-control" maxlength="5"
																	name="outLimit" id="id_outLimit_editWS"
																	ng-model="editWS.outLimit" /> <em style="color: red"
																	ng-show="editWSstationOutlimitError"
																	id="id_editWSstationOutlimitError">{{editWSstationOutlimit_error_msg}}</em>


															</div>
														</div>
													</div>
												</div>
												<!--  <div class="row"> -->
												<div class="col-sm-3">
													<!-- text input -->
													<div class="form-group row ">
														<label class="col-sm-9 col-form-label " for="operatorlist">Operator
															List</label>
														<div class="col-sm-12">
															<div class="col-md-12">
																<div class=" form-group row">

																	<div class="col-sm-12">
																		<div class="card">
																			<div class="card-header"
																				style="background-color: rgb(0, 123, 255); color: white;">
																				<h3 class="card-title" id="menuEditWS">Select
																					Operator</h3>

																			</div>
																			<div class="frequentEditWS"
																				style="height: 350px; overflow-y: scroll"></div>
																		</div>
																	</div>
																</div>
															</div>

														</div>
													</div>
												</div>

												<!--    </div> -->
												<!-- <div>
									<em class="errors">{{invalid}}</em>
								</div> -->

												<!-- <div class="alert alert-success" ng-show="success"
									style="margin-top: 5px;">{{alert_success_msg}}</div>

								<div class="alert alert-danger"
									style="margin-top: 5px; height: 50px;" ng-show="error">{{alert_error_msg}}</div> -->

												<div class="col-lg-12 form-group"
													style="text-align: center;">

													<button type="submit"
														class="btnValue btn-primary float-center"
														style="position: relative; left: 10px; top: 10px;"
														ng-click="updateWorkStation()">Update</button>
													<button type="button"
														class="btnValue btn-secondary float-center"
														style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
														ng-click="cancelWorkStationedit()">Cancel</button>

												</div>
											</div>
										</form>
									</div>
									<div ng-show="workstationAddScreen">

										<form name="workstationAddForm" autocomplete="disabled"
											id="id_workstationAddForm" class="form-horizontal emp-form"
											role="form" style="position: relative;">
											<div class="row">
												<div class="col-sm-9">

													<div class="row">
														<div class="col-sm-6">
															<!-- text input -->
															<div class="form-group ">
																<label for="stationID">Station ID</label>
																<!-- <div class="col-sm-5"> -->
																<input type="text" class="form-control"
																	placeholder="Enter Station ID" maxlength="12"
																	name="stationId" id="id_stationId"
																	ng-model="authen.stationId" /> <em style="color: red"
																	ng-show="addWSstationIdError"
																	id="id_addWSstationIdError">{{addWSstationId_error_msg}}</em>
																<!-- </div> -->
															</div>
														</div>
														<div class="col-sm-6">
															<div class="form-group ">

																<label class="" for="stationType">Station Type</label>
																<!-- <div class="col-sm-5" > -->
																<input type="text" class="form-control"
																	placeholder="Enter Station Type" maxlength="20"
																	name="firstName" id="id_stationType"
																	ng-model="authen.stationType" /> <em
																	style="color: red" ng-show="addWSstationTypeError"
																	id="id_addWSstationTypeError">{{addWSstationType_error_msg}}</em>
																<!-- </div> -->
															</div>
														</div>
													</div>


													<div class="row">
														<div class="col-sm-6">
															<!-- text input -->
															<div class="form-group ">
																<label for="Inbound">Inbound</label>
																<div class="row" style="margin-left: 1px;">
 																<select style="-webkit-appearance: menulist-button; width: 76%;"
																 class="form-control"
																	ng-model="authen.inbound" ng-dropdown required
																	name="Inbound" id="id_Inbound"
																	ng-options="zone for zone in zoneList">
																</select>
 																<a class="btn btnValue btn-primary float-center" ng-click="fnSelectZoneWorkStation('inBound')" style="margin-left: 10px; height: 37px;">Select Zone
															</a>
																
															</div>
															 </div>
														</div>
														<div class="col-sm-6">
															<!-- text input -->
															<div class="form-group ">


																<label class="" for="workArea">Work Area</label>
																<!-- <div class="col-sm-5"> -->
																<div class="row" style="margin-left: 1px;">
																<select
																	style="-webkit-appearance: menulist-button; width: 76%;"
																	class="form-control " name="workArea"
																	id="id_workArea" ng-model="authen.workArea" ng-dropdown
																	required ng-options="zone for zone in zoneList">


																</select>
																<!-- </div> -->
																<a   class="btn btnValue btn-primary float-center" 
													  ng-click="fnSelectZoneWorkStation('workArea')" style="margin-left: 10px; height: 37px;">Select Zone
															</a>
																</div>
															</div>
														</div>
													</div>

													<div class="row">
														<div class="col-sm-6">
															<div class="form-group ">
																<label for="Outbound">Outbound</label>
																<!-- <div class="col-sm-5"> -->
																<div class="row" style="margin-left: 1px;">
																<select
																	style="-webkit-appearance: menulist-button; width: 76%;"
																	class="form-control " ng-model="authen.outbound"
																	ng-dropdown required name="outbound" id="id_outbound"
																	ng-options="zone for zone in zoneList">
																</select>

																<!--  </div> -->
																<a   class="btn btnValue btn-primary float-center" 
													  ng-click="fnSelectZoneWorkStation('outBound')" style="margin-left: 10px; height: 37px;">Select Zone
															</a>
																</div>
															</div>
														</div>

														<div class="col-sm-6">
															<div class="form-group ">

																<label class="" for="storage">Shipping Area</label>
																<!-- <div class="col-sm-5"> -->
																<div class="row" style="margin-left: 1px;">
																<select
																	style="-webkit-appearance: menulist-button; width: 76%;"
																	class="form-control " ng-model="authen.storage"
																	ng-dropdown required name="storage" id="id_storage"
																	ng-options="zone for zone in zoneList">

																</select>
																<!-- </div> -->
																<a   class="btn btnValue btn-primary float-center" 
													  ng-click="fnSelectZoneWorkStation('shippingArea')" style="margin-left: 10px; height: 37px;">Select Zone
															</a>
																</div>
															</div>
														</div>
													</div>

													<div class="row">
														<div class="col-sm-6">
															<!-- text input -->
															<div class="form-group ">
																<label class="" for="inLimit">In Limit</label>
																<!-- <div class="col-sm-5"> -->
																<input type="text" class="form-control" maxlength="5"
																	name="inLimit" id="id_inLimit"
																	ng-model="authen.inLimit" /> <em style="color: red"
																	ng-show="addWSstationInlimitError"
																	id="id_addWSstationInlimitError">{{addWSstationInlimit_error_msg}}</em>
																<!-- </div> -->
															</div>
														</div>
														<div class="col-sm-6">
															<div class="form-group ">

																<label class="" for="outLimit">Out Limit</label> <input
																	type="text" class="form-control" maxlength="5"
																	name="outLimit" id="id_outLimit"
																	ng-model="authen.outLimit" /> <em style="color: red"
																	ng-show="addWSstationOutlimitError"
																	id="id_addWSstationOutlimitError">{{addWSstationOutlimit_error_msg}}</em>


															</div>
														</div>
													</div>
												</div>



												<div class="col-sm-3">
													<!-- text input -->
													<div class="form-group row ">
														<label class="col-sm-9 col-form-label " for="operatorlist">Operator
															List</label>
														<div class="col-sm-12">
															<div class="col-md-12">
																<div class=" form-group row">

																	<div class="col-sm-12">
																		<div class="card">
																			<div class="card-header"
																				style="background-color: rgb(0, 123, 255); color: white;">
																				<h3 class="card-title" id="menu">Select
																					Operator</h3>

																			</div>
																			<div class="frequent"
																				style="height: 350px; overflow-y: scroll"></div>
																		</div>
																	</div>
																</div>
															</div>

														</div>
													</div>
												</div>

											</div>

											<div class="col-lg-12 form-group" style="text-align: center;">

												<button type="submit"
													class="btnValue btn-primary float-center"
													style="position: relative; left: 10px; top: 10px;"
													ng-click="addWorkStation()">Add</button>
												<button type="button"
													class="btnValue btn-secondary float-center"
													style="position: relative; left: 10px; margin-left: 10px; top: 10px;"
													ng-click="cancelWorkStationAdd()">Clear</button>

											</div>

										</form>

									</div>
								</div>
								<!-- /.card-body -->

							</div>
							<!-- /.card -->
						</div>
					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

	</div>
</div>

