
<style>
input[type="text"], .form-control {
	box-shadow: none;
	padding: 4px 0px 0px 10px;
	height: 40px;
	width: 100%;
	font-size: 16px;
	color: #33342e;
	border: 1px solid #1c1c1c;
	border-radius: 1px;
	line-height: 100%;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.textbox {
	box-shadow: none;
	padding: 2px 0px 0px 5px !important;
	height: 25px !important;
	width: 100%;
	font-size: 14px !important;
	color: #33342e;
	border: 1px solid #1c1c1c;
	border-radius: 1px;
	line-height: 100%;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

#tag-form {
	padding: 15px 350px;
	color: #1c1c1c;
	font-size: 16px;
}

.btn-submit {
	color: #fff;
	background-color: #1c1c1c;
	border-color: #fff;
	width: 100%;
	height: 45px;
	font-size: 20px;
	font-weight: 500;
	margin: 5px 0px;
}

.btn-submit:hover {
	color: #F00;
	background-color: #FFF;
	border: 2px solid #1c1c1c;
}

@media ( max-width : 992px) {
	#tag-form {
		padding: 15px 50px;
	}
}

@media ( max-width : 480px) {
	#tag-form {
		padding: 15px 0px;
	}
}

.errors {
	margin-bottom: 10px;
	padding-left: 15px;
	font-style: normal;
	font-size: 14px;
	line-height: 15px;
	color: #ee9393;
}

.invalid {
	margin-bottom: 10px;
	padding-left: 15px;
	font-style: normal;
	font-size: 14px;
	line-height: 15px;
	color: #ee9393;
}

.mt {
	margin-top: 20px;
}

svg {
	cursor: pointer;
}

.path {
	fill: #d9edf7;
}

.point {
	cursor: pointer;
	pointer-events: visible;
	fill: #222;
	stroke: #fff;
	stroke-width: 2;
}

.selected {
	background-color: #cccccc;
	color: black;
	font-weight: bold;
}

table, tr td {
	line-height: 20px;
	min-height: 20px;
	height: 20px;
}

tbody {
	display: block;
	overflow: auto;
}

thead, tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.theadCls {
	width: calc(100% - 1em)
}

table {
	width: 400px;
}

select {
	height: 35px;
}

.input-bar {
	display: table;
	width: 100%;
	align-content: bottom;
}

.input-bar-item {
	display: table-cell;
	margin-top: 10px;
}

.input-bar-item>button {
	margin-left: 5px;
}

.width100 {
	width: 100%;
}

.tr_odd {
	background-color: white;
	color: #000000;
}

.tr_even {
	background-color: #f2f2f2;
	color: #000000;
}

#errmsg {
	color: red;
}

.leaflet-vertex-icon {
	width: 5px !important;
	height: 5px !important;
	margin-left: -3px !important;
	margin-top: -4px !important;
}

.leaflet-middle-icon {
	width: 5px !important;
	height: 5px !important;
	margin-left: -3px !important;
	margin-top: -4px !important;
}

.leaflet-editing-icon {
	width: 5px !important;
	height: 5px !important;
	margin-left: -4px !important;
	margin-top: -8px !important;
}

.staringImage {
	position: absolute;
	width: 10px;
	height: 10px;
}

.reloadImage {
	position: absolute;
	width: 30px;
	height: 30px;
	background: white;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	border: 1px solid #ccc;
}

.staringlabel {
	position: absolute;
	font-size: 16px;
	color: red;
}

.mainMenu {
	width: 35px;
	height: 35px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
	.table>thead>tr>td {
	line-height: 0.728571 !important;
}

.name {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.tbodyWidth {
	height: 300px;
}

#assignTable td {
	vertical-align: middle;
}

.ap-icon {
	width: 14px;
	height: 14px;
	background: #10bc5e;
	color: #10bc5e;
	border-radius: 3px;
	vertical-align: middle;
}

.ap-iconAP12 {
	width: 16px;
	height: 24px;
	background: #10bc5e;
	color: #10bc5e;
	border-radius: 3px;
	vertical-align: middle;
}

#zoneOverlapAlert {
	position: absolute;
	z-index: 1400;
	top: 10px;
	left: 10px;
	right: 10px;
	margin: 0px auto;
	width: 80%;
	text-align: left;
	display: none;
}

</style>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper" ng-controller="zoneController">
		<div class="content-wrapper">
			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row" style="margin-left: 10px; margin-top: 10px;"
						id="zoneEditorArea">

						<!-- /.card -->
						<div class="col-lg-8">
							<div class="card">
								<div class="card-body">

									<div class="col-md-12">
										<div id="zoneOverlapAlert" class="alert alert-danger"
											data-alert="alert" role="alert">Zone should not
											overlap with other zones</div>
										<div id="map"
											style="height: 100%; min-height: 100%; border: 1px solid #ccc; z-index: 1"></div>
											
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
						<div class="col-lg-12">
							<div class="card card-info">
									<div class="card-header" style="background-color: #007bff">
											<h3 class="card-title">Zone</h3>

										<div class="card-tools">
												<form class="form-inline ml-2">
													<div class="input-group input-group-sm">
														<input class="form-control form-control-navbar"
															type="search" style="width: 80px;" ng-model="searchText" 
															id="idSearchTable"  placeholder="Search" 
															ng-change="searchZone()"
															aria-label="Search"/>
													</div>
												</form>
											</div>
										</div>
									<div class="position-relative mb-4">
										<!-- <div
											style="padding: 20px 20px; overflow: auto; height: 170px;">
											<div id="idZoneDetailTree"></div>
										</div> -->
										<table class="table table-bordered tbodyWidth margintop10"
										id="zoneTable" ng-show="zoneTable">
										<!--  <thead class="theadCls">
											<tr>
												<th class="thcss" width="50%">Zone</th>
												<th class="thcss" width="50%">Class</th>
											</tr>
										</thead> -->
										<tbody class="tbodyWidth">
											<tr
												ng-class-odd="{'selectZone' : $index==selectedRow, 'tr_odd': $index!=selectedRow}"
												ng-class-even="{'selectZone' : $index==selectedRow, 'tr_even': $index!=selectedRow}"
												ng-repeat="zone in zoneSearchList" data-ng-click="selectZone($index)"
												ng-show="valueList">
			
												<td width="50%"
													style="width: 120px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{zone.name}}</td>
												<td width="50%">{{zone.zoneClassification.className}}</td>
											</tr>
											<tr ng-show="noList">
												<td colspan="3" style="text-align: center; color: red;">{{errorMsg}}</td>
											</tr>
										</tbody>
									</table>
									<div class="alert alert-success" ng-show="success"
							style="margin-top: 5px;">{{alert_success_msg}}</div>
													<div class="alert alert-danger"
							style="margin-top: 5px; height: 50px;" ng-show="error">{{alert_error_msg}}</div>
							
								</div>
							</div>
						</div>
						<div class="col-lg-12" >
							<div class="card card-info" id="idZoneDetailsCard">
							<div class="row" width="250px" style="margin-bottom: 5px;">
								<div class="col-sm-6">
									<span class="name">Name</span>
								</div>
								<div class="col-sm-6">
									<input type="text" name="zonename" id="zonename" maxlength="30"
										class="textbox" ng-model="zoneName" ng-disabled="!isEdit">
								</div>
							</div>
							<div class="row" width="250px" style="margin-bottom: 5px;">
								<div class="col-sm-6">
									<span class="name">Classification</span>
								</div>
								<div class="col-sm-6">
									<select
										style="-webkit-appearance: menulist-button; width: 100%; height: 25px"
										name="classification" id="classification"
										ng-model="zoneClassification" ng-dropdown required
										ng-disabled="!isEdit">
										<option
											ng-repeat="zoneClassification in zoneClassificationList">{{zoneClassification.className}}</option>
									</select>
								</div>
								</div>
								<div class="row" width="250px" style="margin-bottom: 5px;">
									<div class="col-sm-6">
										<span class="name">Capacity</span>
									</div>
									<div class="col-sm-6">
										<input type="text" name="capacity" id="restrictions" maxlength="2"
											class="textbox" ng-disabled="!isEdit"
											ng-model="zoneCapacity"> <span id="errmsg"></span>
									</div>
								</div>
																
								
								<div class="row" width="250px" style="margin-bottom: 5px;">
									<div class="col-sm-6">
										<span class="name">Type</span>
									</div>
									<div class="col-sm-6">
										<select
											style="-webkit-appearance: menulist-button; width: 100%; height: 25px"
											name="zoneType" id="idZoneType"
											ng-model="zoneType" ng-dropdown required
											ng-disabled="!isEdit">
											<option
												ng-repeat="zoneType in zoneTypeList">{{zoneType}}</option>
										</select>
									</div>
								</div>
								<div class="row" width="250px" style="margin-bottom: 5px;">
								<div class="col-sm-6">
									<span class="name">Desc</span>
								</div>
								<div class="col-sm-6">
									<input type="text" name="zoneDesc" id="zoneDesc" maxlength="128"
										class="textbox" ng-model="zoneDescription" ng-disabled="!isEdit">
								</div>
							</div>
								
							<div class="row" width="250px" style="margin-bottom: 0px;">
								<div class="col-sm-12">

									<textarea id="zoneDimension" hidden="true" rows="4" cols="43"
										ng-disabled="!isEdit">{{zoneVertices}}</textarea>

									<table class="table table-bordered" style="margin-bottom: 5px;">
										<thead style="padding: 2px">
											<tr>
												<th style="padding: 2px;">Node</th>
												<th style="padding: 2px;">X</th>
												<th style="padding: 2px;">Y</th>
											</tr>
										</thead>
										<tbody width="250px">
											<tr ng-repeat="zoneVertex in zoneVertices">
												<td
													style="vertical-align: middle; text-align: center; padding: 2px">Node{{$index+1}}</td>
												<td style="text-align: center; padding: 2px"><input
													type="number"
													style="width: 70%; height: 25px; margin-top: 2px;"
													ng-disabled="!isEdit" class="xVal textbox"
													id="xVal{{$index}}"
													ng-keyup="verticesChange(zoneVertex,$index,'xVal' ,zoneVertices)"
													value="{{zoneVertex.x}}"
													ng-click="verticesChange(zoneVertex,$index,'xVal' ,zoneVertices)"></td>
												<td style="text-align: center; padding: 2px"><input
													type="number"
													style="width: 70%; height: 25px; margin-top: 2px;"
													ng-disabled="!isEdit" class="yVal textbox"
													id="yVal{{$index}}"
													ng-keyup="verticesChange(zoneVertex,$index,'yVal',zoneVertices)"
													value="{{zoneVertex.y}}"
													ng-click="verticesChange(zoneVertex,$index,'yVal',zoneVertices)"></td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>
							<div class="col-lg-12 form-group" style="padding-right: 0px;">
							
								<button type="submit" class="btnValue btn-primary" id="idZoneEditBtn"
								style="width: 70px;" ng-show="!isSelectZone"
									ng-click="fnEditZone()">{{btn_text}}</button>
								<button type="button" class="btnValue btn-primary" id="idZoneDeletebtn"
								style="width: 70px;" ng-show="!isSelectZone"
									ng-click="fnDeleteZone()">Delete</button>
								<button type="submit" class="btnValue btn-primary"
								style="width: 70px;" ng-show="!isEdit && !isSelectZone"
									ng-click="fnZoneExport()">Export</button>
								<button type="submit" class="btnValue btn-primary"
								style="width: 70px;" ng-show="isSelectZone"
									ng-click="fnSelectZone()">Select</button>
								<button type="submit" class="btnValue btn-secondary"
								style="width: 70px;" ng-show="isEdit || isSelectZone"
									ng-click="fnCancelEditZone()">Cancel</button>
									<!-- zone select -->
							</div>								<!--<button type="reset" ng-click="fnCancelZone()"
								style="background-color: rgb(0, 123, 255); width: 80px;"
									class="btn btn-primary float-right">Cancel</button> 
								<button type="submit" ng-click="fnDeleteZone()"
								style="background-color: rgb(0, 123, 255); width: 80px;"
									class="btn btn-primary float-center">Delete</button> 
								<button type="submit" ng-click="fnlEditZone()"
								style="background-color: rgb(0, 123, 255); width: 70px;"
									class="btn btn-primary float-left">Edit</button>  -->
							
							</div>
							</div>
						</div> <!-- <div class="col-lg-12"> -->
					</div>
					</div>
				</div>
			</section>
		</div>
	</div>

</body>
