/*.menu-list {
	padding-left: 30px;
	padding-top: 20px;
}

.home-section {
	float: left;
	width: 10%;
}

.section {
	margin-left: 10%;
	float: left;
}

.photo {
	padding-right: 5px;
}
.tableWidth
{
	table-layout: auto;
}
 */
.subheading{
width: 100%;
    text-align: center;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.navbar-brand1 {
		font-size: 12px !important;
	}
	.main-brand {
		font-size: 15px !important;
	}
	.navbar{
		padding:0px
	}
	.navbar-toggle .icon-bar {
     	width: 15px !important;
   	 	height: 1px !important;
 	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.navbar-brand1 {
		font-size: 15px !important;
	}
	.main-brand {
		font-size: 18px !important;
	}
	.navbar{
		padding:0px
	}
	.navbar-toggle .icon-bar {
     	width: 15px !important;
   	 	height: 1px !important;
 	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.navbar-brand1 {
		font-size: 16px !important;
	}
	.main-brand {
		font-size: 19px !important;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
		.navbar-brand1 {
		font-size: 20px !important;
	}
	.main-brand {
		font-size: 23px !important;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
		.navbar-brand1 {
		font-size: 22px !important;
	}
	.main-brand {
		font-size: 25px !important;
	}
}