.blink_me {
	animation: blinker 1s linear infinite;
}

@keyframes blinker { 
0%{
	opacity: 0;
}
50%{ opacity:0.5;
}
100%{opacity:1;
}

@media ( min-width : 576px) .modal-dialog {
	max-width:900px;
	margin:1.75rem auto;
}

.modal-title {
	margin-bottom: 0;
	line-height: 1.5;
	color: white;
}

.modal-header .close, .modal-header .mailbox-attachment-close {
	padding: 2.5rem;
	margin: -1rem -1rem -1rem auto;
	color: white;
}