.navbar-backgroundcolor {
	background-color: rgb(51, 153, 51) !important;
}

.rcorners {
	background-color: rgb(51, 153, 51);
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
	float: right;
	border: none;
}

.btn-leftslide {
	color: #000;
	background-color: white;
	border-color: transparent;
	font-weight: 500;
	margin: 0px 4px;
	border-radius: 3px;
	padding: 5px 8px;
}

.btn-leftslideSelected {
	color: white;
	background-color: rgb(51, 153, 51);
	border-color: transparent;
	font-weight: 500;
	margin: 0px 4px;
	border-radius: 3px;
	padding: 5px 8px;
}

@media ( max-width : 768px) {
	.btn-leftslide, .btn-leftslideSelected { 
		font-size: 85%;
		line-height: 1;
	}
	.margintop10{
		margin-top: 10px;
	}
}

@media ( min-width : 769px) and (max-width: 992px) {
	.btn-leftslide, .btn-leftslideSelected { 
		font-size: 90%;
		line-height: 1.2;
	}
}

.btn-leftslideSelected:hover {
	color: #F00;
	background-color: #cacaca;
	border: 2px solid #1c1c1c;
}

.btn-leftslide:hover {
	color: #F00;
	background-color: #cacaca;
	border: 2px solid #1c1c1c;
}

.btnValue {
	color: white;
	background-color: rgb(51, 153, 51);
	border-color: transparent;
	width: 100px;
	height: 35px;
	border-radius: 2px;
	font-size: 15px;
	font-weight: 500;
	margin: 0px 0px;
}

.fetchbtnValue {
	color: white;
	background-color: rgb(51, 153, 51);
	border-color: transparent;
 	height: 35px;
	border-radius: 2px;
	font-size: 15px;
	font-weight: 500;
	margin: 2px 19px;
}

md-tooltip {
	box-shadow: none;
	border: none;
	transform: none;
	color: white;
	background-color: rgb(51, 153, 51);
	-webkit-transform: none;
}

.thcss {
	color: white;
	position: sticky;
	top: 0; /* Don't forget this, required for the stickiness */
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
	background: rgb(51, 153, 51);
	text-align: center !important;
	vertical-align: middle !important;
}

.highilitedRow {
	background: rgb(0, 102, 0)!important;
	color: white !important;
	border: 1px solid !important;
}
.table-bordered > tbody > tr:nth-child(even) {
       background-color: #f2f2f2;
       color: #000000;
    }
.round {
	background-color: rgb(51, 153, 51);
	border: 2px solid #cacaca;
	transform: rotate(-90deg);
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin: 5px;
	bottom: 0;
	right: 0;
}